[2021-11-06 16:12] junedev opened #1496 "Lasagna Master: Improve `scaleRecipe` tests"
The instructions for `scaleRecipe` in the concept exercise `Lasagna Master` mention that the object that is passed in should not be modified. However, the tests currently don't check for that. That should be fixed.

(Thanks to @SethGunnells for pointing this out.)

[2021-11-06 16:14] junedev commented on #1234
@SethGunnells In the time that passed since I wrote the text above, `scaleRecipe` has also grown on me :slightly_smiling_face: . I will update the issue description to say to add an additional task instead.
You are totally right that the check that a new object is returned is missing. :see_no_evil: This is not related to this issue, I created a new one: https://github.com/exercism/javascript/issue

[2021-11-06 16:48] SethGunnells commented on #1496
@junedev Working on a fix right now!

[2021-11-06 17:35] SethGunnells commented on #1234
@junedev I'll work on the new one, but I might also be interested in tackling this issue. Any ideas on what might be missing in terms of a new task?

[2021-11-06 17:56] junedev commented on #1234
Any task where it makes kind of sense to write a function expression will do, it also also ok to explicitly mention to use it in the instructions. I don't have a concrete idea yet unfortunately.

I will assign you to the new issue for now, leave a comment in case you start working on this one as well later.

[2021-11-06 18:51] #1496 closed

[2021-11-06 21:10] junedev opened #1500 "Separate `rest-and-spread` into its own new concept exercise (concept exists)"
## Getting started
Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.org/docs/building/tracks/concepts)

If you have not done so yet, it is probably also helpful

[2021-11-06 21:23] junedev commented on #948
This is on hold. The description needs to be updated according to the structure described here: https://github.com/exercism/javascript/issues/1500  (I will probably just create a new issue.)

[2021-11-07 20:29] junedev opened #1501 "Elyses Destructered Enchantments: Add object destructering and remove rest and spread"
:warning: Behold! This issue should be tackled after https://github.com/exercism/javascript/issues/1500 was completed.

## Getting started
Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [

[2021-11-07 20:32] junedev commented on #948
There is a fresh issue for this now (https://github.com/exercism/javascript/issues/1501), I am closing this one.

[2021-11-07 20:32] #948 closed

[2021-11-07 21:03] junedev opened #1502 "Implement new Concept Exercise: Async/Await"
## Goal
The goal here is to create a new concept exercise and a new concept from scratch.

## Getting started
Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.or

[2021-11-07 21:13] junedev commented on #1501
Note that this issue should not get the `x:` labels until it can worked on (https://github.com/exercism/javascript/issues/1500 is complete).

[2021-11-08 04:10] JaPatGitHub commented on #1049
@junedev, I wish to add everyone who gave suggestions in this issue in the `.meta/config.json` contributor list.
Are you okay with that?

[2021-11-08 07:06] junedev commented on #1049
@JaPatGitHub That is very nice of you but the contributor slot is meant for the person that actually did the change in the code and that means you. 🙂

[2021-11-09 15:26] lpizzinidev commented on #926
Hi! Can I implement this exercise?

[2021-11-09 15:56] SleeplessByte commented on #926
Go for it!

[2021-11-10 07:00] JaPatGitHub commented on #1049
I've been thinking about the use of shorthand arithmetic operators in the exercise. Do you think we can make sensible use of it in this exercise? In my experience, I've mainly used shorthand operators only in loops - beyond the scope of this exercise.

[2021-11-10 07:37] junedev commented on #1049
@JaPatGitHub Good point, I asked myself the same. I couldn't think of a good exercise here and there are a couple of other exercises later where these operators are used and the analyzer can tell students if they didn't use them there. So that's good enough for now.

[2021-11-10 20:29] junedev commented on #1049
@JaPatGitHub All the main points from this issue are addressed now. :tada: Thanks again! The only thing left are some improvements for the about.md file. Do you want to work on those as well? If not, I would move them to a new issue and consider this one closed.

[2021-11-11 05:47] JaPatGitHub commented on #1049
@junedev, I'm glad to have worked on this. This was my first open-source contribution apart from fixing typos and broken links. A personal thank you for your reviews - made me go a long way!

I plan to stay dormant on GitHub for the rest of this month as I have my exams and the courseload is heavy. Hence I think it would be better to move to a new issue so that someone else can work on it or I tac

[2021-11-11 13:39] shubhsk88 commented on #1502
Is somebody working on it or I could pick it up

[2021-11-11 13:42] junedev commented on #1502
@shubhsk88 It's yours if you want it. 🙂

[2021-11-11 13:47] shubhsk88 commented on #1502
Thanks will start working on it this weekend

[2021-11-11 19:04] junedev opened #1505 "Concepts Numbers and Arithmetic Operators: Improve about.md content"
It would be good to check the about.md files of the concepts `numbers` and `arithmetic-operators` for possible improvements/additions. This task has a lower priority but if someone is interested in working on this, please volunteer.

For example in the about.md for `numbers` it would be good to make sure the special "numbers" NaN, and +/- Infinity are explained well. Also it would be good to show

[2021-11-11 19:04] junedev commented on #1049
The ticket with the leftover items is here: https://github.com/exercism/javascript/issues/1505

[2021-11-11 19:04] #1049 closed

[2021-11-11 21:02] junedev opened #1506 "Implement new Concept Exercise: Regular Expressions"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2021-11-12 19:26] wymannmi commented on #1506
I'd like to work on this.

However, as this is the first time, I am working on a new exercise, it could take some time and questions until it is finished.

[2021-11-12 19:36] junedev commented on #1506
@wymannmi Thanks a lot for volunteering for this! There is no rush finishing this, take your time. I would only ask you that it case something comes up down the road and you can't finish for some reason, that you let us know so we can re-assign the task to someone else.

Don't hesitate to ask questions, we are happy to help.

[2021-11-12 19:39] wymannmi commented on #1506
@junedev I will let you know, if something comes up. I will start to orient myself. I am sure that I will have questions. Thank you.

[2021-11-12 19:47] junedev opened #1509 "Accumulate: Deprecate Exercise"
The `accumulate` exercise should be deprecated. See https://github.com/exercism/go/issues/1915 for details about why we want to do this.

The instructions how to do this can be found here: https://exercism.org/docs/building/tracks/deprecated-exercises

[2021-11-12 19:56] junedev opened #1510 "Pig Latin: Remove unnessary class"
The Pig Latin stub currently contains a class definition that serves no purpose.

The exercise should be changed so that the stub and exemplar only use a simple arrow function:
[code]
The following files need to be updated:
* `<exercise>.js`
* `<exercise>.spec.js`
* `.meta/proof.ci.js`
* root level `config.json` (remove "classes" from the prerequisites of the exercise in case it is present there)

[2021-11-12 19:59] junedev opened #1511 "Rotational Cipher: Remove unnessary class"
The Rotational Cipher exercise stub currently contains a class definition that serves no purpose.

The exercise should be changed so that the stub and exemplar only use a simple arrow function:
[code]
The following files need to be updated:
* `<exercise>.js`
* `<exercise>.spec.js`
* `.meta/proof.ci.js`
* root level `config.json` (remove "classes" from the prerequisites of the exercise in case it i

[2021-11-12 20:02] junedev opened #1512 "Spiral Matrix: Remove unnessary class"
The Spiral Matrix exercise stub currently contains a class definition that serves no purpose.

The exercise should be changed so that the stub and exemplar only use a simple arrow function:
[code]
The following files need to be updated:
* `<exercise>.js`
* `<exercise>.spec.js`
* `.meta/proof.ci.js`
* root level `config.json` (remove "classes" from the prerequisites of the exercise in case it is pr

[2021-11-12 20:27] #1325 closed

[2021-11-13 11:12] codeiotic commented on #1512
Hi. I would like to take up this issue.

[2021-11-13 12:04] #1512 closed

[2021-11-13 13:50] junedev opened #1515 "Implement new Concept Exercise: Randomness"
## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2021-11-13 19:29] asadrjhk commented on #1510
@junedev I would like to work on this.

[2021-11-13 20:03] #1509 closed

[2021-11-14 15:02] #1511 closed

[2021-11-14 15:11] kshivakumar opened #1520 "Add extra test: Prevent assigning value to `balance` property in "Bank Account" exercise"
The "Bank Account" exercise should have a test case that raises `ValueError` when directly assigning value to `balance` property.

Below code(many user submissions have similar code) passes all the current test cases:
[code]
There's no test case that raises error on doing
[code]

[2021-11-14 16:43] NextNebula opened #1521 "Freelancer Rates exercise gives incorrect feedback about missing function"
The analyser gives for the Freelancer Rates exercise gives incorrect feedback about a missing functions. It says it misses a function called monthRate. This is a function that is not asked in the exercise specifications. The analyser is probably build for a older spec of the exercise.

[2021-11-14 16:49] junedev commented on #1521
@SleeplessByte Can we turn the analyzer off somehow until it is updated.

Because I saw this being draft and mentioning its waiting for the update of the exercise, I assumed there was no analyzer yet. https://github.com/exercism/javascript-analyzer/pull/121 :see_no_evil: Sorry!

[2021-11-14 17:19] SleeplessByte commented on #1521
Yes. Will fix it tonight

[2021-11-14 21:23] #1510 closed

[2021-11-15 07:27] junedev commented on #1520
@kshivakumar Thanks for pointing this out but I am not sure what you have in mind with regards to a test case here. How would a test case that catches this type of error look like?

Maybe this is rather something the [analzyer](https://exercism.org/docs/building/tooling/analyzers) could pick up and give feedback for.

[2021-11-15 07:32] kshivakumar commented on #1520
@junedev I have the below test case in mind:
[code]

[2021-11-15 13:57] SleeplessByte commented on #1521
It was merged! Try again

[2021-11-15 14:19] lpizzinidev commented on #923
Hi, Can I work on this issue?

[2021-11-15 15:52] junedev commented on #1520
Ah, ok, now I understand what you mean.

Your new test case would require all students that currently correctly don't provide a setter to add one so they can pass the new test. (In case they want to keep their solutions up to date.)

I was thinking how we could avoid that. What do you think about adding a test case that calls something like `ba.balance = 9999` and then we check that this did not m

[2021-11-15 15:56] junedev commented on #923
Sure! 🔥🔥🔥

[2021-11-16 06:48] kshivakumar commented on #1520
No problem!

I was afraid this would happen. I am curious if there's a playbook for handling this scenario. I guess this is not the first time such an issue has come up, after all, as more and more users solve the exercises more edge cases are revealed.

For the new test case to pass, `set` needs to be defined like:
[code]

Such a test case will fail if the solution defines a `set` method and pass

[2021-11-16 18:01] atj-craig opened #1524 "Custom Signs Exercise Needs Grammatical Improvement"
Hello!

I just discovered that the [Custom Signs](https://exercism.org/tracks/javascript/exercises/custom-signs/) exercise expects the following to be returned for the buildBirthdaySign function:

Grammatically, it would be correct to return this instead:

I can see the solution to this in the _custom-signs.spec.js_ file. I'll submit a fix for this in the code.

However, it may be good to also upd

[2021-11-16 18:03] SleeplessByte commented on #1524
We'll happily take your PR for the test fix. I don't know if the lesson in grammar is prompted in this exercise.

[2021-11-16 18:15] atj-craig commented on #1524
Fair enough :)

I've got the PR ready on my comp, but I don't have access to push. Would you be able to grant me basic access?

[2021-11-16 18:38] junedev commented on #1524
@atj-craig The workflow to propose changes is to fork the repository, then do your change in the fork and create a PR from there against the original repository (GitHub will prompt you for this automatically). That way no access rights are needed, everyone can contribute.

Instead of fixing this grammar mistake and with that increasing the length of the ternary operator statement, can you maybe th

[2021-11-16 18:42] atj-craig commented on #1524
Sure, I'll do that. Thank you for the advice.

[2021-11-16 19:09] junedev commented on #1520
@kshivakumar Don't get me wrong, it is totally fine to fail old solutions if it is necessary to improve the exercise. But in the case of this exercise, not having a setter at all is a perfectly valid solution so I don't really feel good about failing those solutions with your new test case now, given there is an alternative how we can fail the solutions that are actually wrong. "No setter" also se

[2021-11-17 07:34] kshivakumar commented on #1520
@junedev Fair enough 👍🏽 , closing the issue.

[2021-11-17 08:38] junedev commented on #1520
@kshivakumar I am re-opening the issue. We still need that addition

[2021-11-17 08:41] junedev commented on #1520
@kshivakumar I am re-opening this issue as we still need an additional test case to make sure to fail the solutions with a setter, just in a different form to what you originally suggested.

[2021-11-17 11:03] kshivakumar commented on #1520
@junedev Something like
[code]
??

If yes, can I raise a PR for the same?

[2021-11-17 11:45] junedev commented on #1520
Yes, exactly. A PR would be great!

[2021-11-17 12:01] #1524 closed

[2021-11-17 12:16] junedev commented on #1515
I am happy to assign this to you but to manage expectations, the main task with new concept exercises is writing the new concept document, so something similar to this https://exercism.org/tracks/javascript/concepts/functions but on the topic of randomness.

This task also involves writing code (tests, example solution) but that's usually a lot easier/quicker than the concept writing.

Leave a qui

[2021-11-17 14:31] atj-craig commented on #1515
I understand that I'll need to prepare the concept document alongside the code. I'll take you up on the opportunity. Thank you.

[2021-11-17 20:31] junedev opened #1528 "Implement new Concept Exercise: Dates"
Note: The concept was already created, only the exercise is missing now.

## Getting Started

If you have not yet contributed to concept exercises before, this task requires some upfront reading to acquire the necessary background knowledge.

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/c

[2021-11-18 07:58] Jasstkn opened #1529 "[closures] Concept examples and explanation needs improvements"
Hi.
While I was learning concepts for JavaScript I found out that closures theory isn't very helpful for solving the suggested practical exercise: Coordinate Transformation.

I would like to propose to improve it by
- adding a more advanced example with an explanation for using a function in `return`
- explain how to work with its arguments then.

Let me know what do you think.
Connected links are

[2021-11-18 10:49] kshivakumar commented on #1520
The above test case fails as expected when a solution uses `setter` because `balance` is modified.
But it raises `TypeError: Cannot set property balance of #<BankAccount> which has only a getter` when the solution doesn't define the `setter`, even if `balance` is not modified.
That means, the test case raises two different type of errors based on the presence of `setter`.

The correct test case is

[2021-11-18 12:13] junedev commented on #1520
Thanks for the update. I wasn't aware of that error. 🙈 From what you said the test case should check that this type error is thrown for an assignment to balance. Any idea how to  make it a bit more clear that we are not expecting the student to throw that error by hand?

[2021-11-18 13:21] kshivakumar commented on #1520
If the test case expects `TypeError`, solution doesn't need to have the `setter` method defined.
If the test case expects `ValueError`, solution needs to explicitly define a `setter` method and raise `ValueError` inside the body.

Second option is more explicit as it encourages the student to think about `setter` whenever they define a `getter`.
Also, we are using `ValueError` for all banking rela

[2021-11-18 13:27] cydeb33 commented on #1505
Hello, I'd like to participate on this issue if possible !

[2021-11-18 17:35] junedev commented on #1520
We circled back to the no setter vs. setter with ValueError decision. Let me propose a compromise before I ask a senior maintainer to make a call here.

What about the new test just checks that an error is thrown when trying to assign a balance but does not require a specific error type, just any `Error`. That way no setter and a setter that throws an error would both pass the tests which makes se

[2021-11-18 18:09] junedev commented on #1505
@cydeb33 Welcome! Great that you want to help. I will assign this issue to you. Take the time you need. I would only ask you to let us know in case you decide to not work on this any more for whatever reason so we can re-assign the task.

[2021-11-18 18:22] cydeb33 commented on #1505
Sure thing !
I had a question regarding the structure of the "about.md" (forgive me if it's already explained somewhere).
When adding new information, let's say about +- infinity, do I just add it where I feel it makes sense or do I add it at the bottom ?
Thanks in advance

[2021-11-18 21:29] NextNebula commented on #1521
Fixed!

[2021-11-18 21:29] #1521 closed

[2021-11-18 21:44] SleeplessByte commented on #1521
Fijn :)

[2021-11-18 21:58] junedev commented on #1505
You can add content whereever you want. In general, feel free to adjust the existing about.md content as needed.

[2021-11-19 03:16] kshivakumar commented on #1520
That's a good idea, raising a PR.

[2021-11-19 10:22] cydeb33 commented on #1505
I have finished adding information the the numbers "about.md", I'm quite unexperienced with GitHub, should I add the file here for you to take a look or should I do a PR directly?

[2021-11-19 13:14] junedev commented on #1505
You create a fork of the repository, you make your changes in that fork and then create a PR from there to the original repo. A maintainer (e.g. me) will then review your changes and potentially ask you to make some changes. Then if everything is in order, the PR gets merged.

Just in case you need more information about how to create the fork and the PR, this might help: https://www.digitalocean.

[2021-11-19 14:06] cydeb33 commented on #1505
Amazing thanks for your help!

[2021-11-19 14:10] Jasstkn commented on #1529
Yes. I can try :)

[2021-11-19 14:15] lpizzinidev commented on #922
Hi @SleeplessByte! Can you assign me the exercise?

[2021-11-19 14:17] #1520 closed

[2021-11-22 18:49] atj-craig commented on #1515
Just a quick check-in. I've got most of the concept lesson written.

I'll keep plugging away :)

[2021-11-22 20:05] junedev commented on #1515
Thanks for the update!

[2021-11-28 01:55] atj-craig commented on #1515
I've got most of the exercise portion of things done. Getting to know how Jest works to make .spec.js play nicely with the exemplar solution was a fun challenge.

I need to do some more polishing, but it's coming together.

[2021-11-29 19:33] khendrikse commented on #1529
Hi @junedev!  I don't know if this is the place for this, but I notice something about the closure explanation.

In the explanation it says:

"Closures are a programming pattern in JavaScript which allows variables from an outer lexical scope to be used inside of a nested block of code. JavaScript supports closures transparently, and they are often used without knowing what they are."
[code]

But

[2021-11-29 19:56] junedev commented on #1529
Great question! I am not 100% sure myself. @SleeplessByte, what's your opinion on this? Would you can the block example a closure as well?

In any case, I would recommend making all the main content about the function version of closures as this is what most people think of when they hear the term and how they are mostly used. Then if we decide the blocks count as closures as well we can add that

[2021-11-29 20:00] khendrikse commented on #1529
I'm curious what @SleeplessByte thinks (if only to learn ;)), if y'all think it's better to delete the first shown block-scope, let me know, I'll remove it and open a PR.

[2021-11-29 20:22] junedev commented on #1529
@khendrikse Either @Jasstkn will already incorporate this in their current re-work of concept files or it can be addressed afterwards. In any case, I would like to avoid you and @Jasstkn working on the same files at the same time.

[2021-11-29 20:50] khendrikse commented on #1529
That is also fine :)

[2021-11-29 21:29] SleeplessByte commented on #1529
Sooooo. 👋🏽

Definitions are as difficult as naming is (I wrote articles about similar subjects in the past, for example: [JavaScript, Ruby, and C are _not_ call by reference](https://dev.to/xpbytes/javascript-ruby-and-c-are-not-call-by-reference-23f7)), which is what makes this even more interesting. Yes, in general closures are often defined as _enclosing_ values inside a _function_, which is oft

[2021-11-29 21:48] khendrikse commented on #1529
Thanks so much @SleeplessByte ☺️ I learned a lot and this made it very interesting! I am glad I decided to ask. (Also, this read as well as a blog already haha).

[2021-11-29 21:50] SleeplessByte commented on #1529
No problem! Gewoon blijven vragen :)

[2021-11-30 05:49] JaPatGitHub commented on #1528
I'd like to work on this!!

[2021-11-30 20:04] #922 closed

[2021-12-01 15:45] #923 closed

[2021-12-02 14:03] AnishDe12020 commented on #984
I am willing to take this issue up (at least some of the exercises). Just let me know if I should make the PRs, one for each exercises, one for a batch of exercises or one for all of them.

[2021-12-02 14:23] lpizzinidev commented on #916
Hi! Can I work on this exercise?

[2021-12-02 14:33] TomPradat commented on #984
I'd suggest that you make a PR for each exercise but if you feel like you want to do a lot of exercises you can take 4-5 by PR.

Trying to do all of them at once is not a good idea IMO, it's indigestible for both you and the reviewer.

Idk if this might help but here is the steps I used when doing some :

1 - Doing/trying the exercise
2 - Looking at the exercise's proof of work
3 - Looking at the

[2021-12-02 15:03] #927 closed

[2021-12-02 15:03] AnishDe12020 commented on #984
Sounds good to me

[2021-12-02 15:29] pertrai1 commented on #1502
@shubhsk88, how is it going on the concept? I would like to pitch in if you are willing? Let me know if I can help. Thanks

[2021-12-02 18:26] khendrikse opened #1549 "Bug: Translation Service - Untranslatable is not defined"
Hi! I have noticed through a friend and myself doing this exercise that the error `Untranslatable` that has to be used in step 4 is not defined in the `service.js` file. It is in the `errors.js` file, but it is not coming through. This makes the following error happen when the error is used in step 4:

[code]

[2021-12-02 19:30] khendrikse commented on #1549
@junedev I’m afraid this is not fixed by #1550. That was another problem that was so easy to fox I did not make an issue for it :)

[2021-12-02 19:34] junedev commented on #1549
Oh, sorry. My mistake. 🙈 Somehow I thought there was an issue for that PR as well.

[2021-12-03 05:26] SleeplessByte commented on #1549
errors.js is likely missing from the appriopiate files / solution / editor / whatever array in the config. This exercise was created before any of that existed cc @junedev

[2021-12-04 14:36] junedev commented on #1015
Originally, I wanted to use Elon's Toys as story for this exercise. However, in the Go track we noticed a couple of shortcomings of that exercise and it didn't allow to practice prototype and class syntax. Instead, I found the [Swift Windowing System](https://github.com/exercism/swift/blob/main/exercises/concept/windowing-system/.docs/instructions.md) exercise to be a better fit so I used that one

[2021-12-04 18:12] glennj opened #1551 "Two-Bucket has an incorrect test"
The number of moves for the 6th test is wrong.
[code]

The number of moves should be 2:
1. fill the start bucket
2. since the other bucket size == the goal, fill it
3. there is no move 3.

Following that change, the `otherBucket` amount should be 2 (the start bucket is full).

I humbly suggest [my solution][mine] as a reference solution.

This was changed in #1396.

[mine]: https://exercism.org/tr

[2021-12-04 18:35] junedev commented on #1551
Thanks for the report! We were planning a wider check what's out of sync once the new configlet release lands that allows to also sync instructions.

Here the task list to fix this issue for whoever wants to work in this:
- [ ] Use configlet sync to update the tests.toml file.
- [ ] Fix the test cases so they match the latest version defined in problem spec.
- [ ] Update the example solution (see

[2021-12-06 17:12] JaPatGitHub commented on #1528
Hey @junedev! Just wanted to ask if we can merge the concept first and then exercise?
Or both together?

[2021-12-06 19:33] junedev commented on #1528
Yes, you can create a separate PR for the concept first if you like.

[2021-12-08 19:57] junedev commented on #1549
To me it looks like it's possible to solve the exercise without knowledge of these specific error classes as they are not used in our example solutions. My guess is that using the errors explicitly is nevertheless a reasonable solution so yes, we should make sure they are available.

@khendrikse It would be great if you could let us know whether you saw this error when solving the exercise locally

[2021-12-11 12:21] shubhsk88 commented on #1502
Sorry Got stuck with life but will be finishing this up sooner, I will let you know @pertrai1  if I need help.Thanks for the help😅

[2021-12-11 13:19] junedev opened #1557 "CI all green even if package.json is not in sync"
We noticed the master got out of sync somehow and here in my PR https://github.com/exercism/javascript/pull/1476, the package.json is not in sync but the CI is all green nevertheless. If I run the sync command, I get a change for the package.json file.

cc @SleeplessByte @tejasbubane

[2021-12-11 13:21] junedev commented on #1557
So this is the error message:
[code]

But for some reason that does not fail the CI job.

[2021-12-11 13:40] junedev commented on #1557
This is the cause: https://github.com/exercism/javascript/pull/1541 Chalk was updated to a new major version, maybe without checking what's in the new major.

[2021-12-11 13:50] junedev commented on #1557
I am reverting the chalk version now as a quick fix but there are still other todos here:
- [ ] Fix the issue that the CI script passed although there was an error.
- [ ] Find a solution or at least discuss how we deal with this ESM vs. CommonJS mess that is currently going on.

[2021-12-11 13:57] SleeplessByte commented on #1557
Yep. Your investigation is correct.

- Downgrade chalk please
- The ESM/CommonJS shit is a hot topic. If you check the Chalk repository, you'll see ;)
- I'll also figure out how to actually make it blow up CI.

[2021-12-11 14:09] junedev commented on #1557
CI is fixed now, my PR correctly shows up as out of sync.
![image](https://user-images.githubusercontent.com/12543047/145679505-79b2ec87-cd4c-4619-81d2-6156857462a6.png)

Judging by my twitter feed ESM/CommonJS is a hot topic in the whole ecosystem. But I didn't understand how to best deal with it for now.

[2021-12-11 14:17] SleeplessByte commented on #1557
It's one of the things where I just hack around it too. I have a few projects with esm-only packages, so we can likely copy that configuration to make things work again. Feel free to pick that up if you want to, but otherwise I will get to it, before the year turns 2022.

[2021-12-11 15:39] junedev commented on #1557
Would be great if you could take care of the rest of this issue. I just assigned myself for doing the quick fix.

[2021-12-11 22:15] SleeplessByte commented on #1557
Yes!

[2021-12-14 04:08] anthkris opened #1564 "Gigasecond problem is confusing"
I spent a lot of time on the gigasecond problem in JavaScript (https://exercism.org/tracks/javascript/exercises/gigasecond), just trying to understand it. It mentions that the input is a number, but it is a string. It also doesn't have any of the hints that the learning track exercises have.

I can certainly understand scaffolding and removing the scaffold as a part of the learning process but the

[2021-12-14 10:40] junedev commented on #1564
I agree the instructions should mention that the input and output is a `Date` object. (It is not a string even if it looks like a string when you log it.)

As for the other points you mentioned, please don't confuse practice and learning exercises. Practice exercises are deliberately a bit more about figuring out what to do yourself. Researching for a while what helpers to use etc. is also totally

[2021-12-15 23:03] joshgoebel commented on #1551
@SleeplessByte We had a bit of a discussion about memoizing vs erroring for the result accessors.  Evidently we were both suggesting slightly different directions (in our mentoring with Glenn).  I dislike students "over-engineering" solutions (unless that's declared to be the game).  I think adding a bunch of "throw errors" or "call move magically" is too much given that the tests specify no behav

[2021-12-15 23:06] SleeplessByte commented on #1551
I'll think about it for a hot minute, but i like how you've written down your thoughts!

[2021-12-16 14:13] asadrjhk commented on #1564
@junedev i would like to take this one,

[2021-12-17 12:00] junedev commented on #1564
@asadrjhk Great, I assigned you to the issue.

[2021-12-17 12:21] asadrjhk commented on #1564
@junedev thanks, I'll submit the PR today,

[2021-12-17 17:22] #1564 closed

[2021-12-19 19:41] #916 closed

[2021-12-21 11:40] lpizzinidev commented on #917
Hi! Can I implement this exercise? 🙂

[2021-12-21 16:02] chrissygonzalez commented on #421
Hi! Apologies for commenting on a closed issue, but in researching what to do with all these `node_modules` folders, I found [npm workspaces](https://docs.npmjs.com/cli/v8/using-npm/workspaces). Might be an option, and doesn't rely on a separate tool?

[2021-12-21 16:16] SleeplessByte commented on #421
Hi @chrissygonzalez , yes! That works, but still requires the outside-of-the-exercise "setup" :)

[2021-12-23 16:22] JaPatGitHub commented on #1528
Hey @junedev, @SleeplessByte, an issue here
I ran the command `npx babel-node scripts/format` from my Windows PowerShell terminal. It gives this output

[code]

What to do?

[2021-12-23 16:48] SleeplessByte commented on #1528
I think it's because there is no PS1 variant in the scripts folder.

Do you happen to have git bash? That's what I use on my windows to run these. Alternatively, it should work in CMD.exe.

If all else fails:

npm install
prettier --write .

Or add a comment to the PR with a slash followed by `format`.

[2021-12-26 12:35] #917 closed

[2021-12-26 21:26] junedev commented on #1326
The array transformation concept exists now. The following tasks are left:

- [ ] Double check/improve the exercise as described above.
- [ ] Change the task that currently uses `fill` to instead teach `reverse`. Make sure to also adjust the hints, instructions etc.
- [ ] Add `sort` to the concept.
- [ ] Copy the concept introduction into the exercise introduction.

[2021-12-27 19:33] junedev commented on #1506
@wymannmi How is it going? If you could give us a quick update on how things are progressing, that would be nice.

[2021-12-27 19:38] junedev commented on #1515
@atj-craig Feel free to maybe create a draft pull request. Then if there is something in particular that needs polishing, me or some other maintainer can help out if needed by adding some commits to your branch.

[2021-12-28 10:37] junedev commented on #1326
I will work on this so we can get the exercise live soon.

[2021-12-28 16:49] #1326 closed

[2021-12-28 16:51] #1015 closed

[2021-12-28 16:52] exercism-bot opened #1588 "🤖 Sync error for commit b65b98"
We hit an error trying to sync the latest commit (b65b981d15dd3d7a343e88a5ef401f06342b4d3d) to the website.

The error was:
[code]

Please tag @exercism/maintainers-admin if you require more information.

[2021-12-28 16:57] junedev commented on #1588
@exercism/maintainers-admin I have no clue what's wrong with the PR. I double checked the config but it looks fine to me.

[2021-12-28 20:18] junedev commented on #1588
FYI The concept exists on the website https://exercism.org/tracks/javascript/concepts/classes and so does the exercise https://exercism.org/tracks/javascript/exercises/windowing-system. Just the whole updating the concept tree etc did not work out.

[2021-12-29 14:17] iHiD commented on #1588
I reran the sync script and it seems to have run cleanly and fixed the issue. But it also looks a little like it no-op'd so I'm wondering if the daily sync script already fixed it. Either way I can't see any reason it failed initially, and don't really understand the error at a quick glance of reading the code. So I think we mark this as a weird one off and if it happens again, we'll look into it

[2021-12-29 14:28] SleeplessByte commented on #1588
Yep. Sounds good!

[2021-12-29 14:28] #1588 closed

[2022-01-01 17:48] junedev opened #1599 "ci-check script is rather slow"
The script [ci-check](https://github.com/exercism/javascript/blob/main/scripts/ci-check) which in turn calls some other scripts runs for every exercise that was changed in a PR. That means e.g. for PRs that include some files being synced for all exercises, the script runs for all exercises. As far as I could see, this consistently takes 10-15min when run as part of the GitHub Actions.

Examples:

[2022-01-01 20:21] junedev opened #1600 "Windowing System: Improvement Ideas"
After seeing a couple of solutions to "Windowing System" during mentoring, I think the exercise could need some changes to better achieve it's learning objectives.

* For `Position` and `Size`, the constructor and the method have the same implementation. I saw a solution that used the method in the constructor which is not a very typical example.
* Since non of the properties are marked as private

[2022-01-02 10:35] arnthorsnaer opened #1604 "Why does Exercism test for state mutation?"
In JS track Bird Watcher exercise Test 9 is testing for object equality. The only way for me to pass the test is to mutate the array. My initial solution where I returned a new array with the modified value triggers this test failure. It means that my map solution was not accepted. Is this intended behaviour?

[code]

[code]

[2022-01-03 00:29] SleeplessByte commented on #1604
(I've moved the ticket)

As a maintainer, I don't know what action we could take. This test is warranted given the instructions, ánd per the learning goals we don't want people to use `map`.

Is this the unwanted side-effect?

Given side-effects, you can still use map, which is why we're also implementing a check in the analyzer to further discourage it.

[code]

`array-transformations` does the o

[2022-01-03 00:37] SleeplessByte commented on #1600
(Maybe related: https://javascript.info/private-protected-properties-methods)

Since this is a concept exercise, we can add some tests to remove some of this behaviour, if you'd like. Technically we _could_ also start pushing the `#private` syntax (even though I hate it) given its current stage in the TC39 process.

[2022-01-03 02:40] junedev commented on #1600
I read a lot of negative posts about the real private properties lately so I don't feel like pushing them either. Also I prefer to stick to stage 4 as much as possible in the concepts.

[2022-01-03 08:55] lpizzinidev commented on #924
Hi 🤚🏻 Can you assign me the exercise?

[2022-01-03 11:15] arnthorsnaer commented on #1604
My point was the test not only promotes `for-loops` but requires state mutation. However it's possible to use a `for` to solve this and return the correct result but this will not pass the test. The description ("returns that same array") does imply that this is the intention. I understand if the state mutation requirement is a means to an end (for loops) but I understand it a bit less if it's an

[2022-01-03 15:08] joshgoebel commented on #1604
Would "returns/mutates the same array" be clearer?

[2022-01-03 15:43] junedev commented on #1604
I think in other exercises we say "returns the modified array" (or object in other contexts). That might help here as well.
In general I think it makes sense to have a task that uses a for loop and mutates an array as it is a common use case.

[2022-01-03 15:50] arnthorsnaer commented on #1604
I think those changes in description make it clearer.

[2022-01-03 15:54] junedev commented on #1604
I re-opened the issue so we don't forget to make the change.

[2022-01-05 02:21] #1604 closed

[2022-01-07 01:19] atj-craig commented on #1515
Sorry for the late reply and for being out of touch. Holiday season took me by surprise, and I ended up in a vacation spot without reliable internet (hence why I didn't reply until now). I'll have a PR by next week. I appreciate your offer of help with the polishing :D

[2022-01-07 07:56] SleeplessByte commented on #1515
Thanks Andrew!

[2022-01-10 05:47] JaPatGitHub commented on #1528
Hey @junedev ! The display on my laptop doesn't work and would take few days to fix. Hence temporarily won't be able to work on this issue and the linked PR.
Hope that doesn't cause any trouble?

I'll work on it asap

[2022-01-10 05:54] junedev commented on #1528
No problem. Good luck with the repair/replacement.

[2022-01-12 04:31] pertrai1 commented on #985
I would like to take this one

[2022-01-12 07:24] junedev commented on #985
@pertrai1 Thanks! Please don't do more than 4 or 5 per PR as these are quite difficult to review.

[2022-01-12 07:26] junedev commented on #985
Here some hints from someone else who worked on this: https://github.com/exercism/javascript/issues/984#issuecomment-984682274

[2022-01-13 20:17] #924 closed

[2022-01-15 10:39] junedev commented on #1600
I would love to fix the exercise but I am not sure how to best approach this. I don't think it would be good to just make the tests enforce the use of the methods instead of direct assignment if there is no actual difference. It makes it very hard to argue the case in mentoring. I would prefer if it would be clear from the type of the problem that the method needs to be used, that some property ne

[2022-01-15 14:03] lpizzinidev commented on #920
Hi 🤚🏻 Can you assign me the exercise?

[2022-01-16 20:28] junedev opened #1624 "Say: Remove unnessary class"
The "Say" exercise stub currently contains a class definition that does not seem to add value for the exercise. The number objects inside can also be defined outside of the function and the methods do not refer to any other internal properties currently, the actual number is passed as argument. That means a solution with a simple function and a couple of helper functions would be a better fit here

[2022-01-19 20:41] #1624 closed

[2022-01-19 20:47] junedev commented on #1506
@wymannmi Please respond within a week if you are still working on this. Otherwise I will have to unassign you so that some other contributor could potentially pick this up.

[2022-01-19 21:11] wymannmi commented on #1506
Good evening June

I am sorry. I have not anticipated how little time I would have in December. Also it is not looking better at work this month. Therefore, I think it best that you unassign me.

Apologies and regards,
Michael

From: June ***@***.***>
Sent: Wednesday, January 19, 2022 21:48
To: exercism/javascript ***@***.***>
Cc: wymannmi ***@***.***>; Mention ***@***.***>
Subject: Re: [exercism/

[2022-01-19 21:13] junedev commented on #1506
@wymannmi Thanks a lot for letting me now! Maybe it works out some other time.

[2022-01-19 21:41] junedev commented on #1529
@Jasstkn How is it going? Do you still want to work on this?

[2022-01-21 02:03] atj-craig commented on #1515
Thanks for waiting!

I've got an initial push to my fork: https://github.com/atj-craig/javascript/tree/main

For a quick reference of where I'm at, I made a TO-DO file in javascript/exercises/concept/captains-log/TO-DO

What I was working on last was the instructions. I was wondering just how much I should be giving the student in the instructions and how much should be left for them to figure out

[2022-01-21 08:02] junedev commented on #1515
ong
erget from that to a raaant "How much to put in the introduction"? The instructions are probably very similar to the ones from the exercise you are porting, just with JavaScript syntax. As for the introduction, the "learning objectives" are your guide. So as mentioned there I would recommend to include how to get an integer between 0 and some max value but I would not show how to get from that

[2022-01-22 21:46] nasch92 opened #1634 "[exercises/concept/fruit-picker] Exercise requires users to be familiar with the throw statement"
While I was doing the exercise myself (which is made to test users about the [`Arrow functions`](https://exercism.org/tracks/javascript/concepts/arrow-functions) and [`Callbacks`](https://exercism.org/tracks/javascript/concepts/callbacks) concepts), I came across something that I found a bit confusing: task 3 of this exercise requires users to

This implies using the javascript [throw statement](h

[2022-01-23 00:06] SleeplessByte commented on #1634
Thanks for bringing this up.

It seems indeed that the prerequisite is missing. We'll have a talk about what's wise here.

[2022-01-23 06:52] junedev commented on #1634
Yes, great catch indeed. I will take a closer look what's the best way forward here.

[2022-01-23 18:13] marcosdly opened #1635 "EXPECTED_MINUTES_IN_OVEN checking bug"
Tests say that the constant is defined incorrectly, but there's nothing wrong.

Code:
[code]

[2022-01-23 18:29] junedev commented on #1635
@marcosdly Sorry you had problems with this. The test fails because the test file can only access variables/functions that you `export` from the file that contains the solution. This is explained in the section "Export and Import" in the introduction for this exercise.

![image](https://user-images.githubusercontent.com/12543047/150692603-2e070471-3475-4ca2-a815-dd2eca5eda4d.png)

[2022-01-23 18:29] #1635 closed

[2022-01-26 14:00] pikkus commented on #1634
I know very well how to use arrow functions but I'm really struggling with callback functions, which are poorly explained in the exercise. I'm ok with leaving behind the callback topic until I'm more familiar with it, but why is that blocking my arrow functions as well? This is really annoying...

[2022-01-26 20:24] junedev commented on #1634
@pikkus I agree the introduction could probably be improved. I am not sure what would be gained by decoupling callbacks from arrow functions though. You are already free to choose to not do the `Callbacks` exercise but instead first proceed down the `Classes` path in the syllabus. But in the end callbacks are needed to understand all of the array utilities (`map`, `forEach`, `filter`, etc.) in the

[2022-01-28 10:43] julendiaz commented on #1506
Hi there!

**I'd like to work on this.**

This will be my first Open Source Contribution, so I might need to ask a few questions on the road. Nevertheless, I love teaching, hence it will be a pleasure to try to come up with a cool way of explaining such an important concept like regular expressions.

I see that there is no rush on solving the issue, but I'll do my best to finish as quickly and eff

[2022-01-29 04:39] junedev commented on #1506
@julendiaz Thanks a lot for volunteering for this! I'll assign you shortly.

To be sure you are not working in the wrong direction here, let me repeat that the concept here is NOT about teaching regular expressions as such. (We will have separate content for this in the future.) When you write the concept here, imagine your audience already knows how to write regex in a language with a similar reg

[2022-01-29 10:55] julendiaz commented on #1506
Thanks a lot @junedev for the opportunity and clarification.

Then I'll work on the concept, focusing on how JavaScript differs in writing regex. I think I got it, I'll start thinking about the best approach as soon as possible.

Keep you updated.

[2022-01-30 14:41] junedev commented on #1549
The errors file shows up in the editor just fine so that is not the issue here. I checked a couple of community solutions and even though some import the errors, they don't actually use them. I will need some more time to investigate this and determine why the errors are not needed to solve the exercise even though the instructions sound like they are needed (might be an issue with the test cases)

[2022-02-01 09:51] khendrikse commented on #1549
Hey @junedev sorry for the long delay! I encountered it while solving the exercise on the website.

This solution triggered the error:

[code]

[2022-02-01 20:54] #1551 closed

[2022-02-01 21:13] junedev commented on #1549
@khendrikse Thanks. I understand now. The import statement is missing. This is fixed now via #1644, we added the import statement to the stub as "imports" as a concept are not properly covered in the syllabus yet and are not the focus of the exercise.

You can look in the PR I linked above to see how to fix your code. The fix we applied will not change stubs when the student already started the ex

[2022-02-01 21:13] #1549 closed

[2022-02-01 21:36] junedev opened #1649 "Translation Service: Missing test case"
From @kroitor in #1644:

The alternative to fixing the tests and exemplar solution would be to change the instructions. My current feeling is there is value in following the current instructions though.

[2022-02-02 00:25] SleeplessByte commented on #1649
There is no such edge case. It's perfectly fine to call `request` if `fetch` returns `Untranslatable`, given the constraints of the instructions / the constraints of the API. Therefore, adding that test case, changes the instructions, and also changes the exemplar.  However, the exercise was written like this to allow for those error types to exists without requiring to import them, at all.

Happy

[2022-02-02 00:27] SleeplessByte commented on #1549
@junedev see also my comment in the #1649 issue. We may be able to solve this by _removing_ the imports.

[2022-02-02 00:37] kroitor commented on #1649
@SleeplessByte

The instructions on this specific task are:

From there I assumed that a call to `request()` should be done only in the `NotAvailable` case. Which is why this exercise was a bit confusing for me. I mean, the exercise itself is good, just the instructions could be enhanced. Thanks for your replies!

[2022-02-02 00:45] SleeplessByte commented on #1649
Oh yeah. I can absolutely understand how you'd think that or see that. I was just commenting on the viewpoint of the constraints when I wrote this exercise at 4 in the morning before we knew what V3 would look like 😂.

We could do various things among hiding the errors in the test file.

We could also (not exclusively) amend the instructions to make it clear that:
- you can call request even if fe

[2022-02-02 01:29] kroitor commented on #1649
@SleeplessByte i think those instructions could be amended like this (this would be the least intrusive change):

[2022-02-02 02:09] SleeplessByte commented on #1649
I like that.

@junedev what do you think about this?

[2022-02-02 02:24] junedev commented on #1649
Changing the instructions is fine for me as well. I like the suggestion.

[2022-02-02 07:42] julendiaz commented on #1506
Hallo!

I've come up with the first draft for the exercises (I think they're not bad 😅) Nevertheless, being the first time around, how can I be sure that I'm in the right direction?

Should I make a commit with just the document of instructions.md even though the other files are empty?

Or could I paste here in a comment the progress I've made so far?

I just want to be sure, so I can keep going w

[2022-02-02 07:57] junedev commented on #1506
Yes, the best way is you push your changes and create a draft PR. Then leave a comment there which part I should look at.

[2022-02-02 15:59] SleeplessByte commented on #1649
@kroitor would you like to submit a PR?

[2022-02-02 17:57] kroitor commented on #1649
@SleeplessByte yep, will do shortly!

[2022-02-02 19:03] #1649 closed

[2022-02-02 19:05] junedev commented on #1549
@khendrikse Just to keep you in the loop: We decided to change the instructions. The new instructions now lead to a solution that does not require checking for the specific error types anymore so the import is not needed.

[2022-02-03 17:33] junedev commented on #1505
The PR mentioned above wasn't finished but might serve as a starting point.

[2022-02-03 18:34] junedev commented on #1529
@Jasstkn Since I haven't heard from you in a long time, will un-assign you from this issue for now so someone else could pick this up.

[2022-02-04 07:36] khendrikse commented on #1549
@junedev awesome thanks :)

[2022-02-05 01:30] SnowJambi commented on #1529
+1 on this. I'm doing this exercise for the first time, and I had _no idea_ what I was being asked to do, and I couldn't manage to glean much context from the test cases either.

I haven't finished it yet, but particularly task 1 seems to be lacking information for someone who has never encountered this before.

Intuitively, if I were to write the translate2d function myself, I would write somethi

[2022-02-05 09:54] SleeplessByte commented on #1529
You haven't seen it thus far, because we make sure that you don't "see" something until you've had the concept about it, which this exercise is supposed to provide.

However, the current `introduction.md` and `instructions.md` not providing enough information is _exactly_ why we want it to be improved! So all input is welcome :)

[2022-02-05 18:00] junedev commented on #1502
@shubhsk88 Can you give a short update on the status here? Feel free to create a draft PR in case you want some early feedback on something. Also let us know in case you can't continue working on this for some reason.

[2022-02-06 09:35] junedev opened #1666 "For practice exercises, all but the first test case should be marked as skipped"
This issue can be worked on by someone without any experience in contributing to Exercism. (Experienced contributors, please leave this for someone else.)

In the test files of the practice exercises, our rule is that the test cases should be marked as skipped and only the first one should be active (un-skipped). The test files are all the `<exercise-slug>.spec.js` files in the folder `exercises/p

[2022-02-06 13:43] junedev opened #1667 "CI does not run at all for some PRs"
Lately, for some PRs CI does not run at all for whatever reason.

Example (https://github.com/exercism/javascript/pull/1663):
![image](https://user-images.githubusercontent.com/12543047/152683620-f2bea3d7-80d6-4c5a-b114-bb141838acb0.png)

**Notice that it says "Checks 0" at the top.**

When I close and open the PR, CI is triggered, all checks run as they should:
![image](https://user-images.github

[2022-02-06 19:33] pertrai1 commented on #1666
@junedev - if no first timers come forward to work on this, I can pick it up to get the test consistent across all exercises.

[2022-02-07 04:02] SleeplessByte commented on #1600
Ok. So. I solved the exercise @junedev , without looking at the exemplar, but purely reading the introduction and then following the instructions. This is what I came up with: https://exercism.org/tracks/javascript/exercises/windowing-system/solutions/SleeplessByte.

It is pretty close to the exemplar, so I think that if you _know_ what you're doing, it's not a convoluted exercise at all. I do thi

[2022-02-07 11:26] flawnn commented on #1666
I'll work on that!

[2022-02-07 12:26] flawnn commented on #1666
https://github.com/exercism/javascript/pull/1672

[2022-02-07 14:09] flawnn commented on #1666
Just pushed the PR!

[2022-02-07 15:46] #1666 closed

[2022-02-07 19:03] #920 closed

[2022-02-09 06:45] SyllightTheway commented on #1505
Hi, I would like to volunteer on this issue.

[2022-02-11 14:33] Aung1998 commented on #1234
I'd like to work on this! I want to add a few recommendations for good function names and a few examples of bad function names and good function names.

[2022-02-11 14:39] junedev commented on #1234
@Aung1998 👍 Sounds good. Please keep it concise and try to focus on guidelines that are kind of consensus in the community.

[2022-02-15 17:43] keskyle17 opened #1682 "<Insert code here> JavaScript"
wrt entering code into function blocks, I would think beginners could benefit from a simple comment to indicate where to insert code, and reference the exercise question, so they don't put it after the throw statement.

`export function dayRate(ratePerHour) {`
**` //  << insert code here (1) >> `**
  `throw new Error('Implement the dayRate function');`
`}`

[2022-02-17 16:14] david-abell opened #1685 "Elyses Enchantments currently not passable due to errors in enchantments.spec.js"
Some of the below tests compare equality between expected and expected. Some tests require mutation in order to pass. Some have both problems.

[test('remove the middle two cards'](https://github.com/exercism/javascript/blob/1b66a23cfa0de7fe9bd2b9d336a6c46c52a9b7e3/exercises/concept/elyses-enchantments/enchantments.spec.js#L145-L154)
[test('remove two cards from the top',](https://github.com/exerc

[2022-02-18 13:53] #1685 closed

[2022-02-18 17:34] keskyle17 commented on #1682
I think that would be sufficient.

[2022-02-24 04:59] joshgoebel commented on #927
@SleeplessByte Where did this issue originate from, did you just decide JS should have this problem and therefore create it?  I was looking for a similar issue in Ruby but see nothing...

[2022-02-24 10:17] SleeplessByte commented on #927
Yep. I manually created an issue per missing exercise.

[2022-02-24 12:12] gkucmierz opened #1694 "[book-store] exercise"
I see problem with that test. It says that `800*4*0.8*4 = 10240` is optimal solution, but in fact there is better solution which is `800*5*0.75*3+800 = 9800`

https://github.com/exercism/javascript/blob/main/exercises/practice/book-store/book-store.spec.js#L75-L78

[2022-03-01 16:26] sergioreynoso commented on #1529
Hi, can I skip this exercise until it's resolved?

[2022-03-02 01:38] sergioreynoso commented on #1634
Hello, in Task 3 it says "Finish the purchaseInventoryIfAvailable callback function to be used with the grocer's checkInventory API function.", but the checkInventory callback  takes a query and a callback. I'm confused as to how I'm to use checkInventory in this exercise.

[2022-03-04 04:29] joshgoebel commented on #902
@SleeplessByte I don't understand this test at all... It seems wholly at odds with the problem specificiation:

[code]

All mutation/navigation `returns a new zipper`, this directly contradicts the most recent test.

[2022-03-04 04:40] joshgoebel commented on #902
To me there are 3 levels of abstraction here...

1. the underlying node data in memory
1. a JS reference to a node (not even sure if this counts in JS as a discrete thing)
1. the Zipper instance (which holds unto the node reference)

I might have two zippers `a` and `b` that hold the same reference (2) to the same data(1) - because they are the same path (even if arrived at my different routes), b

[2022-03-04 05:13] joshgoebel commented on #902
This also seems a direct contradiction of the immediate prior test:

[code]

These *are the same path* (root), so why are they not the "same" zipper?

[2022-03-04 06:21] joshgoebel commented on #902
Wow... I still think there is a lot to be confused about here (and I'm conflating `toBe` and `toEqual` above), but I don't think the test names help add much clarity in this regard... "same zipper" in what sense?  I'd personally word it more like "different paths lead to same node" (which is actually what it being compared, not zippers).

...but I did get the last test to pass easily by changing:

[2022-03-12 15:34] #1682 closed

[2022-03-15 20:36] #1694 closed, assigned to nobody

[2022-03-16 19:52] junedev commented on #902
@joshgoebel I re-opened this and adjusted the title and labels, then you don't have to copy your thoughts into a new issue.
I put "discussion" for now until a maintainer had time to take a closer look and decide how to proceed.

[2022-03-25 14:49] #985 closed

[2022-03-26 21:51] obrunopereira commented on #1634
I'm stuck at the same point. Came here for help.

[2022-03-28 13:33] ievgenk commented on #1634
Heya @sergioreynoso @obrunopereira ,
I believe what they mean by saying that, is that "purchaseInventoryIfAvailable" is going to be that callback that goes into "checkInventory"

You do not need to use "checkInventroy" in the 3rd task.

[2022-03-30 05:15] mdandrade opened #1714 "Improving Poetry Club Door Policy"
https://exercism.org/tracks/javascript/exercises/poetry-club-door-policy
[code]
the code in the comment also worked also because the test does not see the spaces in the begin, but this is not right

[2022-03-30 08:25] ievgenk commented on #1341
Howdy @junedev,

Just wanted to mention that in this exercise I found  something a bit confusing. In the last bit where it asks you to catch all different kind of errors, the test would not pass even when I called appropriate functions for that particular error caught. I had to actually return the function call out of the catch block.

Not sure if it is just me but I found that a bit confusing, ma

[2022-03-30 08:54] ievgenk opened #1715 "Ozan Playlist Not Using Sets"
Heya good people of Exercism,

Was just doing Ozan Playlist exercise and noticed that even though concept linked is "Sets" the exercise is using arrays instead. Is this intentional or has not been converted to sets yet?

Maybe I could help with that ?

Thanks for wonderful learning resource !

[2022-04-01 20:37] LumpyHippo opened #1717 "Elyses Enchantments"
A recent change broke this exercise. What used to be task 7 is somehow combined with task 5. The results page only shows 7 tasks even though there should be 8. Task 8's condition are now listed as task 7. The original Task 7's condition are inside of Task 5 and because it is looking for a completely different function it fails causing this exercise to be incomplete and preventing progress past the

[2022-04-01 21:07] SleeplessByte commented on #1717
Hi there!

I can confirm there are now 8 tasks and only 7 in the results pitch.
If _all tests pass_, it should not prevent your from continuing, but we will fix the issue with only 7 tasks.

[2022-04-01 21:43] LumpyHippo commented on #1717
I'm a beginner at Javascript so I don't know how to properly work around the issue.  Task 5 looks like it should only have Test 16, 17 and 18. The code I have for Task 5 passes those three tests.  However it fails Test 19, 20 and 21 which look like they should be part of the missing Task 7.

I made a solution for (the missing) Task 7 which is

but I still get the error

as if it doesn't see the fu

[2022-04-02 15:01] SleeplessByte commented on #1717
Great that you were able to solve the exercise :).

We'll fix the "visual" issue with the tasks.

[2022-04-06 04:39] Riazaia opened #1722 "Unclear explanation about operator precedence in concepts/conditionals"
There's this bit of code in the [Conditionals](https://github.com/exercism/javascript/tree/main/concepts/conditionals) part of the syllabus that seems to be missing some brakets so that the explanation makes sense.

[code]

[2022-04-06 07:18] junedev commented on #1722
Thanks for creating the issue, I had this on my todo list as well. The inner brackets in the bottom example were removed by the auto-formatting. To make them stick, a prettier ignore block needs to be added.

[2022-04-11 09:22] ievgenk opened #1726 "Many tests are being skipped"
Hello,

Just wondering how come many tests in exercises are commented out with the "xtest"? Some of the quick examples are both of the Resistor exercises and Gigasecond ones.

When I uncomment them they seem to operate as expected, and with them being skipped one could make mistakes in the code and still pass the assignment.

Is it something I can submit a pr for ?

Thank you as always for a wonde

[2022-04-11 11:39] SleeplessByte commented on #1726
Hi there!

The explanation can be found in a few places, including [Testing on the JavaScript track](https://exercism.org/docs/tracks/javascript/tests#h-understanding-skip-tests).

[2022-04-12 06:46] ievgenk commented on #1726
My apologies for not seeing this myself, thanks for taking time to reply!

[2022-04-12 06:46] #1726 closed

[2022-04-12 06:58] #1715 closed

[2022-04-12 18:10] junedev commented on #1722
If someone works on this, be aware that there might be multiple places where this same content (and issue) occurs. Please search to check for this and fix it in all the places if necessary.

[2022-04-15 15:59] junedev commented on #1505
I am closing this issue, the most important parts were addressed by the PR above.

[2022-04-15 15:59] #1505 closed

[2022-04-15 16:06] junedev commented on #1502
@shubhsk88 Since I didn't hear back from you for some month, I will unassign you from the issue so it can be picked up by someone else.

[2022-04-16 00:21] limaxophobiac opened #1736 "Javascript 'Promises' exercise testing problems"

[2022-04-18 05:17] jiegillet opened #1732 "`factory-sensors` should have the `errors` concept as a prerequisite"
Hi all,
I'm going through the concepts exercises, great job out there :)

I reached `factory-sensors` and it's asking me to react to errors, but I don't know how yet.
I'm guess `errors` should be added as a prerequisite.

Happy to open a PR if you can confirm!

[2022-04-18 05:19] jiegillet commented on #1732
Never mind, I'm an idiot and I didn't notice that this exercise was practicing two concepts, including `errors`.
It took me 15 seconds after opening the issue :)

[2022-04-18 05:19] #1732 closed

[2022-04-18 14:43] Samhhali commented on #1722
Hello All,
I made a search to find any other places where this same content (and issue) occurs, but didn't find other than the issue mentioned, I solved it and made a pull request #1734

[2022-04-19 07:40] #1722 closed

[2022-04-19 19:47] junedev commented on #1515
A good start was made for this exercise here: https://github.com/exercism/javascript/pull/1633
However wants to work on this can continue from there.

[2022-04-21 14:53] Parzivalcen opened #1738 "Elyses Enchantments task check"
It looks like task 8 is on 7 and vice versa.

[2022-04-21 19:56] junedev commented on #1738
Thanks for reporting but there is already an issue for this here https://github.com/exercism/javascript/issues/1717 so I will close this one.

[2022-04-21 19:56] #1738 closed

[2022-04-26 20:12] junedev commented on #1528
@JaPatGitHub Now that the concept part is merged, please let me know whether you intend to also work on the exercise.

[2022-04-27 03:07] JaPatGitHub commented on #1528
Yes @junedev , I am ready work on the exercises too :)

[2022-04-27 05:36] junedev commented on #1528
Great! Then I leave the assignment as is.

[2022-04-27 19:23] junedev opened #1752 "Define initial JavaScript syllabus"
Outcome was posted here: https://github.com/exercism/javascript/issues/951#issuecomment-778834953
This issue is only for awarding the reputation and will be closed right away.

[2022-04-27 19:24] #1752 closed

[2022-05-01 00:13] TheMarkWill commented on #1502
@junedev, I'm free, have other person working in this concept?

[2022-05-02 10:24] schmelto opened #1760 "Ref link in `Date and Time` not working"
https://github.com/exercism/javascript/blame/main/concepts/dates/about.md#L119

![image](https://user-images.githubusercontent.com/30869493/166219948-dff15e4e-b1c6-4715-b5f4-b4d833b5e4e4.png)

[2022-05-02 14:13] junedev commented on #1760
@ErikSchierboom Seems footnotes don't work inside those note blocks. Do you think this is fixable or do we need to work around this? Should the ticket be moved to exercism/exercism? (If it is moved the title should be changed to something more general.)

[2022-05-03 01:05] SleeplessByte commented on #1760
Let's move it and I'll change the title.

[2022-05-10 01:34] SalahuddinAhammed commented on #1502
I want to work on this.

[2022-05-10 10:40] junedev commented on #1502
@SalahuddinAhammed Great that you want to help. I'll assign you to the issue. Please let us know in case you have any questions or decide you don't want to continue working on this.

[2022-05-10 10:47] SalahuddinAhammed commented on #1502
That's great. I am working on this issue.

[2022-05-11 09:30] SalahuddinAhammed commented on #1502
Sorry to say, but I will not work on this issue anymore for personal reasons. Please unassign me from this issue.

[2022-05-12 16:20] luckysoni opened #1770 "Elyses enchantments: Tests requires a solution with mutations"
The spec has tests that require mutation of the array being passed to the function being tested. This restricts users to submit solutions that use immutability.

Consider the following test:
[code]

The assertion is being made on the original `stack` which will require it to be mutated.

I am happy to fix the tests if folks agree that this Is suboptimal.

[2022-05-12 19:31] SleeplessByte commented on #1770
This is intentional, because we want to teach people how to _mutate_ the array.

[2022-05-16 14:49] #1770 closed

[2022-05-18 12:10] alonsogarciapablo commented on #1717
+1. I can confirm this is still an issue. I was able to complete the exercise though.

[2022-05-19 05:52] rockysingh3 commented on #1418
I would love to take this on. I can work on this over the next week or two.

[2022-05-20 14:35] NoteLyfe opened #1779 "Need to enhance the question to more understandable for students."
3. Calculate the discounted rate for large projects question is not much understandable what to find and what not. Please explain it more clearly with each step what we have to find in it.

[2022-05-21 03:41] SichangHe opened #1782 "Clarification of memoization in exercise `coordinate-transformation`"
## Context

In the last task of exercise `coordinate-transformation`, the instruction introduces memoization as following:

However, the instruction also says:

which says that the function should only remember its last input and result.

## Problem

This is from a computer science point of view.

Dynamic programming usually memoize all previous computation. Memoizing all the previous results enab

[2022-05-23 21:27] menty44 commented on #1515
I'd like to work on this

[2022-06-06 10:24] Danbaba1 opened #1794 "allowing mentor more access to mentee exercise even if they are not done"
i have realised you have to finish an exercise before requesting a mentor. this should be changed and mentors should have more access to see the code and alter the code of their mentee.

[2022-06-09 13:45] junedev commented on #1779
@NoteLyfe Sorry you had to wait for a reply this long.

Since we did not get other reports about problems with this task, I would like to ask you the following questions to narrow down the issue.
* When you were struggling with task 3, did you try to use the hints to solve it? Did you still have issues after making use of the hints?
* Do you have a concrete idea what should be changed/added in the

[2022-06-09 14:42] junedev commented on #1782
@SichangHe Thanks a lot for raising this issue with such a great description. I really appreciate it.

I agree with your assessment here. I also always had the feeling something was off with with that task but did not take the time yet to bring it out as clearly as you did.

I would recommend to implement solution 1 suggested above as a first step here to address the immediate issue quickly.

Re s

[2022-06-09 14:48] junedev commented on #1515
@menty44 Thanks for volunteering to work on this. Sorry that I didn't really had time to say hi before.

Unfortunately, this task involves some "reading the docs" before jumping in as mentioned in the description. Once you did that and still have questions, just post them here and I will try to answer as soon as possible. Also feel free to create a draft PR at any time with some preliminary versio

[2022-06-09 17:05] SichangHe commented on #1782
For a solution for "real" memoizing, there are multiple ways to do it but one of them is presented in the previous issue [Improve Concept Exercise: Coordinate Transformation (`closures`)](https://github.com/exercism/javascript/issues/1373#issue-1006429104) from @SleeplessByte
under the "Solution that should not pass (but passes)" heading:

There are indeed many ways to "build a cache" here.
At a g

[2022-06-09 18:38] junedev commented on #1782
Thanks for linking that other issue. I also don't have all the background here why it was done this way so following the [Chesterton's Fence](https://exercism.org/docs/community/being-a-good-community-member/chestertons-fence) guideline, lets stick with solution 1 then. Would you like to create a PR for that?

[2022-06-09 20:06] junedev commented on #1794
@Danbaba1 Thanks for leaving a note. The issue you mention was already raised here https://github.com/exercism/exercism/issues/6187 so I will close this one as duplicate. If you have more thoughts on this, feel free to post them in the existing issue.

[2022-06-09 20:06] #1794 closed

[2022-06-10 04:13] SichangHe commented on #1782
I would like to adopt solution 1 as well. For the PR, I am worried about the exact wording, so I guess we could discuss a bit first.

---

@SleeplessByte Thank you for your feedback on this.

I see the revised wording is better.

As for dropping references of dynamic programming, I am in favor of not doing so. I think the exercise introduces memoization, and it is indeed closely related to dynamic

[2022-06-10 10:08] SleeplessByte commented on #1782
Wording looks fine to me.

Thanks!

[2022-06-11 17:20] #1782 closed

[2022-06-14 19:07] Endzelisp commented on #1529
Hello there to everyone, I'm a bit confused with the coordinate transformation exercise in JavaScript, I watched numerous videos and tutorials, but when I try to implement the function according to the requirements simply didn't work.  I create a variable and initialize it which is intended to save the values, later I create the functions which will return the main one. When I assign the main func

[2022-06-29 20:01] #1634 closed

[2022-06-29 20:07] junedev opened #1818 "Fruit Picker: Improve story/instructions"
Some tasks in the fruit picker exercise are currently rather "technical" instead of being phrased in terms of the overall story. Maybe someone has a good idea who to improve this.

https://github.com/exercism/javascript/blob/main/exercises/concept/fruit-picker/.docs/instructions.md

General documentation: https://exercism.org/docs/building/tracks/concept-exercises#h-file-docs-instructions-md

[2022-06-29 20:20] junedev opened #1819 "Fruit Picker: Find (new) home for arrow functions concept"
Because of https://github.com/exercism/javascript/pull/1725, the fruit picker concept exercise no longer includes tasks that require arrow functions. That means we need to find a (new) home for arrow functions. Here some options:
* A - Add a new concept exercise that teaches arrow functions
* B - Add arrow functions as a concept to one of the Elyses Enchantments exercises that teach array methods

[2022-07-01 13:09] junedev commented on #1819
@Endzelisp Thanks for leaving a note. The fruit picker exercise was completely reworked and the change became available on the website 2 days ago. Did you already update to the new version? You should see an orange banner on the exercise page that allows you to do the update. If you didn't update yet, I recommend you try out the new version first. If you still have issues with the new version, the

[2022-07-01 15:51] SleeplessByte commented on #1819
@Endzelisp I am going to hide these messages to not confuse others, but feel free to open a new issue if you still have thoughts!

[2022-07-02 16:50] Aliwahid17 commented on #1818
I already did the fruit picker exercise.
now I see in Github that the exercise gets updated. So, I go to update my code but my boilerplate didn't change according to the new test cases.  **so, how I'll solve that question?**

[2022-07-02 19:59] junedev commented on #1818
@Aliwahid17 In this case you need to open the exercise (so you see the page with the web editor), click on the 3 dots in the top right corner and select "revert to exercise start". Then you get the fresh boilerplate. I'm sorry for the inconvenience here but a lot of the new learning exercises are still in "beta" and need to be changed substantially to make the experience better for the users. So t

[2022-07-03 00:39] Aliwahid17 commented on #1818
Oh ok I'm new in GitHub so i don't know that .
Thanks for telling me i know next time.

[2022-07-10 18:14] SleeplessByte opened #1833 "Fruit Picker: hints are outdated"
Related but not covered by #1818,

The hints have not been updated in #1725. For example, the first task:

[code]

But the correct implementation is:

[code]

[2022-07-12 17:08] junedev commented on #1833
cc @neenjaw in case you have time for this

[2022-07-13 17:34] dunndeft commented on #1833
Hello. How can I assist in updating the hints? This is my first attempt at contributing to Exercism.

[2022-07-13 17:56] dunndeft commented on #1833
@junedev, please see the paragraph text under "This task requires you to fix something broken"... it says "...you'll be bulding taking something that's currently not working...". The word bulding can be changed to building. It's spelled this way in the other pop-up instructions too.

![image](https://user-images.githubusercontent.com/60718015/178799224-863f12a2-0c90-42c2-9cab-7be07c291294.png)

[2022-07-17 15:05] junedev commented on #1502
@rockysingh3 I did not see any commits being added to your PR I a while. Are you still planning to work on this?

[2022-07-17 17:38] junedev commented on #1779
I'm closing this as it seems abandoned.

[2022-07-17 17:38] #1779 closed

[2022-07-17 18:07] junedev commented on #1515
@menty44 Are you still working on this? If not, I would unassign you so someone else can pick this up.

[2022-07-17 20:07] junedev commented on #1819
I will work on this and go for option B for now.

[2022-07-18 17:01] #1819 closed

[2022-07-23 20:01] DANTELX commented on #1833
Hi, is there any way I could help with this issue? I'm trying to make my first contribution on GitHub :)

[2022-07-27 20:27] #1714 closed

[2022-08-05 04:38] junedev commented on #1833
@dunndeft Do you still intend to work on the hints or can @DANTELX take over this task?

[2022-08-13 23:37] mannyistypingonacomputer commented on #1818
Hi @junedev 👋🏽

I'd be happy to take on this issue if that's alright?

I've been going through the exercises within the Go track and I can see how the instructions on the JS track may come off as "technical"...

An alternative could be...

@junedev , Is this more more inline with what you imagine to be less "technical" and more in tune with the story?

Additionally in the `Instructions` prompt I i

[2022-08-14 04:03] junedev commented on #1818
@mannyistypingonacomputer Sounds like you have a good understanding of what the task is here. 🙂 I will assign you to the issue.

[2022-08-14 04:08] mannyistypingonacomputer commented on #1818
Thank you for the quick response @junedev and sounds good! 👍🏽

[2022-08-24 12:30] joshgoebel opened #1877 "Exercise: Mixed Juices is unclear"
Students are recommended to use a `do-while` but the instructions only specify that time is never 0, they do not ALSO specify that the list of drinks is never empty.  Both this things would need to be true for a `do-while` solution.

It's weird that the spec/instructions ONLY speaks about time and not the list of drinks... if both are guaranteed to be "non-zero" (to support do-while) I'd expect th

[2022-08-25 10:06] schapira opened #1882 "exercises/concept/windowing-system/.docs/instructions.md scheme looks wrong"
![image](https://user-images.githubusercontent.com/203137/186637148-822899d3-d773-4e50-a6f5-ccec0e50a425.png)
its look like having invisible character in this scheme. I couldn't find it.
At iridium browser (kinda chrome) windows 10.

[2022-08-25 21:41] SleeplessByte commented on #1882
@schapira I have the same issue. See https://github.com/exercism/exercism/issues/6225. We'll leave it open here to track it too in this repo ;)

[2022-08-30 10:13] MikeHud opened #1886 "Console.log"
The instructions recommend to use console.log for debugging but the browser does not output such messages.

This is a big one because console.log is so valuable for debugging, but also the general learning experience

[2022-08-30 14:57] SleeplessByte commented on #1886
Hi there @MikeHud.

The `console.log` statements do not log to the browser because the `console` called from the code isn't the _browser console_. It's the console on whichever environment the tests run on. For example, if you were to run `console.log` when running this on a computer via node, it will, by default, log to the terminal (Terminal, bash, cmd.exe, powershell, etc.).

Exercism's JavaScr

[2022-09-01 16:47] MikeHud commented on #1886
Oh, how strange. Suddenly the 'Your Output' in the Results section appears. I just got onto the 'Lasagna Master' exercise and now I can console.log!! maybe that's some weird coincidence though but I'm sure it wasn't working previously. And yes I understand it won't log to the browser, since it's running inside the test protocols.

Anyway, great and thank you :-)

[2022-09-01 20:57] SleeplessByte commented on #1886
Sweet. Thanks for confirming it works now.

If you run into this issue again, could you post here / open a new issue including your exercism username and the Exercise? We'll then be able to investigate.

[2022-09-01 20:57] #1886 closed

[2022-09-10 16:36] JaPatGitHub commented on #1528
@junedev @SleeplessByte, I am unable to find time to work on this further owing to my heavy courseload as this is the final year of my high-school.

I apologize for the inconvenience caused and for informing this late...I try to scrape out time to just complement this assignment but fail to make sufficient progress.

[2022-09-10 17:55] junedev commented on #1528
👍 No problem, I will unassign you.

[2022-09-23 19:48] dem4ron opened #1906 "Improve Scale Generator tests"
Hey!

I'd like to suggest some improvements on the Scale Generator tests.

I think [in this form](https://github.com/exercism/javascript/blob/main/exercises/practice/scale-generator/scale-generator.spec.js) these tests are not correct.

The `intervals.length` should be `scale.length - 1`.

[code]

Check the walkthrough at the end of [problem-specs description.](https://github.com/exercism/problem-

[2022-09-29 20:01] TomPradat commented on #983
Update, here is the list of exercises that still need to be addressed :

scrabble-score

allergies

word-count

bank-account

perfect-numbers

luhn

grains

pythagorean-triplet

palindrome-products

[2022-09-30 10:57] SalahuddinAhammed opened #1920 "Possible typo in implementing-a-concept-exercise.md"
Shouldn't it be `<slug>.js` instead of `<slug>.cs` at line 93?

[2022-10-02 06:56] SalahuddinAhammed commented on #1528
I'd like to work on this.

[2022-10-02 14:39] SleeplessByte commented on #1920
Is that file in this repository?

[2022-10-02 16:53] SalahuddinAhammed commented on #1920
Affected file: https://github.com/exercism/javascript/blob/main/reference/implementing-a-concept-exercise.md

In the affected file at line 93, it says "`<slug>.cs`. the stub implementation file......". But the file tree presented in README shows `<slug>.js`.
Again when creating a pull request, the auto generated comment says "or the stub file `<exercise>.js`....". Here the file extenstion is also

[2022-10-02 18:27] SleeplessByte commented on #1920
You are correct! Would you like to submit a PR to update this file and rename `.cs` to `.js`?

[2022-10-02 18:41] SalahuddinAhammed commented on #1920
Yes. Opening a PR soon.

[2022-10-02 19:41] TomPradat opened #1930 "Practice exercise 'bank account', too many throws"
I've noticed that there are a lot "error" cases in this exercise. IMO these two tests are superfluous : "close already closed account throws error" and "open already opened account throws error".

Indeed, IMO there is no functional problem with closing an already closed account. In a real world, I try to go by the "Define errors out of existence" principle from "A Philosophy of Software Design" by

[2022-10-02 20:57] andrerfcsantos opened #1931 "Custom Signs: Misleading instructions for task 3"
Task 3 of the concept exercise custom-signs states:

This made me believe that the tests would accept any message for the sign, as long as it included the word _mature_ if the age is 50 or older, or the word _young_ otherwise. However, that seems to not be the case, and the tests expect only very specific strings:

https://github.com/exercism/javascript/blob/2be1e8e8585f14213b44374d98162b18aa1eded

[2022-10-03 12:05] madzi-hove opened #1932 "Test suite failed to run"
Hi. I am working on the javascript track and am currently doing the translation exercise. I am using the online editor and receiving this error when ever i try to run tests We received the following error when we ran your code:

● Test suite failed to run

Cannot find module 'core-js/modules/es.array.push.js' from '../../api.js'

Require stack:
/api.js
/service.spec.js

![Screenshot (6)](https://u

[2022-10-03 12:38] SleeplessByte commented on #1932
Hi @madzi-hove, this is not your fault. Working on a fix.

All your exercises being unlocked is not my doing / a separate issue.

[2022-10-03 12:46] #1920 closed

[2022-10-03 14:24] SleeplessByte commented on #1932
I've disabled experimental features for now (no proposal syntax allowed) and this seems to have resolved the issue, for now. Feel free to retry @appovo .

[2022-10-03 14:24] #1932 closed

[2022-10-03 14:24] SleeplessByte commented on #1932
I've disabled experimental features for now (no proposal syntax allowed) and this seems to have resolved the issue, for now. Feel free to retry @madzi-hove .

[2022-10-03 17:44] madzi-hove commented on #1932
The tests are running now, thank you very much.

[2022-10-04 01:33] SleeplessByte commented on #1932
If you run into it again, please open another issue and feel free to ping me

[2022-10-25 13:35] triangletrianglesquareplusx commented on #1833
Hello people, do you still need help with this?

[2022-10-25 13:43] junedev commented on #1833
@triangletrianglesquareplusx Yes, I will assign you to the issue.

[2022-10-25 18:57] TomPradat commented on #984
Here is an updated list (25/10/2022) :

[code]

[2022-10-26 03:28] SleeplessByte opened #1966 "[BUG] debug messages (console.log) currently do not show"
Due to a recent update to the test-runner, these messages do not show. Working on a fix. You can subscribe to the issue on the right side of the screen to get an update when it is fixed.

[2022-10-28 00:55] SleeplessByte commented on #1966
![Test runner 3.3.1 output showing console.info message on exercism.org](https://user-images.githubusercontent.com/1964376/198425054-e669a1a7-1779-426b-947a-8c24e4da9ecf.png)

[2022-10-28 00:55] #1966 closed

[2022-10-28 19:27] IAmRC1 opened #1969 "Typo in `High Score Board` exercise test file"
Issue in `updateScore` function

[code]

[2022-10-28 19:58] Faizan-e-Muhammad opened #1971 "Type Conversion: Falsy not truthy"
Issue described in this closed PR still exists: [Falsy not truthy #1382](https://github.com/exercism/javascript/issues/1382)

Content on line 34 of javascript/concepts/type-conversion/introduction.md

This is an error as `0` and `false` are clearly present in the list of falsy values in the docs https://developer.mozilla.org/en-US/docs/Glossary/Falsy

[2022-10-29 12:48] SleeplessByte commented on #983
That's it I guess?!

[2022-10-29 12:48] #983 closed

[2022-10-29 15:40] Faizan-e-Muhammad commented on #1971
@SleeplessByte thanks for the clarification.
I totally missed the quotation marks.

[2022-10-29 15:40] #1971 closed

[2022-10-31 00:44] SleeplessByte commented on #1969
As explained [in the PR you submitted](https://github.com/exercism/javascript/pull/1970#issuecomment-1296376522), there is no typo in the exercise test file for the `High Score Board` exercise.

We do appreciate you opening the issue and providing a PR because you thought something was broken.

In this repository, each _exercise_ **must** also have a `proof.ci.js` or `exemplar.js` file in the `.me

[2022-10-31 00:44] #1969 closed

[2022-10-31 00:47] SleeplessByte commented on #1930
There are definitely a lot of styles of programming that allow to be much more forgiving, turning the actions you describe as a noop. I generally implement code that way as well. However, if this were implemented using a state machine, in general, an illegal state change would throw. So it's highly dependent on the solution chosen.

That said, if you feel like this exercise would be better off wit

[2022-11-01 20:12] TomPradat commented on #1930
I hadn't though about a solution with state machine, this is a good point, thanks for the hindsight ! I still believe that these errors are unnecessary but it is probably not worth changing the problem-specifications

[2022-11-01 20:12] #1930 closed

[2022-11-02 19:43] meatball133 commented on #1500
Hi, this would be my first time writing an exercise. Although I like to give it a shot if some one wants to work together on this I am happy to do so. Although I like to claim it

[2022-11-06 09:06] junedev commented on #1500
@meatball133 I will assign you to this issues. It is quite a challenging task so leave a comment in case you decide not to continue with it at some point.

[2022-11-06 09:25] meatball133 commented on #1500
Well, I have come up with some kind of story and would like to hear what you think.

So you have a friend who is a bird watcher. They aren't that good at handling computer data and would like your help.

The first exercise is to convert a number of inputs to an array:
[code]

The second one is to move the first 2 elements to the end of an array:

[code]

The third one is to add an array of element

[2022-11-06 09:41] junedev commented on #1667
@theomelo I think so but I have not tried recently.

[2022-11-06 17:36] theomelo commented on #1667
I could try creating a few PRs to try to reproduce this issue and report back 👍

[2022-11-07 18:06] junedev commented on #1500
Looks like good start, two thoughts on this:
- Can you double check you covered the points linked above under "learning objectives"? It looks like the object parts are missing.
- There is already an exercise called "bird watcher" in the JavaScript track so maybe the theme can be changed a bit to not repeat itself, e.g. it could be about observing traffic on a street instead of watching birds.

[2022-11-07 18:08] meatball133 commented on #1500
Yes I can add 1-2 more exercises that covers object. I will also look into having a bit different theme aswell. Thanks for the feedback

[2022-11-08 07:48] meatball133 commented on #1500
Alright, new story you are suppose to help your friend who is a train driver. One element in an array should represent one wagon and the number in it represents the wieght of the wagon.

The fourth exercise is to add missing information to the trains routing system.

[code]

[2022-11-08 07:50] meatball133 commented on #1500
I would very much appricate feedback and I would personally say this covers all of the topics in the syllabus.

[2022-11-11 18:17] meatball133 commented on #1500
Added a first iteration of the files. I would like to get some feedback this far and then I will continue finish up the rest.

[2022-11-19 21:41] theomelo commented on #1667
Based on your screenshots, I'm assuming there has been a few changes in the actions setup since the creation of this issue. For example, all PRs are now being annotated by [pr-commenter](https://github.com/exercism/pr-commenter-action).

After I created a couple of PRs (https://github.com/exercism/javascript/pull/1994 and https://github.com/exercism/javascript/pull/1997), both of them triggered ju

[2022-11-19 21:43] theomelo commented on #1667
I can still try to help with debugging. Whenever a maintainer creates a PR that doesn't trigger the actions as expected, would you please ping me here (before closing and opening again) so I can check what happens? 🙏

[2022-11-21 14:27] SleeplessByte commented on #1667
![image](https://user-images.githubusercontent.com/1964376/203079639-3a6591ef-16c8-46c9-be99-e8e1bf70769b.png)

That action was already on the Repo when that PR was opened, but it wasn't triggered until the PR was reopened, which is weird. This may be a bug on the GitHub side btw!

[2022-11-21 19:51] junedev commented on #1667
@theomelo The pipeline does not run if you have never contributed to the repository in the past (to avoid that people misuse the CI runners). Have you tried to forking the repo and then opening a PR against your fork and trying to trigger the format flow there? (Not sure this works though.) If this doesn't work, I don't think you can help with this issue currently.

I also think there is some chan