[2014-05-21 20:11] wilmoore opened #1 "Palindrome Product Exercise (es6)"
## Todos
- [x] Build a sane test workflow.
- [x] Clean up exercise.

[2014-05-28 06:21] wilmoore opened #3 "ESNext?"
A thought...I wonder if it was short-sighted of me to suggest the name xecmascript6 when in fact, traceur is already adding ES7+ features that can be used now.

[2014-05-28 06:27] #1 closed, assigned to nobody

[2014-05-28 14:16] #3 closed, assigned to nobody

[2014-08-17 00:44] kytrinyx opened #5 "Create a getting started page in the docs repository"
See http://help.exercism.io/getting-started-with-go.html as an example.

If appropriate, suggest a linter (see exercism/docs#54).

[2014-08-31 19:18] kytrinyx opened #6 "Delete configlet binaries from history?"
I made a really stupid choice a while back to commit the cross-compiled
binaries for configlet (the tool that sanity-checks the `config.json`
against the implemented problems) into the repository itself.

Those binaries are HUGE, and every time they change the entire 4 or 5 megs get
recommitted. This means that cloning the repository takes a ridiculously long
time.

I've added a script that can be

[2014-08-31 23:44] #6 closed, assigned to nobody

[2014-12-04 14:31] kytrinyx opened #7 "How to set up a local dev environment"
See issue exercism/exercism.io#2092 for an overview of operation welcome contributors.

-----------------------

Provide instructions on how to contribute patches to the exercism test suites
and examples: dependencies, running the tests, what gets tested on Travis-CI,
etc.

The [contributing document](https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md)
in the x-api repository describes

[2015-03-16 13:01] kytrinyx opened #8 "Add helpful information to the SETUP.md"
The contents of the SETUP.md file gets included in
the README.md that gets delivered when a user runs the `exercism fetch`
command from their terminal.

At the very minimum, it should contain a link to the relevant
language-specific documentation on
[help.exercism.io](http://help.exercism.io).

It would also be useful to explain in a generic way how to run the tests.
Remember that this file will b

[2015-04-23 03:19] kytrinyx opened #10 "Launch Checklist"
In order to launch we should have:

- [x] ECMAScript as a submodule in [x-api](https://github.com/exercism/x-api/tree/master/problems)
- [x] at least 10 problems
- [x] a "how to get started" topic in the [help repo](https://github.com/exercism/docs) repo (`app/pages/languages/getting-started-with-ecmascript.md`)
- [x] one to a handful of people willing to check exercism regularly (daily?) for nitp

[2015-07-02 16:08] rchavarria commented on #1
Hi,
Sorry if this is not the right place, but I'm not sure where to ask.
How could I run my production code against the tests provided by exercism?
I've tried to run them with the command under the `ecmascript/palindrome-products` folder:

    jasmine-node .

But I get this error:

    C:\Users\rchavarria\exercism\ecmascript\palindrome-products\palindrome-products.js:7
    function generate({ minF

[2015-07-02 16:26] kytrinyx commented on #1
@rchavarria You'll probably get more help asking in the support channel: https://gitter.im/exercism/support -- if not, you might also be able to get some help on StackOverflow (not the exercism-specific part, but there are a lot of knowledgable people who, if you tell them what the filenames and paths and bits of code are, could probably give you an answer quickly.

[2015-07-03 07:07] rchavarria commented on #1
Ok, thanks. I'll try first the support channel.

[2015-07-05 08:45] rchavarria opened #12 "Make it easier for an exercism user to run tests for an assignment"
I struggled a little bit while running my code for the palindrome-products assignment, so I was wondering if there could be a better way to run them.

I was thinking of having a `package.json` file (as if the assignment was a NodeJS module) and a `gulpfile.js` file, to have all the work automated in a [Gulp](http://gulpjs.com) script.

But I'm not sure if this is compatible with exercism's philoso

[2015-07-05 16:37] kytrinyx commented on #12
I think that it would be fine to have gulp, as long as the version with fewer dependencies is documented, and gulp is a "nice to have". Anything to make it easier to get started is a good thing, I think.

[2015-09-24 21:03] rchavarria commented on #10
- [x] *LANGUAGE as a submodule in [x-api](https://github.com/exercism/x-api/tree/master/problems)*: I can find it there
- [x] *at least 10 problems*: done. I plan to bring more exercises to the track
- [x] *a "how to get started" topic in the [help repo](https://github.com/exercism/docs) repo (`app/pages/languages/getting-started-with-LANGUAGE.md`)*: it was added
- [ ] *one to a handful of people

[2015-09-24 21:32] kytrinyx commented on #10
I would be happiest if there are at least 3 people committed to checking in fairly regularly. From experience with other tracks, one person is not enough and it can quickly turn into a ghost town.

I'll add you as track mentor and track implementor.

[2015-09-24 21:33] kytrinyx commented on #10
Oh, you're already listed as a track maintainer--you have commit on both this repo and the javascript one.

[2015-10-06 09:44] matthewmorgan commented on #10
Hi Katrina and Rubén,

I'm on board with helping mentor this track.  Ready to go when you are!

[2015-10-06 20:47] kytrinyx commented on #10
Awesome, thank you so much, @matthewmorgan!

[2015-10-06 22:39] marioIncandeza commented on #10
Hi,
I'm also on board. Let's do it.

[2015-10-07 03:25] kytrinyx commented on #10
Cool, I'll add you all as mentors on the ECMAScript track.

[2015-10-07 03:26] kytrinyx commented on #10
Done ^^

[2015-10-07 09:33] rchavarria commented on #10
Nice! Thanks @matthewmorgan  and @marioIncandeza!

@kytrinyx, are we ready to activate the thing in `config.json` and become public or do you think we would need to do something more?

[2015-10-07 20:02] kytrinyx commented on #10
We're ready activate it, I think!

[2015-10-08 18:29] matthewmorgan commented on #10
@kytrinyx @rchavarria - am I supposed to see anything new at this point?  Doesn't look like the track is active yet.  Let me know if there's something I'm meant to do.

[2015-10-08 19:13] kytrinyx commented on #10
Once it's activated I'll post back here. At that point the thing to do is to go check the "Exercises" list for ECMAScript regularly to see if anyone needs feedback.

[2015-10-08 19:25] matthewmorgan commented on #10
Thanks!

Matt Morgan

On Thu, Oct 8, 2015 at 12:13 PM -0700, "Katrina Owen" <notifications@github.com> wrote:

Once it's activated I'll post back here. At that point the thing to do is to go check the "Exercises" list for ECMAScript regularly to see if anyone needs feedback.

—
Reply to this email directly or view it on GitHub.

[2015-10-09 21:15] matthewmorgan commented on #10
Hi,  Just checking this track out and the 'Leap' exercise is missing its ```package.json``` file.

Also, on 'Leap' and 'Hello World' I had to manually ```npm install --save``` for ```del``` and ```yargs```.  I don't know if this is a problem with my configuration or an issue with the exercise files.  FYI.

[2015-10-09 21:46] rchavarria commented on #10
Yep. I found the same error while starting using the language track. There is a PR fixing it ([Fix an error that prevents users to run tests](https://github.com/exercism/xecmascript/pull/32)). I hope it will be merged soon.

[2015-10-09 22:34] matthewmorgan commented on #10
Great.  Very excited to see this happening!

On Fri, Oct 9, 2015 at 5:46 PM Rubén Chavarría <notifications@github.com>
wrote:

[2015-10-12 18:45] rchavarria opened #34 "Code submissions have no syntax highlighting"
When I review code submissions in exercism.io I miss some syntax highlighting. Is this something that can be fixed in the language track?

Just highlighting it just as JavaScript code would be the fastest fix and maybe enough for now.

![no-syntax-highlight](https://cloud.githubusercontent.com/assets/612688/10435724/edeb0f02-7121-11e5-8c36-3e76593ed685.png)

Additionally, next to the submission ti

[2015-10-12 20:01] kytrinyx commented on #34
Yepp, the highlighting thing can be fixed with one line somewhere (let me figure out where that was).

Also, I can't remember how the JS thing happened. I'll look into that as well.

[2015-10-14 17:41] kytrinyx commented on #34
If you add an image at `lib/app/public/img/ecmascript.png` then you'll get an icon on the code page.

[2015-10-14 19:36] rchavarria commented on #34
Ok. Now it's time for the difficult part. Finding a representative image.

Thanks for fixing the syntax.

[2015-10-14 19:36] kytrinyx commented on #34
yepp :)

[2015-10-14 20:09] rchavarria opened #37 "Which library should be used to transpile ECMAScript 2015 code to ECMAScript 5"
There are several libraries/platforms that support ECMAScript 2015, but they don't cover all the features. Options are:

- NodeJS v4, that covers 51%
- Babel, that covers 79%
- Traceur, that covers 59%. This is what the language track currently uses.

Babel seems the best option.

@kytrinyx, how could more people be involved on this discussion?

[2015-10-15 14:16] kytrinyx commented on #37
I tweeted about it here: https://twitter.com/exercism_io/status/654661701799837700

[2015-10-15 14:22] locks commented on #37
I would vote on Babel. Ember CLI uses Babel for its compiling needs, and React also moved to Babel for JSX compiling.

How did you arrive at the percentages @rchavarria ?

[2015-10-15 14:22] wpannell commented on #37
Much current practice, particularly around Facebook React, recommends Babel, e.g., [here](https://github.com/ericelliott/tdd-es6-react/tree/master/examples) and [here](http://teropa.info/blog/2015/09/10/full-stack-redux-tutorial.html#project-setup).

[2015-10-15 14:24] poteto commented on #37
Out of all the available transpilers, Babel has the highest % of feature parity with ECMA2015. See https://kangax.github.io/compat-table/es6/ for a nice little table.

[2015-10-15 14:25] grapho commented on #37
I'll vote Babel!

[2015-10-15 14:29] miguelcobain commented on #37
Babel is the way to go.

[2015-10-15 14:46] kentcdodds commented on #37
Definitely recommend Babel. Many people are used to Babel (it's the most popular by far).

As a side, it would probably be good to add typescript support as well...

[2015-10-15 14:56] joshburgess commented on #37
Babel.

[2015-10-15 17:15] adrianhall commented on #37
Yep - Babel.  Babel is also easy to integrate with build systems like Grunt and Gulp.

[2015-10-15 18:22] elwayman02 commented on #37
:+1: Babel

[2015-10-15 20:18] rchavarria commented on #37
@locks I arrived at those percentages in a conversation with a friend of mine. I have no data to confirm them. But @poteto's link is a wonderful resource and it shows close percentages. Babel has one of the highest coverage.

[2015-10-19 01:09] kytrinyx opened #42 "rename test files to problem-slug.spec.js"
This was recently changed in the JavaScript track, and it feels a lot cleaner: https://github.com/exercism/exercism.io/issues/2581

[2015-10-19 20:28] rchavarria opened #43 "Create About Language Section"
Add an `ABOUT.md` file in the path specified in [exercism/x-common#110](https://github.com/exercism/x-common/issues/110) to show a new section in the language track: About.

[2015-10-19 20:32] rchavarria opened #44 "Configure ESLint to lint source code at development time"
As discussed in [exercism/xjavascript#101](https://github.com/exercism/xjavascript/issues/101) and [exercism/xjavascript#26](https://github.com/exercism/xjavascript/issues/26), ESLint seems to be a good tool to lint JavaScript and ECMAScript source code.

Add it and configure it to lint source code at development time.

[2015-10-19 20:39] rchavarria opened #46 "Improve language track icon"
A simple icon was provided in PR [exercism/exercism.io#2583](https://github.com/exercism/exercism.io/pull/2583).

Improve it. An option can be a ECMAScript version of the JS shield in that PR.

[2015-10-25 16:08] rchavarria commented on #42
Fixed with [Pull Request #45](https://github.com/exercism/xecmascript/pull/45).

[2015-10-25 16:08] #42 closed

[2015-10-25 16:11] rchavarria commented on #10
@kytrinyx Do you think this issue can be closed?

[2015-10-25 16:26] rchavarria commented on #44
[exercism/docs#54](https://github.com/exercism/docs/issues/54) highly recommends the use of linters for all languages.

[2015-10-25 16:30] rchavarria commented on #5
Getting started page added on [exercism/docs PR#151](https://github.com/exercism/docs/pull/151) and updated on [exercism/docs PR#171](https://github.com/exercism/docs/pull/171).

Issue #44 will track whether a linter is added to the project, so this issue could be closed.

[2015-10-25 16:34] rchavarria commented on #7
@kytrinyx Do you think the current `README.md` has appropriate content requested by this issue? Can I add something to be able close it?

[2015-10-25 16:36] rchavarria commented on #8
Is the `SETUP.md` ok with this issue? Could we close it?

[2015-10-25 16:39] rchavarria commented on #12
Fixed with the old [Pull Request #13](https://github.com/exercism/xecmascript/pull/13)

[2015-10-25 16:39] #12 closed

[2015-10-25 16:42] rchavarria opened #51 "Replace Traceur with Babel to transpile code"
*cf. Issue #37*

It seems [Babel](https://babeljs.io/) is a better choice for transpiling ES2015 code to ES5.

[2015-10-25 17:20] rchavarria commented on #37
The replacement will be addressed by Issue #51

[2015-10-25 17:20] #37 closed

[2015-10-25 17:36] kytrinyx commented on #10
Yepp. Thanks!

[2015-10-25 17:36] #10 closed

[2015-10-25 17:36] #5 closed

[2015-10-25 17:37] kytrinyx commented on #5
Good call.

[2015-10-25 17:37] kytrinyx commented on #7
I think it's probably fine. If people get involved and get stuck, we can suggest improvements.

[2015-10-25 17:37] #7 closed

[2015-10-25 17:38] kytrinyx commented on #8
Yeah, SETUP is great.

[2015-10-25 17:38] #8 closed

[2015-10-26 02:45] #51 closed

[2015-11-02 14:09] matthewmorgan opened #56 "Should test for Grains use BigInt instead of String?"
@rchavarria this test imports BigInt but doesn't use it, instead requiring the student return results as strings.  It looks like the JS track was edited to make the same change.

It seems like in both cases ```grains.spec.js``` should use BigInt or remove the import.

What would you like to do?

[2015-11-02 20:46] rchavarria opened #57 "Add new test to Gigasecond problem"
[exercism/xjavascript PR#125](https://github.com/exercism/xjavascript/pull/125) adds a new test to the problem. It would be nice to add a similar one to this repository.

[2015-11-02 20:54] rchavarria commented on #56
You're right. `grains.spec.js` shouldn't import `BigInt`. The solution should. Can you remove that line from `grains.spec.js`, please? I think I forgot to clean it up, sorry.

Tests expect a `String` representation because some tested values don't fit into a JavaScript number, but `BigInt` is hidden to tests (that's why they shouldn't import it). Returning a `String` looks fine to me.

[2015-11-03 01:36] matthewmorgan commented on #56
I pushed this change for the Ecmascript repo, but for some reason I was not able to get the commit message to accurately reflect the change I made.  It seems to be showing something older from my local history.

If you have any tips on correcting this, I would appreciate it.

[2015-11-03 01:50] kytrinyx commented on #56
Try pushing `git push -f origin your-branch-name`

[2015-11-03 02:57] matthewmorgan commented on #56
Got it.  Thanks @kytrinyx , getting a better understanding of git for sure!

[2015-11-03 03:32] kytrinyx commented on #56
One of my favorite resources if you have a couple of hours free is https://www.youtube.com/watch?v=1ffBJ4sVUb4 (Git for Ages 4 and Up)

[2015-11-07 22:01] rchavarria commented on #46
Solved in [exercism/exercism.io#2596](https://github.com/exercism/exercism.io/issues/2596)

[2015-11-07 22:01] #46 closed

[2015-11-13 21:21] matthewmorgan commented on #56
closed by PR#59

[2015-11-13 21:21] #56 closed

[2015-11-13 21:53] matthewmorgan commented on #57
@rchavarria I was looking at this and there's another important difference between the JS track and the ES track: the JS track expects an answer rounded down to midnight of the resulting giga-birthday, and the ES track does not round down.

I prepared a new test in the current style of the ES track for the ES track, but I'm wondering if the tracks should agree better.  Does it matter?

[2015-11-13 22:34] matthewmorgan opened #68 "Add new exercise scrabble-score"
I will tackle this one!

[2015-11-14 21:37] matthewmorgan commented on #68
This is pull request #69.

[2015-11-14 21:37] #68 closed

[2015-11-15 11:35] kytrinyx commented on #57
Check out the shared metadata for gigasecond: https://github.com/exercism/x-common/blob/master/gigasecond.json

[2015-11-15 14:34] matthewmorgan commented on #57
@kytrinyx if I understand that metadata spec correctly, then the JS track test is not correct bc it drops the minutes and seconds from the ```expectedDate```.  It uses midnight as the starting point rather than some arbitrary time of day, but 1GS later can (so should) include the minutes and seconds.

So, the ES track is right and the JS track needs fixing.

Do I have it right?

[2015-11-15 16:22] kytrinyx commented on #57
Agreed, the JS track should handle arbitrary times of day.

[2015-11-15 17:47] matthewmorgan commented on #57
OK submitted a fix as [exercism/xjavascript PR#129](https://github.com/exercism/xjavascript/pull/129)

[2015-11-15 22:42] kytrinyx commented on #57
Cool, I'll close this issue, then.

[2015-11-15 22:42] #57 closed

[2015-11-17 21:04] matthewmorgan opened #71 "create new exercise circular-buffer"
@rchavarria, I figured I'd let you take the one after scrabble-score (roman-numerals) and I'll take the one after that : circular-buffer

[2015-11-17 21:32] rchavarria commented on #71
Ok, I'll take the classic Roman numerals

[2015-11-17 21:33] rchavarria opened #72 "Create new exercise: roman-numerals"
Adapt JavaScript exercise, roman-numerals, to this track.

[2015-11-18 10:10] matthewmorgan opened #75 "add new exercise binary"
porting binary from JS track.  PR #74

[2015-11-18 13:59] matthewmorgan opened #76 "add new exercise prime-factors"
I will port from JS track.

[2015-11-18 22:57] matthewmorgan commented on #71
Closed by commit 115a846

[2015-11-18 22:57] #71 closed

[2015-11-18 23:09] matthewmorgan commented on #72
Closed by commit de450d0.

[2015-11-18 23:09] #72 closed

[2015-11-19 00:27] matthewmorgan opened #79 "add exercise raindrops"
OK, maybe one more.  I'll do this one!

[2015-11-19 16:11] rchavarria commented on #79
Closed by commit eae366afe899596732134728095cdea391b96575

[2015-11-19 16:11] #79 closed

[2015-11-19 17:38] matthewmorgan opened #82 "Update language track description re: babel vs traceur"
The user-facing description of the language track still refers to Traceur:

http://help.exercism.io/getting-started-with-ecmascript.html

We should update that.  Where does the helpfile live?

[2015-11-19 19:25] kytrinyx commented on #82
it's in the https://github.com/exercism/docs repo... but I'm not able to deploy it at the moment because I'm getting a node error that makes no sense.

[2015-11-19 22:09] matthewmorgan commented on #82
@kytrinyx let me know when it's working.  I can work with @rchavarria on making appropriate edits.  Thanks!

[2015-11-20 01:23] kytrinyx commented on #82
Will do.

[2015-11-23 21:49] rchavarria commented on #44
ESLint tool has been added in #81. Now, it's time to decide what should be linted and in what way. ESLint has lots of [rules](http://eslint.org/docs/rules/) that can be checked, organized in several groups:

- [ ] [Possible errors](http://eslint.org/docs/rules/#possible-errors)
- [ ] [Best practices](http://eslint.org/docs/rules/#best-practices)
- [ ] [Strict mode](http://eslint.org/docs/rules/#st

[2015-11-23 21:53] rchavarria opened #83 "Figure out a way to remove duplication between main and individual exercises `gulpfile.js`"
Currently, the main `gulpfile.js` file is just copied into each individual exercise when running the `make` command at development time. Keeping them synchronized by copying is not the best way to remove duplication.

Figure out a better way to share code between all `gulpfile.js` files and remove duplication.

[2015-11-23 21:55] rchavarria opened #84 "Figure out a way to keep synchronized main and individual exercises `package.json` file"
Currently, there is no way to keep synchronized the main `package.json` file with the same file for individual exercises. It's mandatory to keep synchronized at least the `dependencies` section, because all exercises will use the same NodeJS packages to let users lint, transpile and run code tests.

Figure out a way to keep the synchronization.

[2015-11-23 21:59] rchavarria opened #85 "Add new exercise: Allergies"
Take the Allergies exercise from xjavascript.

[2015-11-23 22:00] matthewmorgan commented on #84
It would be possible to do this the same way as the gulpfile, by adding a
line to the makefile.

I don't know how the exercism app decides what content to deliver, that
seems like the best ultimate solution, but what about the makefile for now?

On Mon, Nov 23, 2015 at 4:55 PM, Rubén Chavarría <notifications@github.com>
wrote:

--
Matt Morgan
Director of Technology
Dulcet Software LLC
(734) 926-81

[2015-11-23 22:08] matthewmorgan commented on #82
@rchavarria it looks to me like it's just a matter of changing the three references to Traceur, along with the hyperlinks.  Am I missing anything?

[2015-11-23 22:52] matthewmorgan commented on #85
closed by 6046ea8

[2015-11-23 22:52] #85 closed

[2015-11-24 13:53] matthewmorgan commented on #44
@rchavarria At first consideration, without getting in to each of the available rules, it seems like we can omit two groupings:
1) Node.js and CommonJS: doesn't seem relevant.  Am I wrong?
2) Strict mode: this declaration is not needed in ES6, right?

Include some:
1) Possible errors (most if not all)
2) Best practices (most if not all)
3) Variables (most if not all)
4) ES 2015 (some of this seems

[2015-11-24 14:54] kytrinyx commented on #44
I think the stylistic questions should be left to the users in languages where there's traditionally more than one way to do things. In Python and Go, for example, it would make sense to encourage following the standard style guide. In Ruby (and probably JavaScript...) not so much!

[2015-11-24 14:56] kytrinyx commented on #82
I'm going to move all of the documentation over to the language-specific repositories today and serve it from the problems api: https://github.com/exercism/exercism.io/pull/2628

I'll be getting rid of the help.exercism.io app altogether.

[2015-11-24 16:02] rchavarria commented on #84
Yep, I think that is the easiest way for now.

The problem is that only dependencies are strictly the content that needs to be synchronized. It would be nice to have customized values in `package.json` for fiels such as: `name`, `version`, `description`,...

That could be the final goal. Meanwhile, copying the whole file seems to be enough.

[2015-11-24 16:11] rchavarria commented on #82
@matthewmorgan We could wait until @kytrinyx moves the documentation. And yep, you're right, we should update the doc and point to Babel instead of Traceur. It's just a matter of links, and it doesn't affect to exercises code.

[2015-11-24 16:12] kytrinyx commented on #82
I'm going to work on the documentation today, and since it will be in your own repository after that it will be much, much easier to fix!

[2015-11-28 14:18] matthewmorgan opened #90 "Add new exercise Strain"
I will port the exercise 'Strain' from the JS track to this track.

[2015-11-28 15:16] kytrinyx commented on #82
Fixed in #89

[2015-11-28 15:16] #82 closed

[2015-11-28 22:10] matthewmorgan opened #92 "Add new exercise atbash-cipher"
I will port this from the JS track.

[2015-11-29 00:01] matthewmorgan opened #94 "Add new exercise accumulate"
I will port this exercise from the JS track.

[2015-11-29 11:53] matthewmorgan opened #96 "Add new exercise crypto-square"
I will port this from the JS track.

[2015-11-29 12:25] matthewmorgan opened #98 "Add new exercise trinary"
I will port this from the JS track.

[2015-11-29 16:52] matthewmorgan opened #100 "Add new exercise sieve"
I will port this from the JS track.

[2015-11-30 13:09] #90 closed

[2015-11-30 14:19] matthewmorgan opened #102 "Conflicts in config.json with multiple new exercises"
@kytrinyx whenever there is more than one pending PR for a new exercise, merging one creates a conflict in `config.json`.  Not a huge deal, but it does complicate splitting up the work of adding new exercises.

Is there a way to remove the dependency on `problems[]`, maybe by building the list dynamically from the directory names or putting a config.json file in each exercise directory?

[2015-11-30 18:48] matthewmorgan opened #103 "Add new exercise simple-cipher"
I will port this from the JS track.

[2015-11-30 19:37] matthewmorgan opened #105 "Add new exercise octal"
I will port this from the JS track.

[2015-11-30 20:49] #103 closed

[2015-11-30 20:50] rchavarria commented on #105
Closed by #106

[2015-11-30 20:50] #105 closed

[2015-11-30 21:07] kytrinyx commented on #102
Could the exercises be added somewhere before the end of the list? It only gets conflicts if two exercises are added at the same position (e.g. the end of the list).

I don't want to build the list dynamically, because not all the directories are exercises. Also, some exercises get deprecated, but still have to be there in order for people to be able to restore their old work.

[2015-11-30 21:14] matthewmorgan commented on #102
Yes, I could skip ahead and add the last exercise, then any added at that point would be not at the end of the list.  No one has gotten that far on the ES track yet anyway that I can see.

I don't really know how git detects a conflict-- I assumed it was by line number in the file.  If that's true, I think we would still have the same problem adding to the middle with concurrent unmerged branches

[2015-11-30 21:19] kytrinyx commented on #102
No, git doesn't use line numbers. It doesn't use files at all, actually.

[2015-11-30 21:37] matthewmorgan commented on #102
I did a little further reading, and it looks like the conflict results if "neighboring lines" are modified.  I think that adding the trailing comma on the old last exercise preceding each new exercise might be the source of the conflict.  Otherwise they're distinct new additions.

Worth a try?

[2015-11-30 21:51] kytrinyx commented on #102
No, the source of the conflict is that both new exercises get added at the same location (neighboring line).

e.g.

[code]

The neighboring line is "hello-world", and both PRs want to put it in the same location. Git can't guess in this situation.

[2015-11-30 21:53] rchavarria commented on #100
Closed by #101

Thanks @matthewmorgan

[2015-11-30 21:53] #100 closed

[2015-11-30 22:06] rchavarria commented on #96
Another one! Thanks!

[2015-11-30 22:06] #96 closed

[2015-11-30 22:10] matthewmorgan commented on #102
OK, so it sounds like any successive pending PRs need to have config.json edited in unique locations for this to work?  IE adding to the middle only works if you add to a different part of the middle for successive pending PRs?  Sorry to be dense...

[2015-11-30 22:13] rchavarria commented on #92
Closed by #93

[2015-11-30 22:13] #92 closed

[2015-11-30 22:17] rchavarria commented on #94
Closed by #95

[2015-11-30 22:17] #94 closed

[2015-11-30 22:22] rchavarria commented on #98
Closed by #99

[2015-11-30 22:22] #98 closed

[2015-11-30 22:30] matthewmorgan opened #107 "Reorder config.json"
The last several PRs have left config.json out of sync with the JS track.  I will put in a PR to fix that.

[2015-11-30 22:44] matthewmorgan commented on #107
Closed by #108

[2015-11-30 22:44] #107 closed

[2015-12-01 00:41] kytrinyx commented on #102
Yeah, that's how I understand it.

[2015-12-01 12:18] rchavarria commented on #102
@matthewmorgan What if we take the last exercise of JavaScript track and port it to ECMAScript? Doing so, the last problem will no longer change (in a long period of time I hope), the one without the semicolon, and we're going to avoid conflicts.

Not sure if it would work.

[2015-12-01 13:29] matthewmorgan commented on #102
@rchavarria, I don't think that will work.  If you have two branches checked out from master and add new exercises at the same line in `config.json` relative to master, merging the first one will cause a conflict in the second.

I just tested this on the CLI and it doesn't work.  It seems like that leaves us with a few options:
1) Never submit a PR to add a new exercise if there is already an unme

[2015-12-01 20:26] rchavarria commented on #102
Let's go for number 2). It requires manual work from time to time, but it allows us to submit several exercises in a row.

I don't like number 1) at all.

[2015-12-01 20:34] rchavarria opened #110 "Add new exercise: Pig latin"
Take it from the JavaScript track

[2015-12-01 21:09] rchavarria commented on #34
Sorry to reopen this issue @kytrinyx, but exercism.io does not highlight the ECMAScript syntax anymore.

I don't find the code that fixed it in the past in the current source code, and I don't know where to look for. Sorry, I can't help.

[2015-12-01 21:14] kytrinyx commented on #34
Ah, no problem. We had a fix recently to some of the syntax highlighting that must have wiped out the fix. I'll find it and fix it today (should be easy).

[2015-12-01 21:17] kytrinyx commented on #102
I think 2 sounds good as well. I often have a bunch of PRs lined up but only submit the first one, then as they're merged I rebase and fix any conflicts and push up the others one at a time, but 2 is still better than that :)

[2015-12-01 21:28] rchavarria commented on #34
Awesome! Thanks!

[2015-12-02 00:39] matthewmorgan commented on #110
Closed by #111.

[2015-12-02 00:39] #110 closed

[2015-12-02 00:41] matthewmorgan commented on #102
OK, thanks to both of you.  #2 sounds good to me!

[2015-12-02 00:41] #102 closed

[2015-12-02 01:21] #34 closed

[2015-12-02 01:21] matthewmorgan opened #112 "Default params for Hello World. undefined vs empty?"
So, I proposed to a team member that he should try using default params in hello-world.  However, it doesn't work because the first test passes an empty string rather than an undefined value.  Here's his solution: http://exercism.io/submissions/35fced9768e840df98afa4b85fbfac56

Should the first test be changed to pass an undefined value to allow the use of default params?  EG
current:
[code]
maybe

[2015-12-02 01:22] kytrinyx commented on #34
Found it. We wrote the code to make sure that we got the syntax highlighting... and then forgot to call it. :)

[2015-12-02 01:25] kytrinyx commented on #112
Ruby doesn't test for an empty string, it only does no parameter (defaults to "World") and a specific parameter: https://github.com/exercism/xruby/blob/master/hello-world/hello_world_test.rb#L18-L31

I think the proposed change makes more sense.

[2015-12-02 01:57] matthewmorgan commented on #112
OK submitted as PR #113 Thanks!

[2015-12-02 11:53] rchavarria commented on #34
Hilarious! BTW, thanks for the fix

[2015-12-02 11:57] rchavarria commented on #112
JavaScript track passes an empty string. But your proposal is better, because it allows the user to use a ES2015 functionality (the goal of this language track).

[2015-12-02 21:48] rchavarria commented on #112
Closed by #113

[2015-12-02 21:48] #112 closed

[2015-12-03 00:42] matthewmorgan commented on #43
Closed by #115

[2015-12-03 00:42] #43 closed

[2015-12-03 14:32] matthewmorgan opened #116 "Add exercise series"
I will port this from the JS track

[2015-12-03 23:23] matthewmorgan opened #118 "Add exercise difference-of-squares"
I will port this from the JS track.

[2015-12-04 13:12] matthewmorgan opened #120 "Add new exercise secret-handshake"
I will port this from the JS track.

[2015-12-04 22:55] matthewmorgan opened #122 "Add new exercise linked-list"
I will port this from the JS track.

[2015-12-05 12:01] matthewmorgan opened #125 "Add new exercise wordy"
I will port this from the JS track.

[2015-12-05 12:01] matthewmorgan opened #126 "Add new exercise hexadecimal"
I will port this from the JS track

[2015-12-05 12:57] matthewmorgan opened #127 "Add new exercise largest-series-product"
I will port this from the JS track

[2015-12-05 16:32] rchavarria commented on #120
Closed by  #121

[2015-12-05 16:32] #120 closed

[2015-12-05 16:32] rchavarria commented on #116
Closed by #117

[2015-12-05 16:32] #116 closed

[2015-12-05 16:33] rchavarria commented on #118
Closed by #119

[2015-12-05 16:33] #118 closed

[2015-12-05 16:35] rchavarria opened #128 "Add new exercise: Kindergarten garden"
Port it from xjavascript

[2015-12-06 22:05] rchavarria opened #131 "Improve test descriptions on Secret handshake"
Test descriptions are written in terms of binary numbers, but test implementations are written in terms of decimal numbers.

Write tests with hexadecimal numbers and change test descriptions. It will help users to relate both.

[2015-12-07 12:24] rchavarria commented on #122
Closed by #123

[2015-12-07 12:24] #122 closed

[2015-12-07 12:31] rchavarria commented on #125
Closed by #124

[2015-12-07 12:31] #125 closed

[2015-12-07 12:32] rchavarria commented on #128
Closed by #129

[2015-12-07 12:32] #128 closed

[2015-12-07 12:33] rchavarria commented on #131
Closed by #132

[2015-12-07 12:33] #131 closed

[2015-12-07 12:34] rchavarria opened #136 "Add new exercise: Binary search"
Port it from xjavascript track

[2015-12-07 12:55] rchavarria opened #138 "Add new exercise: Binary search tree"
Take it from xjavascript track

[2015-12-07 15:33] matthewmorgan opened #140 "Add test to robot-name to make sure internal state can't be modified"
The robot-name exercise on this track should not allow the internal state (eg robot's name) to be modified from the outside.

[2015-12-07 18:50] rchavarria commented on #127
Closed by #142

[2015-12-07 18:50] #127 closed

[2015-12-07 18:51] rchavarria opened #143 "Add new exercise: Matrix"
Take it from xjavascript track

[2015-12-07 19:02] rchavarria opened #145 "Add new exercise: Robot simulator"
Take it from xjavascript track

[2015-12-07 19:21] rchavarria commented on #126
Closed by #135.

[2015-12-07 19:21] #126 closed

[2015-12-07 19:33] #143 closed

[2015-12-07 19:33] #138 closed

[2015-12-07 19:33] #140 closed

[2015-12-07 19:34] rchavarria commented on #136
Closed by #137

[2015-12-07 19:34] #136 closed

[2015-12-07 19:40] rchavarria commented on #145
Closed by #146

[2015-12-07 19:40] #145 closed

[2015-12-07 22:31] rchavarria opened #148 "Add new exercise: nth prime"
Take it from xjavascript track.

[2015-12-07 23:11] rchavarria opened #150 "Add new exercise: Pascal's triangle"
Take it from xjavascript track.

[2015-12-09 21:00] rchavarria commented on #148
Closed by #149

[2015-12-09 21:00] #148 closed

[2015-12-10 00:25] matthewmorgan opened #152 "Add new exercise say"
I will port this from the JS track

[2015-12-10 01:39] matthewmorgan opened #154 "Add new exercise custom-set"
I will port this from the JS track

[2015-12-10 11:39] matthewmorgan opened #156 "Add new exercise sum of multiples"
I will port this from the JS track

[2015-12-10 12:43] matthewmorgan opened #158 "Add new exercise queen-attack"
I will port this from the JS track

[2015-12-10 20:49] rchavarria commented on #150
Closed by #151

[2015-12-10 20:49] #150 closed

[2015-12-10 21:12] rchavarria commented on #156
Closed by #157

[2015-12-10 21:12] #156 closed

[2015-12-10 21:12] rchavarria commented on #158
Closed by #159

[2015-12-10 21:12] #158 closed

[2015-12-11 11:42] matthewmorgan opened #160 "Add new exercise saddle-points"
I will port this from the JS track

[2015-12-11 22:50] matthewmorgan opened #162 "Add new exercise ocr-numbers"
I will port this from the JS track

[2015-12-12 00:38] matthewmorgan opened #164 "Add new exercise meetup"
I will port this from the JS track

[2015-12-12 01:05] matthewmorgan opened #166 "Add new exercise bracket-push"
I will port this from the JS track

[2015-12-14 21:12] rchavarria commented on #162
Closed by #163

[2015-12-14 21:12] #162 closed

[2015-12-14 21:13] rchavarria commented on #160
Closed by #161

[2015-12-14 21:13] #160 closed

[2015-12-14 21:17] rchavarria commented on #152
Closed by #153

[2015-12-14 21:17] #152 closed

[2015-12-14 21:30] rchavarria commented on #164
Closed by #165

[2015-12-14 21:30] #164 closed

[2015-12-14 21:38] rchavarria commented on #154
Closed by #155

[2015-12-14 21:38] #154 closed

[2015-12-14 21:46] rchavarria commented on #166
Closed by #167

[2015-12-14 21:46] #166 closed

[2015-12-14 21:47] rchavarria opened #168 "Add new exercise: Two bucket"
Take it from xjavascript track

[2015-12-14 22:07] matthewmorgan opened #170 "Clean up underscores from meetup exercise tests and code"
Underscores serve no real purpose in the `example.js` for this exercise, and are not needed in the test descriptions.  Let's remove them.

[2015-12-15 11:41] matthewmorgan commented on #168
Closed by #169

[2015-12-15 11:41] #168 closed

[2015-12-15 21:28] rchavarria opened #172 "Beer song: add a test to check the whole song"
Add a test that checks the whole song is returned:

[code]

[2015-12-15 23:12] matthewmorgan commented on #172
Is @StevenACoffman going to put in a PR for this, or did you intend to do it?

[2015-12-16 08:04] rchavarria commented on #172
I'd let @StevenACoffman decide if he wants to work on this or not.

For the moment, I'm not planning to work on this. If @StevenACoffman isn't working on this, you can do it.

[2015-12-16 16:09] StevenACoffman commented on #172
I'm not going to be able to get to this for a few days, so by all means
feel free. Thanks.
-Steve

On Wed, Dec 16, 2015 at 3:04 AM, Rubén Chavarría <notifications@github.com>
wrote:

[2015-12-16 17:10] matthewmorgan commented on #172
Ok if find some time I will assign this to myself.  Otherwise it's all yours Steve.

[2015-12-16 23:12] matthewmorgan commented on #172
Closed by #173

[2015-12-16 23:12] #172 closed

[2015-12-21 01:31] matthewmorgan opened #176 "Next submission acts strangely"
@kytrinyx I think when the 'next submission' button is clicked in the GUI, the user is supposed to see the next available submission of whatever solution they were viewing at the time, IE a different user's submission.

When I click this button, I instead get whatever solution I previously submitted, IE a solution to a different problem.  Then, sometimes, I get 404.

I'm guessing this is an issue

[2015-12-21 19:43] kytrinyx commented on #176
Probably, yes.

The behavior isn't quite what I want yet, but the "next" is supposed to depend on what filters you have on the http://exercism.io/inbox page.

See https://github.com/exercism/exercism.io/issues/2585

[2015-12-21 21:25] rchavarria opened #177 "Robot name: add test to check names are generated randomly"
`README` file says that the solution should generate robot names randomly, but it's not forced by any test. Add such a test that check, at least, that robot names are not generated sequentially.

[2015-12-21 21:32] matthewmorgan commented on #177
Just wondering how we can test this?  I think it may not be possible.

It's entirely possible (though very unlikely) that a set of randomly generated names could in fact be sequential.  How can we tell the difference?

imagine putting 10 names in a hat and drawing them 'randomly'.  It is certainly conceivable that the names could be drawn in alphabetical order.

[2015-12-21 21:52] rchavarria commented on #177
Absolutely. I think that discussion already happened on xjavascript track (well kind of [xjavascript#105](https://github.com/exercism/xjavascript/issues/105))

Let's assume names are generated randomly. Testing two robot names has a certain probability to be sequential: `AA123` and `AA124`. But, testing three names, the probability will be much lower: `AA123`, `AA124` and `AA125` is much more diff

[2015-12-21 22:18] matthewmorgan commented on #177
Yeah, I guess it's just a little weird-- I could have a functioning solution that generates a random sequence, and it could fail bc my solution generates two (or three) names that just happen to be sequential.

BTW I think the chance of three successive sequential names is (1/675999)*(1/675998), or 2.19 x 10^-12.  About 2 in a trillion.  Really small.

[2015-12-22 08:20] rchavarria commented on #177
Agree. The probability to have 3 succesive sequential names is really small. It could work.

But, the problem is how to check that two given names are sequential. I can only think of a solution that almost solves the exercise itself, and that should not be the goal of tests.

[2015-12-22 13:05] matthewmorgan commented on #177
How about something like this?  Obviously the test isn't set up to test three names in this example, but this is the principle:

[code]

[2015-12-23 22:06] rchavarria commented on #177
Yeah! Exactly. `areSequential` is a method we could use in the test to check that two or three robot names are not consecutive.

In fact, I've been thinking, and I came up with a solution quite similar to your `areSequential` (but I have no code yet, you win). The idea is to calculate a numerical decimal value of the given name. That value would be calculated as if it was a natural number. Given a

[2015-12-24 02:02] matthewmorgan commented on #177
it sounds like our ideas are very similar, so great.

I am happy to create the tests and PR.

[2015-12-29 21:46] matthewmorgan commented on #177
Closed by #180.

[2015-12-29 21:46] #177 closed

[2015-12-30 12:38] rchavarria opened #182 "Build process fails when an exercise use a NodeJS module"
A nice way to add dependencies to some exercises would be to add those to the `package.json` file.

If a new dependency is added, and an individual exercise uses that dependency in the specs file (i.e.: tests need to use an external library), running tests inside the exercise folder works. But the build process (`make` command) fails.

Find a way to use `package.json` dependencies in specs files w

[2016-01-16 12:55] matthewmorgan opened #183 "Add new exercise acronym"
I will add this modeled on the Ruby exercise

https://github.com/exercism/xruby/tree/master/acronym

[2016-01-17 20:02] rchavarria commented on #183
Closed by #184

[2016-01-17 20:02] #183 closed

[2016-01-18 14:25] rchavarria commented on #170
Closed by #185

[2016-01-18 14:25] #170 closed

[2016-01-21 00:55] kytrinyx opened #187 "Move exercises to subdirectory"
The problems api (x-api) now supports having exercises collected in a subdirectory
named `exercises`.

That is to say that instead of having a mix of `bin`, `docs`, and individual exercises,
we can have `bin`, `docs`, and `exercises` in the root of the repository, and all
the exercises collected in a subdirectory.

In other words, instead of this:

[code]

we can have something like this:

[code]

[2016-01-21 10:57] matthewmorgan commented on #187
@rchavarria I'd be happy to work on this if you like.

Perhaps you could check out my open PR #186 and we could merge that first?  If it looks good I can make the same modifications to the JS track.

[2016-01-21 12:14] rchavarria commented on #187
Yep, it would be better to merge #186. Please, merge it if you want and you can start working on this one. It would be awesome. Root folder will be much cleaner.

[2016-01-22 12:36] matthewmorgan commented on #176
Looks like this feature has been removed from the UI, so I'm going to close this issue.

[2016-01-22 12:36] #176 closed

[2016-01-22 16:59] StevenACoffman opened #189 "ES7/ES2016 Cutover future plans"
[V8 4.9.41.0 (Chrome 49) is now at 92% ES2015 compliance](https://kangax.github.io/compat-table/es6/). When v8 implements something, it takes typically 6 weeks for that v8 version to hit stable. Then, it will take typically 6 months for Node to release a major version which would use that version of v8 having those features without an experimental flag. At some point soon, the EcmaScript track wil

[2016-01-23 23:29] matthewmorgan commented on #189
@StevenACoffman I'm not aware of a specific plan yet.  I brought it up very generally with @kytrinyx in #130 just recently.

I think that might make sense-- have the JS track be reserved for things that are very widely supported, and have the ES track look forward.  I would be curious to see what @kytrinyx and @rchavarria think about this.

[2016-01-24 17:11] kytrinyx commented on #189
I like the idea of using the ES track to look forward and the javascript track for things that are widely supported.

[2016-01-25 15:53] rchavarria commented on #189
It seems to me that both tracks are quite similar. I was wondering if they could be merged or not. I wouldn't merge the JS one, because it has thousands of iterations and it has tons of users. On the other hand, I wouldn't merge the ES, because we would lose the opportunity to bring the bleeding edge features to users.

For now, I'd also keep both tracks: JS for widely supported features, ES for t

[2016-01-25 16:15] matthewmorgan commented on #187
Closed by #188

[2016-01-25 16:15] #187 closed

[2016-01-29 23:45] kytrinyx opened #191 "triangle: incorrect test in some tracks"
Please check if there's a test that states that a triangle with sides 2, 4, 2 is invalid. The triangle inequality states that for any triangle, the sum of the lengths of any two sides must be greater than or equal to the length of the remaining side. If this doesn't affect this track, go ahead and just close the issue.

[2016-01-30 00:22] matthewmorgan commented on #191
Tested and legal in this track.

[2016-01-30 00:22] #191 closed

[2016-01-30 15:47] kytrinyx commented on #191
+1 thanks!

[2016-02-16 15:31] rchavarria opened #196 "Make a distinction between JavaScript and ECMAScript tracks"
As discussed in [exercism.io#2750](https://github.com/exercism/exercism.io/issues/2750).

[2016-02-26 13:10] #196 closed

[2016-02-26 13:11] matthewmorgan commented on #44
I think this is resolved.  Please let me know if not.  Thanks everyone!

[2016-02-29 22:13] rchavarria commented on #44
In my opinion, there's still some work to do here. Well, I have to admit that there hasn't been too much activity related to this issue recently, but there are some point like: *Best practices* or *Variables* that I would like to address (see [comment](https://github.com/exercism/xecmascript/issues/44#issuecomment-159076263) above).

Are you ok with this? We could open a different issue, but I wou

[2016-02-29 22:32] matthewmorgan commented on #44
@rchavarria of course!  that's why I asked.  Sorry for overlooking the remaining tasks.

[2016-03-09 20:56] rchavarria opened #202 "largest-series-product: Should tests test for implementation details (slices, digits)?"
Address discussion on [x-common#192](https://github.com/exercism/x-common/issues/192).

Check if this language track tests implementation details. If so, try to include some hints as in an [Elixir exercise](https://github.com/exercism/xelixir/tree/master/exercises/zipper/hints).

[2016-03-13 19:54] kytrinyx opened #204 "Verify "Largest Series Product" exercise implementation"
There was some confusion in this exercise due to the ambiguous use of the term _consecutive_ in the README. This could be taken to mean _contiguous_, as in consecutive by position, or as in _consecutive numerically_. The the README has been fixed (https://github.com/exercism/x-common/pull/200).

**Please verify that the exercise is implemented in this track correctly** (that it finds series of con

[2016-03-14 10:06] andreasolund opened #205 "Missing test script in package.json"
I noticed that all excercises are missing an npm test script in their package.json. Probably a suffiecient solution is to add: `"test": "gulp test"` in the script block in the master [package.json](https://github.com/exercism/xecmascript/blob/master/package.json) and re-run the _makefile_ that replaces each exercises package.json.

Note that this was previously discussed in [Pull Request #13](http

[2016-03-14 20:24] matthewmorgan commented on #202
@rchavarria I think this is OK.  This exercise is pretty straightforward and well explained in the README.

[2016-03-14 21:16] rchavarria commented on #205
Yeah, I didn't notice that.

Tests are thought to be run with `gulp test` or `gulp lint test` commands instead of `npm test`. But, there is no a big difference of using one or another. I would be happy to hear some reasons on why we should have it (please, sorry for my poor English vocabulary if this sounds too rude).

@matthewmorgan Any thought about this? I don't mind to have a `test` script on

[2016-03-14 21:20] matthewmorgan commented on #205
@rchavarria I have no strong feelings either for or against it.  It would not be a big deal to change it.

@andreasolund I think your suggestion would work-- maybe you would like to create a PR for this change?

[2016-03-14 21:28] rchavarria commented on #202
Yep, totally agree. I just saw this issue, the PR #203 and the PR on the xjavascript.

Nice, very great job!

[2016-03-14 21:28] #202 closed

[2016-03-14 21:32] rchavarria commented on #205
I see it as a common practice for node projects, so it's ok for me too.

[2016-03-14 21:48] rchavarria commented on #204
None of the tests included in this track violates rules stated in the `README`.

But, there are interesting cases in the canonical inputs/outputs that could be added:

[code]
And, one case that explains the weird (I found it weird the first time I read the specs) spec that returns `1` (the spec already exists, but not the explanation):

[code]

[2016-03-15 08:09] andreasolund commented on #205
Sure, I can try to make a PR for it tonight. I agree with @rchavarria that the script should be: `"test": "gulp lint test"` to get the desired result. I think it would be great to provide a widely accepted solution that makes the experience feel familiar between languages, like the exercism exercises in Go where you use `go test`!

[2016-03-15 11:30] matthewmorgan commented on #204
@rchavarria that last one is weird.  I thought it was in this track, but I must be remembering the java track.

[2016-03-16 20:01] matthewmorgan commented on #205
Closed by #206.  Thanks @rchavarria and @andreasolund !

[2016-03-16 20:01] #205 closed

[2016-03-23 12:32] petertseng opened #207 "Pass explicit list of multiples in "Sum of Multiples" exercise rather than defaulting to 3 and 5"
Hello, as part of https://github.com/exercism/x-common/issues/198 we'd like to make the sum of multiples exercise less confusing. Currently, the [README](https://github.com/exercism/x-common/blob/master/sum-of-multiples.md) specifies that if no multiples are given it should default to 3 and 5.

We'd like to remove this default, so that a list of multiples will always be specified by the caller. Th

[2016-03-25 11:57] matthewmorgan commented on #207
The exercise as it stands DOES default to `[ 3, 5 ]` if no list is passed.

I'll put in a PR to change this.

[2016-03-29 01:37] petertseng commented on #207
as the linked PR is merged, we are all good for this track.

[2016-03-29 01:37] #207 closed

[2016-04-02 17:20] kytrinyx opened #209 "Verify that nothing links to help.exercism.io"
The old help site was deprecated in December 2015. We now have content that is displayed on the main exercism.io website, under each individual language on http://exercism.io/languages.

The content itself is maintained along with the language track itself, under the `docs/` directory.

We decided on this approach since the maintainers of each individual language track are in the best position to

[2016-04-04 21:05] rchavarria commented on #209
I verified it when HEAD was at commit [a20a15b](https://github.com/exercism/xecmascript/commit/a20a15b24b3c9f6435c34124d7b38292d4864c3d) (sorry, not sure how to link commits).

![grep-help-exercism-io](https://cloud.githubusercontent.com/assets/612688/14263184/7447c0d8-fab9-11e5-9d9d-b6465dc3d9cf.png)

@kytrinyx I think this track is free of "help.exercism.io" references and the issue can be close

[2016-04-04 23:47] #209 closed

[2016-04-04 23:47] kytrinyx commented on #209
Looks good!

[2016-04-05 17:00] matthewmorgan commented on #204
@rchavarria are you proposing that we implement the 'interesting cases' you mentioned above?  Let me know,  is be happy to?

[2016-04-05 20:22] rchavarria commented on #204
@matthewmorgan Yep, that cases are in the canonical inputs/outputs, but not on the track, so it would be nice to have them. Feel free to add them if you want.

[2016-04-05 21:28] matthewmorgan commented on #204
OK I just tried to push this change, guessing GitHub is still having some issues.  Will try again soon.

[2016-04-06 19:58] #204 closed

[2016-04-06 23:53] kytrinyx commented on #209
Don't mind me.

I'm adding a reference so we get a visual "todo" list in the top level issue,
https://github.com/exercism/todo/issues/181

[2016-04-07 02:38] kytrinyx opened #212 "scrabble-score: replace 'multibillionaire' with 'oxyphenbutazone'"
The word _multibillionaire_ is too long for the scrabble board. _Oxyphenbutazone_, on the other hand, is legal.

Please verify that there is no test for _multibillionaire_ in the scrabble-score in this track. If the word is included in the test data, then it should be replaced with _oxyphenbutazone_. Remember to check the case (if the original is uppercase, then the replacement also should be).

I

[2016-04-07 02:48] kytrinyx opened #213 "binary: improve tests for invalid numbers"
We should have separate tests for:

- alphabetic characters at the beginning of a valid binary number
- alphabetic characters at the end of a valid binary number
- alphabetic characters in the middle of an otherwise valid binary number
- invalid digits (e.g. 2)

If the test suite for binary has test cases that cover these edge cases, this issue can safely be closed.

See https://github.com/exercis

[2016-04-07 02:58] kytrinyx opened #214 "rna-transcription: don't transcribe both ways"
I can't remember the history of this, but we ended up with a weird non-biological thing in the RNA transcription exercise, where some test suites also have tests for transcribing from RNA back to DNA. This makes no sense.

If this track does have tests for the reverse transcription, we should remove them, and also simplify the reference solution to match.

If this track doesn't have any tests for

[2016-04-07 11:26] matthewmorgan commented on #212
This track DOES use 'multibillionaire.'  I'll put in a PR to replace it.

[2016-04-07 11:42] matthewmorgan commented on #214
This track is OK.

[2016-04-07 11:42] #214 closed

[2016-04-07 11:47] matthewmorgan commented on #213
Of the items listed above, this track lacks a test for:

invalid characters in the middle of an otherwise valid binary number.

[2016-04-07 17:08] kytrinyx opened #216 "clock: canonical test data has been improved"
The JSON file containing canonical inputs/outputs for the Clock exercise has gotten new data.

There are two situations that the original data didn't account for:

- Sometimes people perform computation/mutation in the display method instead of in add. This means that you might have two copies of clock that are identical, and if you add 1440 minutes to one and 2880 minutes to the other, they displ

[2016-04-07 20:19] #212 closed

[2016-04-07 20:55] matthewmorgan commented on #213
Closed by #217

[2016-04-07 20:55] #213 closed

[2016-04-14 13:56] rchavarria commented on #216
PR #218 synchronizes this exercise with canonical test data at https://github.com/exercism/x-common/blob/master/clock.json

I hope that allows me to close the issue.

[2016-04-14 13:56] #216 closed

[2016-04-26 00:23] ryanplusplus opened #220 "Grains: the provided BigInt implementation fails linter"
Running `npm test` with an empty `grains.js` implementation yields:

[code]

I needed to modify `package.json` to omit lint from the test script in order to run `npm test` successfully.

[2016-04-28 02:05] masters3d commented on #189
What are the advantages of keeping a cutting edge track (ECMA) and the current (JS) track?
Wouldn't the JS eventually adapt the new ECMA features and become just "JS"?
Personally I see Typescript a little ahead of ECMA6/7 but I've been reluctant to start a new track because of the similarities with the current ECMA track.
In the Swift track we drop support for the old version as soon as Apple make

[2016-04-28 21:04] rchavarria commented on #189
I still agree with @kytrinyx: JS track for widely supported features (pre-ES2015) and ECMAScript track for more recent ones. There will be a point in the future where ES2015 and probably newer features will be widely supported by browsers. But, for now, I would keep them.

About merging ECMAScript and TypeScript... I'm not sure what new features brought by TypeScript would be useful for small exer

[2016-04-29 02:27] kytrinyx commented on #189
I think that at the point where JS and ECMAScript have become the same thing, we can deprecate the ECMAScript track. It will have served its purpose.

[2016-05-01 15:16] rchavarria commented on #220
Oops. You're right.

Gulp tasks were splitted: `test` to only run tests, `lint` just to lint source files. `script` portion of `package.json` file was untouched and it still contains `gulp lint test`.

In this particular exercise, `lint` fails because `big-integer.js` is a small library got from https://github.com/peterolson/BigInteger.js, so it can be skipped while linting.

The solution to your

[2016-05-08 14:18] ireddick opened #224 "word-count: 'prototype' is not a property on the Object prototype"
Relevant test: 'handles properties that exist on Object’s prototype'

As 'prototype' isn't a standard property on the Object prototype,
the test doesn't actually check the case of dealing with a property name collision.

The 'constructor' property is a standard, however:

es5: http://www.ecma-international.org/ecma-262/5.1/#sec-15.2.4
es6: http://www.ecma-international.org/ecma-262/6.0/#sec-proper

[2016-05-10 16:00] #220 closed

[2016-05-16 18:41] IanWhitney opened #226 "Changes to Custom Set tests"
We recently rewrote the test suite for Custom Set. Since this track implements Custom Set, please [take a look at the new custom_set.json file](https://github.com/exercism/x-common/blob/master/custom-set.json) and see if your track should update its implementation or tests.

The new test suite reorders tests so that students can get to green quickly. It also reduces the number of tests so that stu

[2016-05-19 17:13] karuppiah7890 opened #227 "package.json for each assignment"
Why keep a package.json file inside each assignment directory? This way I have to install the dependencies each time. I feel you could keep package.json inside the ecmascript folder

![issue](https://cloud.githubusercontent.com/assets/12808424/15402683/1da02478-1e13-11e6-943d-1c44965a4391.png)

[2016-05-20 07:23] rchavarria commented on #227
Yep, you're right. It's a bit messy. And it's causing some problems, becuase each exercise has its own dependencies, but, the way it works (we implemented it), forces us to use the same `package.json` for all exercises. There is a issue to work on this (#84), but I didn't have time to think deeply about it.

Each exercise is supposed to be independent from each other. And, when a exercism.io user

[2016-05-20 10:27] karuppiah7890 commented on #227
I didn't get the part about "forces us to use the same ```package.json``` for all exercises"

And yeah, I get it that you want to keep the exercises independent. So that, people can download them independently and only the exercises they want and may be skip others. And yeah, I will look upon this - I still don't know about the testing files and what other modules are present in the dependencies a

[2016-05-20 10:54] #224 closed

[2016-05-24 06:53] rchavarria commented on #227
At the beginning, with just two or three exercises, it was ok to have several `package.json` files, unconnected files. But when the track started to grow, and one needed to change lots of files in the same way, we came up with a solution: just have a main `package.json` on the root folder, and propagate with a script the changes to all exercises.

It's not the ideal solution, and it's the reason b

[2016-05-24 06:53] #227 closed

[2016-05-28 17:28] IanWhitney opened #228 "New tests for the Pangram problem"
We have found that the Pangram tests miss edge cases allowing students to pass all of the current tests with an incorrect implementation.

To cover these cases we have added new tests to the Pangram test set. Those new tests were added [in this commit](https://github.com/exercism/x-common/commit/1cc803d847d146faf460982617fad2c2194d3dd2#diff-aadf160c690615b0ad89e2f12b8e779b)

Since this track imple

[2016-06-02 23:43] ryanplusplus opened #229 "Updated tests for the Custom Set problem"
In order to reduce the amount of code required to pass incremental tests (assuming that users pass tests starting from the top), the order of the tests was modified slightly.

Since this track implements Custom Set, please take a look at the new custom-set.json file and see if your track should update its tests.

If you do need to update your tests, please refer to this issue in your PR. That help

[2016-06-05 11:56] matthewmorgan commented on #226
Closed in favor of #229.

[2016-06-05 11:56] #226 closed

[2016-06-05 11:57] matthewmorgan commented on #228
This track is up to date with these tests.

[2016-06-05 11:57] #228 closed

[2016-06-13 14:18] kytrinyx opened #231 "Copy track icon into language track repository"
Right now all of the icons used for the language tracks (which can be seen at http://exercism.io/languages) are stored in the exercism/exercism.io repository in `public/img/tracks/`. It would make a lot more sense to keep these images along with all of the other language-specific stuff in each individual language track repository.

There's a pull request that is adding support for serving up the t

[2016-06-25 22:49] rchavarria commented on #231
I added *good first patch* and *first-timers only* to this issue because I think it's a great opportunity to get over the fear of start contributing to a project.

If it has to be done before a given date, we can wait for one or two weeks before that date. If nobody took care of it, any maintainer should do it.

The icon is just waiting to be added.

[2016-07-07 06:23] #231 closed

[2016-07-28 21:07] rchavarria opened #235 "Avoid repeating `npm install` on each exercise"
Some people find it tedious and a waste of time to have to install NodeJS packages everytime they want to solve an exercise (take a look at [exercism.io#2972](https://github.com/exercism/exercism.io/issues/2972#issuecomment-234415633)).

In that discussion, we reached to a solution: improve the documentation on `/docs/INSTALATION.md` to guide users to install all dependencies on `<EXERCISM_HOME>/e

[2016-08-18 19:26] kytrinyx opened #237 "Update config.json to match new specification"
For the past three years, the ordering of exercises has been done based on gut feelings and wild guesses. As a result, the progression of the exercises has been somewhat haphazard.

In the past few months maintainers of several tracks have invested a great deal of time in analyzing what concepts various exercises require, and then reordering the tracks as a result of that analysis.

It would be us

[2016-10-12 14:39] matthewmorgan opened #243 "Remove dependency on Babel"
Since version 4.0, NodeJS has supported most ES6 features out of the box.  Node is now 6.5, and according to [kangax](http://kangax.github.io/compat-table/es6/#node65), supports ES6 at 97%, where Babel is only at 71%.

Because all tests run in Node, it doesn't make any sense to transpile this code anymore.

@rchavarria Let's clean this up!

[2016-10-13 14:31] rchavarria commented on #243
It would be great! I've heard that modules (functionality provided by the `export` and `import` keywords) is one key functionality that is not supported (at least) for browsers.

If all tests pass without transpiling in NodeJS v6.x I won't have any problem removing Babel. In fact, NodeJS version 6.x is going to be a long time support (LTS) very soon (18th October). So, it's a good time to start tr

[2016-10-15 13:03] matthewmorgan commented on #243
@rchavarria, I did some investigation and in fact you are right about the modules.  This is not a big deal, but it would require that all the exercises be refactored to use `require`, so that's a bit of work for sure.

There's gigantic jump in ES6 compatibility with node 6.8 according to this reference: http://node.green/ so if we were to switch I would say that is the version to use, otherwise ev

[2016-10-18 07:09] rchavarria commented on #243
Hmmm, on one side, I'm lazy and I'd prefer to wait for ES6 modules to be supported. On the other hand, it's not clear that it will be implemented. And probably, `require` will still work for a long time.

I'm not sure yet, but I'd keep this track as it is. If we remove Babel, it'll be exactly as the JavaScript track (just with a newer version of NodeJS). Well, at some point in the future, both tra

[2016-11-20 15:15] kytrinyx opened #244 "Investigate track health and status of the track"
I've used Sarah Sharp's [FOSS Heartbeat](https://github.com/sarahsharp/foss-heartbeat) project to generate stats for each of the language track repositories, as well as the x-common repository.

The Exercism heartbeat data is published here: https://exercism.github.io/heartbeat/

When looking at the data, please disregard any activity from me (`kytrinyx`), as I would like to get the language track

[2016-11-21 10:32] rchavarria commented on #244
Commented on [exercism/discussions#97 (comment)](https://github.com/exercism/discussions/issues/97#issuecomment-261900344)

[2016-11-21 10:32] #244 closed

[2016-11-23 20:27] ryanplusplus opened #246 "Create separate npm scripts for testing and testing+linting"

[2016-11-23 20:27] ryanplusplus opened #247 "Don't suggest that gulp be installed globally"
Instead point users to the `npm test` script

[2016-11-24 21:07] #246 closed

[2016-11-24 21:07] #247 closed

[2016-12-01 16:33] tejasbubane commented on #235
Adding `PATH` (and `NODE_PATH` as some solutions suggest) did not work for me.

Changing directory is not and won't ever be supported I suppose: https://github.com/npm/npm/issues/775

[2016-12-01 17:37] tejasbubane commented on #235
Can we switch to `yarn`? It is crazy fast (more so with cached packages). Here is a comparison of `npm` and `yarn` on one exercise:

[code]

without cache:
[code]

with cache:
[code]

Considerably less frustrating than waiting for npm install to complete for every exercise.

[2016-12-02 14:44] tejasbubane opened #248 "rna-transcription has missing test cases"
As per x-common's canonical data, some tests which handle invalid input are missing: https://github.com/exercism/x-common/blob/master/exercises/rna-transcription/canonical-data.json#L40-L54

[2016-12-03 01:52] #248 closed

[2016-12-03 17:49] rchavarria commented on #235
I see. Maybe, installing dependencies in a different directory that the working directory is not a good idea, based on [npm/npm#775](https://github.com/npm/npm/issues/775).

Yep, I've heard `yarn` is much faster installing packages than `npm`. But I'm a bit afraid about forcing users to install yet another tool. From a novice exercism user, it can be overwhelming.

Is `yarn` 100% compatible with `

[2016-12-06 07:19] tejasbubane commented on #235
Yarn is compatible with npm in terms of pulling packages from npm registry and running scripts, although it does not have all commands/options that npm does.
ref: https://yarnpkg.com/en/docs/migrating-from-npm I think in that way it is not a drop-in replacement for any project. But for our purposes, installing packages and running tests - it can be treated as npm replacement. I have been using it

[2016-12-07 17:53] rchavarria commented on #235
Nice.

You could modify the `/SETUP.md` file, add some text under the *Requirements* chapter about the posibility to use `yarn` as an alternative to `npm`, and create a PR with your changes. The conversation can continue in that PR.

@exercism/javascript Any ideas on this `npm` Vs. `yarn` subject?

[2016-12-16 18:28] kytrinyx opened #254 "Verify contents and format of track documentation"
Each language track has documentation in the `docs/` directory, which gets included on the site
on each track-specific set of pages under [/languages](http://exercism.io/languages).

We've added some general guidelines about how we'd like the track to be documented in exercism/exercism.io#3315
which can be found at https://github.com/exercism/exercism.io/blob/master/docs/writing-track-documentatio

[2016-12-19 21:36] rchavarria commented on #254
This track has all those files, and they explain what they are supposed to explain. But some content could be improved, if we feel like it.

For example, `INSTALLATION.md` recommends to install the `gulp-cli` tool (used to run tests), but now tests can be executed with `npm test` (or `npm lint test`). So, it could be simplified. And `TESTS.md` content updated with those new ways of running tests.

[2016-12-22 06:52] tejasbubane opened #255 "Gulp running the tests twice?"
I see the following output on failure of a test in `word_count`:

[code]

Notice that even the `.`s in the output are twice (12 tests => 22 `.`s + 2`F`s)

[2016-12-29 16:31] #255 closed

[2017-01-06 14:39] tejasbubane opened #259 "Babel presets? ES2016?"
I was wondering today if we should support `es2016`. More so because I feel this track should remain on the edge of ecmascript, since that is what makes it different from the javascript track.

So I looked up what preset we were using but could not find any in `gulpfile.js` (nor the `babel-preset-2016` package listed in `package.json`). Should we use a preset or was it intentional to not use one?

[2017-01-06 16:20] rchavarria commented on #259
Yep, the idea of this track is to support the newest features of JavaScript, while xjavascript will support wide spread JS features.

Maybe, there is no reference to `babel-preset-2016` in `package.json` because this track uses a sort of old version of Babel. So, a first step would be to update the track to the newest version of Babel. What do you think @exercism/javascript maintainers?

On the ot

[2017-01-11 02:12] IanWhitney opened #260 "Changes to Luhn tests"
We recently rewrote the test suite for the Luhn exercise. Since this track implements Luhn, please [take a look at the new canonical_data.json file](https://github.com/exercism/x-common/blob/master/exercises/luhn/canonical-data.json) and see if your track should update its implementation or tests.

Details on the test changes and the motivation can be found in [the PR](https://github.com/exercism/

[2017-01-11 22:13] rchavarria commented on #260
(*same as xjavascript*)

I fear the specs here are quite different from the canonical data and we should reimplement both specs and example implementation :cry:

[2017-01-22 13:34] #260 closed

[2017-02-17 00:22] masters3d commented on #189
@rchavarria The main features that TypeScript brings to the table are:
Type annotations, compile-time type checking, Type inference, Type Generics, Tagged Unions,
When these are used with more strict compiler checks like --nonNull and TSLint you get a much better experience and very similar to what ECMA4 was suppose to be (Action Script3 was ECMA4 compliant).
I have a draft here of my exploration.

[2017-02-18 15:42] rchavarria commented on #189
Find in #10 the checklist used in the past to get this track publicly available. There, you'll find some information and references about how to create a track.

[2017-02-18 15:43] rchavarria commented on #189
@masters3d Find in #10 the checklist used in the past to get this track publicly available. There, you'll find some information and references about how to create a track.

[2017-02-18 16:29] masters3d commented on #189
I meant to say to say to create a repo so I can finalize the rest of the requirements.

[2017-02-18 17:09] rchavarria commented on #189
Ok, sorry. I think we need help from @kytrinyx here :pray:

[2017-02-20 17:24] kytrinyx commented on #189
Here you are, @masters3d: https://github.com/exercism/xtypescript/issues/1 (@vivekimsit asked for it a week ago over in https://github.com/exercism/exercism.io/issues/3369

[2017-02-20 17:25] kytrinyx commented on #189
Oh, also: yesterday I put together a new repo for track requests https://github.com/exercism/request-new-language-track

[2017-03-07 01:39] masters3d opened #263 "Robot Name Test case there can be many robots"
https://github.com/exercism/xecmascript/blob/master/exercises/robot-name/robot-name.spec.js#L28

This test is assuming global state of `usedNames`. In JS5 this this the way it is because var is global. I don't think that should be the case for ES6+. I think part of it is that the class name is Robot instead of RobotName. Something like usedName or similar should be encapsulated inside the class to

[2017-03-07 05:00] masters3d commented on #235
I am using yarn in the TypeScript track. In addition to make being fast at install it also locks the packages so that everybody is using the exact version.

[2017-03-08 21:12] rchavarria commented on #263
I'm not sure if I understand you. That test has nothing to do with global state. That test checks if the class `Robot` creates a new and different name each time a new instance is created.

As it was discussed on exercism/xjavascript#105, one way to check more or less this, is to create a big number of instances and check that there are no repeated names. So, the test creates `10000` instances of

[2017-03-08 21:40] masters3d commented on #263
My understanding is that usedNames being outside of the class will keep its state even was the Robot instance is destroyed?
https://github.com/exercism/xecmascript/blob/master/exercises/robot-name/example.js#L3

[2017-03-08 21:53] matthewmorgan commented on #263
@masters3d @rchavarria I think you are each referring to two _different_ `usedNames` variables.  In the `robot-name` module, `usedNames` is created when the module is imported to the test suite.  It's not global per se, but more like a class-level variable (EG Java `static`.)  This is intentional, so that when new robot instances are created within the suite, we still know if the name was used pre

[2017-03-08 22:54] masters3d commented on #263
@matthewmorgan The reset test already makes sure that the names are random and non-sequencial. The different robots names test only checks there is some kind of "global" state after an instance is destroyed.
![image](https://cloud.githubusercontent.com/assets/6539412/23726625/c4bb66a0-0409-11e7-8a58-12bbc1c0feae.png)

Personally I don't think requiring a class variable or global variable adds anyt

[2017-03-09 20:28] rchavarria commented on #263
Sorry @masters3d, I thought you were talking about `usedNames` in the spec file. My fault. @matthewmorgan stated very well.

I don't think *different robot names* checks there is something global. But it's true that `Robot` implementation uses a static/global/module-level variable to be sure it generates different robot names each time a new instance is created or `reset` is called. Any improvemen

[2017-03-09 20:57] masters3d commented on #263
Perhaps encapsulating the global state implicitly into an object like `RobotNameGenerator` that is then explicitly required by a `Robot`  in order to initialize it.

[code]
In the case above the Robot class is only holding the name which is not too useful. The exercise is about generating robot names not robots themselves.  Alternatively, You can just create a RobotName class that only generates n

[2017-03-14 21:49] rchavarria commented on #263
I understand the idea of `RobotNameGenerator` to generate robot names and to store generated names, to avoid repetition. It's nice.

But, I'm not sure about passing it through the constructor of `Robot` (or `RobotName`). This `RobotNameGenerator` depends on how we (track maintainers) solve the problem. But that doesn't necessarily needs to be how Exercism users will solve the problem. Forcing them

[2017-03-14 21:59] masters3d commented on #263
I am not proposing that solution per se. I think the best solution is to get rid of it thus the PR.
Just feel free to close it if you are not in accordance.

I guess the next step would be to make the canonical data not introduce JS's shenanigans. :) I just don't have time for that right now.

[2017-03-17 01:40] matthewmorgan commented on #263
@rchavarria @masters3d I think there's semantic value in creating a class that manages the generation of robot names.  It is a bit more sophisticated approach and I agree that it would require the submission of two classes, or functions would serve also in JavaScript.

I don't think deleting the test is the way to go.  Making some attempt to test for randomness is worthwhile, if for no other reaso

[2017-03-17 02:05] masters3d commented on #263
We are not on the same page. As I indicated [here](https://github.com/exercism/xecmascript/issues/263#issuecomment-285196899),  randomness is being tested twice. The `different robots` test doesn't add anything that the `reset test` doesn't already catch as far as randomness goes. The tests are identical except for one tracking global state.

The implicit global state is what is confusing because

[2017-03-17 10:45] matthewmorgan commented on #263
@masters3d the reset test is not intended to test randomness, but simply that:
1. Resetting the name name of a given Robot instance
2. Ensuring that the new name does not equal the previous one.

In fact, the reset test is not even _remotely_ sufficient to make sure the names generated are random--  it only tests two names.  Even testing 10,000 names, as the current test for randomness does, is no

[2017-03-17 21:18] masters3d commented on #263
What about adding a hint file describing the requirement to never repeat a name?

https://github.com/exercism/x-common/pull/728#issuecomment-287468275

[2017-03-18 13:36] matthewmorgan commented on #263
@masters3d there is currently a requirement to that effect in the `description.md` file, are you suggesting we put it in a hint file as well?

If we were to do that, I would think that some language that makes it clear that in ES it is possible to ensure unique name generation, and that the tests look for that would be appropriate.

Does it seem like we're repeating ourselves if we do this, or cla

[2017-03-18 14:39] rchavarria commented on #263
I didn't know hints could be added to single exercises.

I don't like to provide too many hints, so that exercises remain as open as possible. That helps generating discussions in the platform. But I don't see a big issue about adding them (some users will read them, some users don't).

It feels a bit of duplication, but, as I see it, it could be done this way: the gerenal `README` file states tha

[2017-03-18 16:16] masters3d commented on #263
"In some exercism language tracks there are tests to ensure that the same name is never used twice."
Thats not a requirement. Thats opt in.

[2017-03-18 18:38] kotp commented on #263
And given the limitation, it is not possible eventually, as we run out of space... it is a discussion point that comes up on the site occasionally, depending on how they are doing on exploration.

[2017-03-20 13:22] matthewmorgan commented on #263
@rchavarria it sounds as if we need to make a decision as to whether we think that the presence of the "same name is never used twice" language in the description is enough, or if we need to add a `HINT.md` file.  Personally I have no strong feelings about it either way.

I would _not_ want us to use the adjective "global" to describe a potential solution, as global values should be discouraged as

[2017-03-21 02:53] kotp commented on #263
@rchavarria said:

I just wanted to answer "yes" to that doubt.  It is possible.  [Here is an example](http://exercism.io/submissions/cc99bc1839ab403d9afc7790b14c5652) of doing such a thing.

[2017-03-21 11:23] matthewmorgan commented on #263
@kotp thanks for your help!

[2017-03-21 20:40] rchavarria commented on #263
Ok, it's not a requirement, it's optional, but this track has opted for it. Sorry, I don't remember when, or who, but the test is there, and I'd like to keep it. I think it provides some value to the exercise.

But, I think adding a hint is a good idea. The hint could say that this track has chosen to ensure that the same name is *never* used twice, so the user needs to implement something to obey

[2017-03-21 20:54] masters3d commented on #263
Would you prefer a comment or a hint file?
https://github.com/exercism/xocaml/blob/master/exercises/robot-name/test.ml#L37

[code]

[2017-03-22 20:43] rchavarria commented on #263
Whoa! The comment idea is very interesting. Ok, nobody takes comments seriously, but it's interesting :stuck_out_tongue_closed_eyes:

What about both? hint and comment. In fact, they could be very similar.

[2017-03-23 02:21] kotp commented on #263
I think since the practitioner is going to edit the tests, they are likely to comment out the skips as they are used to doing, they are going to be in that file, when their tests fail, and that test doesn't look like the others, they are likely to read the comments.  Or at least more likely, at that point.

People are funny though, sometimes they can't see the ketchup in the door for the ketchup o

[2017-03-23 22:43] matthewmorgan opened #267 "Update infrastructure to use NodeJS 6+, `latest` babel presets"
@exercism/javascript We are using somewhat older versions of Node and Babel.  I was going to suggest to a contributor that he update his solution to incorporate generators, but he wouldn't have been able to do that without an update on our end.

Any concerns?  If not, let's make it happen!

[2017-03-26 18:30] rchavarria commented on #267
I'm have my doubts about updating Node version in xjavascript, but this track is supposed to be at the edge of the JavaScript specs. So, yeah, this track should update Node and Babel versions.

I think I can work on this issue this week, but I don't mind if anybody wants to take care of this.

[2017-04-04 15:59] kytrinyx opened #268 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-05 18:07] kytrinyx commented on #268
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-09 12:49] #263 closed

[2017-04-09 12:50] #268 closed

[2017-04-10 10:46] matthewmorgan commented on #267
@rchavarria I decided to take a crack at this.  Nearly done...

[2017-04-10 19:16] #267 closed

[2017-04-17 15:05] tejasbubane opened #272 "[Proposal] Use the Ava Test runner"
[Ava](https://github.com/avajs/ava) is a new javascript test runner that claims to be futuristic. It built-in babel which allows us to [write and run tests in ES2017](https://github.com/avajs/ava#es2017-support) without the need of any other tool.

Only thing here is that it does not compile the source code, just the tests. As mentioned in ava's README, this can be easily fixed by using [babel-reg

[2017-04-18 11:16] matthewmorgan commented on #259
@tejasbubane @rchavarria The PR that updated us to Node 7 and Babel 6 (using the `env` preset) addresses this concern I believe.  Please let me know if not, otherwise I'm going to close this ticket.

[2017-04-18 11:26] matthewmorgan commented on #272
@tejasbubane this looks very cool.  Myself I have been thinking about proposing migrating to using [Jest](https://github.com/facebook/jest), which appears to provide similar benefits.

Both projects appear similar in popularity, I'm not sure there's a compelling case for migrating to one versus the other.  My familiarity with Jest comes from its association with React, which is of course enormousl

[2017-04-18 11:42] tejasbubane commented on #259
Right. I guess this can be closes then.

[2017-04-18 11:42] #259 closed

[2017-04-19 13:11] tejasbubane commented on #272
I am more of a simple environment guy.

Correct me if I am wrong, but build env and frameworks are not the core focus of exercism. We can probably add some resources to build tools and environments in the [resources section](http://exercism.io/languages/ecmascript/resources).

I should probably investigate jest in context of exercism and see if it works the same way.
To be fair, I have become a fa

[2017-04-19 20:09] rchavarria commented on #272
I haven't heard about Ava, and I've heard about Jest a little bit. So, I have no strong opinion on any of them. But something is clear, build tools are evolving.

For this track, it started using a build tool because of the need of the transpilation step. Nowadays, it seems to be better solved *issue*.

I don't care too much if we use Ava or Jest, but it seems that any of them will simplify things

[2017-04-19 21:03] robinpokorny opened #274 "Abandon classes"
Right now all (all I've seen) exercises use and require classes to be exported. In fact, a simple static function would suffice. As seen in this example:

**Before**
[code]

**After**
[code]

Instead of focusing on the important part, developers are forced to apply this pattern. I'd also argue that it promotes a bad habit of classes overuse.

Maybe there is a hidden reason, in that case, please le

[2017-04-20 06:14] tejasbubane commented on #272
Good point. 👍

In my case, all a user needs to do is `cd` into the exercise directory, run `npm install` and then run `npm test`. The [package.json](https://github.com/tejasbubane/xecmascript-ava/blob/master/leap/package.json) has `ava` and `babel` as `devDependencies` and a `script` to run `ava`.

[2017-04-21 10:16] rchavarria commented on #274
There is a lot of discussions about use classes or not in JavaScript.

In fact, we discussed that in the past, but I don't find any link to those discussions, sorry. They probably took place on xjavascript track. @matthewmorgan Do you remember about this?

Anyway, we decided to use the *classy* approach in this track, not because it's a better practice, or a better approach, but because it was a n

[2017-04-21 10:19] rchavarria commented on #272
It looks promising. I'm worried about two things:

1. What happens to users with some completed exercises on this track? Your workflow seem identical to the current one (`npm install`, `npm test`, well the current one can be run as `gulp test`).
2. Should test specs be modified? Now, they are based on Jasmine. Does Ava follow the same approach? I mean, `describe` blocks with `it` blocks, where `it

[2017-04-21 11:25] matthewmorgan commented on #272
I can speak to one thing: Jest uses essentially the same syntax as Jasmine, FWIW.  I have so far been able to run existing tests with no modifications, although I could imagine there might be some matchers that might not work out of the box.  @tejasbubane how about Ava?

[2017-04-21 11:39] matthewmorgan commented on #274
@rchavarria as I recall, we made this change both for the reason you mentioned, and to keep the API consistent for the first several exercises.  Later we deviate from this to challenge the user and show additional approaches.

Having said that, classes in ES6 are syntactic sugar over ordinary functions.  This in itself is an important lesson to learn.  @robinpokorny if the user preferred, it would

[2017-04-21 11:53] robinpokorny commented on #274
@rchavarria I do not want to propose not to use classes at all. There surely are use cases when classes are great (and few when their use is matter of opinion). What I dislike is use of classes for simple stateless single data transformation. There should be an excersise that requires a class and another one that requires some advenced class magic ;)

@matthewmorgan The second example is shorter a

[2017-04-21 13:29] matthewmorgan commented on #274
@robinpokorny yes that syntax is nice.

I think that we do not want to have the beginner on the track switch back and forth between classes and functions for the first several exercises.

The use of classes in JavaScript is controversial, and I think arguments can be made on either side.  I feel like we've already discussed this in the past and made a decision to use this approach, but if:

1. A c

[2017-04-23 14:36] matthewmorgan commented on #272
So @rchavarria @tejasbubane I did some further checking in to this.

1. Ava does not use the same syntax, so the tests would have to be rewritten.
2. Jest can be configured to automatically transpile.  This would _greatly_ simplify the directory structure.  We could change the devDependencies in `package.json` to be simply:

[code]

and we would need to serve a `.babelrc` file:

[code]

The tests

[2017-04-25 15:04] rchavarria commented on #274
Absolutely! @matthewmorgan explained it really well! Thanks!

I see your point @robinpokorny, but I agree with @matthewmorgan. I prefer having a consistent way of requiring users to implement the first exercises. That means, that it feels overwhelming to a user with some experience to create a class for a task that could be solved with a very simple function.

[2017-04-25 15:31] rchavarria commented on #272
If Ava uses a different syntax... I wouldn't go that path.

Instead of having a `.babelrc` file, would it be possible to include it in `package.json`? I know other tools (such as ESLint) support that. It's just to have less files moving around.

I like the idea of having a linting tool. I hope npm scripts will remain simple.

What do you think @tejasbubane ?

[2017-04-25 16:16] tejasbubane commented on #272
Yes Ava uses a different syntax. So if jest works with the given syntax, (which it should since it uses jasmine under the hood) it makes sense to the Jest way. I am not sure what all config will be required and if it will comsume ES6 code directly without the need of a build tool.

I will put together a small repo with all jest config for couple of exercises [like I did for ava](https://github.com

[2017-04-25 16:19] tejasbubane commented on #84
Refer https://github.com/exercism/x-common/issues/601. A lot more tracks are facing the same issue and as of this writing there is not better solution than what we have right now - Makefile to copy into each exercise directory.

[2017-04-25 16:30] tejasbubane commented on #274
I see the first two exercises [hello-world](https://github.com/exercism/xecmascript/blob/master/exercises/hello-world/hello-world.spec.js) and [leap](https://github.com/exercism/xecmascript/blob/master/exercises/leap/leap.spec.js) expect the solution to be a `function` and not `class`. Later ones are all classes I guess. Since this is a gradual transition from functions to classes, I guess this is

[2017-04-25 18:03] matthewmorgan commented on #272
@tejasbubane @rchavarria this sounds like a good plan to me.  @tejasbubane see my comments above, it was trivial to get it working.  If we could get @rchavarria's suggestion about getting the babel config into `package.json` instead of a separate file, that would be awesome.  I played around with it for a couple of minutes without success, but if it's doable that would be preferable-- one less fil

[2017-04-25 21:01] tejasbubane opened #275 "Need a Gitter room"
We need a gitter room for `javascript`. We can have a combined room for `javascript` and `ecmascript` since the users are mostly same.

After a chat on `exercism/dev` channel in `gitter`, I was suggested to open an issue and any of the maintainers would be able to create the channel. Hence the issue.

PS: After creating the channel we should add a badge to the README.

[2017-04-26 15:03] rchavarria commented on #84
Should we close this issue then? Or maybe start a discussion on https://github.com/exercism/discussions/

[2017-04-26 15:07] rchavarria commented on #274
I'd prefer keeping the consistency. Of course, real worl is quite different. But think of totally newbies. They'll find it confusing to switch one way to another.

I'm not saying that classes are *the* right way, but it makes sense for later exercises, and it's a ES6 feature, what makes it perfect to use in this track.

[2017-04-26 15:10] rchavarria commented on #272
I know other tools use the approach of *extending* the `package.json` file. Don't spend too much time with that because I don't even know if it's possible or not. I was just speaking my mind, without knowing the possibilities of the tool. Sorry if that confused you 😞

[2017-04-26 15:52] tejasbubane commented on #274
@rchavarria Cool, I opened a PR to change `hello-world` and `leap` to class-based approach.

[2017-04-26 15:55] tejasbubane commented on #84
I don't know, we either watch out the issue there and keep this open as a reminder or close this as it is not actionable (at the moment).

[2017-04-29 21:08] matthewmorgan commented on #272
@tejasbubane I tried to reach you directly via gitter today-- I got so excited about this idea that I have opened a PR.  @rchavarria if you would have a look too please, I think this will work.  It may resolve a few other issues in the process.

[2017-04-29 21:29] matthewmorgan commented on #243
I'm going to close this issue for now.

[2017-04-29 21:29] #243 closed

[2017-04-29 21:31] matthewmorgan commented on #182
I think we could address this by adding the dependency to the main `package.json` file and running `npm install` as part of the makefile.

[2017-04-30 11:46] matthewmorgan commented on #83
This issue could be closed were #277 merged.

[2017-04-30 11:47] matthewmorgan commented on #84
#277 addresses this issue.

[2017-04-30 18:30] #272 closed

[2017-04-30 18:31] #84 closed

[2017-04-30 18:31] #83 closed

[2017-04-30 18:33] tejasbubane commented on #189
I think this can be closed since we now use the `babel-preset-env` which supports cutting-edge ecmascript. I don't have triage permissions on this repo, can you close this off @matthewmorgan ?

[2017-04-30 22:32] matthewmorgan commented on #189
@tejasbubane I agree.  `env` by default supports anything defined as `latest`.  I don't think we should go as far as supporting `stage-x` features, which are experimental and subject to change.

@StevenACoffman @rchavarria please feel free to re-open this if you have concerns or objections.

[2017-04-30 22:32] #189 closed

[2017-04-30 22:33] matthewmorgan commented on #275
@tejasbubane @rchavarria I think we need someone with more clout on the exercism github realm.  @kytrinyx ?

[2017-05-06 21:23] #254 closed

[2017-05-07 17:04] tejasbubane commented on #44
@rchavarria Do you have any plans/ideas about implementing the `best practices` and `variables` you mentioned above?

[2017-05-07 17:14] tejasbubane commented on #237
This should be reopened. Not sure how to tell probot to keep it open (ignore this issue).

[2017-05-07 18:52] joelwallis commented on #275
We definitely need a Gitter room! 🙌

[2017-05-07 19:54] joelwallis commented on #182
Is there any specific case that we would need specific packages for an exercise? I understand that students should have an easy way to test their solutions, but we solved a similar problem on `exercism/xjavascript` by using a global installation of Jasmine.

Since Exercism is supposed to teach a programming language and not libraries, platforms and/or tools, why not use a simpler approach?

[2017-05-07 19:59] joelwallis commented on #235
Is there any specific case that we would need specific packages for an exercise? I understand that students should have an easy way to test their solutions, but we solved a similar problem on `exercism/xjavascript` by using a global installation of Jasmine.

Since Exercism is supposed to teach a programming language and not libraries, platforms and/or tools, why not use a simpler approach?

[2017-05-08 09:50] tejasbubane opened #280 "Custom Exceptions are confusing"
I was solving `Circular Buffer` today and had a hard time figuring out how to create custom exceptions. That is because I was expecting the matcher to match with a `custom` exception class, but what it actually does is matches with `Error` itself.

[code]
Note `bufferEmptyException` is a function call which gives no idea what its return type should be - `Error`/`CustomError`/`String`??

For custom

[2017-05-08 12:56] kytrinyx commented on #237
@tejasbubane By default you can use the `pinned` label (created it if missing) to indicate that an issue should be ignored by probot/stale. The labels to ignore is configurable via the `.github/stale.yml` file.

[2017-05-08 13:16] matthewmorgan commented on #235
@joelwallis at the moment we need some sort of configuration file in each directory for the test runner (Jest.) I don't think we need an `npm install` for each exercise anymore.  This is something that was needed in the past with the way we had the transpile-test pipeline set up.

Currently, we're using Jest with the `babel-jest` plugin to transpile and build just using the `jest` command.

If you

[2017-05-08 13:20] matthewmorgan commented on #280
@tejasbubane I think there's value in revealing this feature of the language.  Your work on #279 moved us from throwing a string to throwing an actual `Error` object, and I feel like this is another step in the right direction.

I am wondering if the plugin you mentioned could be part of our current Jest pipeline?

[2017-05-08 13:36] tejasbubane commented on #280
Glad you think the same. :)

Yes, we just need to add the plugin as dependency and add this to babel settings in `package.json`:
[code]
I think it is safe since it allows just the `Error` builtin class to be extended and not others like `Array`, etc. And plays nice with Jest since we can now change this:

[code]

to this:
[code]
Note: No function call, assertion on class. ☝️

I will open a PR and

[2017-05-08 20:52] rchavarria commented on #189
I'm ok with this, thanks. I don't think we need to suppport `stage-x` features.

[2017-05-09 00:16] kotp commented on #275
@exercism/javascript team members have been pinged, they should be able to create one for here.

[2017-05-09 10:45] matthewmorgan commented on #275
@tejasbubane @joelwallis @kotp I think this is a paid service beyond the first room, and @jtigger of xjava beat us to it.  Unless you know something about Gitter that I don't...

I have created a free room call `exercism-xecmascript` that you should be able to find by searching.  I `@`-mentioned you all, and a couple of other folks as well.

[2017-05-09 10:49] #275 closed

[2017-05-09 19:56] kotp commented on #275
I am not finding the room `exercism-xecmascript` but I do see that the proper room is now created.  Did you remove the one that you mentioned here?

[2017-05-09 19:58] matthewmorgan commented on #275
@kotp yes, sorry.  That was me scrambling to get it created before leaving for work.  We're in business now.

[2017-05-09 19:59] kotp commented on #275
OK, let's edit your message to not direct people there in your comment, line it out or indicate that it was removed?

[2017-05-09 20:28] kotp commented on #275
Thank you @matthewmorgan for doing that, it will keep others from taking the time to search for it as I did.

[2017-05-09 20:44] matthewmorgan commented on #275
That was a good catch.  Thank _you_!

[2017-05-09 22:01] matthewmorgan opened #284 "Clarify docs on node installation vs 'npm install'"
Just now, looking at the [README](https://github.com/exercism/xecmascript/blob/master/README.md), the wording is unclear.  It might very well look as if typing 'npm install' is the command to install NodeJS itself, when actually it is the command to install the project dependencies, and should be run _after_ installing node on your machine.

<img width="977" alt="screen shot 2017-05-09 at 5 58 27

[2017-05-10 05:19] tejasbubane commented on #284
Good catch!

While we are at it, I found `Javascript` in the readme which should be replaced by `Ecmascript`:

![screen shot 2017-05-10 at 10 48 29 am](https://cloud.githubusercontent.com/assets/980783/25884200/45e07ea6-356e-11e7-94ed-17704df5fbe0.png)

[2017-05-10 05:25] tejasbubane opened #285 "NodeJS Installation instructions change"
A small thing I noticed in installation instructions on exercism: http://exercism.io/languages/ecmascript/installing

There are binaries available for linux as well. Hence the statement:

[code]

Is kind-of misleading.

I would like something like:

[code]

@matthewmorgan Please edit the content if you find anything better and mark this issue as `good first patch`.

[2017-05-10 20:07] rchavarria commented on #44
When I started working on this some of these were true:

- I didn't know enough ESLint
- ESLint needed manual configuration for all that

Nowadays, configuring ESLint is much easier. I recently did it in my team. So, I prefer keeping this issue open, and I'll take care of this soon (within one week).

Depending on the number of errors found, it will generate some discussions, but I hope I can get

[2017-05-10 20:15] rchavarria commented on #182
I tried that with the *old* system (`gulp-cli`, `babel` and the like). I don't remember exactly what was the problem. It probably was too slow to run all the tests, because of `npm install` on each one.

Or, during the build process with `make`, the working directory is not the same as the working dir when one works on a single exercise. I think I didn't dig deep in the build process with `make`.

[2017-05-10 20:22] rchavarria commented on #235
Really? It'd be awesome. But, users need to install Jest globally I think. How would be the process right now? (just a few words, not a thorough description :stuck_out_tongue: )

[2017-05-10 20:29] rchavarria commented on #280
Awesome! That would be really good! That's a language feature users will learn on exercism.io.

I think so. I don't mean to change all thrown `Error`s to custom exceptions, but at least, throw some kind of `Error`, not strings.

Canonical data for some exercises (I can't think of an example here) use `-1` or other weird values to tell that an exception could be thrown. I think we could change thos

[2017-05-10 22:00] matthewmorgan commented on #235
@rchavarria I _think_ we can have a JSON file in each exercise that points jest at the specfiles in the current directory.  That should be enough to make jest work.

But, I am wondering about the "grains" exercise, which requires the BigInt package.  We might need to modify the makefile to still copy that file into the grains exercise dir.  I'm not sure.

[2017-05-10 22:07] matthewmorgan commented on #182
@rchavarria I'm thinking a smarter makefile is the solution for this, but I also think this is somewhat dependent on #235 .

If we want to get rid of per-exercise `package.json` files, then we lose that functionality.

Since `npm install` is the _de facto_ way to install JavaScript dependencies, I would feel better about closing #235 as "will not fix" and implementing this instead, rather than, fo

[2017-05-11 01:21] joelwallis commented on #235
I don't know much about Jest. I'll take a closer look this weekend.

[2017-05-12 17:09] tejasbubane commented on #235
@matthewmorgan If you mean installing jest globally and running it on each exercise, I don't think that will work. Since we still have more packages than jest itself, like `babel-jest`, `preset-env`. That means we will need to install all these packages globally.

[2017-05-12 19:49] tejasbubane opened #287 "Contributing Guide"
README has a link to `x-api`'s contributing guide with the text:

[code]

This is confusing and gives an impression about contributing to ecmascript track. The `x-api` link has nothing to do with contributing to our track.

We either:

1. Change the text to something like `For an in-depth discussion of how exercism language tracks and exercises work, please see the contributing guide` (just like [

[2017-05-12 20:04] tejasbubane commented on #284
Sorry for grabbing a `first patch` issue, but there were so many small things to fix in the README that it was difficult to put them in an issue. So I went ahead and did the changes.

[2017-05-12 20:16] tejasbubane opened #290 "Validate package.json in all tracks"
We are relying on copying `package.json` in all exercises. It is difficult to check all those file changes in the PR eg. #286 has 68 file changes. Although the copying is automated using Makefile, I think we should be extra-cautious since these files are directly delivered to users.

We can add some CI check similar to [configlet](https://github.com/exercism/xecmascript/blob/master/bin/fetch-confi

[2017-05-13 11:00] matthewmorgan commented on #284
@tejasbubane I think one thing we could do is work on identifying some issues that could be tackled at different levels.  I think it's nice to keep some 'good first patch' issues open as a welcoming entry point for new contributors.

No worries about fixing this one at all.

[2017-05-19 18:22] tejasbubane commented on #287
Until we discuss about our own contributing guide (if at all we decide to have one), let's settle down on changing the text to `For an in-depth discussion of how exercism language tracks and exercises work, please see the contributing guide` (just like [xruby](https://github.com/exercism/xruby#contributing-guide)).

Marking this as `good first patch`.

[2017-05-19 18:36] tejasbubane commented on #229
The canonical tests are [here](https://github.com/exercism/x-common/blob/master/exercises/custom-set/canonical-data.json). And ecmascript tests are [here](https://github.com/exercism/xecmascript/blob/master/exercises/custom-set/custom-set.spec.js). Task is to make ecmascript tests same as the canonical data.

[2017-05-21 11:33] #284 closed

[2017-05-21 17:01] rchavarria commented on #182
Yep. I agree we should make user's live as easy as possible.

I know it's a bit tedious to run `npm install` on each exercise. But having independent exercises is a key point of exercism. So, I'll close #235 with *won't fix* and we can have some ideas about how to make `Makefile` smarter.

[2017-05-21 17:05] rchavarria commented on #235
Closing and labeling as *won't fix*, agreed on #182

[2017-05-21 17:07] #235 closed

[2017-05-21 17:13] rchavarria commented on #290
Sounds interesting but I'm not sure it'll be useful.

Everytime a maintainer run a build locally, all `package.json` file are copied again. So, if a contributor (or other maintainer) makes a change in a `package.json` for a single file, the maintainer's action should detect that change, and could talk to the contributor to fix that single change.

@exercism/javascript Do you find this action (run

[2017-05-22 17:49] joelwallis commented on #290
I'm with @tejasbubane. We should check those files in CI to make sure they are the same in all repos.

Right now, almost all files are equal - except one:
[code]

The one with a change is the `./exercises/package.json`:

[code]

Which has one additional npm script:

[code]

So, we are already suffering for not having an automated check in CI. We should checksum all `package.json` files and see if

[2017-05-22 19:48] rchavarria commented on #290
First of all, that first `find` command is impressive. That will be an excellent first step to verify `package.json` files.

I'm a bit lost about the code right now. But, is `./exercises/package.json` file needed? `./package.json` is the file that is copied to all single exercises (`./exercisses/<exercise>/package.json`). Is `./exercises/package.json` needed by Jest?

[2017-05-23 06:47] tejasbubane commented on #290
@rchavarria

It has babel and eslint config and most importantly the required packages to install (which cannot be installed globally, atleast not all of them). Jest works with [babel-jest](https://github.com/facebook/jest/tree/master/packages/babel-jest) to transpile ecmascript on the fly while running the tests. I am not sure this plugin can be installed globally. Without this plugin, Jest won't

[2017-05-23 12:08] matthewmorgan commented on #290
Hey guys, `package.json` _is_ needed by Jest.  There's a configuration that tells it which directories to target to search for `*spec.js` files.

It sounds to me like @joelwallis is suggesting that we do the check as part of the CI process-- I think that's a great idea.  We have two cases to cover:

1. Allow the contributor to run the Makefile, so that it copies the global `package.json` to each d

[2017-05-23 19:35] rchavarria commented on #290
Yeah! I know `package.json` file is *mandatory*, I think @tejasbubane missunderstood me. We have `package.json` in three different places:

1. The root folder, `./package.json`. I think this is the main one, the one that is copied to all exercises, the *only* truth.
2. Each exercise folder, `./exercises/hello_world/package.json`, `./exercises/foobar/package.json`,... These are copied from the `pac

[2017-05-23 20:04] rchavarria commented on #44
I've been working on this on my own fork of the repo ([configure-eslint](https://github.com/rchavarria/xecmascript/tree/configure-eslint) branch)

It will have conflicts with other PRs, because some changes on `./package.json` (and that file on each exercise). So I don't want to open a PR yet. But, I'll open it when all PR are merged and I resolve conflicts.

There are a lot of ESLint rules to dis

[2017-05-24 01:57] joelwallis commented on #290
@rchavarria me too. I can't see where `exercises/package.json` is necessary.

About validating `package.json` files, we can just `find` them all and hash with MD5. All `package.json` inside exercises' folders must have the same output of the `package.json` in the project's root directory.

[2017-05-25 12:11] arthurchipdean opened #295 "ReferenceError: regeneratorRuntime babel-present-env error?"
I think this may be a bug with `babel-preset-env`, just checking here first. I'm getting the error below when trying to run the tests for a new exercise I'm implementing. This error refers to this line: `function* generate(A) {`. Generator functions are part of the `babel-preset-es2015` which should be included in `babel-preset-env` so I'm not sure why this is happening. Any ideas? Thanks!

[code]

[2017-05-29 10:35] #290 closed

[2017-05-29 10:45] matthewmorgan commented on #44
Hey @rchavarria, we've currently got 2 PRs open that affect the `package.json` files.  Hoping to get those merged so you can get this resolved also.  Thanks for being patient.

[2017-05-29 14:38] rchavarria commented on #295
I have no idea :(

@exercism/javascript ?

[2017-05-29 15:22] rchavarria commented on #44
And both PR have files with conflicts 🤣

I need to do some additional work on the ESLint config, so I can wait a little bit more. Don't worry.

[2017-05-30 17:25] matthewmorgan commented on #295
@arthurchipdean @rchavarria I will try to investigate this later.  I think the first step is to see if I can reproduce it.  Personally, I haven't tried using generators under our current setup.

[2017-05-30 19:26] rchavarria commented on #295
I have no idea about how to configure Babel nowadays (I did it in the past, but it has evolved a lot since then).

But just looking at the documentation, if I compare the support for [arrow functions](https://babeljs.io/docs/plugins/transform-es2015-arrow-functions) (a basic feature that makes sense to be included by default) to [generators](https://babeljs.io/docs/plugins/transform-regenerator) (

[2017-05-31 21:01] rchavarria opened #298 "Discuss about several ESLint rules"
In PR #297, a set of ESLint rules have been disabled, because the report a relative number of errors. @exercism/javascript maintainers should discuss about them (probably on separate issues) to decide which of them are useful, which annoying, which useless,...

The rules to be discussed are:

- [ ] [indent](http://eslint.org/docs/rules/indent)
- [ ] [block-scoped-var](http://eslint.org/docs/rules/

[2017-05-31 22:26] joelwallis commented on #298
What about sticking to an existing coding standard instead of creating our own? I really like the [JavaScript Standard Style](https://standardjs.com) and I would strongly prefer to use it. We would leverage a lot of community resources, like many plug-and-play extensions for many editors, plus support for many Git hooks based code quality tools (I've used Standard with [Overcommit](https://github.

[2017-06-01 01:31] arthurchipdean commented on #295
@rchavarria You are right, after adding the babel-polyfil the error has gone away. Thanks for your help!

[2017-06-01 01:31] #295 closed

[2017-06-01 11:53] rchavarria commented on #298
The JavaScript Standard Style looks awesome! I totally agree. It will save time and discussions. And they use ESLint under the hood, so you can ignore files or disable rules for just one line of code just as if you were linting your code with ESLint (from `standard` docs):

I 👍 for using it instead of a customized ESLint. It will report many errors, but if we all agree on using `standard`, I'll fi

[2017-06-01 15:54] joelwallis commented on #298
Actually, no. I mentioned the forbidden semicolon rule because it _always_ create huge discussions regarding minification. Old school JS hackers are definitely not friendly to semicolon-free code 😂

Btw, to avoid minification issues with semicolon-free code, you must start some kind of lines with semicolons. The one I remember from top of my head are IIFEs and array definitions:

[code]

[2017-06-01 22:37] joelwallis commented on #285
That's a pretty good first patch!

I think that would be good to use package managers *IF* they provide a version of Node.js that's just _recent enough_. If that's not the case, just use binaries then.

[2017-06-01 23:59] matthewmorgan commented on #298
I'm going to speak up in favor of semicolons-- I think it can be confusing for people what the rules are, and the code can be unclear.

In a language like Python, semicolons are not required, but there are indentation rules that prevent the kind of issues you can have in Javascript when lines of code run together unintentionally.

My 2 cents.

[2017-06-02 09:50] tejasbubane opened #301 "Improvements to `test-package-files`"
* **Checks for package.json in `node_modules` as well.**

`test-package-files` task from Makefile checks for [all package.json from exercises and its subdirectories](https://github.com/exercism/xecmascript/blob/master/Makefile#L16) which also includes any `node_modules` inside. eg. `exercises/phone-number/node_modules/{some-package}/package.json`. This is usually not the case, but happened with me

[2017-06-02 10:48] matthewmorgan commented on #301
@tejasbubane I am wondering if this is why @arthurchipdean's alphametics PR is not building( #299 ) .

If you're planning on working on this, great, otherwise I may fix it later to move things along.  Let me know.  Thanks!

[2017-06-02 11:05] tejasbubane commented on #301
Nope that is a genuine error. `package.json` for `alphametics` has been change but the change is not propagated over to other files. My scenario won't happen on travis since there will be no `node_modules` inside `exercises` directory. Can happen on local if you run test on single exercise using `yarn install && yarn test`.

I am working on fixing this.

Action items:
- [ ] Show filenames in error

[2017-06-02 11:09] matthewmorgan commented on #301
@tejasbubane if you just add the `-maxdepth=1` parameter to the `find` command I think you can ignore the nested `package.json` files.  I just tried it and it worked for me.

Good luck!

[2017-06-02 12:33] tejasbubane commented on #301
Thanks @matthewmorgan That totally worked!

[2017-06-02 12:37] tejasbubane commented on #295
@arthurchipdean Can you check if this works? https://babeljs.io/docs/plugins/transform-regenerator/#usage-via-babelrc-recommended-

Since [babel-plugin-transform-regenerator](https://github.com/exercism/xecmascript/blob/master/yarn.lock#L533) is already installed, I think it would be better if that can be used instead of adding a new package.

[2017-06-02 14:10] arthurchipdean commented on #295
@tejasbubane  Yes that worked! I removed the babel-polyfil dependency and added the .babelrc file.

[2017-06-06 21:01] rchavarria commented on #298
Sorry, @joelwallis, I missunderstood you.

Personally, I prefer keep using semicolons. As I said, I think I'm biased because of my Java background.

So, if we find it controversial, I won't use `standard`. But I love the idea of a predefined set of rules. So, what about the Airbnb style guide? It seems it can be used directly with ESLint with just one line of JSON code

[code]

Should I give Airbn

[2017-06-06 21:24] #280 closed

[2017-06-06 21:35] joelwallis commented on #298
I'll give Airbnb style a try too

2017-06-06 18:01 GMT-03:00 Rubén Chavarría <notifications@github.com>:

--
Joel Wallis Jucá
joelwallis.com

[2017-06-06 23:09] #301 closed

[2017-06-07 01:39] matthewmorgan opened #303 "Fix Makefile "test-package-files" task"
We made a well-intentioned change to our Makefile that tests to see if each exercise has a `package.json` file that matches the global `xecmascript/package.json` file, and fails the build if not.

However, there is no easy way for a contributor to update all the `package.json` files when there is a change.  It is critical that these files are all updated, and we want this to happen before PRs are

[2017-06-07 11:35] rchavarria commented on #303
I prefer taking the second way, adding the new `copy-package-to-exercises` task.

I'm wondering if we need a new task to be able to *build* the project, to run tests independently of copying `package.json` or checking them.

Let's say we have these tasks:

- `make test`: it should just run tests, no `package.json` checking, no `package.json` copying
- `make copy-package-to-exercises`: easy to unde

[2017-06-07 11:38] rchavarria commented on #298
I think it will report lots of errors. Before taking the time to fix them all, we should agree on using the style guide or not.

If someone on @exercism/javascript find something in the style guide worth discussing, this is the place 😉

[2017-06-07 11:45] matthewmorgan commented on #298
I will look at this later and share my thoughts.  I've seen the airbnb guide before, and it seemed sensible, I imagine it would be fine for moving forward.

One further concern is that we want to have consistency in the example exercises and the specfiles as well.  So, if airbnb deviates in any significant way from our established style, and there's no compelling reason to update our code to match

[2017-06-28 17:28] rchavarria commented on #298
I'm working on adding the Airbnb style guide to lint the code: [lint-airbnb branch](https://github.com/rchavarria/ecmascript/tree/lint-airbnb).

But there are a *couple* of linting issues I'd like to address before creating a PR. It'll take some time.

![image](https://user-images.githubusercontent.com/612688/27651221-d5b4d8ac-5c37-11e7-94d9-20ad0d94c543.png)

[2017-06-28 21:26] matthewmorgan commented on #298
@rchavarria if I can help with this please let me know.

[2017-06-28 22:03] joelwallis commented on #298
I'm able to help too.

Btw, I worked on a Boston based startup which was built using Ruby on Rails and a lot of spaghetti jQuery code during the last year. We decided to modularize the app and adopted StandardJS as coding standard.

What we did was:

1. enable it using Overcommit (in our case we could just use a Node.js alternative - I'll research about it during the week);
1. check for linting er

[2017-06-29 11:29] rchavarria commented on #298
At first, I was about not accepting any help, but I reconsidered it.

I can create a PR with the work as it is now. There are a bunch of disabled rules. The process would be like this:

1. Enable one single rule
2. `make test` (to spread `package.json` to exercises. Otherwise, *old* `package.json` in an exercise overwrites the ESLint configuration from the main `package.json` and the enabled rule

[2017-07-01 15:54] matthewmorgan opened #315 "Update tests and makefile to use Jest's "test" method"
Jest is capable of using Jasmine's `it` and `xit` methods, but has its own `test` and `xtest`.  I opened this issue to see what @exercism/ecmascripts think about switching from the Jasmine style to the Jest style for this track.  Should we bother, or leave things as they are?

[2017-07-01 17:14] joelwallis commented on #315
If we're going to switch, it makes sense to switch everything - including the current test codebase, to Jest. I mean, if we're going to support Jest's `test`/`xtest`, we should completely rip out Jasmine from the project and stick with Jest instead.

[2017-07-03 17:11] matthewmorgan commented on #315
@joelwallis I agree with you completely.  If we make the change, we should change it everywhere.

If no one has any objections, let's say:

Success Criteria:
- All specfiles are updated to replace `it()` with `test()`, and `xit()` with `xtest()`.
- The Makefile is updated to reflect the same change.

Any other @exercism/ecmascripts care to weigh in?

[2017-07-03 19:08] rchavarria commented on #315
If we switched to Jest, let's go Jest.

Beside specs and `Makefile` (to replace `xtest` with `test`). I think there is some occurrence in any doc about how to run tests, so docs should be checked too.

[2017-07-03 19:41] matthewmorgan commented on #315
Ah good point 😁

[2017-07-04 07:12] tejasbubane commented on #315
Good point @matthewmorgan 👍  All jest docs seem to be using `test` instead of `it`. Although it they seem aliases to me, it makes sense to switch to the `jest-style`.

Also jest seems to be moving away from jasmine in future versions (https://github.com/facebook/jest/pull/3668), although I don't think they will remove the `it` syntax in near future.

[2017-07-06 21:13] #315 closed

[2017-07-11 06:52] tejasbubane commented on #298
Another alternative: https://github.com/prettier/prettier
Using this at work at works like a charm without much fuss. Kinda like `gofmt` for golang, an opinionated autoformatter.

[2017-07-11 07:29] rchavarria commented on #298
I'm not sure I'd be confortable letting a tool reformatting my code. Maybe it's fine, but I'm not used to it.

According to the documentation, prettier only reformats the code, but it lacks an important aspect of other linters:

So, we would still need ESLint. I wouldn't go this way, I'd stick to Airbnb/ESLint.

[2017-07-13 05:52] tejasbubane commented on #298
Good point. Fair enough, if everyone is comfortable with eslint, lets go for it 👍

[2017-07-17 17:01] matthewmorgan opened #324 "Nextercism configuration"
taken from @rchavarria 's related issue on the javascript track.  @exercism/ecmascripts We can do the work there first, and port it here after:

As stated in #321, Exercism will be moving to a tree-shaped track rather than a linear one, as described in the [progression & learning in Exercism](https://github.com/exercism/docs/blob/master/about/conception/progression.md) design document.

So, some t

[2017-07-21 13:01] joelwallis commented on #182
Shaw we really consider this issue wontfix?

[2017-07-22 13:43] rchavarria commented on #182
Or even close it. It's very old.

In fact, something improved when running tests with Jest. If we feel something need to be fixed, we can create a new issue and fix it then.

[2017-08-02 06:45] rchavarria opened #331 "Port proverb exercise from JavaScript track"
As part of the job to make the track compatible with *Nextercism*, we identified there are missing exercises in this track that are present in the [JavaScript](https://github.com/exercism/javascript) track. One of them is [proverb](https://github.com/exercism/javascript/tree/master/exercises/proverb).

The task would be to add the `proverb` exercise to this track, copying files from the JavaScript

[2017-08-02 06:48] rchavarria opened #332 "Port bowling exercise from JavaScript track"
As part of the job to make the track compatible with *Nextercism*, we identified there are missing exercises in this track that are present in the [JavaScript](https://github.com/exercism/javascript) track. One of them is [bowling](https://github.com/exercism/javascript/tree/master/exercises/bowling).

The task would be to add the `bowling` exercise to this track, copying files from the JavaScript

[2017-08-02 06:53] rchavarria opened #333 "Port simple-linked-list exercise from JavaScript track"
As part of the job to make the track compatible with *Nextercism*, we identified there are missing exercises in this track that are present in the [JavaScript](https://github.com/exercism/javascript) track. One of them is [simple-linked-list](https://github.com/exercism/javascript/tree/master/exercises/simple-linked-list).

The task would be to add the `simple-linked-list` exercise to this track,

[2017-08-02 06:56] rchavarria opened #334 "Port run-length-encoding exercise from JavaScript track"
As part of the job to make the track compatible with *Nextercism*, we identified there are missing exercises in this track that are present in the [JavaScript](https://github.com/exercism/javascript) track. One of them is [run-length-encoding](https://github.com/exercism/javascript/tree/master/exercises/run-length-encoding).

The task would be to add the `run-length-encoding` exercise to this trac

[2017-08-03 00:00] matthewmorgan commented on #334
@rchavarria as I mentioned in the JS track, we also need to change the test suite methods to use Jest here instead of Jasmine, so `it` becomes `test` and `xit` becomes `xtest`.

Thanks for doing this!

[2017-08-03 10:51] skabbass1 commented on #334
Would like to help with this. Please assign to me. Thanks

[2017-08-03 12:18] joelwallis commented on #334
Hi @skabbass1!

There's no need to assign it to you, it's already yours! 😄 Just fork the project, create a new branch and start working on a solution. Open a pull request referencing this issue when you have something ready. We'll love to receive your contribution! 😃

[2017-08-03 18:57] matthewmorgan commented on #334
@skabbass1 the one thing you should do is open a PR with an empty commit.  Give it a message 'Dibs - I will add exercise run-length-encoding'.  That will make the fact that you're using it visible to other contributors.  Good luck!  let us know if you need any help.

[2017-08-03 21:52] joelwallis commented on #334
@skabbass1 to make an empty commit, you use the `--allow-empty` flag for `git-commit`:

[code]

Then, go ahead and port the exercise. Remember to fork the project and create a new branch to work on. You can add things to this commit by using the `--amend` flag:

[code]

_PS: the commit message below is just a suggestion._

[2017-08-04 02:22] skabbass1 commented on #334
Thanks @joelwallis  and @matthewmorgan !

[2017-08-05 22:13] skabbass1 commented on #334
@joelwallis @matthewmorgan
In the  *.spec.js files for each of the assignments,  I see that the typical pattern is to import the assignment package name. For example, for the accumulate assignment:
[code]
The  issue that I am running into with this is that I cannot run the tests from within the assignment directory.  Jest is unable to  resolve the imports:

[code]
If I change the import in the *.s

[2017-08-05 22:24] skabbass1 commented on #334
Ah! I see that the make  command renames the example.js file to the corresponding [assignment].js file when it copies files  for testing in in the tmp directory exercism/ecmascript/exercises/[assignment]/tmp. Thats why  ```make test-assignment ASSIGNMENT=[assignment]``` works.

[2017-08-06 03:52] skabbass1 commented on #334
@joelwallis @matthewmorgan
I updated the the initial pull request with the changes required for this issue. Take a look and let me know if it is line with what you expect or if you need me to make any changes. Thanks

[2017-08-06 11:05] matthewmorgan commented on #334
@skabbass1 I'll have a look at your PR.  Thanks!

BTW on the testing, It sounds like you're clear, but I just want to make sure.  I also am wondering if the contributor docs could be more lucid:
1. `npm test` is for the _users_ to test _their_ solution locally.
2. `make test-assignment` is for _contributors_ to test their contributed test suite and example exercise.

Let me know if there's somethi

[2017-08-06 20:55] skabbass1 commented on #334
@matthewmorgan
I think making the contributor docs more  explicit per your suggestion above would be great.

[2017-08-10 06:49] rchavarria commented on #303
@exercism/ecmascripts - Is this still relevant after #336?

[2017-08-10 19:01] matthewmorgan commented on #303
@rchavarria #336 is not exactly this implementation, and wasn't intended to be.  I still think this idea has value, but what do you (and others) think?

[2017-08-11 06:55] rchavarria opened #339 "Update formatting in ABOUT.md for Nextercism"
Issue https://github.com/exercism/meta/issues/85 needs some checks in this track

[2017-08-11 08:17] rchavarria commented on #303
:+1: Me too

[2017-08-13 04:14] skabbass1 commented on #331
@rchavarria @matthewmorgan
There does not seem to be a [canonical test file](https://github.com/exercism/problem-specifications/tree/master/exercises/proverb) for this exercise set.  Is there a reason for that?   Would it suffice to just port over the tests currently in  the javascript version of the exercise?

[2017-08-13 11:43] matthewmorgan commented on #331
@skabbass1 if's there's no canonical file, porting the javascript tests would make sense.

I think the last test ("test the proverb is the same each time") should be implemented differently though.  It _happens_ that in the example implementation in javascript, the `toString()` method rebuilds the entire output from the inputs each time it's called.

My feeling is that it would be better to make t

[2017-08-14 12:33] skabbass1 commented on #331
@matthewmorgan  Agree that the current solution is a bit hard to follow. I will refactor and then we can review if it makes sense.

[2017-08-14 13:17] matthewmorgan commented on #331
@skabbass1 great.  I think with the ES6 `() =>`, you would easily be able to eliminate the `bind()` usage.

Improvements are always good!

[2017-08-15 15:47] rchavarria commented on #331
Yep. I usually find `bind` and `apply` usages a bit hard to read and understand. If there is a simpler solution, I favor the simple one.

Great work @skabbass1!

[2017-08-19 08:59] riktimmondal commented on #287
Please have a look at my first PR

[2017-08-19 16:38] tejasbubane commented on #287
Closing via #341

[2017-08-19 16:38] #287 closed

[2017-09-07 09:10] rchavarria commented on #324
I think all tasks have been done. @exercism/ecmascripts - could this issue be closed?

[2017-09-09 00:38] rootulp commented on #298
Friendly ping here - I think it's important to adopt a code style. I'm comfortable with AirBnb, Standard, or Prettier.

[2017-09-10 17:40] matthewmorgan commented on #298
So @rootulp we have incorporated the airbnb plugin in to the project.  If anyone feels this is somehow unresolved, please feel free to re-open the issue.

[2017-09-10 17:40] #298 closed

[2017-09-11 21:47] #229 closed

[2017-09-13 02:01] apapirovski commented on #333
I believe this can be closed now btw.

[2017-09-13 02:08] apapirovski commented on #331
This should probably be closed so someone doesn't accidentally work on it. :)

[2017-09-13 02:09] apapirovski commented on #334
Same as proverb, looks like this is done.

[2017-09-13 13:00] joelwallis commented on #333
Closed by #345.

[2017-09-13 13:00] #333 closed

[2017-09-13 13:00] joelwallis commented on #333
@apapirovski nice work!

[2017-09-13 13:06] joelwallis commented on #331
Closed by #340.

[2017-09-13 13:06] #331 closed

[2017-09-13 14:37] rchavarria commented on #334
Yep, it's true. Thanks for helping on keeping issue list clean 👍

Closed by #335

[2017-09-13 14:37] #334 closed

[2017-09-21 10:39] #182 closed

[2017-10-06 03:05] lindakatcodes commented on #285
Created a pull request for this - https://github.com/exercism/ecmascript/pull/354

Still very new to this, so if anyone has any suggestions I'm open to them!

[2017-10-07 20:00] #285 closed

[2017-10-11 00:52] trvrfrd commented on #339
I can take a stab at this in the next few days if it still needs to be done.

[2017-10-12 10:55] matthewmorgan commented on #339
@trvrfrd I believe this _does_ still need a look.  Thanks!

[2017-10-22 08:25] tejasbubane opened #360 "Document skipping of tests"
Taken from https://github.com/exercism/ruby/issues/753

We have a [doc for tests](https://github.com/exercism/ecmascript/blob/master/docs/TESTS.md) which is rendered [here](http://exercism.io/languages/ecmascript/tests) on the exercism website.

**Task:** Mention about skipped tests in this doc.

* Why they are skipped?
So as to enable users to concentrate on one test at a time and enable one by o

[2017-10-22 09:59] tejasbubane opened #361 "Port `nucleotide-count` exercise from JavaScript track"
The task would be to add the `nucleotide-count` exercise to this track, copying files from the JavaScript track and adapting the code to the ECMAScript 6 standard.

Basic steps would include:

1. Copy all files from `<javascript repo>/exercises/nucleotide-count` (https://github.com/exercism/javascript) to `<ecmascript repo>/exercises/nucleotide-count` (https://github.com/exercism/ecmascript)
2. Co

[2017-10-22 12:23] raphaelfp commented on #361
May I take this one?

[2017-10-22 12:35] #332 closed

[2017-10-22 12:51] matthewmorgan commented on #361
@raphaelfp Please do!

The usual practice is to open a new PR with a title like

## Dibs - port exercise nulceotide-count from JavaScript track

You can start the PR with an empty commit.  If you need information on forking the repo or making an empty commit, let me know and I can help.

[2017-10-22 12:55] matthewmorgan commented on #361
@tejasbubane @raphaelfp I just realized there is already an open PR for this exercise #349.

@tejasbubane this was originally held up because of some changes needed to the problem-specifications repo.  Do you want to check in with the contributor @Vankog and see if he intends to finish the work?

@Vankog's PR has been sitting idle for about six weeks now.  I would ask him, give him a day or two to

[2017-10-22 13:56] tejasbubane commented on #361
Yikes! Sorry. I totally missed that PR. I was looking to open up a few issues with relatively easy-to-implement exercises for hacktoberfest. Hence opened this issue.

Sound good 👍

[2017-10-22 14:10] tejasbubane commented on #361
@raphaelfp Meanwhile you are welcome to pick up another exercise from this list: http://exercism.io/languages/ecmascript/todo

[2017-10-22 20:34] Vankog commented on #361
The work on the canonical data is still going on. There is very much talking involved. ^^

Here is the current progress:
https://github.com/exercism/problem-specifications/pull/895#issuecomment-336448399

[2017-10-26 00:00] matthewmorgan commented on #361
OK @Vankog thanks for the update.

[2017-10-26 10:44] tejasbubane commented on #361
Since @Vankog is working on this, I think this issue can be closed. Sorry for the noise, my bad I did not see the already open PR.

[2017-10-26 10:44] #361 closed

[2017-10-30 08:08] tejasbubane opened #370 "Change installation link in exercise READMEs"
Each [exercise](https://github.com/exercism/ecmascript/tree/master/exercises) has a [README file with a setup link in it](https://github.com/exercism/ecmascript/blob/master/exercises/accumulate/README.md#setup).

The link points to http://exercism.io/languages/ecmascript/ but the setup instructions are in http://exercism.io/languages/ecmascript/installation.

**Task:** Change the link to the corre

[2017-10-30 08:16] lantran commented on #370
I would like to work on this issue.

[2017-10-30 08:16] tejasbubane commented on #370
@lantran Go for it!

[2017-10-30 08:52] lantran commented on #370
PR submitted.

[2017-10-30 09:35] #370 closed

[2017-10-30 09:36] gstvribs commented on #360
i would like to work on this issue !

[2017-10-30 09:36] tejasbubane commented on #360
@gstvribs Go for it!

[2017-10-30 09:49] gstvribs commented on #360
Implemented by #372

[2017-11-01 09:10] tejasbubane opened #377 "Recommended nodejs versions"
[Nodejs 9.0 was released](https://nodejs.org/en/blog/release/v9.0.0/) yesterday and [8.9 is now LTS](https://nodejs.org/en/blog/release/v8.9.0/).

I am not sure if any discussion on this happened before, I could not find any, hence the issue.

Since we [recommend LTS version in the javascript track](http://exercism.io/languages/javascript/installation), should we recommend the latest version (9.0

[2017-11-01 13:01] #360 closed

[2017-11-02 20:59] rchavarria commented on #377
How stable is considered v9.0? How often does it get updated? Sorry, I'm a bit lazy, and I don't want to update the recommended version every now and then. Maybe, recommending the latest LTS version is enough too in this track.

Anyway, before recommending users to use a version, we should get that version working on the track. I think there won't be any major issue. Just to be sure users won't be

[2017-11-03 19:21] tejasbubane commented on #377
@rchavarria Both 9.0 and 8.9 should be pretty stable in my opinion. I think node version does not matter much especially for this track since we are using babel with env preset - which includes pretty much all latest ES features.

That being said this was a meta issue for both tracks and my concern was mainly with the relation between recommended version and the CI. Although versions don't matter

[2017-11-04 12:53] matthewmorgan commented on #377
We had recently discussed this on a different PR with @KamilMalek.  Unfortunately I can't find it, and I'm not sure if it was this track or the JS track.

I'd be in favor of using LTS on both tracks at this point.  I don't see anything (at this point) in Node v9 that seems relevant to the exercises, but correct me if I'm wrong.

Is linting on the JS track enough to prevent users from implementing

[2017-11-06 05:44] tejasbubane commented on #377
Yup, I don't think v9 makes much difference since we use Babel anyways. I just wanted to settle on some agreement on the recommended versions and use the same in CI. I would wait for a couple of days to see if others have any opinion on this - then go ahead and change the installation instructions and `travis.yml`.

[2017-11-06 10:31] rchavarria commented on #377
I didn't know that. So, I'm ok suggesting latest LTS in both tracks and having `lts/*` for Travis.

I think it is. In javascript track, ESLint config extends `eslint-config-airbnb-es5` (see file https://github.com/exercism/javascript/blob/master/.eslintrc.json)

About merging both tracks, it's the eternal discussion. I think we're reaching the point where we should start thinking into merging them

[2017-11-13 09:40] #324 closed

[2017-11-13 09:45] tejasbubane commented on #324
Confirming that all tasks have been completed.

[2017-11-28 11:20] #303 closed

[2017-12-12 14:13] TheHandsomeCoder opened #385 "Should ECMAScript and Javascript be the same repo?"
It seems to differentiate between the two different versions. Most major browsers support ES6, The latest version of node has support too so in effect both are the same

[2017-12-12 15:04] matthewmorgan commented on #385
@TheHandsomeCoder this issue comes up frequently!  We're currently discussing this, with a mind toward deprecating the EcmaScript track.  In fact, it was recently discussed here: https://github.com/exercism/ecmascript/issues/377

We're not planning on taking action on this immediately, but it is on our radar.

[2017-12-12 23:54] matthewmorgan commented on #339
@trvrfrd are you still interested in this one?

[2017-12-13 00:02] #385 closed

[2017-12-13 00:03] matthewmorgan commented on #237
@exercism/ecmascripts we can close this, no?

[2017-12-13 02:48] trvrfrd commented on #339
Hi @matthewmorgan! I have a PR open for this (#374) which I only just realize was linking to the wrong issue, so it did not show up on this one. Oops!!!

I believe the PR was still waiting for some feedback from other maintainers about what exactly the scope of the change was.

[2017-12-13 11:50] matthewmorgan commented on #339
(smacks forehead) of course!

I think you have @rchavarria 's feedback, and a couple of 'thumbs up ' from me and @tejasbubane so I think you're one minor change away rom being ready to go.  Sorry to keep you waiting on this, I'll comment further on #374.

[2017-12-13 19:01] tejasbubane commented on #237
Yes I think we have the format, difficulties and topics for all exerices.

[2017-12-13 19:01] #237 closed

[2017-12-13 23:23] #339 closed

[2017-12-29 21:06] matthewmorgan opened #387 ""unlocked_by" must not be null for non-core exercises"
@exercism/ecmascripts correct me if I'm wrong here, but my understanding of the new setup is that exercises should either be `core: true` or have a non-null `unlocked_by` value.

If I am right, then we have 6 exercises currently that are `core: false` and `unlocked_by: null` that we need to assign `unlocked_by` parents to.

?

I am going to enter the same issue for JavaScript.

[2018-01-04 19:10] rchavarria commented on #387
I think the instructions said there could be some non-core exercises that don't need to be unlocked by any specific exercise. I mean, some exercises (an undefined number, just a few of them), should be marked as non-core and don't have any other exercise as dependency. This could be used to provide users some freedom when choosing a new exercise to implement.

This would be an a

[2018-01-04 19:13] rchavarria commented on #387
I found the *original* instructions: #321

Of course, this might be changed since this summer. But I'm not aware of that.

[2018-01-12 11:14] #377 closed

[2018-02-04 20:56] kytrinyx opened #391 "bob: Update to clarify ambiguity regarding shouted questions"
**TL;DR**: the problem specification for the Bob exercise has been updated. Consider updating the test suite for Bob to match. If you decide not to update the exercise, consider overriding description.md.

-----

**Details**

The problem description for the Bob exercise lists four conditions:

- asking a question
- shouting
- remaining silent
- anything else

There's an ambiguity, however, for sho

[2018-02-04 22:29] kytrinyx commented on #391
I've submitted a PR to temporarily lock the description of 'bob' so that we can regenerate the exercise READMEs without worrying about getting an out-of-sync description.

This means that the exercises/bob/.meta/description.md file will need to be deleted if the test suite is updated to include the new rule.

[2018-02-19 13:12] matthewmorgan opened #397 "Change travis.yml to use `npm install --no-save`"
As discovered in #390 by @tarunvelli, the main `package.json` file is getting rewritten by `npm install`, and causing the build to fail because the main file formatting no longer matches the `package.json` exercise files.

We can stop this from happening by explicitly specifying `npm install --no-save`, which prevents the `package.json` file from being altered at build.  This used to be the defaul

[2018-02-19 14:04] tarunvelli commented on #397
This seems perfectly reasonable as this is the expected behavior. I guess the same is applicable to https://github.com/exercism/javascript also.

[2018-02-19 17:01] tejasbubane commented on #397
We definitely should have `--no-save` in CI - especially since we compare `package.json` files. 💯

[2018-02-19 17:37] matthewmorgan commented on #397
Closed by #390

[2018-02-19 17:37] #397 closed

[2018-02-19 17:38] #391 closed

[2018-03-01 11:02] matthewmorgan commented on #387
@rchavarria thanks for your feedback on this.  I'm going to close it for now.

[2018-03-01 11:02] #387 closed

[2018-03-10 13:22] slikts opened #400 "package.json babel env preset config is invalid, no target is actually set"
I noticed the problem while trying to subclass natives and it not working; the babel env preset config is `{"node": "current"}`, but it needs to be  `{"targets": {"node": "current"}}` to work. This can be verified by adding `"debug": true` to the config; it'll show that it's performing all the default transformations. Fixing the config should make the tests faster and allow using the modern ES fea

[2018-03-10 16:52] matthewmorgan commented on #400
@slikts nice catch.

Did you want to open a PR to make this change?

[2018-03-10 20:08] slikts commented on #400
The format doesn't need to be guessed; [env preset docs](https://babeljs.io/docs/plugins/preset-env/) shows examples.

[2018-03-14 10:16] nywilken opened #401 "Track configuration contains improperly locked exercises"
In the upcoming release of [Configlet v3.8.0](https://github.com/exercism/configlet/issues/121), the lint command will now verify that locked exercises meet the unlocked_by criteria, as defined by the track [configuration spec](https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md):

- Core exercises can not be unlocked by other exercises.
- Non-core exercises can

[2018-04-01 00:13] matthewmorgan commented on #400
@tejasbubane do you have a PR for this issue?  That would be great!

[2018-04-01 06:18] tejasbubane commented on #400
I tried to fix this but ran into several test failures - mainly caused by imports. Will give it a try again today.

[2018-04-01 11:41] matthewmorgan commented on #400
OK, if not I think I have a fix.  Either way is OK, just let me know.  Thanks!

[2018-04-02 21:36] #401 closed

[2018-05-07 19:06] jscheffner opened #407 "robot-simulator: test doesn't fail"
The *robot-simulator* exercise includes a test to make sure that in case of an invalid argument an error message is thrown and that this message is correct. Unfortunately, the test doesn't fail if nothing is thrown.

I already created a pull request that solves the issue but maybe it wasn't reviewed yet because I didn't create an issue.

[2018-05-11 00:30] matthewmorgan commented on #407
@jscheffner thanks for opening the issue-- your PR hasn't been reviewed simply because I've not found the time to do it.  Thanks for your contribution, please be patient and I can get to it in the next week or so.

[2018-06-02 22:58] kytrinyx opened #409 "Where are the ECMAScript communities and enthusiasts?"
As we move towards the launch of the new version of Exercism we are going to be ramping up on actively recruiting people to help provide feedback.

Our goal is to get to 100%: everyone who submits a solution and wants feedback should get feedback. Good feedback. You can read more about this aspect of the new site here: http://mentoring.exercism.io/

To do this, we're going to need a lot more infor

[2018-06-03 15:00] #407 closed

[2018-06-03 15:03] tejasbubane commented on #400
@matthewmorgan Its been a while with this, but if you have the fix, please send a PR.

[2018-06-05 20:27] matthewmorgan commented on #400
I do...I'll dig it up this weekend.

[2018-06-11 07:34] tejasbubane commented on #44
@rchavarria Did you figure this one out?

[2018-06-12 02:42] kytrinyx opened #412 "Ensure ECMAScript track is ready for v2 launch"
There are a number of things we're going to want to check before the v2 site goes live. There are notes below that flesh out all the checklist items.

- [x] The track has a page on the v2 site: https://v2.exercism.io/tracks/ecmascript
- [x] The track page has a short description under the name (not starting with `TODO`)
- [x] The "About" section is a friendly, colloquial, compelling introduction
-

[2018-06-12 13:28] jackhughesweb commented on #412
Things that can be already checked off:

I've submitted pull requests for the blurb #413, and the about section #414.

The first exercise is missing "auto_approve", but has "hello-world" as the name of the first exercise - this may need to be fixed later.

[2018-06-12 13:53] matthewmorgan commented on #412
@jackhughesweb thanks for your work on this.  It does raise the question of whether it is time to deprecate this track, and move the ES features in to the JavaScript track.

Arguments in favor:
1. ES6 is now 3 years old.
2. Transpilation is nearly a ubiquitous part of the modern JavaScript development workflow.

@exercism/ecmascripts would anyone care to comment on this, pro or con?

[2018-06-12 17:15] tejasbubane commented on #412
I agree with @matthewmorgan. Ecmascript has grown a lot over the last few years almost all developers are writing ecmascript these days. Makes very little sense now to maintain two different tracks.

And the release of exercism v2 is a nice opportunity to do the transition 😃

[2018-06-12 17:30] matthewmorgan commented on #412
@tejasbubane my thoughts exactly. :)

[2018-06-12 17:36] joelwallis commented on #412
Same here. No reason to keep two tracks, and Nextercism is the perfect
opportunity to unite them.

Should we plan an effort to merge the tracks? Maybe we could add some
improvements as general acceptance criteria.

Joel Wallis Jucá
joelwallis.com

Em ter, 12 de jun de 2018 2:30 PM, Matthew Morgan <notifications@github.com>
escreveu:

[2018-06-12 23:55] kytrinyx commented on #412
Excellent! I'll take a bit of time to think through the details and chat with @iHiD and @nicolechalmers about how to proceed, and get back to you with some concrete suggestions.

Meanwhile, if you have thoughts/ideas about things we should remember to do, jot them down here!

[2018-06-14 22:49] matthewmorgan commented on #412
Copying here my recent email to @kytrinyx about this, looking for others' comments and help:

  Step 2 could be updating the JS-flavored examples to ES.
  Somewhere in there we'll need to update the docs to say 'JavaScript' everywhere, and maybe add a note about the ES track having been folded in to JS.

[2018-06-14 22:52] matthewmorgan commented on #44
@tejasbubane @rchavarria Let's hold off on this one pending outcome of #412

[2018-06-23 16:15] matthewmorgan commented on #412
After more conversation with @kytrinyx and others, I've prepared a few things for deprecating the current JS track.

For V2, the EcmaScript track will become the "new" JavaScript track.  Users' submissions will be migrated as part of the process.

Katrina's notes on the migration process:

In the meantime, I've closed all open issues and PRs on the JS track as `wontfix`, leaving one issue open sta

[2018-06-23 16:30] matthewmorgan opened #417 "Port missing exercises from JavaScript to EcmaScript track"
After more conversation with @kytrinyx and others, I've prepared a few things for deprecating the current JS track.

For V2, the EcmaScript track will become the "new" JavaScript track.  Users' submissions will be migrated as part of the process.

Katrina's notes on the migration process:

In the meantime, I've closed all open issues and PRs on the JS track as `wontfix`, leaving one issue open sta

[2018-06-23 16:48] joelwallis commented on #412
Matt,

I could help on it. Should I compare the implementations too? EcmaScropt
and JavaScript tracks have different ways to implement the exercises. The
first one uses way more classes while the second one uses functions and
constructors. How will we proceed with it? Is it something relevant?

Joel Wallis Jucá
joelwallis.com

Em sáb, 23 de jun de 2018 1:15 PM, Matthew Morgan <notifications@github

[2018-06-23 17:50] matthewmorgan commented on #412
@joelwallis I'll respond on #417

[2018-06-23 17:53] matthewmorgan commented on #417
On #412 @joelwallis wrote:

@joelwallis I did discuss with @kytrinyx the differences in implementation syntax between the JS track and the ES track for a given exercise.

I think that changing the API of the tests and example of a newly ported exercise could be at the discretion of the implementer.  Function or POJO based solutions are just as legitimate in ES6 as class-based ones.  For sure we wo

[2018-06-24 17:14] tejasbubane commented on #417
@matthewmorgan I diffed existing exercises in both tracks and this is what I see:

### Exercises in javascript track but not in ecmascript
- forth
- point-mutations
- rational-numbers
- reverse-string
- variable-length-quantity
- zipper

### Exercises in ecmascript track but not in javascript
- complex-numbers
- house
- react
- spiral-matrix
- word-search

Ref: https://gist.github.com/tejasbubane/

[2018-06-24 20:30] matthewmorgan commented on #417
@tejasbubane  thanks for that list.  Yes, we are going to port any exercises in JS but not in ES to ES. So, your first list is the one we need to use.

I feel like that list is short enough that we don't need separate issues for each one, but just a checklist here:

# Exercises to port from JavaScript track to EcmaScript track

- [ ] forth
- [ ] point-mutations
- [ ] rational-numbers
- [ ] reverse

[2018-06-25 11:07] joelwallis commented on #417
@matthewmorgan sounds like a plan. I'll dibs the two first ones (`forth` and `point-mutations`).

[2018-06-25 11:19] matthewmorgan commented on #417
@joelwallis awesome!  A couple of things that came up with @gavinhenderson's PR:
- need to change UUID, even though the track is different.
- don't forget to update README to refer to EcmaScript rather than JS for links and other instructions.

I had neglected to call these out explicitly.

[2018-06-29 11:12] matthewmorgan commented on #417
OK, I guess that leaves `rational-numbers` for me.  I will take that one.

[2018-06-29 16:39] bdjnk opened #421 "Use one, track level, package.json"
I realize this was proposed previously (#235) and closed as `wontfix`, but there is a simple and correct way to have a single install of all the necessary tools. The only necessary `package.json` change would be to the `scripts` section.

Right now we have a `package.json` in each exercise with a `scripts` section as follows:

[code]

All `package.json` files should be removed from the exercise di

[2018-06-29 18:54] matthewmorgan commented on #421
@bdjnk thanks for reviving this, it would be a welcome change.

If I (dimly) recall, the issue was the behavior of Jest either locally or on Travis.  I seem to remember that it wanted to run _all_ tests in the repository when the user's intent was to run tests for a single exercise.

Any change needs to allow for three scenarios:
1. User tests _one_ exercise only
2. Contributor tests everything lo

[2018-06-30 13:39] tejasbubane commented on #421
More importantly we want the users to receive the `package.json` and `package-lock.json` when they run `exercism fetch`. For this we need to keep these files in each exercise.

[2018-06-30 18:46] matthewmorgan commented on #421
Ah yes, @tejasbubane there's the rub.  This works for contributors but not for the end user...I had forgotten about that, I knew there was something blocking this.

@bdjnk I don't think this can be changed without making higher level changes in the exercism CLI application.  I'm not sure what the best way to proceed would be-- could we still create a track-level `package.json` and `package-lock.js

[2018-07-01 02:07] bdjnk commented on #421
I've been mulling this problem. A general technical solution for loading and updating track level files seems like a worthwhile discussion, but also outside the scope of this particular issue.

I can see a simple to implement solution that adds a very slight burden to the end-user up front.

If we put the track level `package.json` in the `hello-world` exercise, all that needs to be added is a sin

[2018-07-01 02:55] matthewmorgan commented on #421
@bdjnk I have to say, I'm not convinced that your proposed solution is better than what we have now- -I wish I were convinced, but...

The current situation is clearly easier for the end user than having to move and/or maintain the package.json file.  It's a small amount of additional work for contributors, but not much, and with the backstop that the files are copied propagated automatically on `

[2018-07-01 03:17] bdjnk commented on #421
@matthewmorgan There are two reasons doing this helps the end-users.

As an end-user myself, I was put off by having to reinstall identical `node_modules` in each exercise. So much so I took the time to solve the problem for myself and propose it here. Others may have the same irritation, and indeed, friends I've directed to this track have mentioned it.

More importantly, part of what we're tryin

[2018-07-01 10:15] matthewmorgan commented on #421
@bdjnk thanks for your thoughtful response.

While I agree that in a real project you would want to do something like this, I'm still put off by the idea of users having to download a specific exercise, and move the files manually before doing the node install.  This is less an architecture question than a limitation of the way the Exercism CLI currently works.  The users are not cloning the entir

[2018-07-01 17:17] tejasbubane commented on #421
Those were some thoughtful responses @bdjnk. I understand that reinstalling `node_modules` is a bit of a repetitive task and eats up disk space. I myself delete the `node_modules` after completing the exercise but..

I see one problem with your approach - imagine the user does move the package.json up a level for the first exercise - starts solving exercises and sometime later - we the track maint

[2018-07-02 14:18] kytrinyx commented on #421
The new CLI has a command (`exercism prepare --track=$track-id`) that is intended to do this, but I will not be able to implement the guts of it until after launch.

[2018-07-09 22:07] matthewmorgan commented on #421
@kytrinyx I'm guessing that's intended to handle track-level installs-- will it receive updates whenever a new exercise is fetched?  If so, it seems like we could pin this for now, and use that feature when it's ready.

[2018-07-14 21:04] matthewmorgan commented on #417
@tejasbubane @joelwallis how are your PRs coming?  I could do a couple of these myself this weekend.  Migration is currently underway, so I think we should wrap this up if possible.

[2018-07-14 21:45] joelwallis commented on #417
Hey Matt,

I'm unable to implement my two exercises this weekend. I started working on the `fourth` yesterday, but I couldn't progress on it. I never worked with stack-based languages, so I have to learn how they work before implementing it.

If you want, get this one from my plate. I'll be able to work on it on Monday, so I could get the `point-mutations` done.

[2018-07-15 11:09] matthewmorgan commented on #417
OK, got it-- I will give `forth` a look!

[2018-07-15 11:36] matthewmorgan commented on #417
OK, `forth` is merged.  @tejasbubane let me know if I can take anything off your plate and help get this over the finish line.

[2018-07-18 22:43] matthewmorgan commented on #417
@tejasbubane @joelwallis it looks like the V2 migration has happened.  I don't know that this adds any urgency to getting those exercises ported, but let me know if you will be able to finish this in the next day or two.

"I don't have time this week" is a perfectly acceptable answer, I just don't want to step on anyone's toes.  This seems like an important loose end to me, and I am willing and ab

[2018-07-19 02:32] joelwallis commented on #417
Hi @matthewmorgan,

Unfortunately, I'm not finding time this week to work on this issue. Feel free to take `point-mutations` from my plate. Thank you very much for stepping forward to offer some help.

[2018-07-19 11:08] matthewmorgan commented on #417
Done.

[2018-07-20 03:07] c-dante commented on #274
I don't want to dredge this up, but I just want to be told no :)

I'm currently a mentor over on the javascript track for v2, and I've seen maybe 30 or so solutions for these beginning exercises go by.

I'd say about 1/3 of people have been curious why a class based solution is required to pass the tests -- especially since in native, something like this doesn't work:

[code]

Does it make sense t

[2018-07-20 11:01] matthewmorgan commented on #417
@tejasbubane Since you hadn't commented on this in a few weeks, I went ahead and finished the last two that needed to be done.  You are welcome to improve the exercise implementations if you are so inclined!

[2018-07-20 11:01] #417 closed

[2018-07-20 11:45] tejasbubane commented on #417
Sorry @matthewmorgan, I was busy this week and somehow missed these notifications :(

[2018-07-20 13:48] c-dante commented on #274
Sounds good to me! I'd love to contribute in any way I can -- I really like the low barrier to entry that exercism provides especially as an entry point for people new and experienced alike.

[2018-07-20 15:11] iHiD commented on #412
Great work. Thank you.

I think @kytrinyx and I need an hour to plan, then probably an three hours to code a script, then deploy and check. We need some info on people mid-way through an exercise too and to think about how the CLI copes with that.

We have to launch Teams before then so I think we're probably targeting maybe around 1st-3rd Aug to do it. If things go badly then maybe towards the ne

[2018-07-20 15:12] kytrinyx commented on #412
Yeah 1st-3rd of August would be great. Let me find those formatting guidelines (and let me stick those in some proper documentation!)

[2018-07-20 16:24] kytrinyx commented on #412
These are the guidelines for the ABOUT.md file: https://github.com/exercism/docs/blob/master/language-tracks/documentation/for-consumers.md#about

[2018-07-20 17:07] matthewmorgan commented on #412
OK thanks.  `ABOUT.md` conforms to the requirements.

[2018-07-23 07:56] tejasbubane commented on #274
We recently had a discussion in slack channels of both `javascript` and `ecmascript` tracks regarding this. I agree with the fact that we should not impose any rules in the implementation details. However, I don't have a strong opinion on classes or functions. If a lot of people prefer functions, we can go that way.

[2018-07-23 17:08] c-dante commented on #274
Sounds good! This is going to be a tough issue since it's always going to bleed a bit into opinion, but I think as long as we have the beginning track of exercises introduce the concepts and build on it, we'll be in a good place.

To me, starting from pure arrow functions, then classes, finally end with `function` and `prototype`, which delves into the nitty gritty a bit more.

Having the early te

[2018-07-23 19:03] kybernetikos commented on #274
I think there's some confusion here to do with the 'class' keyword.  As far as I'm concerned, this is not to do with use of the 'class' keyword, it's to do with tests calling 'new' on students code when just running a function would make just as much sense.

Calling 'new' on students code forces them into a particular way of framing their solution, and for many of the problems it's actually a wors

[2018-07-23 19:08] c-dante commented on #274
@kybernetikos so that's the problem, right? If the test is expecting a function prototype then you need to give a function that works with `new`. At the same time, you really shouldn't solve a pure function spec by passing a class -- no matter how you slice it, the test is going to dictate the final shape of the solution. You simply cannot have both worlds without some odd work.

That being said,

[2018-07-23 19:18] kybernetikos commented on #274
Agreed.  I'm sure hard-core functionistas will disagree with me, but things like Forth where state is required to be maintained across invocations make perfect sense to approach in an OO way, and I have no problem with using 'new' in such cases.

Trying to get people to be skeptical of state, and to avoid it where it's possible to is in my opinion an important road for programmers to follow as the

[2018-07-23 21:36] matthewmorgan commented on #274
Great debate, and worth having for sure.

I would point out that functions are simply objects in JavaScript, with (as mentioned above) the special property of having a constructor, IE, `new` gives you back an instance of the function.

`Leap`, for example, could be solved using anonymous functions and objects very simply:

[code]

That's not a whole lot different than:

[code]

except that it requ

[2018-07-23 22:01] c-dante commented on #274
@matthewmorgan you REALLY need to be careful! If you try to run that in modern ECMAScript, it will crash and throw on `new` when passed an arrow function!

[code]

So, no, it is not equivalent! The reason something like that *might* work is because babel or similar is transpiling your code into:

[code]

Which would work when called with new.

[2018-07-24 00:43] matthewmorgan commented on #274
@c-dante I appreciate your careful scrutiny, and you make an excellent point.

We welcome new ideas and discussions about how to improve the track, and we even more heartily welcome PRs ;)  Don't take anything I've said or am about to say as anything but well-intentioned debate.

Classes are just functions, and functions are just objects, and my example was intended to illustrate that.  One of the

[2018-07-26 17:54] kytrinyx commented on #421
Yes, let's pin this and come back to it. Thank you!

[2018-08-03 16:12] jackhughesweb opened #434 "Fix getting started instructions for ecmascript"
Some exercise README templates contain links to pages which no longer exist in v2 Exercism.

For example, C++'s README template had a link to /languages/cpp for instructions on running tests. The correct URLs to use can be found in the 'Still stuck?' sidebar of exercise pages on the live site. You'll need to join the track and go to the first exercise to see them.

Please update any broken links i

[2018-08-06 13:03] xarxziux opened #436 "Test cases should not encourage default exports"
When designing an ES6 module, the developer has two ways of exposing internal functions and values: named exports and default exports.  Depending on the method used, the corresponding import statement looks a little different too.  However there are various articles outlining the opinion that using default exports is an anti-pattern should be avoided.

I'm only a little way into the ECMAScript cha

[2018-08-08 19:58] matthewmorgan commented on #436
I think this is a great idea.  I'd be happy to review any forthcoming pull requests.  :)

[2018-08-13 09:00] xarxziux commented on #274
I know I'm a little late to this discussion, but having gone a little way down both the student and mentoring routes I'd like to express my opinions on this.

In very general, simplistic terms, there are two types of exercises: those that ask you to accept a value and return an answer, and those that ask you take some initial state and return an interface that performs some operations on that stat

[2018-08-14 21:45] xarxziux opened #445 "Simple Cipher unit tests do not check for keys with non alphanumeric characters"
I've just reviewed a submission for the Simple Cipher exercise where the student only checked for upper case letters and numbers in the key.  This was enough to pass the unit tests, but does not conform to the requirements that state "Let's make your substitution cipher a little more fault tolerant by ... ensuring that the key contains only lowercase letters".

The unit tests for this exercise wil

[2018-08-15 05:15] coagmano commented on #274
Just started mentoring, and the first two submissions on Leap (in the Javascript stream) that I saw were totally bewildered that they had to define a function, then another function on the prototype (ie, a class) to implement a simple method

Keeping things simple is not just good for learning, but general development as well. So I agree with @xarxziux's comments about getting learners to use the

[2018-08-15 13:45] c-dante commented on #274
Can we just revert this commit: 02c126beac218bf10fa25f45e8475648e33e65cf

I think from this discussion, and as a learning tool, consistency in how to solve the exercise isn't great -- we should expose the idiomatic way a language solves a problem. It's a learning opportunity to discover a simple function solution as well as a more complex class solution.

[2018-08-15 17:33] tejasbubane commented on #274
I seem to like @xarxziux's comment [here](https://github.com/exercism/ecmascript/issues/274#issuecomment-412453179). What do others think @exercism/javascript ?

[2018-08-19 08:55] LyleCharlesScott opened #449 "Phone-number test cases are incorrect."
On the phone-number exercise in the ecmascript track, acceptable phone numbers are explained in the read.me to be of the format NXX NXX XXXX (with no spaces), where N is any digit from 2-9 (no zero or 1) and X is any digit from 0-9.

Four of the test cases use the phone number 123 456 7890, which does not fit the pattern. Changing those test cases to 223 456 7890 makes them compliant with the requ

[2018-08-19 13:49] bennypowers opened #450 "[Proposal] Consider using tape test runner"
Tape supports esm and can be piped to a variety of reporters, which opens the door for further integrations (i.e. running test on the site)

https://github.com/substack/tape

[2018-08-19 13:49] bennypowers opened #451 "[Proposal] use `esm` instead of `babel`"
Tests currently use babel in order to enable standard syntax (i.e. `import`) in modules.

I propose using `jest -r esm`

It may be that [jest does not yet support esm](https://github.com/facebook/jest/issues/4842), in which case see https://github.com/exercism/ecmascript/issues/450

[2018-08-19 18:56] kytrinyx opened #452 "Remove obsolete version tracking assertions in exercises"
Some tracks have added assertions to the exercise test suites that ensure that the solution has a hard-coded version in it.
In the old version of the site, this was useful, as it let commenters see what version of the test suite the code had been written against, and they wouldn't accidentally tell people that their code was wrong, when really the world had just moved on since it was submitted.

I

[2018-08-20 06:37] tejasbubane commented on #452
We don't have versions in this track. Closing.

[2018-08-20 06:37] #452 closed

[2018-08-22 16:53] dotnetCarpenter commented on #451
Or use [rollup](https://github.com/rollup/rollup) if you want to use jest + ES2018 syntax, without transpiling everything.

[2018-08-24 02:09] PatrickMcSweeny opened #454 "Many readme files still refer to ECMAScript track"
For example: https://github.com/exercism/javascript/blob/master/exercises/hello-world/README.md in the 'setup' section. I would be willing to work on a pull request for this.

[2018-08-24 15:36] brunnock opened #455 "Mistake in introduction to Armstrong Numbers"
*10 is not an Armstrong number, because 10 != 1^2 + 0^2 = 2*

1^2 + 0^2 = 1

[2018-08-24 16:16] rpottsoh commented on #455
PR #456 fixes this problem.  However, that PR fixes all the READMEs that are out of date in this track.  They may opt to go about fixing this issue another way.  Their call.

Thanks for spotting this!

[2018-08-24 16:47] tejasbubane commented on #455
Thanks for spotting this! Mind sending a quick PR to fix it?

The file you need to change is [here](https://github.com/exercism/javascript/blob/master/exercises/armstrong-numbers/README.md). And correct README for reference is [here](https://github.com/exercism/problem-specifications/blob/master/exercises/armstrong-numbers/description.md).

[2018-08-24 16:52] tejasbubane commented on #455
Sorry @rpottsoh did not see your comment. Thanks for the PR - LGTM - will wait for response from other maintainers.

[2018-08-24 17:33] tejasbubane commented on #274
I see a bunch of PRs waiting. Can others at @exercism/javascript chime in and decide what to do here?

[2018-08-24 18:52] tejasbubane commented on #455
This has been fixed in #456 - should be live with the next deploy.

[2018-08-24 18:52] #455 closed

[2018-08-24 18:53] tejasbubane commented on #454
Thanks for spotting this @PatrickMcSweeny

[2018-08-24 19:08] #454 closed

[2018-08-24 19:19] tejasbubane commented on #451
@bennypowers @dotnetCarpenter I have not used either of `esm` or `rollup` personally, but here is what I think, I maybe wrong:

`rollup` uses [buble](https://github.com/Rich-Harris/buble) internally, which is still a transpiler. [ref](https://github.com/rollup/rollup/blob/master/package.json#L73)

We don't use `babel` just for `import`, it allows users to code in modern JS features irrespective of

[2018-08-24 19:24] tejasbubane opened #460 "Upgrade Jest"
Upgrade Jest to latest version: https://www.npmjs.com/package/jest

Steps:

1. Change the `package.json` in root of this project.
1. Run `npm install` so that it updates `package-lock.json`.
1. Now each exercise has `package.json`, but you don't need to update all of them manually! Run `make test` to copy updated `package.json` from root to all exercise directories `exercises/<name>/package.json`

[2018-08-24 19:26] tejasbubane commented on #434
This came up in another issue https://github.com/exercism/javascript/issues/454 and was fixed in https://github.com/exercism/javascript/pull/459. Please reopen if any other invalid links are found.

[2018-08-24 19:26] #434 closed

[2018-08-24 19:29] tejasbubane commented on #412
This track along with merger of ecmascript has been running well on v2. Closing.

Please reopen if something is missed.

[2018-08-24 19:29] #412 closed

[2018-08-25 17:01] bennypowers commented on #451
esm Just makes es modules work in node. It's literally that simple. `node -r esm` or put some esm directives in your package.json and importing es modules _just works_ .

[2018-08-26 14:28] dotnetCarpenter commented on #451
I regress.

@bennypowers I thought you where talking about EcmaScript Modules as in `node --experimental-modules` and not ESM as in [esm, the node module](https://www.npmjs.com/package/esm).

Rollup is a tool to only transpile ESM to require/AMD etc. If buble is included, then it's an opt in to use it or something fundamentally has changed in rollup since I've used it. [esm, the node module](https

[2018-08-26 17:07] amscotti opened #461 "Blocked from moving onto the next exercise. (Matrix to Linked List)"
Hi, I got done with Matrix a bit ago and I seem unable to move onto Linked List. I'm not sure why it will not unlock for me. I'm guessing this may have to deal with the move from Ecmascript to Javascript, but I don't know.

![exercism 2018-08-26 13-02-27](https://user-images.githubusercontent.com/598958/44630738-83d37d80-a930-11e8-8e77-58259c1f78c0.png)

Let me know if there any more details I can

[2018-08-26 20:07] tejasbubane commented on #451
That means `esm` is not a drop-in replacement for `babel` right? Babel transpiles user-written modern javascript for [the node version installed on user's machine](https://github.com/exercism/javascript/blob/master/package.json#L34).

[2018-08-26 20:13] tejasbubane commented on #461
I guess you are right in that this may be a migration issue. Because the [config](https://github.com/exercism/javascript/blob/master/config.json#L204-L207) says linked list is `core` exercise and is not unlocked by something else. Let me check with the core members and get back to you. Sorry for the inconvenience.

[2018-08-27 09:33] xarxziux commented on #445
I realised that after I created this issue and have already opened one:

https://github.com/exercism/problem-specifications/issues/1298

[2018-09-01 09:41] paparomeo commented on #461
I've had the same issue: https://github.com/exercism/exercism/issues/4289.

[2018-09-01 15:52] ncalleia opened #466 "hamming: add new test case"
The function is supposed to find differences in two DNA strands, so I think it should throw an error if we don't have a valid DNA strand.

[code]

[2018-09-01 15:52] #466 closed

[2018-09-02 18:31] iHiD commented on #461
@amscotti Is this fixed for you now?

[2018-09-03 04:16] amscotti commented on #461
@iHiD Yup! Thanks for the help, I can now work on Linked List. :) 🎉

[2018-09-03 04:16] #461 closed

[2018-09-03 05:11] tejasbubane commented on #449
@LyleCharlesScott Thanks for spotting this! We have the canonical test-cases [here](https://github.com/exercism/problem-specifications/blob/master/exercises/phone-number/canonical-data.json) which I guess cover your point. I think we also need to change our implementation.

Would you be willing to send a PR to fix this?

[2018-09-03 20:11] iHiD commented on #461
Enjoy! :)

[2018-09-05 10:04] Insti opened #467 "hello-world: URL to Installation instructions not linked."
In the readme for hello-world the URL for the installation instructions under 'setup' is not a link.

https://exercism.io/tracks/javascript/installation

(it is here on github, but not on the exercism.io page.)

[2018-09-05 13:42] tejasbubane commented on #467
Which exercism.io page are you referring to here?

I guess you mean it should be changed to `[]()` format?

[2018-09-05 14:38] Insti commented on #467
The readme page that one sees when one clicks on the hello-world exercise as a logged in student.

Probably this one:

https://github.com/exercism/javascript/blob/master/exercises/hello-world/README.md

That's it.

[2018-09-06 07:37] #467 closed

[2018-09-06 09:49] Insti commented on #467
You're a hero @tejasbubane
thanks :heart:

[2018-09-08 07:07] MarPenc opened #471 "Zipper exercise tests with different arity of function toTree"
The [_Zipper_ exercise](https://github.com/exercism/javascript/tree/master/exercises/zipper) tests requires multiple arities of the function _toTree_:

` 31:    expect(zipper.toTree(t1)).toEqual(t1);`

and

` 43:    expect(zipper.left().right().toTree()).toEqual(t1);`

In my opinion, that is not possible to achieve in Javascript, since there is no function overloading technique that I know of.

[2018-09-08 09:04] MarPenc opened #472 "ESLint reports 1230 errors and 5 warnings"
The readme suggests the use of `npm run lint-test` to _"help you write quality JavaScript code by checking for common formatting errors, enforcing style rules, and suggesting changes that conform to best practices."_

ESLint reports 1230 errors and 5 warnings.

This should be fixed.

[lint-test-result.txt](https://github.com/exercism/javascript/files/2363179/lint-test-result.txt)

[2018-09-08 19:52] LyleCharlesScott commented on #471
Are you sure this is a thing? I have a solution for this exercise that passes all of these tests.

[2018-09-08 19:54] LyleCharlesScott commented on #449
Ah! I didn't see your reply until now. Sure, I'll set up a PR for it.

[2018-09-09 19:06] tejasbubane commented on #449
Hi @LyleCharlesScott thanks! I can do a PR but that would deprive you of the credit. Here is a nice tutorial of how to create a PR https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github

Give it a try. If you are facing some issues, just comment here and we can sort it out on slack chat.

[2018-09-09 19:57] LyleCharlesScott commented on #449
K! I didn't realize I had to fork it, not just clone it. Pull request is up, with detailed documentation about what I did.

The example.js file is broken though. The version from the deprecated ecmascript track doesn't have all of the functionality that the older one from the javascript track had. I think I'm going to try to update that now because it's a relatively simple refactor.

[2018-09-09 19:58] LyleCharlesScott commented on #449
BTW Thanks so much for working with me on this and making me feel included. I love Exercism :-)

[2018-09-10 11:44] tejasbubane commented on #471
@MarPenc I think that `t1` is already applied in `beforeEach` so not required again in the tests. Thanks for spotting. 👍

Although it should not be a blocker. You can pass less number of arguments to functions in JS - it won't throw any error - the argument value will just be `undefined`. This might be how @LyleCharlesScott did it. Since the parameter is not required, I will merge your PR.

[2018-09-10 11:45] #471 closed

[2018-09-10 11:49] tejasbubane commented on #274
Thanks for all those PRs @xarxziux! Now that we have decided to remove classes, should we close this and create another issue with list of exercises pending conversion so people can pick one-by-one?

[2018-09-10 12:00] tejasbubane commented on #472
On the contrary I think the second one (prettier) should be easier to do since everything should be formatted in a single command. But we decided against using prettier long back https://github.com/exercism/javascript/issues/298

Eslint configuration is not complete (open issue https://github.com/exercism/javascript/issues/44) and is not added in CI. Hence all the errors. I am not sure if I have t

[2018-09-10 12:04] tejasbubane commented on #451
I don't want to sound rude while closing this issue but I hope you understand. Our users will be using different versions of nodejs on their machines while solving exercises and we want to make sure nothing breaks - hence we have to use a transpiler like `babel`. Thanks ✌️

[2018-09-10 12:04] #451 closed

[2018-09-10 12:06] tejasbubane commented on #450
We prefer using `jest` since it is popular and familiar to our contributors. As I mentioned in #451, we cannot remove `babel`, I don't see any advantage in switching testing framework here. Please let me know what you think.

[2018-09-10 21:40] xarxziux commented on #472
Prettier or `eslint --fix` will take care of some of the formatting issues, which are the bulk of the errors, but not everything.  It might be worth doing [another](https://github.com/exercism/javascript/pull/320) `eslint --fix` and pulling the lot in one go.

[2018-09-10 21:44] xarxziux commented on #274
I've no problem with that.  I've re-factored most of the core exercises.  I'm not sure there's an awful lot of value in fixing all the side ones as well.

[2018-09-11 16:59] bennypowers commented on #450
Before closing, consider the advantage of using [TAP-based reporters](https://github.com/substack/tape#pretty-reporters).

Thanks for your consideration.

[2018-09-12 06:55] coagmano commented on #436
Just fired up the leap exercise and noticed that using named exports gives lint errors because of this rule in the `airbnb` preset:
https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/prefer-default-export.md

We should probably disable that specific rule, to avoid giving linting errors for the correct solution

[2018-09-12 17:46] tejasbubane commented on #44
@matthewmorgan @rchavarria Can we proceed with the eslint integration now that the track migration is done? I am willing to lend a hand, let me know the approach.

[2018-09-17 06:11] tejasbubane commented on #449
Closed via https://github.com/exercism/javascript/pull/474

[2018-09-17 06:11] #449 closed

[2018-09-19 01:50] matthewmorgan commented on #450
@bennypowers I'm going to chime in late here and agree with @tejasbubane

I'm not sure I see the advantage in switching the entire track over for what seems to be a matter of Coke vs. Pepsi.  If there were an inadequacy we needed to address, I could be convinced, but...

Please don't be discouraged from further comments and contributions!  We really do value comments and contributions.

[2018-09-19 01:50] #450 closed

[2018-09-19 01:52] matthewmorgan commented on #274
Thanks to @tejasbubane and @xarxziux for the considerable effort exerted to make this happen.  +++

[2018-09-19 01:52] #274 closed

[2018-09-20 18:44] PatrickMcSweeny opened #477 "Twelve days is out of sync with specification"
The specification for twelve days has been change to correct a punctuation issue.

https://github.com/exercism/problem-specifications/blob/84aa47979df7f526bdcb777cacc2c2cc9647dcaa/exercises/twelve-days/description.md

[2018-09-20 18:45] matthewmorgan commented on #477
Hi @PatrickMcSweeny !

Do you want to put in a PR for this, or just bringing it to our attention?

[2018-09-21 10:43] #477 closed

[2018-09-24 00:49] coagmano commented on #436
Someone else found the same issue on Simple Cipher, which really confused a student:
https://exercism.io/mentor/solutions/4fd72fa7f4a648fab6a6558aa0902c76

[2018-09-25 05:11] tejasbubane opened #480 "Fix eslint errors in all exercises"
I have configured eslint in https://github.com/exercism/javascript/pull/479

But have not fixed errors in any exercise apart from `hello-world`. Instead I added all exercises to [.eslintignore](https://github.com/exercism/javascript/blob/master/.eslintignore).

The plan is to do this:
1. Pick one exercise (You can pick many but we prefer to have separate PRs so that it is easy to review - but if t

[2018-09-28 16:38] gargrave commented on #480
I'll help out with some of these over the weekend! 👍 Given how small the overall codebase is, it really shouldn't be too big of a deal to get all of these taken of pretty quickly.

[2018-10-01 16:59] gargrave commented on #480
@tarunvelli and I have a handful of PRs open for this--do you need review help? I am happy to help review PRs if that will help expedite things.

[2018-10-02 18:35] tejasbubane commented on #480
Thanks a lot for the PRs! I am on a vacation for a week and would be able to look at them next week only. Meanwhile some other maintainers might have a chance to review.

[2018-10-02 19:43] iagocavalcante commented on #460
I'll send the PR.

[2018-10-06 14:27] #460 closed

[2018-10-06 14:28] matthewmorgan commented on #480
@gargrave @tejasbubane @tarunvelli I'm looking at the PRs now.  Thanks for the patience.

[2018-10-06 16:16] ganderzz commented on #480
Trying my hand at helping out if there are no issues with it. :) Should be able to bust out a few.

[2018-10-07 14:55] tarunvelli commented on #480
I think the hacktoberfest label should be added to this issue, as it might help get this issue resolved faster

[2018-10-08 17:44] danielj-jordan opened #496 "Bowling example and spec file do not implement all canonical tests"
The bowling example does not implement the Roll(pins:int) operation as desribed in the exercise requirements.  Instead it accepts an array of rolls in the constructor.   Also there are numerous discrepancies with the [canonical spec](https://github.com/exercism/problem-specifications/blob/master/exercises/bowling/canonical-data.json) file including the following tests which are missing:
	- bonus r

[2018-10-08 19:36] matthewmorgan commented on #496
@danielj-jordan welcome back...we'd love to have your help  again!

[2018-10-09 19:45] IndelicateArgot opened #499 "queen-attack spec file does not test "edge" case"
While working with a friend on queen-attack, I noticed his solution passed all the provided tests in [queen-attack.spec.js](https://github.com/exercism/javascript/blob/master/exercises/queen-attack/queen-attack.spec.js) - but would fail given a specific edge case. This situation would arise if a queen was placed on the last position in a row.

For example, in the spec file; if

`const positioning

[2018-10-09 22:37] #499 closed

[2018-10-12 16:19] tejasbubane commented on #472
This can now be closed in favor of #480

[2018-10-12 16:19] #472 closed

[2018-10-13 14:12] Futuro212 commented on #480
Hi everyone,

So I'm new with this project and when I try to run the lint command, it shows errors about `Expected linebreaks to be 'LF' but found 'CRLF'`. I'm running this on windows. Should I change some configuration in the eslint?

[2018-10-13 23:05] matthewmorgan commented on #480
@Futuro212 let's not comment on closed issues please.  Would you mind opening a separate, new issue for this?  Hopefully someone can help.  Thanks!

[2018-10-14 10:56] Futuro212 opened #502 "Lint errors with line endings in windows"
Hi everyone,

So I'm new with this project and when I try to run the lint command to solve some errors regarding #480, it shows errors about Expected linebreaks to be 'LF' but found 'CRLF'. I'm running this on windows. Should I change some configuration in the eslint for this?

[2018-10-14 18:29] #496 closed

[2018-10-15 05:03] deegeebee commented on #436
Hi, I'm very new to both exercism, JS, coding etc, and the same confuses me very much too:
I did 'Hello World' (uses named import).
Then got 'two-fer' as next (side) exercise.
Two-Fer does not provide a two-fer.js, so there is no start file giving the export (challenging too).
But if a newbie like me creates one along the lines of 'Hello World', it does not pass the tests because the test wants de

[2018-10-15 07:12] tejasbubane opened #503 "Change two-fer exercise to use named exports"
Issue: https://github.com/exercism/javascript/issues/436

You are expected to change the export from default to named. Files to be changed: [code](https://github.com/exercism/javascript/blob/d3388886b794e75a0352d672bcd31fa6cf516d45/exercises/two-fer/example.js#L1) and [test](https://github.com/exercism/javascript/blob/d3388886b794e75a0352d672bcd31fa6cf516d45/exercises/two-fer/two-fer.spec.js#L1)

[2018-10-15 07:13] tejasbubane commented on #436
Thanks for reporting @deegeebee I have created an issue to fix this.

[2018-10-15 07:33] ivanuy commented on #503
I would like to work on this

[2018-10-15 18:54] serixscorpio commented on #480
@matthewmorgan is seems the lint errors on various exercises are not yet all fixed, perhaps re-open this issue? Or do you prefer 1 issue mapping to 1 PR? My PR #505 fixes just 1 exercise.

[2018-10-16 11:33] #503 closed

[2018-10-16 11:35] tejasbubane commented on #503
@ivanuy This has been fixed. Please feel free to pick other issues - especially https://github.com/exercism/javascript/issues/480 where there are lot of exercises to be fixed - you can pick any exercise and send a PR. Thanks.

[2018-10-16 22:10] PSalant726 opened #509 "secret-handshake should test using dec values"
The `secret-handshake.spec.js` file should pass the appropriate dec value to the `SecretHandshake` constructor, per the prompt:
[code]
However, the test file passes a hexadecimal value to the `SecretHandshake` constructor for each test, for example:
[code]
This creates an issue because two-way conversions from hex <--> bin is not possible in JS:
[code]
The spec file should be modified so that conv

[2018-10-16 22:14] PSalant726 commented on #509
I can open a PR to address this issue, but I thought it would be worthwhile to discuss the spec file here first, in case I'm missing something.

[2018-10-16 23:02] matthewmorgan commented on #509
@PSalant726  I don't think there's anything to discuss!  How did this happen?  Not sure, but definitely `problem-specifications` seeks decimal inputs, not hexadecimal inputs.

Please proceed with your PR, that would be welcome :)

[2018-10-17 10:39] #509 closed

[2018-10-21 13:31] tejasbubane commented on #480
@adamxtokyo Thanks for contributing! We do not want to create separate issues for each PRs. Because the steps outlined in this issue description will be same for all exercises. For more clarity you are advised to look into linked PRs for other exercises. Discussion related to specific exercise as required can be taken up on the PR itself. Otherwise before starting if you have any doubts, you can a

[2018-10-21 13:36] tejasbubane opened #525 "Add contributing guidelines"
We have quite a few things going on in the CI and elsewhere. Now we also have ESLint. A new contributor [here](https://github.com/exercism/javascript/issues/480#issuecomment-431656972) was quite confused since the [contributing guidelines right now](https://github.com/exercism/javascript/blob/377a39af3165bc3dd097878f6bd9fc92aead8b52/CONTRIBUTING.md) point to [this repo](https://github.com/exercism

[2018-10-21 14:38] adamxtokyo commented on #480
Thanks @tejasbubane ! 😄

[2018-10-21 17:44] adamxtokyo commented on #502
This has to do with your IDE. I'm guessing you're using Visual Studio Code on Windows? It uses CRLF line endings per default, but you can set it up to use LF line endings instead, which would be a more permanent solution.

[See this issue for instructions.](https://github.com/Microsoft/vscode/issues/2957)

Good luck, I hope this solves it for you 😄

[2018-10-21 17:48] adamxtokyo commented on #525
[This issue](https://github.com/exercism/javascript/issues/502) could go into the common errors section, as I imagine more people will run into it 👍

[2018-10-21 20:14] adamxtokyo commented on #480
So, going through the code and linting, I've noticed a few linting rules I think we should change:

**Bitwise operators are not allowed**
Imho this is limiting for more advanced coders. I think we should allow it, or at least downgrade it from an error to a warning (if that makes it pass CI).

**Functions need to be declared before they're used**
Function declarations are hoisted, so this is valid

[2018-10-23 05:50] tejasbubane commented on #480
[According to eslint](https://eslint.org/docs/rules/no-bitwise) the reason this is because people tend to make typos of `|` when they want `||` and same for `&` and `&&`. I think since we have test-cases, we need not worry about this and limit ourselves from using bitwise operators when needed - sometimes they lead to really elegant and efficient solutions. So I agree upon disabling this rule at p

[2018-10-24 13:00] Futuro212 commented on #502
I went with another approach, I changed my `.gitattributes` file to keep with the LF line endings, using the git global config.

[2018-10-24 14:22] adamxtokyo commented on #502
@Futuro212 that works too, but it also means your local files will keep their `CRLF` line breaks and a conversion will happen on push. Might not make a big difference depending on your workflow, but I'd say changing your IDE settings is better since it will streamline the whole process (i.e. no needless conversion).

Either way, happy to hear you solved the issue 🙂

[2018-10-24 14:29] Futuro212 commented on #502
That makes sense but solved the CRLF breaks on checkout, because I kept changing options in vscode to LF but the files still came with CRLF (without the `git global config` I mean).

Thanks for the help :) @adamxtokyo

[2018-10-24 14:39] adamxtokyo commented on #502
No worries @Futuro212 ! 😌

Your reply actually made me realise I made a mistake in my previous comment;
Like you said, line breaks are converted on **checkout**, not on push like I said 🤦‍♂️ 😅

[Here's a good explanation of the different options](https://help.github.com/articles/dealing-with-line-endings/#example)

[2018-11-01 18:11] matthewmorgan opened #544 "Fix some code quality issues with Perfect Numbers"
The [Perfect Numbers exercise](https://github.com/exercism/javascript/tree/master/exercises/perfect-numbers) on this track has a few issues:

1. The suite requires a class, but then only calls a stateless method on the class instance. Either this method should be [static](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/static), or better yet, the test should expect a simp

[2018-11-02 14:47] #544 closed

[2018-11-06 08:08] lukejpreston commented on #480
Are there even any errors left? Also, I could see it here but `eslint --fix` will auto fix loads

[2018-11-07 12:31] tejasbubane commented on #480
@lukejpreston

We have disabled eslint errors using [.eslintignore](https://github.com/exercism/javascript/blob/6d2e197d98cd1cbf8c8f963955b843f18a341c5b/.eslintignore) for all exercises and plan to fix errors in 1-2 exercises at a time. This is to make CI happy for now while using it to fix errors by removing the exercises we fix. (See PRs attached to this issue for reference).

It fixes most of t

[2018-11-07 12:52] lukejpreston commented on #480
thanks, didn't realise the `.eslintignore` file existed

[2018-11-09 01:31] d-vail commented on #436
Hey,

Is anyone still working on changing the test cases to use named exports? I am early on in the JS track and ran into some exercises that still require default exports. Ex. Reverse String. I figured out the tests wanted a default export but I can see how that would be confusing without a start file.

I'd be happy to help make the tests more consistent.

[2018-11-10 19:52] matthewmorgan commented on #436
@d-vail help is always appreciated!  Have at it.

[2018-11-13 06:10] NobbZ opened #555 "bob: README and specs are out of sync"
Tonight a student was confused and asked for help in the gitter.

He stumbled over the tests about a forced question:

https://github.com/exercism/javascript/blob/master/exercises/bob/bob.spec.js#L44-L47

He was especially confused about the fact, that this kind of response was not listed in the README.

Regenerating the README should fix the issue.

[2018-11-13 06:19] #555 closed

[2018-11-14 00:15] xarxziux opened #559 "Consider using the Codacy code review tool"
[Codacy](https://www.codacy.com/) is an automated code review tool that is free for open source projects.  It provides automated linting and security checks with a comprehensive dashboard that goes into detail on the issues found.  This review is automatically triggered on every commit.

With the current drive towards cleaning up the linting errors in issue #480, setting up the project on Codacy w

[2018-11-19 21:41] jonakirke94 opened #564 "Non linear learning curve"
I've done the first 7 exercises of the track and I've experienced the difficulty varies a lot.

I spent 3 hours on "Simple Cipher" but only 5 minutes on "Gigasecond". I'd like to propose "Simple Cipher" to be moved further down the track and "Gigasecond" to the 3rd exercise in the track.

[2018-11-20 01:08] matthewmorgan commented on #564
@jonakirke94 do you think the difference is because of

1. the language -- required features of the language were difficult to understand or use
2. the core problem -- that is, simple-cipher is a harder problem conceptually
3. the implementation -- somehow the test suite made an otherwise easy problem hard to solve

We appreciate you taking the time to give us your thoughts on this.

[2018-11-20 20:35] jonakirke94 commented on #564
I think it's a combination of 2 & 3.

I think the exercise was conceptually harder than the nearby tracks and if I had to compare it to the exercises on the sidetrack in terms of difficulty I would rate it medium, which I think is a little too hard for the third exercise in the track.

The steps are intended to make it easier to comprehend and gradually increment your code, but the tests are not c

[2018-11-28 22:57] serixscorpio commented on #564
After having started mentoring the simple cipher exercise in javascript track, I tend to agree the core problem is harder comparing to nearby exercises.  This exercise touches upon multiple concepts (from @SleeplessByte's [mentor notes](https://github.com/exercism/website-copy/pull/605/files)):
* DRYing up an implementation
* Maintainability (magic numbers, variable naming)
* Strings as characters

[2018-11-28 23:17] SleeplessByte commented on #564
I usually just mentor 15 of simple cipher at a time.

I do think it's a great exercise but should probably be later down the
track

On Wed, 28 Nov 2018, 23:57 Eric Ti-Yu Chiang, <notifications@github.com>
wrote:

[2018-11-29 18:59] SleeplessByte commented on #502
A better solution would be to change the `eslint` settings in the JavaScript `package.json`s (or move to a config file)

`linebreak-style` needs to be turned off.

[2018-11-29 21:33] adamxtokyo commented on #502
Can you elaborate why that would be a better solution?