[2018-11-29 22:20] SleeplessByte commented on #502
Changing git attributes in order to match some arbitrary rule that has
nothing to do with JavaScript or modern text editors as they all handle
foreign line endings correctly is imo not a good solution.

As you can see here https://eslint.org/docs/rules/linebreak-style the rule
is just a contingency just in case something misbehaves and it even points
out that git and text editors do NOT need this.

[2018-11-29 23:26] SleeplessByte commented on #502
P.S. I'm not trying to sound combative or anything else :) on the spectrum

On Thu, 29 Nov 2018, 23:20 Derk-Jan Karrenbeld, <derk-jan@karrenbeld.info>
wrote:

[2018-12-07 00:25] konni2020 opened #577 "Need tests for rule 4 in javascript's pig-latin exercise."
- Rule 4: If a word contains a "y" after a consonant cluster or as the second letter in a two letter word it makes a vowel sound (e.g. "rhythm" -> "ythmrhay", "my" -> "ymay").

There are no tests for it.

[2018-12-07 01:41] konni2020 opened #574 "Pig latin: add new test cases"
It seems that there are no tests for rule 4.

- Rule 4: If a word contains a "y" after a consonant cluster or as the second letter in a two letter word it makes a vowel sound (e.g. "rhythm" -> "ythmrhay", "my" -> "ymay").

[2018-12-09 22:25] jsmith0684 opened #578 "Luhn Exercise"
Test 3 of the Luhn test suite with description 'valid Canadian SIN' appears to be incorrect.

Test input: '046 454 286'
Translated: 0 + 4 + 12 - 9 + 4 + 10 - 9 + 4 + 4 + 8 + 12 - 9 = 31
31 isn't evenly divisible by 10 therefore the result should be false not true.

[2018-12-10 18:55] thanhcng commented on #480
I'd like to work on this pls

[2018-12-11 20:11] Talicode commented on #421
I am just beginning with Exercism, Typescript and Visual Studio Code, but I have a small note for any other newbies trying to implement bdjnk's solution to stop the duplication of the node_modules
His change to package.json (move it to the track level, and edit as noted above) does work, but to get testing to work with yarn I needed to also move up tsconfig.json or jest wouldn't see it and would i

[2018-12-23 01:51] missmatsuko opened #581 "Different logos for JavaScript track throughout site"
https://exercism.io/tracks uses "JS" logo
https://exercism.io/my/tracks uses "ES" logo (need to be logged in to see)
https://exercism.io/tracks/javascript uses "JS" logo
https://exercism.io/#explore-languages uses "JS" logo on mobile, "ES" logo on desktop

And they're all different from this one:
https://github.com/exercism/javascript/blob/master/img/icon.png

[2018-12-23 01:56] missmatsuko commented on #581
I'm not sure what the icon within the track is for. I guess the website-icons repo is actually the place to fix the icons used on the site, though. Made a new issue there: https://github.com/exercism/website-icons/issues/21

[2018-12-23 01:56] #581 closed

[2019-01-02 20:36] sheadscott opened #583 "package.json script to run next test"
I wrote this script to automate running the next test:

`"nexttest": "gsed -i -e '0,/xtest/s/xtest/test/' *.spec.js && jest --no-cache ./*",`

gsed is the Mac OSX version of gnu-sed and can be installed with `brew install gnu-sed`. The default OSX version of sed uses a different syntax.

The command finds the first instance of "xtest" and changes it to "test" and then runs the jest command. This s

[2019-01-07 07:11] tejasbubane commented on #583
Ideally I would like **any** command to behave similarly on all platforms (OSX, Linux and Windows).

We would have to:

* Write some code to use either `sed/gsed` based on platforms - I don't even know if there is equivalent on Windows.
* Make changes in the [documentation](https://exercism.io/tracks/javascript/tests) asking users to install `sed/gsed/<windows-equivalent>`

I understand automation

[2019-01-07 19:42] matthewmorgan commented on #583
@sheadscott I have to agree with @tejasbubane on this.  We really appreciate the thought and the initiative to improve the project, but we'd like to see things evolve in the direction of _more_ consistency between platforms, and _less_ required setup.

I am concerned that this would take us in the other direction on both points, unless I misunderstand.

[2019-01-07 20:18] sheadscott commented on #583
@matthewmorgan and @tejasbubane I agree that it would need to be consistent on all platforms. I mostly just wanted to post this somewhere in case anyone can use it and see if the concept would be something the maintainers would be interested in.

I can imagine writing this as a node script that could possibly go in the .exercism folder or could be it's own hidden file.

[2019-01-16 16:02] tejasbubane commented on #583
Closing this since both maintainers agreed this is not required. Others are free to use the script from this issue - but we choose to not recommend it via adding hidden file, etc.

Please don't be discouraged by this - we appreciate your interest and would like to hear more on ways in which we can improve exercism. Thanks.

[2019-01-16 16:02] #583 closed

[2019-01-17 08:33] #574 closed

[2019-01-18 06:51] tejasbubane commented on #577
Duplicate of https://github.com/exercism/javascript/issues/574. Closed by https://github.com/exercism/javascript/pull/575

[2019-01-18 06:51] #577 closed

[2019-01-21 14:11] SleeplessByte opened #589 "Suggestion: prefer eslint syntax over style"
With [more](https://github.com/prettier/prettier) and [more](https://github.com/xojs/xo) tools becoming available to automatically format the code base to a certain set of style rules (and [more comprehensive](https://github.com/prettier/prettier-eslint/issues/101) than `eslint --fix`, I'm also more inclined to stop teaching style preference, as indicated by mentor notes, mentor guidance docs and

[2019-01-21 16:33] tejasbubane commented on #589
The eslint config is not for students. It is for contributors contributing to this track repo. We do not enforce **any** style restriction on students.

[2019-01-21 17:13] SleeplessByte commented on #589
I know that _we_ don't, but that's not how IDE's work. VS Code for example will pick up the eslint configuration _by default_ if the plugin is active. Atom en Webstorm too!

Evidently, we should change something as mentors áre referring to it in their comments :)
@tejasbubane I don't know of a super smart way to do this right; running `eslint:recommend` for students is actually something I would p

[2019-01-21 17:57] tejasbubane commented on #589
Ok. Some very valid points that I completely took for granted:

I did not realize that we give the eslint config in [exercises](https://github.com/exercism/javascript/blob/master/exercises/accumulate/package.json#L59-L77) which students download. I assumed we only validate it from [main package.json file](https://github.com/exercism/javascript/blob/master/package.json)

I did not know this as well

[2019-01-21 18:02] tejasbubane commented on #589
This is because JS does not have a standard formatting tool (you mentioned the same in previous comment). Had it been [golang](https://golang.org/cmd/gofmt/) or [elixir](https://hexdocs.pm/mix/master/Mix.Tasks.Format.html), it would be good to recommend.

Having said that I am OK with using `eslint:recommend` as well. But I would certainly put up a mentor note to atleast not make it a requirement

[2019-01-21 18:30] SleeplessByte commented on #589
I'm happy to actually strip _all_ style items left in `eslint:recommend` btw! We are definitely in sync on reasoning and I agree with everything you say.

[2019-01-21 22:30] SleeplessByte commented on #589
@tejasbubane I think we can choose a permutation one of these:
- use a track-level eslint configuration on something "strict", `eslint:recommended` including style rules,
- drop exercise-`package.json` eslint config and dependencies. This will _not_ disable eslint in `travis` in the exercises folders, if I'm right.
- change exercise-`package.json` eslint and dependencies to use `eslint:recommended

[2019-01-22 00:00] SleeplessByte opened #591 "Checklist: core exercise mentor notes"
Mentor notes should be written here: [website-copy/tracks/javascript](https://github.com/exercism/website-copy/tree/master/tracks/javascript/exercises)

- [x] [two-fer](https://github.com/exercism/website-copy/tree/master/tracks/javascript/exercises/two-fer) ~(needs update)~
- [x] [resistor-color](https://github.com/exercism/website-copy/tree/master/tracks/javascript/exercises/resistor-color)
- [x

[2019-01-23 17:01] SleeplessByte commented on #591
Almost there 🎉 🚀 🔥 ⏩

[2019-01-24 11:11] tejasbubane commented on #436
@SleeplessByte Do we need to change defaults for all exercises? Or should we decide on some number after which we switch to random exports?

Advantage of named exports `everywhere` is that all our exercises are consistent. But the downside is students won't get to practice with default exports.

[2019-01-24 11:15] SleeplessByte commented on #436
Everywhere. If need be we can create and exercise that teaches default exports and other js related export things such as live bindings.

[2019-01-24 11:17] tejasbubane commented on #436
Ok I am working on a PR to change them.

[2019-01-24 14:50] SleeplessByte opened #600 "Checklist: convert export default to named export"
Follow up on #436 and the implementation #599 .

- [x] variable-length-quantity
- [x] strain
- [x] palindrome-products
- [x] queen-attack
- [x] sum-of-multiples
- [x] sieve
- [x] hexadecimal

[2019-01-24 14:51] SleeplessByte commented on #436
Closed by #599, Follow up #600

[2019-02-06 09:23] NobbZ opened #602 "I don't understand how to use spec.js"
@chrismjx commented on [Tue Feb 05 2019](https://github.com/exercism/cli/issues/804)

I just downloaded leap.spec.js for the javasript track, and my question is a very newbie "How do I use this?"

The first line appears to be importing a file from somewhere. The describe block seems to be describing the gist of the test? The rest of the stuff starting with "xtest" is what I'm really confused by. W

[2019-02-06 11:26] SleeplessByte commented on #602
@NobbZ thank you for moving!

@chrismjx I understand your question.
Both on [the track](https://exercism.io/my/tracks/javascript) and `hello-world` you can find the instructions and link to [installation](https://exercism.io/tracks/javascript/installation) followed by [running the tests](https://exercism.io/tracks/javascript/tests).

Please take the time to follow the instructions.

[2019-02-06 11:26] #602 closed

[2019-02-12 14:57] smb26 commented on #600
hello, can I have this task?

[2019-02-12 15:18] SleeplessByte commented on #600
@smb26 sure! Just edit your message and say which one you're fixing :)

[2019-02-12 15:34] smb26 commented on #600
Thank you!

[2019-02-14 00:05] gabriel376 commented on #578
Can I take this one ?

[2019-02-14 02:24] tejasbubane commented on #578
@gabriel376 Yes. I don't think @jsmith0684 worked on this one.

[2019-02-14 14:40] smb26 commented on #600
Hey @SleeplessByte, can I do a single pull request with the changes on all the six remaining exercises or should I keep doing separate pull requests?

[2019-02-14 14:43] SleeplessByte commented on #600
I prefer separate @smb26 , but you can just keep them all open at the same time.

[2019-02-15 07:22] #578 closed

[2019-02-25 11:24] SleeplessByte opened #620 "Checklist: drop eslint for exercises"
Per #589,

- [x] move `eslint` config from root `package.json` into root `.eslintrc`
- [x] **remove** all `eslint` dependencies from exercise-level `package.json`
- [x] fix CI check to ignore eslint discrepancy between root and exercise-level `package.json`
- [x] (optional): add script to add `eslint:recommended` to exercise-level `package.json` on "deploy".

[2019-02-25 11:25] SleeplessByte commented on #564
This should be fixed per #590 and further changes coming up.

[2019-02-25 11:25] #564 closed

[2019-02-25 13:17] SleeplessByte commented on #409
In general, online or offline, people will refer to ECMAScript as JavaScript and generally _not know_ the difference between the language specification (ECMAScript) and the various implementations. ECMAScript in general is not taught, or "chatted" about, but in reality it's what we mean most of the time when we say "...well in JS you can X, Y, Z".

- Under the [linux foundation projects](https://w

[2019-02-26 04:10] aprilmintacpineda commented on #409
Does http://nodejs.org count? I think this question is a bit hard to answer since AFAIK ECMAScript is a trademark created, by Ecma International, to standardize JavaScript. So is it supported by a large organization? Absolutely YES!

Hmmm... ECMAScript is NOT a community.

Here in PH, I know a few one

- https://www.meetup.com/ManilaJavaScript/
- https://www.meetup.com/reactjs-developers-manila/
-

[2019-02-26 18:11] kytrinyx commented on #409
@SleeplessByte This is epic, thank you.
@aprilmintacpineda This is really useful additional context, much appreciated!

[2019-02-27 02:45] smb26 commented on #600
Hello, I have a doubt for the palindrome exercise  - on the example, what is being exported is a generate function that will return two objects: largest and smallest, each with value and factors.

To change it for a named export, should I split it, ending up with two methods that each will return an object?

[2019-02-27 03:28] sin commented on #600
I'd say no. It's outside of the scope of converting default export to named export. It would change how the solution works internally, not only how the code is exported. You can see in the [example](https://github.com/exercism/javascript/blob/master/exercises/palindrome-products/example.js) that it uses the same loop to generate both results. These calculations are interlinked and it makes sense t

[2019-02-27 04:29] smb26 commented on #600
Honestly, I don't feel like it has something to be split, but since the run-length had a separation between functions, I decided to ask about the best strategy. Thank you @sin

[2019-02-27 10:08] SleeplessByte commented on #600
@smb26 Right now it's expecting a single function as default export. When you do this one, I would make it maybe expect `palindromes(opts) => ...`.

[code]

[2019-02-28 12:19] SleeplessByte commented on #591
All core exercises currently have mentor notes or pending pull requests.

[2019-02-28 14:38] tejasbubane commented on #591
Great job @SleeplessByte 👍

[2019-03-01 18:32] tejasbubane opened #626 "Update tests for palindrome-products"
Tests for `palindrome-products` exercise need to be synced up with [canonical specs](https://github.com/exercism/problem-specifications/blob/master/exercises/palindrome-products/canonical-data.json).

One notable change is - current tests include [`numericArrayMatch`](https://github.com/exercism/javascript/blob/master/exercises/palindrome-products/palindrome-products.spec.js#L46-L59) which can be

[2019-03-01 18:34] tejasbubane commented on #626
@cmccandless Since you worked on this in https://github.com/exercism/javascript/pull/625 would you be willing to take this up?

[2019-03-04 13:24] tejasbubane opened #628 "Create exercise versioning policy based on Haskell track"
Exercism tracking issue: https://github.com/exercism/exercism/issues/4786
- haskell: https://github.com/exercism/haskell/pull/717/files#diff-c6795c529069232683d979cd4239c219R2
- ocaml: https://github.com/exercism/ocaml/issues/283
- javascript: https://github.com/exercism/javascript/issues/628

**Note**: This is not the same as https://github.com/exercism/exercism/issues/4266 which removed tracking

[2019-03-04 19:49] mp0wr opened #629 "linked-list definition of "head" and "tail""
the notion of "head" and "tail" seem to be backwards in the `example.js`.
I'd expect "back" to correspond to "tail" and "front" to correspond to "head", like [this article](https://hackernoon.com/the-little-guide-of-linked-list-in-javascript-9daf89b63b54).

the example works and tests, but it seems conceptually misleading, imo.

README:

example.js:

[code]

[2019-03-04 21:47] SleeplessByte commented on #629
Hi there,

I probably agree with you, despite me writing the notes [like this](https://github.com/exercism/website-copy/blob/master/tracks/javascript/exercises/linked-list/mentoring.md) as that matched the example more. I think the original author who created this exercise from the spec determined that the last pushed element should always be `head`, so the array's head is at it's end.

We'll acce

[2019-03-04 22:43] mp0wr commented on #629
Working on it.

@SleeplessByte,
Ok to update the code example for this like this?
*The mentor notes for linked-list seem out of date. Little things like `Element` is expected by test spec, `Node` is referenced in the mentor copy.*

Node constructor arguments: `constructor({ value, next, prev }) {...`
Element constructor args: `(value)`

[2019-03-04 23:12] SleeplessByte commented on #629
The [tests](https://github.com/exercism/javascript/blob/master/exercises/linked-list/linked-list.spec.js) actually don't expect `Element`. I would open a PR here (`exercism/javascript`) with the following text:

    This PR updates the `example.js` code to be more reasonable. The `head` of the
    list is now also the front, and the `tail` of the list is now also the back.

    This matches the ex

[2019-03-04 23:14] mp0wr commented on #629
ok. PR from a fork?

[2019-03-04 23:15] SleeplessByte commented on #629
Yep, you won't be able to directly create a branch here :)

[2019-03-04 23:42] SleeplessByte commented on #600
A humongous thanks to @smb26 ! Thank you for making this happen 💟

[2019-03-04 23:42] #600 closed

[2019-03-05 06:46] tejasbubane commented on #629
Changes in PR look good. But the README description is confusing (maybe because it is a doubly linked list) - I would generally expect to instead and remove from head only (aka stack). But anyways the problem specification also says the same - so seems good.

[2019-03-05 06:46] #629 closed

[2019-03-05 06:53] tejasbubane commented on #628
@SleeplessByte For now I suggest not adding extra `.q` and matching with test data versions. This is ofcourse assuming that our test will match test data exactly and we won't be needing any extra tests.

[2019-03-05 07:25] tejasbubane commented on #628
Sorry for not being clear with the issue description. Better late than never if anyone else ends up here.

The issue here is not all exercises in this track are in sync with problem specifications. Some (if not most) lag behind and miss some tests or have old version of tests. We need to take this case by case basis and do the following:

* If all tests match, just update version number and we sho

[2019-03-05 10:12] SleeplessByte commented on #628
@tejasbubane yep! I'll make a checklist too.

[2019-03-08 16:38] #626 closed

[2019-03-10 06:38] mainangethe opened #635 "Error when running `npm test` or `npm run lint-test`"
I recently completed the Is Leap for Javascript.

* I tried to run my tests with the command ```javascript  npm test ```.
* I went to the link provided by the CLI.
* **Expected:** to see the results of my unit tests,
* **Actual:** I got a Type Error.

Here's my "exercism debug":
[code]

[2019-03-10 06:42] mainangethe commented on #635
![tiny-error-screenshot](https://user-images.githubusercontent.com/41260290/54081640-dd255c00-4318-11e9-8d76-cb7767040513.png)

[2019-03-10 09:24] tejasbubane commented on #635
This is an issue with Node v11.11 - https://github.com/facebook/create-react-app/issues/6591 For now there is no fix apart from downgrading node version.

[2019-03-11 07:00] micalgenus commented on #635
The project does not seem to use create-react-app. The following was resolved in jest: Facebook/jest#8050

If you use the version of jest and Babel-jest at v24.2.0-alpha.0 or later, you can resolve it. The latest version of best is v24.3.1. 😄

[2019-03-11 10:29] tejasbubane commented on #635
@micalgenus Yes. This project does not use `create-react-app` and the issue was in Jest. I just happened to find that issue in create-react-app repo and used that issue link.

Alright so we need to update Jest. I tried doing the same after Jest 24 released recently and ran into all sorts of weird issues due to babel 7 ([ref](https://jestjs.io/blog/2019/01/25/jest-24-refreshing-polished-typescript-

[2019-03-14 20:14] smb26 commented on #628
Can I have it please? 😄

[2019-03-14 21:20] SleeplessByte commented on #628
@smb26 ❤️ of course. Could you start by opening another issue with at least the ones you're doing but preferably all the exercises as a checkbox (like I did with  https://github.com/exercism/javascript/issues/600) and name it:

[code]

Note the steps are listed here: https://github.com/exercism/javascript/issues/628#issuecomment-469569417

[2019-03-16 05:36] mainangethe commented on #635
@micalgenus - I tried installing jest and babel-jest @ v24.2.0-alpha.0

And still getting an error. Now it's saying `Cannot find module './leap' from 'leap.spec.js'
`
![tiny-npm-jest- -babel-v24 2-failing-16032019](https://user-images.githubusercontent.com/41260290/54471209-8b704c00-47c6-11e9-810d-dbcd5c3e8b86.png)

[2019-03-16 16:44] SleeplessByte commented on #635
And are you _certain_ there is a `leap.js` file in that directory?

[2019-03-19 11:40] SleeplessByte opened #639 "Curriculum: promote two-fer to core (round 2)"
- [ ] sync `two-fer` with the problem specifications, add the `default` argument instead of calling with `''`.
- [ ] promote `two-fer` to core, right after `hello-world`

[2019-03-19 11:41] SleeplessByte opened #640 "Curriculum: replace leap with resistor-color (round 2)"
- [ ] add new exercise `resistor-color`
- [ ] make `resistor-color` core, right after `two-fer` (#639)
- [ ] demote `leap` from core

[2019-03-19 11:43] SleeplessByte opened #641 "Curriculum: add new exercise resistor-colors (round 2)"
- [ ] add new exercise `resistor-colors` (Also known as Resistor Color II, follow-up for #640)
- [ ] as an experiment 🔬 add this as core right after `resistor-color`

After a while, check the metrics and see if we should:
- keep `resistor-colors` as core
- keep `resistor-color` as core
- keep both as core

[2019-03-23 17:39] drericrobinson commented on #620
I'm happy to take this one, but I'm new to contributing so I'll need some direction on the third checkbox.

[2019-03-23 20:47] SleeplessByte commented on #620
Hi @drericrobinson; this is in the works! However we could use a _lot_ of help [here](https://github.com/exercism/javascript/issues/628#issuecomment-473068089).

[2019-03-25 19:28] tejasbubane opened #646 "Makefile vs JS scripts"
See sample js files in :

**Makefile**:
* Simple elegant bash commands
* Already in place - tiny changes required.
* Needs separate software on windows (like Cygwin etc)

**JS Script**
* Single language everywhere - assuming contributors already have nodeJS installed
* Not as elegant as Makefile - extremely elaborate for simple task like copying a file: [examples](https://github.com/exercism/javas

[2019-03-25 19:34] SleeplessByte commented on #646
I would also want to add that:

**Makefile:**
- there is _significant_ overhead for new contributors who don't know make and don't use bash (think: using guis a lot, are on windows, or use a different non-bourne style shell)
- make commands are easy to get wrong cross-platform, even if a windows user has cygwin / bash installed

[2019-03-25 19:37] iHiD commented on #646
Sounds good to me.

[2019-03-25 19:43] SleeplessByte commented on #635
Resolved in Node 11.12

[2019-03-25 19:43] #635 closed

[2019-03-25 19:44] #620 closed

[2019-03-25 19:44] SleeplessByte commented on #620
#645

[2019-03-25 19:44] tejasbubane commented on #646
As of now I prefer Makefile for the [simplicity](https://github.com/exercism/javascript/pull/647/files). But my opinion is biased since I don't use windows and makefiles work flawlessly on Unix systems.

Should we investigate any JS libraries that ease out the process and reduce the elaborate handrolled scripts? I found one https://github.com/jakejs/jake but did have a proper look yet.

Makefiles

[2019-03-25 19:46] iHiD commented on #646
What's the Makefile actually do here?

[2019-03-25 19:49] SleeplessByte commented on #646
Copy a few top-level files, create a temporary directory, copy in all the exercise tests, and rename example.js to the correct filename -- then lints and runs tests.

I work with both which is why I know the pain. Make is _really_ not straightforward on windows, even with cygwin.

Yeah, the most simple one is that anytime you need to escape something it's not the same cross shells; similar to why

[2019-03-25 19:56] tejasbubane commented on #646
Ohh right sorry for not clarifying that in the issue.

Makefile does a few things in this repo:

1. Copy `package.json` from the root directory to each exercise directory. This makes sure all files being served to users are in sync. Contributors doing any changes to `package.json` are supposed ro run this and commit changes.

2. To be sure contributors making any change to `package.json` in projec

[2019-03-25 20:03] #480 closed

[2019-03-25 20:03] #502 closed

[2019-03-25 20:03] #589 closed

[2019-03-25 20:04] tejasbubane commented on #502
@Futuro212 Please reopen if the issue still persists for you. Thanks!

[2019-03-25 20:16] tejasbubane commented on #635
@mainangethe Please fetch new version of the exercise and try again. Reopen the issue if you are still seeing the issue. Thanks!

[2019-03-26 18:17] #640 closed

[2019-03-26 18:31] #639 closed

[2019-03-26 18:36] SleeplessByte commented on #591
Reopened pr #650 #649 #648 and #642

[2019-03-26 22:09] #641 closed

[2019-03-27 09:34] tejasbubane commented on #639
@SleeplessByte Comment on slack:

![Screenshot 2019-03-27 at 3 02 20 PM](https://user-images.githubusercontent.com/980783/55065271-856d4b80-50a1-11e9-8770-f7850d99e45e.png)

[2019-03-27 10:02] SleeplessByte commented on #639
@tejasbubane taken care of at slack :)

[2019-03-28 17:59] glennj opened #655 "There are 2 "resistor colors" exercises."
Why the duplicate?

[2019-03-28 18:57] SleeplessByte commented on #655
It's not a duplicate. One it `resistor-color` and one is `resistor-colors`. Both teach different parts of `Array` 🥇

[2019-03-28 18:58] #655 closed

[2019-03-29 21:12] ailyntang opened #656 "`npm install` is not enough to use `npm run test`"
Hi, thanks very much for adding this new exercise. In all the other JS exercises, I have been able to run the tests after typing the following commands into terminal:

1. `npm install`
2. `npm run test`

However with this exercise, I have not been able to run the tests. This is what I have tried:

**First error: `jest: command not found`**
1. `npm install`
2. `npm run test`
Error received: `sh: je

[2019-03-29 21:19] macjabeth opened #657 "npm installation error with first project"
I get this error when attempting to run `npm install` for the first "Hello World" project.

[2019-03-29T21_14_03_786Z-debug.log](https://github.com/exercism/javascript/files/3024584/2019-03-29T21_14_03_786Z-debug.log)

[2019-03-30 16:45] SleeplessByte commented on #656
From your message I can't figure out _which_ exercise; from the log i think it's `resistor-color`.

If we look at its [package.json](https://github.com/exercism/javascript/blob/master/exercises/resistor-color/package.json), we can see `jest` is already present.

I've also gone ahead an download the exercise again and run the appropriate commands
[code]

No errors 😓 .

[2019-03-30 16:46] SleeplessByte commented on #657
Are you actually in the `hello-world` directory when you run this command?

We don't do anything with `electron`, so this error does not make sense in regards with exercism.

[2019-03-31 05:58] macjabeth commented on #657
![image](https://user-images.githubusercontent.com/8473052/55285331-9d6df500-5357-11e9-8978-7069d1692980.png)
Per the error log, it does state the cwd is in the `hello-world` folder. 🙂 But luckily I just tried running npm install again and everything seemed to work this time without error. I suspect it may have been a bug with one of the sub-dependencies (browserslist?) that was resolved overnight

[2019-03-31 06:00] #657 closed

[2019-03-31 10:11] SleeplessByte commented on #657
Ah. Yes, browserlist is probably used in eslint and babel -- glad that it's fixed!

[2019-04-04 11:58] SleeplessByte opened #660 "Checklist: new exercises, currently not implemented"
- [ ] [affine-cipher](https://github.com/exercism/problem-specifications/tree/master/exercises/affine-cipher)
- [ ] [bank-account](https://github.com/exercism/problem-specifications/tree/master/exercises/bank-account)
- [ ] [book-store](https://github.com/exercism/problem-specifications/tree/master/exercises/book-store)
- [ ] [counter](https://github.com/exercism/problem-specifications/tree/master

[2019-04-05 09:06] tejasbubane commented on #660
The old version of exercism had a page showing unimplemented exercises for the language. I asked a question in slack if we have this page in the new version - someone said there is an issue created. We should probably get it back.

[2019-04-05 09:30] SleeplessByte commented on #660
@tejasbubane yep, I saw that comment! So I thought, let me just create this list in the meantime :)

[2019-04-08 16:43] AnnaCate opened #663 "Awaiting mentor feedback on solution, but all other exercises still locked"
I submitted my solution to the Two Fer exercise and am awaiting mentor feedback (status says "In Progress"). I would like to move on to the next exercise, but it is still locked (it is my understanding that the submission of my solution should have unlocked the next exercise).

[2019-04-08 17:19] SleeplessByte commented on #663
The next exercise will be unlocked once this one is approved.

Can you link your solution page here?

[2019-04-08 17:38] AnnaCate commented on #663
@SleeplessByte thank you. My solution page is [here](https://exercism.io/my/solutions/fc842aab24c74617b83615380d9e7428). I guess I am confused since the "Next Steps" box on the right side of the screen says that while I wait for mentor feedback:

[2019-04-08 17:55] SleeplessByte commented on #663
Ah yes, if you scroll down on the [track page](https://exercism.io/my/tracks/javascript) you can see the side exercises. These become available after _each core exercise_.

That said, the current queue for `two-fer` is about 4 days!

[2019-04-08 17:57] AnnaCate commented on #663
Oh I see. Thank you for clarifying!

[2019-04-08 17:57] #663 closed

[2019-04-08 18:02] SleeplessByte commented on #663
No problem! 😄

[2019-04-09 10:34] ailyntang commented on #656
Thanks so much for looking into this @SleeplessByte . My apologies for not listing the exercise - I thought I had navigated to the correct exercise on GitHub before posting, but I must not have!

You were right, it was indeed `resistor-color`.

And as is always the case, now that you've looked at it, I can no longer replicate the problem either. I think perhaps that `npm install` didn't work prope

[2019-04-09 10:34] #656 closed

[2019-04-10 02:23] nmegrant opened #664 "Unable to download Resistor Color Duo Core Exercise"
Whenever I try to download the exercise Resistor Color Duo I receive the following error message: Error: unable to parse API response - invalid character '<' looking for beginning of value.
![Screen Shot 2019-04-10 at 2 14 56 PM](https://user-images.githubusercontent.com/37487734/55846993-ce41fb80-5b9b-11e9-8c76-8e50f9fc9148.png)

I also noticed the exercise doesn't look the same as the other ones

[2019-04-10 06:52] tejasbubane commented on #664
Thanks for reporting @nmegrant. This exercise was previously called `resistor-colors` and was recently renamed to `resistor-color-duo` which seems to have caused the issue. Although I am unable to figure out exactly why, I have asked others for help and will get back to you soon.

[2019-04-10 09:47] tejasbubane commented on #664
@nmegrant I just tried and was able to download the exercise. Can you try again?

If you still see the error, can you run the same download command using `--verbose` option and paste the output here? Please be sure to remove your auth-key from `Authorization: Bearer <....key....>` before pasting the result here.

[2019-04-10 10:04] nmegrant commented on #664
Still no luck. Here is the output when I tried it with ```--verbose```

========================= BEGIN DumpRequest =========================
GET /v1/solutions/latest?exercise_id=resistor-color-duo&track_id=javascript HTTP/1.1
Host: api.exercism.io
Authorization:
Content-Type: application/json
User-Agent: github.com/exercism/cli v3.0.11 (darwin/amd64)

========================= END DumpRequest ===

[2019-04-10 11:22] SleeplessByte commented on #664
@iHiD

[2019-04-10 11:26] SleeplessByte commented on #656
@ailyntang I'm happy it got resolved! Have fun on exercism.

[2019-04-10 11:57] ailyntang commented on #656
@SleeplessByte Thanks for looking into this!

[2019-04-10 14:12] tejasbubane commented on #664
@nmegrant Should be fixed now. Please feel free to reopen this issue if you still face problems.

[2019-04-10 15:08] SleeplessByte commented on #628
@tejasbubane any update on the makefile change to remove the version / replace it with 0.0.0 when doing the integrity check (when running `make test-travis` as well as merging the current version into the copy when running `make`?

[2019-04-10 20:24] nmegrant commented on #664
@tejasbubane Success! Thanks for the help!

[2019-04-12 11:43] SleeplessByte opened #667 "Checklist: normalise topics"
**Note**: the suggestions are generated automagically. If something is _actually_ missing, please open an issue at [problem-specifications](https://github.com/exercism/problem-specifications) to add the missing topics.

[code]

<details>
  <summary>List of valid topics</summary>

Source: [#d28d6](https://github.com/exercism/problem-specifications/blob/d28d6a5f40bb19f6a5954b7bda3430f4089aa680/TOPIC

[2019-04-14 22:02] nmegrant commented on #664
Hi @tejasbubane - I think I spoke too soon. When I go into the resistor-color-duo directory it is empty. I tried deleting it and re-downloading, but still empty.

![Screen Shot 2019-04-15 at 9 57 52 AM](https://user-images.githubusercontent.com/37487734/56099789-89d0aa00-5f65-11e9-8021-42d8e5b45931.png)
![Screen Shot 2019-04-15 at 10 00 27 AM](https://user-images.githubusercontent.com/37487734/560

[2019-04-15 07:16] tejasbubane commented on #664
cc @iHiD ^

[2019-04-15 07:24] nmegrant commented on #664
Tried deleting it a third time (using ```rm -r resistor-color-duo```). Double checked it was gone, then re-downloaded but the folder is still empty :(

[2019-04-16 11:08] iHiD commented on #664
@nmegrant Can I get another copy of the response please? Specifically this bit:

[code]

[2019-04-16 11:27] nmegrant commented on #664
Sure, here is what I got from adding ```--verbose``` to the end of the download command:

========================= BEGIN DumpRequest =========================
GET /v1/solutions/latest?exercise_id=resistor-color-duo&track_id=javascript HTTP/1.1
Host: api.exercism.io
Authorization:
Content-Type: application/json
User-Agent: github.com/exercism/cli v3.0.11 (darwin/amd64)

========================= E

[2019-04-16 11:49] iHiD commented on #664
Sorry. There was a second bug here (basically a duplicate of the first). Could you try again now pls?

[2019-04-16 12:25] nmegrant commented on #664
It works!  Downloaded successfully, checked the directory andeverything was there, ran npm install, etc and all looks to be working. Thanks for the fix!

[2019-04-16 13:07] iHiD commented on #664
Great. Thanks for confirming :)

[2019-04-16 13:07] #664 closed

[2019-04-29 07:47] marge2312 opened #672 "test suite exercise difference of squares broken?"
Hello diligent programmers,

yesterday i downloaded the exercise "difference-of-squares" in javascript track.
i made 'npm install', created a file called 'difference-of-squares.js' and tried to run the test-suite with 'npm test'.
Unfortunately i encountered the following error:

[code]

anybody any ideas? i'm totally stuck... :(

best regards,
Marge

[2019-04-29 10:58] SleeplessByte commented on #672
Hi there @marge2312,

First check if your test suite looks like the code block below. If it doesn't, your test file might be out of date. This can happen if per chance you've downloaded it a while ago (maybe by accident) and we have since updated the test suite. In this case, browse to the solution page (exercism.io/tracks/ -> javascript -> difference of squares) and press the update exercism butt

[2019-04-29 12:31] marge2312 commented on #672
thanks so much! 👍
the lacking export was the problem! 🤔😅

[2019-04-29 12:31] #672 closed

[2019-05-07 19:08] serixscorpio opened #674 "Wordy: Intended verification for `ArgumentError`"
In the wordy [test suite](https://github.com/exercism/javascript/blob/4762107967273cfec8d7bcc69121dedb1c2b48c1/exercises/wordy/wordy.spec.js#L74-L86), the argument of `toThrow` method is `new ArgumentError()`, but based on [jest documentation](https://jest-bot.github.io/jest/docs/expect.html#tothrowerror), it seems the intended verification was perhaps just `ArgumentError` (in other words, to veri

[2019-05-08 05:33] tejasbubane commented on #674
Right. Would you be willing to send a PR to make the change?

[2019-05-08 15:08] #674 closed

[2019-05-09 17:43] tejasbubane commented on #646
@SleeplessByte Just saw another point in your favour - https://github.com/exercism/javascript/pull/676#issuecomment-490914391

[2019-05-10 14:11] SleeplessByte commented on #646
Ah yes. I also believe we should update `CONTRIBUTING`.

[2019-05-17 05:38] tejasbubane opened #678 "Exports can be confusing for beginner-level exercises"
From a comment on [this `two-fer` solution](https://exercism.io/mentor/solutions/45e039027cf64520b1416c3c559aad6c):

We changed all exercises from default to named exports, but in either case it can be confusing for beginners who are not aware of how modules & exports work.

One solution I see is adding stub files for all core exercises. Thoughts?

**Edit:** Another instance today:

Mentee had not

[2019-05-17 10:08] SleeplessByte commented on #678
Yes. This is the solution and I don't think we should do anything else. Other tracks have gone the same route.

[2019-05-17 10:49] tejasbubane commented on #678
There are 18 core exercises. Should we add stubs for all or first few ones and then let it loose by adding a note in the README? We can take a call based on difficulty level.

[2019-05-17 11:29] SleeplessByte commented on #678
There are 2 approaches I've seen:

- Either _all_ **core** exercises
- Exercises with a difficulty lower than 6, the ones of 6 and higher _do_ have a note that there is no stub.

[2019-05-20 05:51] tejasbubane commented on #678
This option looks good for now. Creating a separate issue for this. Thanks!

[2019-05-20 06:01] tejasbubane opened #679 "Add stub files"
Taken from #678

Exports required in exercise files can be quite confusing for beginners. We would like to make it easier by adding stub files for `core` exercises with difficulty level `less than or equal to 6`.

See [config file](https://github.com/exercism/javascript/blob/master/config.json) for core and difficulty levels. `hello-world` exercise has an [example stub file](https://github.com/exe

[2019-05-20 06:02] tejasbubane commented on #678
Closing in favor of #679

[2019-05-20 06:02] #678 closed

[2019-05-22 10:14] tejasbubane opened #681 "Use airbnb-eslint config"
From https://github.com/exercism/javascript/pull/645

Turn on [airbnb-base](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb) for maintaining via a script that switches this.

In a later change, we should turn on several rules that guard against potential bugs, such as `no-shadow`, `no-undefined`, `no-var`; additionally we can add stylistic consistency without forcing

[2019-05-23 15:57] SleeplessByte commented on #681
Yes yes yes! This is exactly what I meant.

[2019-05-29 09:20] SleeplessByte commented on #646
Resolved via #680

[2019-05-29 09:20] #646 closed

[2019-05-29 09:21] SleeplessByte commented on #44
Superseded by #681

[2019-05-29 09:21] #44 closed

[2019-05-29 09:23] SleeplessByte commented on #559
As far as I'm concerned, they don't offer anything on top of `eslint`, unlike codeclimate, which is also free for open source.

Let's close for now and revisit if we have to.

[2019-05-29 09:23] #559 closed

[2019-05-30 09:04] ankorGH commented on #679
@tejasbubane Is someone working on this? If not I will like to work on it.

[2019-05-30 10:46] tejasbubane commented on #679
@ankorGH Nobody else is working on this. Go ahead.

[2019-06-03 11:59] #591 closed

[2019-06-11 12:28] SleeplessByte commented on #679
Closed via https://github.com/exercism/javascript/commit/189a99767ebe2271eff2b4a784539cec9334dea5

[2019-06-11 12:28] #679 closed

[2019-06-26 03:17] DakshChhokra opened #692 "Test Cases don't seem to run"
The test cases don't seem to run for the collatz-conjecture problem on the js track. The furthest I can get on the terminal after typing in npm test is here
` RUNS  ./collatz-conjecture.spec.js`

[2019-06-26 12:44] sshine commented on #628
Haskell's versioning policy was decided in exercism/haskell#522, implemented in exercism/haskell#523 and documented in exercism/haskell#716. In particular, the main benefit of having a fourth serial version number is that you can track changes to any part of the exercise files given to a user.

Having only the canonical version means you can keep the exercise up-to-date with canonical tests.

[2019-06-26 14:20] SleeplessByte commented on #628
Thank you for these links @sshine !

[2019-07-01 05:02] tejasbubane commented on #628
I was planning to add versions to `package.json` files but I guess there are more options being discussed in https://github.com/exercism/discussions/issues/239. We will wait for a decision to be made over there.

[2019-07-01 05:17] tejasbubane commented on #692
Hi @DakshChhokra, I see the following after running `npm test`:

[code]

All but the first test are skipped. You are supposed to unskip each test and try to make them pass.

If you still face issues, let me know which OS & node version you are using and what is the error that you see.

[2019-07-05 06:47] tejasbubane commented on #692
@DakshChhokra Are you still facing the issue?

[2019-07-06 14:33] Tyresius92 opened #695 "Clock Exercise: Test suite, example, and stub file do not align"
It seems as though the expected solution is different from the provided stub file. The stub file contains a class `at` with stubbed out functions, but the tests won't run on it, resulting in `TypeError: Class constructor at cannot be invoked without 'new'`.

Meanwhile, the example solution uses a function that returns an object with functions as properties, I think? (I'm not super familiar with th

[2019-07-06 14:43] SleeplessByte commented on #695
I agree. I actually prefer to model this as a proper `class` named `Clock`.

Would you be willing to PR a change to `example.js`, `clock.js` and `clock.spec.js`?

[2019-07-06 21:08] Tyresius92 commented on #695
Yeah, I'll work on that either today or tomorrow. You can consider it in progress. :)

[2019-07-08 05:01] #695 closed

[2019-07-24 13:02] KillyMXI opened #700 "Vulnerability warnings due to outdated package-lock.json"
Used the `exercism download --exercise=dnd-character --track=javascript` command to get the `dnd-character` exercise.
After executing `npm i` I got a counter of vulnerabilities at several thousands.
NPM Audit shows it is all about a single library somewhere deep in the dependencies that was fixed  already.

This particular lock file should be regenerated.
And isn't there any planned/automated audi

[2019-07-24 14:30] SleeplessByte commented on #700
![image](https://user-images.githubusercontent.com/1964376/61798700-0f4bdc00-ae2a-11e9-82bb-cb32bf913b37.png)

These are automated and come in regularly.
https://github.com/exercism/javascript/blob/master/scripts/sync syncs the `package.json`. However, we  (iirc) do NOT provide a package-lock.json for the exercise-level. That means that the initial install (the one you do when you pull the exercis

[2019-07-25 18:34] tejasbubane commented on #692
Closing due to no reply.

[2019-07-25 18:34] #692 closed

[2019-07-29 15:03] nitwhiz commented on #421
[Lerna](https://github.com/lerna/lerna) anyone?

[2019-07-29 15:37] SleeplessByte commented on #421
Yes, both work with our repo, as does hoisting node_modules and symlinking.

[2019-07-29 15:39] nitwhiz opened #701 "Add jsdoc to exercises"
Is it intentionally that I have to look up the input (and output) of the functions to be created in the tests?

I'd suggest to provide the following to each function:

[code]

I'd happily contribute this change if wished.

[2019-07-29 15:41] SleeplessByte commented on #701
It is intentional. A lot of the time for those exercise past the first few ones, giving the type, will give away quite a bit of the solution.

I tend to instantly write the JSDoc as I start writing the solution, so I only need to "decide" on it once.

**note**: JSDoc type inference is not a universel IDE feature.

[2019-07-29 15:41] #701 closed

[2019-07-29 15:44] nitwhiz commented on #701
Imho does looking into the test give away way more about the solution though. I get the point of "getting used to tests" and I like that but I don't really see any use in having you to guess the type and look into the test code.

[2019-07-29 17:23] SleeplessByte commented on #701
Since most of these exercises are meant to be tackled with a TDD-style approach, that's exactly the point :)

It's also a misconception that most of the exercise have a _strict_ output type.  For example, you can type `resistor-color` to have as input a `string`, or a `OneOf` type literal: `'brown' | 'white' | ...`. How would you pick here? Automatic type inference and manual JSDoc writing (by the

[2019-07-29 18:25] nitwhiz commented on #701
Alright, makes sense (:

Oh, that's pretty cool, didn't see that / think of that. Thanks for clarification! :+1:

[2019-07-30 08:58] tejasbubane commented on #700
This should be fixed by https://github.com/exercism/javascript/pull/702.

[2019-07-30 09:49] SleeplessByte commented on #700
It still leaves the issue with npm and locks.

[2019-07-30 09:49] #700 closed

[2019-07-30 10:44] KillyMXI commented on #700
No package versions update were needed to remove the warning - it was addressed in patch versions of related packages already.
It was enough to manually remove lock file and node_modules, then reinstall to clear the warning.

Just checked. 15834 high severity vulnerabilities still reported on fresh install.
If you have another housekeeping routine to update `package-lock.json` files - that will ac

[2019-07-30 12:23] tejasbubane opened #703 "Sync package-lock.json to all tracks"
Currently we sync [root package.json](https://github.com/exercism/javascript/blob/master/package.json) to all exercise directories. Files in exercise directory are served to our users.

Should we also sync `package-lock.json` to make sure users get exactly the version we intend?

If we decide to sync, we also need to [check its integrity](https://github.com/exercism/javascript/blob/master/scripts/

[2019-07-30 12:23] tejasbubane commented on #700
Created https://github.com/exercism/javascript/issues/703

[2019-07-30 12:33] SleeplessByte commented on #703
I don't think we should force `npm` over `yarn` and I think that `npm` is _way_ too talkative when it comes to dependencies of dependencies. It also means that we will have to upgrade _all exercises_ way more often (for every patch-level change), which leads to a lot of exercises being denoted as "outdated" even though the content doesn't change at all.

That said, if we want consistent workspaces

[2019-07-30 12:35] SleeplessByte commented on #703
Also: this code doesn't run on the web, not on the internet. Apart from a bad actor (read: pushing a patch level security breach) that would upload shit on postinstall, most of these security issues don't apply to us, at all.

[2019-07-30 12:36] KillyMXI commented on #703
1. Detection of "outdated" exercises should be smarter and should not stop the housekeeping.
2. Exercise instructions use npm.

[2019-07-30 12:40] tejasbubane commented on #703
`yarn` would still work with `package.json` so I would call it `recommending` rather than forcing.

I am not much keen on the security audit fixes. We can safely ignore those since this is not a critical project.

I don't have a strong opinion on this. We can leave this issue open & tackle this as and when someone finds time. Right now versioning & bringing all exercises in sync (https://github.co

[2019-07-30 12:45] SleeplessByte commented on #703
yes, but it leads to "2 lock files" for those users, with inconsistent behaviour, meaning support will be more difficult for us.

Exactly my thinking 💯

💯 agreed

[2019-07-31 17:12] tintinthong commented on #660
@SleeplessByte I will take `affine-cipher` I am currently doing it for the R track.

[2019-08-03 18:18] kytrinyx opened #705 "Create stub files for all exercises"
We have decided to require all file-based tracks to provide stubs for their exercises.

The lack of stub file generates an unnecessary pain point within Exercism, contributing a significant proportion of support requests, making things more complex for our students, and hindering our ability to automatically run test-suites and provide automated analysis of solutions.

We believe that it’s essenti

[2019-08-05 21:23] SleeplessByte commented on #705
Closing as we already provide this.

[2019-08-20 13:03] alirezaghey commented on #667
Hey @SleeplessByte
I saw _"polymorfism"_ on the JS track and landed here trying to figure out where it is set and how I can change it.
Do you mind if I take this one?
I'm relatively new and may need a little bit of hand-holding.

[2019-08-20 14:53] SleeplessByte commented on #667
Take it :heart:. Let me know what you need.

[2019-08-20 17:31] alirezaghey commented on #667
Great!
I see this is in the `./config.json` file.
I'm going to edit the file and do a PR.
Or do you need to assign the task to me?

[2019-08-20 18:43] SleeplessByte commented on #667
Nope, this suffices!

[2019-08-23 18:43] alirezaghey opened #712 "Add new topics to exercises related to data structures"
Issue #667 proposed normalizing the topics across exercises which was addressed in PR #711.

**data_structures** as a topic was removed from seven exercises, since it doesn't have a corresponding topic.

At least some of these seven exercises, and may be even other exercises, seem good candidates for a tag like **data_structures** or similar, since they cover this topic.

The seven exercises are a

[2019-08-24 01:01] SleeplessByte commented on #712
@ErikSchierboom @F3PiX @kytrinyx @iHiD I think these all match one of our "exercise categories". This would probably be a possible moment to add this as a topic?

[2019-08-24 01:02] #667 closed

[2019-08-24 06:07] ErikSchierboom commented on #712
Sounds like a good plan. I've checked the existing topics list and it indeed doesn't include this topic

[2019-08-24 11:28] kytrinyx commented on #712
I'll add it to the problem specifications document now.

[2019-08-24 11:32] alirezaghey commented on #712
I like to go through all the JS exercises and add the topic to those where it seems reasonable. Is that OK?

[2019-08-24 14:47] SleeplessByte commented on #712
@alirezaghey yes please. I think the seven you listed are prime candidates.

[2019-08-26 07:24] syeo66 opened #715 "Meetup probably needs more tests"
While working on the meetup exercise I realized there are some special cases which are not covered by the test (and would actually fail by some of the community solutions). These are my additions to the test:
[meetup_test.diff.txt](https://github.com/exercism/javascript/files/3539920/meetup_test.diff.txt)

[2019-08-26 09:48] #712 closed

[2019-08-27 11:33] alirezaghey opened #717 "eslint-utils >=1.2.0 <1.4.1 have a critical vulnerability; needs to be updated to >= 1.4.1"
It appears that at least one of our eslint packages is using an older version of eslint-utils, which is vulnerable.

I'm not sure if this will be solved automatically, or even if I should have raised the issue here.

Here's the issue on[ eslint-utils' repository](https://github.com/mysticatea/eslint-utils/security/advisories/GHSA-3gx7-xhv7-5mx3).

Let me know if I can be of any help.

[2019-08-28 02:51] SleeplessByte commented on #717
This has been fixed in #716.

We don't push `package-lock` #703 at the moment (and don't plan to soon). Students can fix this warning by running an `audit --fix` locally, but since this is not actually dangerous for the student, they can also just leave it.

[2019-08-28 02:51] #717 closed

[2019-09-04 01:25] hayashi-ay opened #721 "Meetup doesn't have a skeleton file"
Hello. I'm student of the exercism javascript course.
When I download Meetup, I found that a skeleton file is not downloaded.
I mean `meetup.js` is not downloaded.

I think it related to #679 and `meetup.js` should also be added in that time.

[2019-09-04 12:56] SleeplessByte commented on #721
Yep, there is [no stub present](https://github.com/exercism/javascript/commits/master/exercises/meetup).

[2019-09-05 07:14] tejasbubane commented on #705
Opening because of https://github.com/exercism/javascript/issues/721 & https://github.com/exercism/javascript/pull/722

[2019-09-05 07:14] tejasbubane commented on #721
Part of https://github.com/exercism/javascript/issues/705

[2019-09-23 23:27] SleeplessByte commented on #628
I've started adding versions, because I can use the package.json in the test runner.
See https://ooew0.csb.app/javascript for status.

Let's revisit this once that discussion is resolved, but use package.json for now. It will be trivial to move the version to _whereever_.

[2019-09-26 00:28] SleeplessByte opened #731 "Update README.md (scripts vs make)"
The README.md is outdate. We no longer use make. It should be updated to explain how to use the scripts.

[2019-09-26 04:09] ThinkHattke commented on #731
@SleeplessByte can I work on it?

[2019-09-26 09:33] SleeplessByte commented on #731
Certainly. You can use the pr for contributing guidelines as guidance.

[2019-09-26 09:45] #525 closed

[2019-10-01 11:10] mcampourcy commented on #660
@SleeplessByte Hi ! Can I take the `dnd-character` exercise ?

[2019-10-01 11:11] tejasbubane commented on #660
@mcampourcy Go ahead 👍

[2019-10-01 11:23] mcampourcy opened #733 "Add new exercise: book-store"
[problem specification][problem-specification] | [description][readme] |  [canonical data][canonical-data]

[problem-specification]: https://github.com/exercism/problem-specifications/tree/master/exercises/book-store
[readme]: https://github.com/exercism/problem-specifications/blob/master/exercises/book-store/description.md
[canonical-data]: https://github.com/exercism/problem-specifications/blob/

[2019-10-01 14:40] mcampourcy commented on #660
@SleeplessByte Actually, looks like it's already done :thinking: I'm gonna do the book store and change the issue title :)

[2019-10-01 16:13] tejasbubane commented on #660
Ahh, I did not check the already implemented ones. Let me quickly update the above list so others don't get confused :)

[2019-10-01 16:40] SleeplessByte commented on #733
@mcampourcy I've added some helpful links to this issue. Let me know if you need anything!

[2019-10-01 18:45] tejasbubane commented on #660
Great, I have removed the checklist so that we don't have to manually maintain it.

[2019-10-02 08:16] mcampourcy commented on #733
Great, thanks ! :+1:

[2019-10-02 08:37] mcampourcy commented on #733
@SleeplessByte I can't download the Linux version of [configlet](https://github.com/exercism/configlet/releases/tag/v3.9.2), is it normal ?

[2019-10-02 20:08] TomPradat opened #736 "Updating circular-buffer"
https://github.com/exercism/javascript/blob/ba572f1b0708d8a7d3fc1cb94a4dded9f4b7a8fb/exercises/circular-buffer/example.js#L43-L52

I think it would make more sense for the `CircularBuffer` to be an object

[2019-10-02 20:17] TomPradat opened #737 "Add new exercise: grep"
[problem specification][problem-specification] | [description][readme] |  [canonical data][canonical-data]

[problem-specification]: https://github.com/exercism/problem-specifications/tree/master/exercises/grep
[readme]: https://github.com/exercism/problem-specifications/blob/master/exercises/grep/description.md
[canonical-data]: https://github.com/exercism/problem-specifications/blob/master/exerc

[2019-10-03 00:17] SleeplessByte commented on #736
Sure. You can try it. The `example.js` however is not meant to be an _optimal_ solution. Just proof that there exists at least á solution!

[2019-10-03 00:19] SleeplessByte commented on #737
@TomPradat go ahead. I've added some helpful links for you!

[2019-10-03 00:47] rsuttles58 commented on #705
I'm going to start knocking out some of these stubs for hacktoberfest.  I may do one in the first pull and if those get approved cleanly then I may bang out a few more.

[2019-10-03 01:06] WebCu opened #738 "Triangle: Typo in test."
The 4th test has a typo. It says:

should be:

[2019-10-03 01:34] rsuttles58 commented on #721
I submitted a PR for this specific issue and will be doing other stubs if this checks out.

[2019-10-03 05:43] #738 closed

[2019-10-03 08:18] TomPradat commented on #736
Alright, can the pupils see this solution though ? I'll work on a PR and try to improve the example :)

[2019-10-03 11:57] ErikSchierboom opened #741 "What was it like to learn JavaScript?"
We’ve recently [started a project](https://exercism.io/blog/redesigning-tracks-in-partnership-with-chicago-university-and-sloan-foundation) to find the best way to design our tracks, in order to optimize the learning experience of students.

As a first step, we’ll be [examining the ways in which languages are unique and the ways in which they are similar](https://github.com/exercism/exercism/issue

[2019-10-03 12:05] SleeplessByte commented on #736
They can if they go on GitHub. Not via the platform :)

[2019-10-03 16:38] tstirrat15 commented on #741
I started off being a little scared and reluctant. Seeing things like [wat](https://www.destroyallsoftware.com/talks/wat) made it seem like JS was at best weird and at worst kinda broken?

The first project where I first really tried to have a go at it was an Angular2/Typescript project, where everything was OOP and typed. I muddled through, but the OOP patterns dictated by Angular2's design didn'

[2019-10-03 16:50] SleeplessByte commented on #731
@ThinkHattke it's been over a week. Since this is actively blocking new contributors, I've implemented it in #744

[2019-10-03 17:27] #731 closed

[2019-10-06 18:08] seeksort opened #751 "Add new exercise: scale-generator"
[problem specification][problem-specification] | [description][readme] |  [canonical data][canonical-data]

[problem-specification]: https://github.com/exercism/problem-specifications/tree/master/exercises/scale-generator
[readme]: https://github.com/exercism/problem-specifications/blob/master/exercises/scale-generator/description.md
[canonical-data]: https://github.com/exercism/problem-specificat

[2019-10-06 18:29] SleeplessByte commented on #751
I've added some useful links for you!

[2019-10-06 18:30] SleeplessByte commented on #737
How is it going? Need any help?

[2019-10-06 18:35] SleeplessByte commented on #733
Ref #747

How is it going? Need any help?

[2019-10-06 19:47] TomPradat commented on #737
Sry i wasn't available this week-end. I barely started, i'll keep you in touch :)

[2019-10-08 01:21] MaruthiMohanReddyPutha commented on #705
Hi team, I would like to contribute to adding stub files to the repo. Could you please provide me the access to create a branch and pull requests?

[2019-10-09 06:25] tejasbubane commented on #705
Please check linked PRs to avoid duplication of work.

[2019-10-10 02:17] #751 closed

[2019-10-10 02:57] seeksort commented on #741
1) I learned JavaScript a few years ago after learning a bit of Python, my first real programming language. Trying lots of different tutorials and references was helpful, because I found learning things from different approaches helped clarify concepts. I specifically remember I had a difficult time with callbacks and closures, because I didn't understand how you could call a function without addi

[2019-10-16 12:22] Roshanjossey commented on #705
@tejasbubane, does it make sense to keep a checklist for contributors to better understand which ones are done and which ones are not?

[2019-10-16 19:56] ovidiu141 opened #764 "Sync Saddle Points with v1.5.0"
Test issues:

- Unlike the other tests, there is an additional space in the input matrix of the _'extracts a column'_ test (after the last '\n'). This makes the splitting to not work properly, so the test fails even if the code is correct.
`       const matrix = new Matrix('1 2 3\n4 5 6\n7 8 9\n 8 7 6');
`
- Tests are build following a 0-based indexing

- Tests are not using the canonical data.

-

[2019-10-16 21:06] SleeplessByte commented on #764
Yes. This exercise is not up to date :) Welcoming PRs!

[2019-10-17 16:24] brendanmckeown opened #767 "Add new exercise: bank account"
[problem specification][problem-specification] | [description][readme] |  [canonical data][canonical-data]

[problem-specification]: https://github.com/exercism/problem-specifications/tree/master/exercises/bank-account
[readme]: https://github.com/exercism/problem-specifications/blob/master/exercises/bank-account/description.md
[canonical-data]: https://github.com/exercism/problem-specifications/b

[2019-10-17 20:52] SleeplessByte commented on #767
I've update the issue with some additional links @brendanmckeown !

[2019-10-18 17:29] brendanmckeown commented on #767
@SleeplessByte - with porting this exercise to the JS track, was the intention to include the concurrency/multi-threaded tests?

[2019-10-19 21:02] SleeplessByte commented on #767
Good question. Since JavaScript only sorta-kinda-but-no-really has multi-threading here, in this track I don't think it makes sense to have those. I think your PR makes sense :)

[2019-10-19 21:03] seeksort opened #773 "Add new exercise: Hangman"

[2019-10-19 22:26] SleeplessByte commented on #773
I've added the links. Since there is no canonical data, let yourself be inspired by tracks already implementing it :)

[2019-10-21 06:13] tejasbubane commented on #705
Only `diffie-hellman` left.

[2019-10-21 07:56] SleeplessByte commented on #705
https://tracks.exercism.io/javascript/master/stubs yasss.

[2019-10-26 18:30] ericp3reira commented on #764
May I take this?

[2019-10-30 01:21] gabriel376 opened #776 "[Flatten Array] Impl Class does not make sense"
**Current Implementation**
[code]

**Proposed Implementations**
1) Use constructor argument
[code]

2) Use static method
[code]

3) Use plain function
[code]

I would go with 3)

[2019-10-30 01:41] SleeplessByte commented on #776
I think it currently makes sense, but I also _prefer_ your version three 😄.

@tejasbubane what do you think?

[2019-10-30 02:06] gabriel376 commented on #776
Regardless of what we decide, we should keep some consistency across exercises regarding naming, structure, etc
See [sieve](https://github.com/exercism/javascript/blob/master/exercises/sieve/sieve.js), for instance, that uses plain function.
Otherwise, if the exercise is about classes, makes sense to work with classes.

[2019-10-30 13:36] xxylem opened #777 "Instructions for Zipper exercise are misleading."
Hi,

**Issue:**

I don't know if this is the right place to report this but I found the instructions for Zipper on the Javascript track to be misleading.

The instructions say "Zippers are a purely functional way of navigating within a data structure and manipulating it. They essentially contain a data structure and **a pointer into that data structure** (called the focus)."

In a purely functiona

[2019-11-01 18:03] tejasbubane commented on #776
@gabriel376 We did have a discussion on this: https://github.com/exercism/javascript/issues/274

TLDR: For exercises which need initial state use classes otherwise use plain functions.

Although we did not do a thorough scrutiny for this rule on all exercises, contributors just chimed in and modified some exercises. This exercise seems to fit the functional style so I prefer the third option - `Us

[2019-11-01 18:39] tejasbubane commented on #705
Completed and verified by https://github.com/exercism/javascript/pull/722

[2019-11-01 18:39] #705 closed

[2019-11-01 21:33] gabriel376 commented on #776
yep, I will submit a PR
thanks!

[2019-11-02 06:12] #776 closed

[2019-11-07 04:42] clockelliptic opened #780 "Bottleneck in { JavaScript: Linked List } core exercise queue - wasn't visited for 15 days"
I imagine that this problem probably is difficult if you've never encountered it before, and it can generate 50-60 lines of code if implemented without using JavaScript's array object. I imagine that could be why I've been in queue for so long.

That said, I haven't moved ahead in the queue in about 5 days. (also I've moved backward in the queue several times... and in addition to this the median

[2019-11-10 05:03] SleeplessByte commented on #780
It's on the list to be replaced in the core :)

[2019-11-11 02:19] WebCu opened #781 "Add extra test about invalid codon to exercise Protein translation"
Many students use a regex to extract the codons from the rna. This approach is correct but many of them use `rna.match(/.{3}/g)` instead of `rna.match(/.{1,3}/g)`, what doesn't detect an incorrect sequence of RNA. If translate the codon e.g. "AUGOO", it will not throw an error with {3}, but there is an invalid codon "OO" it wont be matched. With {1,3} "OO" will be matched and error will be thrown.

[2019-11-26 11:39] #764 closed

[2019-12-12 04:35] SleeplessByte opened #941 "[V3] Roadmap to Launch"
This issue is to track the [JavaScript v3][root] roadmap. If you intend to _help_ with this track, please read this entire document, and find the section about **"How can you help"**.

---

I have been working on the JavaScript v3 track by compiling a list of JavaScript specific concepts, transition documents from various languages and starting writing exercises. The [concepts][readme] can be foun

[2019-12-20 12:32] ovidiu141 opened #798 "Add new exercise: Yacht"
[problem specification](https://github.com/exercism/problem-specifications/tree/master/exercises/yacht) | [description ](https://github.com/exercism/problem-specifications/blob/master/exercises/yacht/description.md)| [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/yacht/canonical-data.json)

[2019-12-20 15:14] #781 closed

[2020-01-07 07:06] SleeplessByte commented on #798
Sweet. Thanks @ovidiu141 ! Are you on the slack by any chance?

[2020-01-07 07:53] ovidiu141 commented on #798
@SleeplessByte No, I'm not.

[2020-01-09 14:51] kytrinyx opened #819 "Recruiting additional maintainers for JavaScript"
We're about to start a big push towards version 3 (v3) of Exercism. This is going to be a really exciting step forward for Exercism, with in-browser coding, new Concept Exercises with automated feedback, improved mentoring and much more.

This to be a big community effort, with the work spread out among hundreds of volunteers across Exercism. One key thing is going to be each track having enough m

[2020-01-09 15:23] jocelo commented on #819
I would like to be part of this effort. My name is Alfredo and I have been working with JS for over 6 years. I would like to be a maintainer because I like the value and purpose behind Exercisim. I would like to contribute back to the community as much as I can.

https://exercism.io/profiles/jocelo

[2020-01-09 15:36] ovidiu141 commented on #819
Hi, my name is Ovidiu. I'm interested in becoming a maintainer for the JS track, because I am a big fan of the exercism platform and also because I want to contribute to real projects using the Javascript language. I am already a contributor on the JS track (mostly syncing unit tests with canonical-data).

https://exercism.io/profiles/ovidiu141

[2020-01-09 17:25] paparomeo commented on #819
My name is Pedro. I have been an JavaScript and Python tracks Exercism mentor for a while now, and have made the odd contribution to these tracks, but I would love to contribute more. I'm registering my interest in becoming a JavaScript track maintainer.

https://exercism.io/profiles/paparomeo

[2020-01-10 03:16] hayashi-ay commented on #819
Hi, My name is Ayato. I'm a JavaScript tracks student since Jun 2019.
I want to give back to Exercism community because I have learned a lot of things through Exercism.
Also, I'm excited to join this big project.

I already [contributed to Exercism community](https://github.com/exercism/javascript/issues/721), though it's little.

https://exercism.io/profiles/hayashi-ay

[2020-01-10 05:51] tejasbubane commented on #819
Hi, my name is Tejas & I am existing maintainer of Javascript track. I would like to focus more on improving `reasonml` track (that lacks attention as of now) - so will be spending comparatively less time on this track.

@SleeplessByte is another maintainer here. I would still like to remain around and help new mentors with the v3 upgrade - although I cannot commit to number of hours per week at t

[2020-01-10 22:49] msomji commented on #819
Hi my name is Maisam Somji ([msomji](https://exercism.io/profiles/msomji)) and I have been working on multiple different tracks in terms of practicing different exercises/learning new languages, mentoring others in completing their exercises as well as implementing new exercises for the tracks. With about 5 years of experience working with Java/Javascript/Typescript/Ruby I have been a huge propone

[2020-01-10 23:57] aimorris commented on #819
Hi, my name is Adam Morris. I am currently a JavaScript mentor, with years of experience programming using JavaScript. I would love to be considered to become a maintainer for the JS track so I am able to further Exercism and the education/knowledge it brings to new programmers.

https://exercism.io/profiles/Adam-Morris

[2020-01-11 07:29] aimorris commented on #721
This issue can be closed. There is now a skeleton file for Meetup.

[2020-01-11 18:43] tejasbubane commented on #721
Closed by https://github.com/exercism/javascript/pull/748

[2020-01-11 18:43] #721 closed

[2020-01-14 10:29] Calamari commented on #819
Hi, Georg here. Since I am mentoring JavaScript and working in that field for a decade or so, I might as well step up and help out a bit, if I can.

[2020-01-15 12:39] #737 closed

[2020-01-15 20:53] #798 closed

[2020-01-16 09:58] tejasbubane opened #825 "Sync script deletes exercise versions"
Our CI scripts compare [`package.json` file in root](https://github.com/exercism/javascript/blob/master/package.json) with the one in each exercise. But `version` in package.json is for book-keeping to keep track of [canonical versions](https://github.com/exercism/problem-specifications/blob/63bb34cde0d4e262e3f34b5dc2c1f4c6014e527e/exercises/hello-world/canonical-data.json#L3) & hence is different

[2020-01-18 22:34] paparomeo commented on #825
I think I have an "almost solution" for this one. Just need to figure out one final detail, so assigning it to myself.

[2020-02-06 21:33] nicolabuckhurst commented on #780
I also seem to be stuck in the queue for the Linked List exercise. It has been saying there are 3 solutions ahead of me since I submitted and I don't seem to move.

[2020-02-09 00:55] darthbob88 commented on #819
Hello, my name is Raymond Price. I've been mentoring on Exercism for a couple years, and been working in frontend web development for most of the past decade. If nothing else, this will probably be some nice resume polish.

[2020-02-25 09:31] ghjk-code opened #833 "Instructions for Resistor Color are misleading"
I was surprised to see multiple solutions that tries to work with a `COLORS` array with colors capitalized in the Resistor Color exercise.

Finally, one student tell me that this comes from the instructions where color names where indeed capitalized in the paragraph starting with: "These colors are encoded as follows:"...

Can we change those instructions to have colors all lowercased as in the te

[2020-03-04 15:53] JesseSingleton opened #835 "Raindrops tests out of sync with canonical data"
The raindrops spec has a test that does not match the canonical data.

Canonical data:
[code]

Test Spec:
[code]

Expected:
[code]

[2020-03-07 02:31] joshgoebel opened #838 "Tests for Zipper are far from sufficient"
Reference: https://exercism.io/mentor/solutions/962ebabf19e848e5bceed0533f1898ad#discussion-post-605355

We should add a test similar to:

[code]

This seems to be a pretty key thing to not test for.

I don't actually think the students **exact** implementation is super critical here.  What they did was implement a single object with a "cursor" that kept track of where it was in the tree and acted

[2020-03-07 02:34] yyyc514 commented on #838
Related of course: https://github.com/exercism/javascript/issues/777

[2020-03-07 16:12] SleeplessByte commented on #838
Instead of adding that test, each function should have a test that should assert that the object returned is a _new instance_, per the description. I think that will solve all the issues.

We'll accept a PR on this repository, but please link back to `problem-specifications`. I'm okay with the change NOT being accepted there, but us still applying it here.

[2020-03-07 16:14] yyyc514 commented on #838
You mean left and right and up?

Should left/up in combo result in 3 new objects or would up return me to the original?

[2020-03-07 16:17] SleeplessByte commented on #777
Hi Josh.

I don't necessarily agree that the current instructions are misleading. The list of functions to implement is pretty conclusive. However, I absolutely agree that _we should test for immutability_.

I've responded as such in #838.

In general, you can follow the CONTRIBUTING.md document. In this case I would accept a PR that adds tests to test for immutability. I also think it's okay to f

[2020-03-07 16:19] SleeplessByte commented on #838
From the `README.md`:

So we need a test for _these_ methods to check if they're immutable. I like the idea of guiding tests as mentioned in #777 as well.

[2020-03-07 16:19] yyyc514 commented on #838
Those are a sample list, they don't apply to the actual implementation used here.

[2020-03-07 16:21] yyyc514 commented on #838
And you didn't answer me specifically:

Or perhaps you did... are you saying you'd expect 3 new objects then, ie you never return to any prior object?

[2020-03-07 16:40] SleeplessByte commented on #838
I meant that you could extrapolate from the README. The [`stub`](https://github.com/exercism/javascript/blob/master/exercises/zipper/zipper.js) has the following methods that should return a new object:

- `left`
- `right`
- `up`
- `setValue`

**SIDE NOTE:** I absolutely dislike that _we_ use `left` and `right` instead of `prev` / `next`, so we **NEED** a HINTS file for this exercise. See CONTRIBU

[2020-03-07 16:44] yyyc514 commented on #838
Oh I forgot we had those sample solutions. :-)

Oh, setting is suppose to make new zippers too? Yeah, even my own solution is doing this way wrong... starting to sound like a uber functional exercise. :)

When I hear pointer I think of the object property, not the object itself... Ie `Zipper#focusNode` is the pointer, since it's literally pointing at the node... but I see how you'd come to think o

[2020-03-07 16:46] yyyc514 commented on #838
I thought that's because we were a tree, where left right makes sense.  A Zipper (from my understanding) can be used with any type of data structure.  The structure isn't part of the spec per se...

[2020-03-07 16:47] SleeplessByte commented on #833
No. The _textual_ description of colour names can differ from the implementation in the test. The colors used to be a list, which caused students to just copy the list and go from there (almost always leading to an `Array` implementation). Having this manual work in place _ensures_ that people are not biased in their approach. The students that use capitalised names simply have not taken the time

[2020-03-07 16:51] #825 closed

[2020-03-07 16:57] SleeplessByte commented on #838
Correct, but it's part of the description. If we add a HINTS file we can clarify that in this exercise we'll be working with a `Tree` that has a `left` and `right` branch. That will clear it up, agreed?

I think that was the intention. It also makes it much more likely that people will make everything immutable from the get-go 💯

[2020-03-07 17:02] yyyc514 commented on #838
Sure, or we could just change the example entirely.  Does it really further the goals of Exercism by having one example in the readme and then an entirely different actual case to be solved? I'm not so sure.

[2020-03-07 17:08] SleeplessByte commented on #838
It doesn't. But for now this is all we can do, because I want to keep following the `problem-specifications` readme format. I don't want to have to keep track "which exercises have a special readme" as often we mass re-generate all the readme's.

In `v3` this is fixed! So it's only a concern for now anyway. :)

[2020-03-10 13:08] TCE-1 opened #842 "Exercise instruction suggestions to help beginners"
Hi,

I've just started on this site to help with learning JavaScript.  Concept seems awesome and on my 2nd exercise I am already getting valuable feedback that has me learning new things.

I found the instructions a bit confusing for setting things up.  This suggestion will only be valuable if the intention of the exercise is to be noob friendly.

When you visit the first exercise you are given in

[2020-03-10 21:53] SleeplessByte commented on #842
I absolutely agree that we should move the DOWNLOAD THE CLI step to this instruction manual :)

[2020-03-14 15:03] #842 closed

[2020-03-14 15:04] tejasbubane commented on #842
@TCE-1 [Installation docs](https://github.com/exercism/javascript/blob/818a86679ce334c9f118c3f9ae0966b839f0e11d/docs/INSTALLATION.md) have been improved. They will reflect on the website shortly. Let us know if you feel anything else should be improved.

[2020-03-25 07:38] #835 closed

[2020-03-28 17:59] SleeplessByte opened #848 "Add notification about npm output"
`npm` outputs very scary looking "vulnerability" messaging, multiple times, all the way down the dependency tree, when there is a CVE for such dependency. About 100% of the time, these warnings are **not** applicable to the use-case of this track and can safely be ignored.

Add a message about this in the instructions to avert issues like https://github.com/exercism/exercism/issues/5212.

[2020-03-29 23:01] iHiD commented on #848
Is there any silent mode or piping stderr or anything that we could incorporate into the command?

[2020-03-30 03:12] SleeplessByte commented on #848
Yeah -- but that would hide stuff to help them resolve their configuration / local system.

[2020-03-30 10:35] tejasbubane commented on #848
We can ask npm `not` to run `audit` after `npm install`. Using `npm-config`: https://docs.npmjs.com/misc/config#audit

[2020-04-22 22:56] rishiosaur opened #942 "[V3] Implement new Concept Exercise: classes-intro"
This issue describes how to implement the `class` concept exercise for the JavaScript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-04-23 10:11] peterchu999 commented on #660
@SleeplessByte Hi there i'm new in contributing but could help to make the `error-handling` exercise ?

[2020-04-23 11:06] SleeplessByte opened #850 "Help out with V3"
**Are you new and want to help out? :wave: in the channel on slack, or here. We will help you get [set-up](https://exercism-team.slack.com/archives/CC3JABXMF/p1587488025014500?thread_ts=1587487633.013600&cid=CC3JABXMF).**

## Important resources

1. [The Features of V3](https://github.com/exercism/v3/blob/master/docs/features-of-v3.md)
1. [The Rationale for V3](https://github.com/exercism/v3/blob/

[2020-04-23 11:09] SleeplessByte commented on #780
@nicolabuckhurst you can always ping me with an URL and I will review it for you

[2020-04-23 11:09] #780 closed

[2020-04-23 11:11] SleeplessByte commented on #660
Certainly! But perhaps you want to help out with next version of the track instead?

You can _check out_ [this issue](https://github.com/exercism/javascript/issues/850).

[2020-04-23 11:17] peterchu999 commented on #660
okay thanks, i'll that a quick look and see what i can help

[2020-04-23 11:32] peterchu999 commented on #850
Hi there i'm new could you help me to get set up ?

[2020-04-23 15:09] chiptus commented on #848
Maybe fix the vulnerabilities?

[2020-04-23 16:57] tejasbubane commented on #848
@chiptus

1. They come up pretty often
2. Students cannot always get the newer files: https://github.com/exercism/exercism/issues/5212#issuecomment-599550207

[2020-04-23 17:12] #715 closed

[2020-04-23 19:17] SleeplessByte commented on #850
Definitely @peterchu999.

1. If you go into the `exercism/v3` repo, into our track and edit the `maintainers.md` file, that'd be great -- this is how everyone knows that you're helping out.
2. You also also need to open a PR to edit the `exercism/javascript` `maintainers.json` file with `show on website` set to `false`. This will give you rights on the repositories in question! (So you can edit la

[2020-04-23 19:53] SleeplessByte commented on #848
And they're usually _not_ vulnerabilities in the sense that there is an attack surface/vector.

[2020-04-25 19:18] Tbhesswebber opened #943 "[V3] Implement new Concept Exercise: concept/classes-intermediate"
This issue describes how to implement the `class` concept exercise for the JavaScript track and is a continuation of exercism/javascript#942 .

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implemen

[2020-04-30 11:05] #848 closed

[2020-05-04 14:59] hayashi-ay opened #856 "Some stub files are not using the right exercise name."
Some stub files are not using the right exercise name.
For example, [D&D Character][dnd character] is using `DnD Character` instead of `D&D Character`.
Plus, some use a wrong exercise name such as [Resistor Color Trio][resistor color trio].

It's a tiny but I'd like to fix because it has been bothering me while mentoring.
Also, we might want to add a note to remove a stub comment because many stud

[2020-05-05 06:39] #856 closed

[2020-05-06 14:49] hayashi-ay opened #858 "Some exercises are not following test case rules."
As [README][exercise-readme] says all but the first test cases are skipped.
That's because we want students to concentrate on one test at a time and evolve their solutions one by one. See [here][docs-test].

However, some exercises don't follow the rules such as [beer-song.spec.js][beer-song] where all test cases are executed and [difference-of-squares.spec.js][difference-of-squares] where all tes

[2020-05-06 16:34] #858 closed

[2020-05-10 04:05] Upinder123 commented on #850
Hi there i'm new could you help me to get set up ?

[2020-05-10 04:08] Upinder123 commented on #777
can i write a test case ?

[2020-07-07 20:33] ghjk-code opened #864 "Pascal's Triangle Mentoring notes are not up to date"
The [mentoring notes](https://github.com/exercism/website-copy/blob/master/tracks/javascript/exercises/pascals-triangle/mentoring.md) for the Pascal's Triangle exercise are always mentioning a class whereas [code](https://github.com/exercism/javascript/blob/master/exercises/pascals-triangle/pascals-triangle.spec.js) has changed to use a single function some months ago due to commit #807.

[2020-07-08 08:31] ghjk-code commented on #864
Fewww, sorry for my first steps using git on this site, but I have added a commit to handle the new expected code on mentoring notes.

[2020-07-10 12:54] SleeplessByte opened #944 "[V3] Improve Concept Exercise: nullability"
## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before creating the issue, please read up on the following documents:

- [The features of v3](https://github.com/exercism/v3/blob/master/docs/concept-exercises.md).
- [Rationa

[2020-07-10 13:29] SleeplessByte opened #945 "Improve Concept Exercise: recursion"
## Getting started

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.org/docs/building/tracks/concepts)

If you have not done so yet, it is probably also helpful

[2020-07-10 15:13] SleeplessByte opened #947 "[V3] Implement new Concept Exercise: type-conversion"
This issue describes how to implement the `type-conversion` concept exercise for the `javascript` track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the followin

[2020-07-10 15:31] SleeplessByte opened #948 "Implement or Improve Concept Exercise: object-destructuring"
## Getting started
Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.org/docs/building/tracks/concepts)

If you have not done so yet, it is probably also helpful

[2020-07-10 15:47] SleeplessByte opened #949 "[V3] Implement new Concept Exercise: errors"
This issue describes how to implement the `errors` concept exercise for the `javascript` track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2020-10-15 08:33] ErikSchierboom opened #871 "Moving from Travis to GitHub Actions"
Hello 🙂

Over the last few months we've been transferring all our CI from Travis to [GitHub Actions (GHA)](https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions). We've found that GHA are easier to work with, more reliable, and much much faster.

Based on our success with GHA and increasing intermittent failures on Travis, we have now decided to try and remove Travis from Ex

[2020-10-15 12:54] ziyafenn opened #872 "ISBN Verifier test failing"
Hello,
in the [ISBN Track](https://github.com/exercism/javascript/blob/543112233795c08650728346fa8ef89dcf176f68/exercises/isbn-verifier/isbn-verifier.spec.js), there is a test called `check digit of X should not be used for 0` which is the only one that fails when i run my test.

And i cannot fix it becase i do not understand what this means and what test wants from me :(

I hope someone can help

[2020-10-15 16:59] SleeplessByte commented on #872
Oof. That's a very weirdly named test!

You can read the discussion here:
https://github.com/exercism/problem-specifications/pull/924/files/09a2e97057fe01c8a7a28b4b0e242df4d38075b4#r143091157

Let me know if the original, long explanation, is clearer? If not, I'm happy to walk your through it.

[2020-10-16 17:08] TomPradat commented on #736
Seems to have been done, i'm closing this issue then

[2020-10-16 17:08] #736 closed

[2020-10-16 17:57] TomPradat commented on #819
Hi there, I love exercism and i have some experience with javascript, how could i help ?

[2020-10-17 02:39] SleeplessByte opened #878 "grep is failing on Windows"
Introduced via #737, implemented in #750

The issue is newlines. They are LF or CRLF depending on the OS/git settings in the data files, but LF in the test strings.

Attempted partial fix in #875

[2020-10-17 02:46] #833 closed

[2020-10-17 02:51] SleeplessByte opened #879 "Github Action: try out workflow_dispatch"
See: https://github.com/exercism/problem-specifications/pull/1711

[2020-10-17 02:52] SleeplessByte opened #880 "GitHub Actions: Try out node_modules caching"
https://docs.github.com/en/free-pro-team@latest/actions/guides/caching-dependencies-to-speed-up-workflows

Node modules don't really take a lot of time in the proposed actions #875 , but we should still benchmark if these help.

[2020-10-17 13:24] SleeplessByte commented on #628
We've dropped versions from canonical problem specs, so they don't make sense anymore in the context of this issue.

[2020-10-17 13:24] #628 closed

[2020-10-17 15:46] SleeplessByte commented on #819
I've seen you around @TomPradat . If you're on the mentor slack, ping me and I'll get you onboarded?

[2020-10-19 22:56] #871 closed

[2020-10-20 08:54] #872 closed

[2020-10-22 01:54] shubhsk88 opened #955 "[V3] Implement new Concept Exercise: Function Expression and ES6 Arrow Function"
This issue describes how to declare the function expression and declaration with the ES6 Arrow function.

This issue describes how to implement the `function`  concept exercise for the Javascript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle and exhaust Exerci

[2020-10-24 19:42] TomPradat opened #886 "Add new exercise : Affine cipher"
[problem-specifications](https://github.com/exercism/problem-specifications/blob/master/exercises/affine-cipher/description.md) | [metadata](https://github.com/exercism/problem-specifications/blob/master/exercises/affine-cipher/metadata.yml) | [canonical-data](https://github.com/exercism/problem-specifications/blob/master/exercises/affine-cipher/canonical-data.json)

[2020-10-24 19:42] TomPradat commented on #886
I'll work on this

[2020-10-24 19:49] neenjaw commented on #886
Sounds good, @TomPradat are you familiar with the effort to make version 3 of exercism? There is a good opportunity to write content or exercises there too (which would be a big help)!

See this list of issues: https://github.com/exercism/v3/issues?q=is%3Aissue+is%3Aopen+%22%5BJavascript%5D%22+no%3Aassignee+

[2020-10-24 20:04] TomPradat commented on #886
Not really, i'll check it out :).

With v3, will the exercises of this repo be moved to the v3 ? In other words, is it useful to implement exercises here too ?

[2020-10-24 20:18] neenjaw commented on #886
They will get ported to v3, but the big change in v3 is to let exercises from v2 just to be about practice rather than about teaching JavaScript. So v3-specific exercises aim more to teach a single concept in JavaScript than attempt to solve an open ended problem.

[2020-10-31 14:29] SleeplessByte opened #950 "[V3] Update implementing-a-concept-exercise.md"
[javascript/reference/implementing-a-concept-exercise.md](https://github.com/exercism/v3/blob/master/languages/javascript/reference/implementing-a-concept-exercise.md) is outdated. It still has the `after.md` file, and lacking the details on `<concept>.md` and `approaches.md`.

Follow https://github.com/exercism/v3/issues/2592 once it's done/documented.

[2020-11-02 01:29] SleeplessByte commented on #767
Fixed by #888

[2020-11-02 01:29] #767 closed

[2020-11-03 05:52] #886 closed

[2020-11-03 21:19] bobbychicano opened #890 "'npm test' command hangs/doesn't exit"
Hello, I'm having an issue executing tests in my terminal. When I type in `npm test`, the test will start to run, and then it never exits -- it just hangs there. I have to keep canceling the test with `^C`. After doing some googling this morning I uninstalled and reinstalled npm for node, updated yarn, jest, and homebrew.

However, none of these actions have solved my issue. I just want to be able

[2020-11-03 21:41] SleeplessByte commented on #890
Hi there!

It's not fun that you're having issues. Sorry for that. I don't know if I'll be able to resolve this for you, but let's try!

### Tools

In general, you'll never need to uninstall `npm`; instead you would install a new `node` version, and update the `npm` binary that comes with it. In that sense, can you run `node -v` and `npm -v` and give us the output? The current [LTS](https://nodejs

[2020-11-04 17:37] Fmoraesb opened #891 "Resistor Color Duo not testing at all"
I'm having an issue in the exercise Resistor Color Duo in the JavaScript track. Every time I try the "npm test" , it returns this message:
"internal/modules/cjs/loader.js:1175 throw err; ^

SyntaxError: C:\Users\Fernando\Exercism\javascript\resistor-color-duo\node_modules\ci-info\vendors.json: Unexpected token in JSON at position 0 at parse () at Object.Module._extensions..json (internal/modules/c

[2020-11-04 17:45] neenjaw commented on #891
If you delete the `node_modules` folder and redownload via `npm install`, does the error persist?

[2020-11-04 19:13] Fmoraesb commented on #891
Good afternoon!
Deleting and reinstalling the `node_modules ` made the exercise works! Thanks for the help!

[2020-11-04 19:15] neenjaw commented on #891
No problem! Glad it worked!

[2020-11-04 19:15] #891 closed

[2020-11-04 19:34] bobbychicano commented on #890
Hi,

Thanks for checking this out for me. I definitely did not know what I was doing and was desperately trying to find a solution.

This is the output when I run the node and npm commands:

[code]

Also, thanks for the brief explanation of yarn, jest, and home-brew. That helps put those tools a bit more in perspective.

I also make sure to run `npm install` for every exercise. This is the output

[2020-11-05 05:37] SleeplessByte commented on #890
Would you be so kind to run `npx envinfo --preset jest` and give us the results? This will tell us a bit more about your environment. That way it's easier for me to reproduce, hopefully.

It still hangs? You can try to add [`--forceExit`](https://jestjs.io/docs/en/cli.html#--forceexit) to the `package.json` script, or when running in your terminal: `npm test -- --forceExit`. **If** that works, let

[2020-11-05 18:17] bobbychicano commented on #890
Hey SleeplessByte, I hadn't thought about restarting my machine.

I was hoping it would be that simple, but I just closed all of my applications and restarted and I still have the same issue.

Here is the result of `npx envinfo --preset jest`:

<img width="641" alt="Screen Shot 2020-11-05 at 10 09 44 AM" src="https://user-images.githubusercontent.com/62775533/98280143-cbfa7b80-1f4f-11eb-937b-84b1e

[2020-11-06 01:18] SleeplessByte commented on #890
Okay great. Then at **least** you have a way to do this before we figure out what the heck is going on!

I'm outta ideas at this moment, but will try to reproduce on a Mac here. @NobbZ you have any ideas? Seen this issue on gitter?

[2020-11-06 01:48] neenjaw commented on #890
@bobbychicano can you create a gist (gist.github.com) and paste in your exercise file, test file (one ending with spec.js), package.json so we can see if there is something with your code?

[2020-11-06 13:48] kristinaborn opened #954 "[V3] Implement new Concept Exercise: equality"
This issue describes how to implement the `equality` concept exercise for the JavaScript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documen

[2020-11-06 18:58] bobbychicano commented on #890
Hi Neenjaw,

Gist created here:

https://gist.github.com/bobbychicano/704b3ce296205e5bdf3d60becfcd9204

Thank you.

[2020-11-07 03:39] neenjaw commented on #890
It certainly doesn't seem to be anything in your code. Hopefully we can rustle up someone with a mac to be able to help you trouble shoot this.

Oh, does this always happen with every exercise? or just this one?

[2020-11-08 17:48] bobbychicano commented on #890
So far it happens on the reverse-string exercise and on the resistor-color-duo exercise. It definitely wasn't happening before on any of the other exercises I had worked on.

Thanks for the help so far. I know it can be difficult trying to troubleshoot across the web. Wish there was more I could do to help.

[2020-11-09 12:10] SleeplessByte commented on #890
All good. It's interesting.

Van you post a list or screenshot of your Exercism folder do we know which exercises you did (in an attempt to find commonality between those two and not the rest).

[2020-11-09 16:14] NobbZ commented on #890
Sorry beeing late, just realised this in my inbox by accident…

No, so far this behaviour has not been mentioned in the gitter, and I even asked an ex coworker (the only one I know im my proximity who has done JS for quite a while now) if he had observed something like this before, though he hasn't as well.

[2020-11-09 23:38] kristinaborn opened #953 "[V3] Implement new Concept Exercise: constructors"
This issue describes how to implement the `constructors` concept exercise for the JavaScript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following doc

[2020-11-20 21:30] bobbychicano commented on #890
Quick update guys:

I've moved on from the exercises I was having trouble with. I added `--forceExit` in the package.json file so that I could get through them.

I'm currently on the 'triangle' exercise and running `npm test` works smoothly and does not hang.

Thanks y'all for having taken the time to look into this.

[2020-11-22 23:46] aeamaea commented on #235
It's kinda hokey, but I just move the node modules from the completed exercise to the new one before running npm test for the first time. In all honestly, the base module set could just be cached and moved to each exercise as it's fetched and any deltas would be downloaded by npm anyway. seems to work for me. It's a huge waste and has an unacceptable environmental footprint as well. by the end of

[2020-11-22 23:55] aeamaea commented on #235
At 3kg / GB , it's about 3000kg / TB or 240,000 kilograms (half a million pounds) of carbon contributed to the atmosphere, just by the Javacript track on exercism.

It's probably peanuts compared to all the Netflix streaming that's going on, but I'm going to leave it out here anyway.

https://www.emergeinteractive.com/insights/detail/does-irresponsible-web-development-contribute-to-global-warming/

[2020-11-23 00:07] SleeplessByte commented on #235
Peanuts or not, we can all do our part, yes? However, I don't *get* what you're trying to achieve with your comments. If you have something constructive or actionable, I'd like to hear it.

That said, the JavaScript track is likely _completely_ compatible with `yarn` 2's implementation of [pnp](https://yarnpkg.com/features/pnp), and to be honest, I was hoping by now that [npm tink](https://2019.js

[2020-11-23 00:10] SleeplessByte commented on #890
I'll close it as "non-reproducible", but if you or anyone else has this issue, feel free to post again or open a new issue.

[2020-11-23 00:10] #890 closed

[2020-11-23 00:20] aeamaea commented on #235
I'm new to JS, and it's a general comment, didn't mean to offend anyone. I think being aware of the cost of our day to day choices that seem small in the near term is a "good thing". I mentioned it for that very reason.

I tried to suggest what I'm doing , though it may not be a generalized solution (and therefore not actionable?) As I said, it's hokey but seems to work for me, for now.

I like th

[2020-11-23 01:01] SleeplessByte commented on #235
I think it's okay to suggest having a better way (aka revisiting this topic) with _added_ benefit of trying to preserve the environment a bit more.

If you have the time, I wouldn't mind seeing your thoughts in a _new_ issue, and then we/you/I/anyone can do further research to see what we can accomplish without too much pain and suffering for the students.

[2020-11-24 13:52] matthewmorgan opened #893 "Simple-linked-list on site doesn't match repo"
Hey,

I was just playing around with `simple-linked-list` on the JS track.  The API is a little odd, and neither the README or specfile match what's in the `exercism/javascript` repo.

I'm not sure what is going on, seems like a sync problem of some kind between the webapp and this repo.

**EDIT: I see that what's shown on the site is actually an older commit from 2017: d02aa97432027372824a16dea88

[2020-11-24 14:46] SleeplessByte commented on #893
Hi there @matthewmorgan

Did you perhaps join Exercism a while ago? If so, on the exercise page, scroll down (this is the example from `linked-list`, but it's the same for any exercise):

![Partial screenshot of the spec file of linked-list with an update button below it](https://user-images.githubusercontent.com/1964376/100109008-b18b3200-2e6b-11eb-9a25-834bbb935015.png)

After updating, the spec

[2020-11-24 15:12] matthewmorgan commented on #893
Oh man!  That was it.  I joined a _long_ time ago...

Thanks @SleeplessByte !

[2020-11-24 15:12] #893 closed

[2020-12-16 00:15] SleeplessByte commented on #421
Closing this. `npm tink` will fix this, `yarn PnP` has fixed this. We can upgrade to tink when it's ready, or switch to yarn.

[2020-12-16 00:15] #421 closed

[2020-12-16 01:26] #878 closed

[2020-12-16 17:10] caledrummond90 commented on #635
npm run build
chromium tests/testsuite.html
npm run lint

[2020-12-16 17:43] SleeplessByte commented on #635
@caledrummond90 I don't know why you posted this in this issue, but there is no `build` script in `exercism/javascript`, and no testsuite.html.

[2020-12-17 23:44] SleeplessByte opened #896 "forth: implement two new tests"
Don't work on this issue until #895 is merged, or use that PR as a base branch.

The exercise _forth_ has two new test cases that are not implemented. Your mission, should you accept it, is to change the `example.js` implementation so that these two tests would pass. The current `example.js`  implementation has lazy evaluation but no special handling for "rebinding" words.

## Instructions

Flip t

[2020-12-18 01:46] kristinaborn opened #952 "[V3] Implement new Concept Exercise: sets"
This issue describes how to implement the `sets` concept exercise for the JavaScript track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:

[2020-12-18 03:18] SleeplessByte opened #897 "alphametics: optimise implementation for last test"
Don't work on this issue until #895 is merged, or use that PR as a base branch.

The last test currently takes > 30s to complete. When fixed, replace `test.skip` with `xtest`.

[2020-12-18 03:25] SleeplessByte opened #898 "palindrome-products: optimise implementation"
Don't work on this issue until #895 is merged, or use that PR as a base branch.

The "largest palindrome from four digit factors" test currently takes > 30s to complete. When fixed, replace `test.skip` with `xtest`.

[2020-12-23 14:20] evelynstender commented on #819
Hi there! I'd love to be part of the maintainers for JS team!

[2020-12-23 15:17] SleeplessByte commented on #819
@evelynstender ping me on Slack!

[2020-12-24 03:28] SleeplessByte opened #900 "pythagorean-triplet: optimise implementation"
Don't work on this issue until #895 is merged, or use that PR as a base branch.

The "large factors" test currently won't finish/complete. When fixed, replace `test.skip` with `xtest`.

[2020-12-24 05:27] SleeplessByte opened #901 "two-bucket: fix implemenation"
Don't work on this issue until #895 is merged, or use that PR as a base branch.

When `two-bucket` was synced, it became evident that some of the tests cases are not passing, at all. Fix the implementation so these test cases pass and replace `test.skip` with `xtest`: https://github.com/exercism/javascript/blob/774fb12c4d1f492af9658ece4eec515bf92552e7/exercises/two-bucket/two-bucket.spec.js

[2020-12-24 05:56] SleeplessByte opened #902 "zipper: sync with canonical data"
See CONTRIBUTING.md.

The following test is missing:

[code]

[2020-12-24 05:58] SleeplessByte opened #903 "word-search: sync"
See CONTRIBUTING.md.

The following test is missing:

[code]

[2020-12-24 16:56] #838 closed

[2020-12-28 10:35] slaymance commented on #901
Hey @SleeplessByte I noticed the tests throwing for this exercise and submitted a fix in [PR 905](https://github.com/exercism/javascript/pull/905). We'll still need another PR to update the example solution since it's failing a couple of the new tests, and running into an infinite loop on a couple of them. With this PR, though, we can at least get the tests working for students.

[2020-12-28 12:13] SleeplessByte commented on #777
@Upinder123 sorry I never responded. I missed your comment (had notifications turned off due to COVID). Since your comment @joshgoebel has made some changes via #839 ;

[2020-12-28 12:14] SleeplessByte commented on #864
Fixed via https://github.com/exercism/website-copy/pull/1676

[2020-12-28 12:14] #864 closed

[2020-12-30 12:03] evelynstender opened #906 "Add new exercise: square-root"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/square-root)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/square-root/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/square-root/canonical-data.json)

[2020-12-30 15:21] SleeplessByte opened #908 "Add new exercise: book-store"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/book-store)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/book-store/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/book-store/canonical-data.json)

You may find it helpful to follow [this checklist]

[2020-12-30 15:21] #733 closed

[2020-12-30 15:22] SleeplessByte opened #909 "Add new exercise: dot-dsl"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/dot-dsl)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/dot-dsl/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/dot-dsl/canonical-data.json)

You may find it helpful to follow [this checklist](https://

[2020-12-30 15:24] SleeplessByte opened #910 "Add new exercise: error-handling"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/error-handling)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/error-handling/description.md) | ~canonical data~

You may find it helpful to follow [this checklist](https://github.com/exercism/javascript/blob/83feda2af955df1ef9f3a8080338f506f0fdf696/CONTRIBUTIN

[2020-12-30 15:25] SleeplessByte opened #911 "Add new exercise: ledger"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/ledger)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/ledger/description.md) | ~canonical data~

You may find it helpful to follow [this checklist](https://github.com/exercism/javascript/blob/83feda2af955df1ef9f3a8080338f506f0fdf696/CONTRIBUTING.md#new-exercis

[2020-12-30 15:25] SleeplessByte opened #912 "Add new exercise: lens-person"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/lens-person)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/lens-person/description.md) | ~canonical data~

You may find it helpful to follow [this checklist](https://github.com/exercism/javascript/blob/83feda2af955df1ef9f3a8080338f506f0fdf696/CONTRIBUTING.md#n

[2020-12-30 15:26] SleeplessByte opened #913 "Add new exercise: paasio"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/paasio)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/paasio/description.md) | ~canonical data~

You may find it helpful to follow [this checklist](https://github.com/exercism/javascript/blob/83feda2af955df1ef9f3a8080338f506f0fdf696/CONTRIBUTING.md#new-exercis

[2020-12-30 15:26] SleeplessByte opened #914 "Add new exercise: parallel-letter-frequency"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/parallel-letter-frequency)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/parallel-letter-frequency/description.md) | ~canonical data~

You may find it helpful to follow [this checklist](https://github.com/exercism/javascript/blob/83feda2af955df1ef9f3a8080338f5

[2020-12-30 15:27] SleeplessByte opened #915 "Add new exercise: tree-building"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/tree-building)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/tree-building/description.md) | ~canonical data~

You may find it helpful to follow [this checklist](https://github.com/exercism/javascript/blob/83feda2af955df1ef9f3a8080338f506f0fdf696/CONTRIBUTING.

[2020-12-30 15:27] SleeplessByte opened #916 "Add new exercise: go-counting"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/go-counting)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/go-counting/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/go-counting/canonical-data.json)

You may find it helpful to follow [this checkli

[2020-12-30 15:28] SleeplessByte opened #917 "Add new exercise: knapsack"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/knapsack)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/knapsack/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/knapsack/canonical-data.json)

You may find it helpful to follow [this checklist](https

[2020-12-30 15:28] SleeplessByte opened #918 "Add new exercise: markdown"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/markdown)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/markdown/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/markdown/canonical-data.json)

You may find it helpful to follow [this checklist](https

[2020-12-30 15:29] SleeplessByte opened #919 "Add new exercise: micro-blog"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/micro-blog)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/micro-blog/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/micro-blog/canonical-data.json)

You may find it helpful to follow [this checklist]

[2020-12-30 15:30] SleeplessByte opened #920 "Add new exercise: poker"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/poker)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/poker/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/poker/canonical-data.json)

You may find it helpful to follow [this checklist](https://github

[2020-12-30 15:30] SleeplessByte opened #921 "Add new exercise: pov"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/pov)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/pov/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/pov/canonical-data.json)

You may find it helpful to follow [this checklist](https://github.com/e

[2020-12-30 15:31] SleeplessByte opened #922 "Add new exercise: rail-fence-cipher"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/rail-fence-cipher)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/rail-fence-cipher/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/rail-fence-cipher/canonical-data.json)

You may find it helpful to fo

[2020-12-30 15:32] SleeplessByte opened #923 "Add new exercise: rest-api"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/rest-api)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/rest-api/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/rest-api/canonical-data.json)

You may find it helpful to follow [this checklist](https

[2020-12-30 15:32] SleeplessByte opened #924 "Add new exercise: satellite"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/satellite)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/satellite/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/satellite/canonical-data.json)

You may find it helpful to follow [this checklist](ht

[2020-12-30 15:33] SleeplessByte opened #925 "Add new exercise: sgf-parsing"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/sgf-parsing)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/sgf-parsing/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/sgf-parsing/canonical-data.json)

You may find it helpful to follow [this checkli

[2020-12-30 15:33] SleeplessByte opened #926 "Add new exercise: tournament"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/tournament)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/tournament/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/tournament/canonical-data.json)

You may find it helpful to follow [this checklist]

[2020-12-30 15:34] SleeplessByte opened #927 "Add new exercise: zebra-puzzle"
[problem specification ](https://github.com/exercism/problem-specifications/tree/master/exercises/zebra-puzzle)| [description](https://github.com/exercism/problem-specifications/blob/master/exercises/zebra-puzzle/description.md) | [canonical data](https://github.com/exercism/problem-specifications/blob/master/exercises/zebra-puzzle/canonical-data.json)

You may find it helpful to follow [this chec

[2020-12-30 22:07] #906 closed

[2020-12-30 22:55] lpatmo commented on #741
I wasn't a developer at the time, but I remember a coworker telling me to read _JavaScript: The Good Parts_ when I expressed interest. On reflection, it was not the best recommendation, because it went into a lot of theory and I didn't grasp exactly how to write JavaScript after reading it cover-to-cover.

What I found helpful:
- this ES6 Scrimba course: https://scrimba.com/learn/introtoes6
- this

[2020-12-31 07:04] evelynstender commented on #741
I was a C# developer when I first got in touch with JavaScript. I had to learn as I joined a new team in my old company. I fell in love pretty quickly as it's really easy to find free/open-source resources for it. Especially packages/libraries/frameworks! The most helpful thing I did was to get involved in the community: ask questions, try to help others, and understand what you can build with Jav

[2020-12-31 23:23] neenjaw commented on #741
I'm not sure when I started learning JavaScript as I've been doing webpages since the mid-90's. But I used it more like a swiss army knife to connect up buttons, forms, and whatnot not really in a cohesive pattern.  I probably got more serious into javaScript in the last 5 years, when working on a bootstrapped app in VanillaJS.  It was interesting to see how the DOM and JavaScript had evolved over

[2021-01-01 03:55] matari-dev commented on #741
## **1**
* **How was your experience learning JavaScript?**
First attempts were confusing. I remember that what I was trying to learn was the use of JS in the DOM. Once found I could learn JS separate from the DOM first, I was able to gain traction

* **What was helpful while learning JavaScript?**
Focusing on JS without the DOM. Being introduced to basic concepts that are language agnostic. (e.g.

[2021-01-05 09:32] ErikSchierboom commented on #741
I had ups and downs :) Some things were really easy to do, but for many other things you'd have to build them yourselves as JS doesn't have much of a base library (I started doing JS a long time ago).

That JS is very easy to get started with. You can easily test things in a browser without having to setup a project file or anything like that.

The dynamic nature of JS meaning I usually found out

[2021-01-06 06:32] kntsoriano commented on #741
I didn't really have a great time with JS coming from a Ruby background. I started learning JS when it was all about callbacks and I had a hard time reading through them. It was useful to me to know that in JS, functions are treated as first-class citizens and you could pass them around as normal arguments. Though it gets harder when you forget to do `function.bind(this)`.

I guess the real strugg

[2021-01-07 14:39] ErikSchierboom opened #928 "[Important] The current website is about to enter maintenance mode to aid with v3 launch"
**TL;DR;** At the end of Jan 2021, all tracks will enter v3 staging mode. Updates will no longer sync with the current live website, but instead sync with the [staging website](https://exercism.lol/). The JavaScript section of the v3 repo will be extracted and PR'd into this track (if appropriate). Further issues and information will follow over the coming weeks to prepare JavaScript for the launc

[2021-01-13 16:29] slaymance opened #931 "High Scores: tests should check for mutated arrays"
I've talked with a couple fellow learners about this exercise and notice the tests don't check for mutated arrays. This allows for our code to pass all the tests while being flawed due to mutated arrays. Here's an example of a solution with a bug:
[code]
If we look at the `latest` getter, we see it just grabs the last score in the `scoresArray`. However, in the `personalTopThree` getter, it uses `

[2021-01-13 20:42] slaymance opened #933 "Add new exercise: Promises"
I've opened a PR for this new exercise: https://github.com/exercism/javascript/pull/932

I'd love to have a JavaScript-specific exercise that utilizes Promises. My idea was to have learners implement functions similar to NodeJS's `util.promisify` and the `Promise` static methods:
- `Promise.all`
- `Promise.allSettled`
- `Promise.race`
- `Promise.any`

[2021-01-14 02:18] SleeplessByte commented on #931
This is a great addition for the _canonical data_ because other tracks will have *the same issue*.

PR [this file](https://github.com/exercism/problem-specifications/blob/master/exercises/high-scores/canonical-data.json). You can use the scenario `local-scope` for this test. Make sure to link to this issue in the PR. You probably want to use a _new_ non-exising property, for example `topThreeFollo

[2021-01-14 20:00] slaymance commented on #896
Addressed in [PR 934](https://github.com/exercism/javascript/pull/934).

[2021-01-15 01:12] SleeplessByte commented on #896
Closed by #934

[2021-01-15 01:12] #896 closed

[2021-01-15 20:10] slaymance commented on #897
Addressed in [PR 935](https://github.com/exercism/javascript/pull/935).

[2021-01-15 21:39] #897 closed

[2021-01-18 22:00] hannakim91 opened #936 "difference-of-squares: dependencies depreciated - bug"
[code]

I tried to install dependencies for this exercise and ran into these error messages.

Tests will run (and fail) if code run for assertions are left blank and can pass if the return statements of functions are what's expected:

![Screen Shot 2021-01-18 at 3 00 01 PM](https://user-images.githubusercontent.com/62962173/104966322-d8fb0880-599d-11eb-91e7-be99635f60cf.png)

[2021-01-18 23:22] #936 closed

[2021-01-19 13:28] SleeplessByte commented on #936
Hi there!

I see you've closed this out. Were you able to figure out what was wrong? Otherwise I can explain to you what happened :)

[2021-01-19 16:43] hannakim91 commented on #936
Hi Derk-Jan,

Thanks for checking in! I had assumed the error messages I was getting from
running tests was due to the depreciated package warnings I got after
running `npm install` but turns out I had written some bad logic.  😰

I'm still in fairly early stages of learning to code and it's great to know
that you have such an active community checking in on issues!

Best,
Hanna

On Tue, Jan 19, 20

[2021-01-20 01:35] SleeplessByte commented on #936
All good!

Good luck on your journey :)

P.S., I don't know, without seeing your actual solution, if the code had bad logic -- it was 'just' not efficient enough, trying to allocate over 1GB of memory ;). That exercise has, purposefully, test case(s) to trigger this type of situation, so a brute-force/naïve solution won't pass all the tests.

[2021-01-20 13:41] BoDaly opened #938 "Queen-Attack: Class constructor object in template"
The current template is:
[code]
This will cause a "TypeError: undefined is not iterable" when the variables are correctly replaced with values.
To remedy, the constructor should be written:
[code]

[2021-01-20 17:26] SleeplessByte commented on #938
Can you show an example of this error in conjunction with the code ran? The tests are passing, so there doesn't seem to be an issue at the moment.

[2021-01-20 18:37] SleeplessByte commented on #938
I see the example and stub have diverged. The proposed remediation doesn't solve the underlying issue.

In your example, `blackRow` will _always_ be `undefined`, and thus what it actually is:

[code]

This assigns `black` and `white`, not `blackRow` and `blackColumn`.

Instead this should be written:

[code]

It aims at destructuring `blackRow`, `blackColumn`, `whiteRow` and `whiteColumn`.

For ex

[2021-01-21 18:50] hannakim91 commented on #936
Thank you for the well-wishes.

Seems you have a good nose for these things - I ended up solving the
problem using an IDE instead. It made me realize I'd created an infinite
loop when I was running the Exercism test. I'll be sure to 'google' any
unfamiliar error messages first next time!

Thanks for your hard work!

Best,
Hanna

On Tue, Jan 19, 2021 at 6:35 PM Derk-Jan Karrenbeld <
notifications@g

[2021-01-22 04:47] BoDaly commented on #938
I tried running the solution provided and then assigning the props to `this` as usual with constructors but this method does not recognize `black` or `white` as being defined after an input is given. (as per the test suite):
[code]

[2021-01-22 05:07] SleeplessByte commented on #938
Here are some options that should work. The _reason_ the stub has the destructuring is so that it's abundantly clear what is the `blackRow` and what is the `whiteColumn`. You're free to implement it however you like:

[code]

or

[code]

or

[code]

[2021-01-22 05:33] BoDaly commented on #938
Ok I see so this method defines `blackRow` `blackColumn` `whiteRow` `whiteColumn` not `black` or `white` as props.
My inexperience got the better of me on that one, thanks!

[2021-01-22 08:31] SleeplessByte commented on #938
You got it! That's how it works.

When I re-ordered the track, I did expect people to know about destructuring by the time they got to this exercise, but in v3, we'll try to solve this with a _specific exercise(s) on destructuring_.

[2021-01-22 09:17] SleeplessByte commented on #938
Closed by #939

[2021-01-22 09:17] #938 closed

[2021-01-28 15:51] ErikSchierboom opened #940 "The master branch will be renamed to main"
In line with our new org-wide policy, the `master` branch of this repo will be renamed to `main`. All open PRs will be automatically repointed.

GitHub will show you a notification about this when you look at this repo after renaming:

<img width="534" alt="Screenshot 2021-01-27 at 15 31 45" src="https://user-images.githubusercontent.com/286476/106013980-e9556680-60b4-11eb-992c-606b9f84a0b5.png">

[2021-01-28 19:49] SleeplessByte opened #946 "[JavaScript] Implement new Concept Exercise: type-checking"
This issue describes how to implement the `type-checking` concept exercise for the `javascript` track.

## Getting started

**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following

[2021-01-28 19:51] SleeplessByte opened #951 "[JavaScript] Write stub issues for new concept exercises"
Here is a list of concepts modified from the C# one. I marked a few that I know exist already, but we should add design document to ALL our current exercises too.

**How can you help?**:

1. For many of these we don't have exercises or exercise ideas yet, for example `chars` + `codepoints` doesn't exist yet. These need a `implement new exercise` issue with all the relevant information (see current

[2021-01-29 08:51] ErikSchierboom commented on #940
As of today, the default branch of this repository has been changed to main.

[2021-01-29 09:24] ErikSchierboom commented on #928
As of today, the website has entered maintenance mode.

[2021-01-29 13:54] ErikSchierboom opened #957 "[v3] Configure online editor"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, students can now choose to work on exercises directly from their browser, instead of having to download exercises to their local machine. The track-specific settings for the in-browser editor are defined in the top-level `"online_editor"`

[2021-01-29 13:54] ErikSchierboom opened #958 "[v3] Add key features"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, each track must specify exactly six "key features". Exercism uses these features to highlight the most interesting, unique or "best" features of a language to a student.

Key features are specified in the top-level `"key_features"` field

[2021-01-29 13:54] ErikSchierboom opened #959 "[v3] Add tags"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, tracks can be annotated with tags. This allows searching for tracks with a certain tag combination, making it easy for students to find an interesting track to join.

Tags are specified in the top-level `"tags"` field in the track's `conf

[2021-01-29 13:54] ErikSchierboom opened #960 "[v3] Add prerequisites to Practice Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Exercism v3 introduces a new type of exercise: [Concept Exercises](https://github.com/exercism/v3-docs/blob/main/product/concept-exercises.md). All existing (V2) exercises will become [Practice Exercises](https://github.com/exercism/v3-docs/blob/main/pro

[2021-01-29 13:54] ErikSchierboom opened #961 "Pass linting checks"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

The [configlet tool](https://github.com/exercism/canonical-data-syncer) has a `lint` command that checks if a track's configuration files are properly structured - both syntactically and semantically. Misconfigured tracks may not sync correctly, may look

[2021-01-29 13:54] ErikSchierboom opened #962 "[v3] Build Test Runner"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

In Exercism v3, one of the biggest changes is that we'll automatically check if a submitted solution passes all the tests.

We'll check this via a new, track-specific tool: the [Test Runner](https://github.com/exercism/v3-docs/tree/main/anatomy/track-too

[2021-01-29 13:54] ErikSchierboom opened #963 "[v3] Build Representer and Analyzer"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

## Representer

In Exercism v3, we're introducing a new (optional) tool: the [representer](https://github.com/exercism/v3-docs/tree/main/anatomy/track-tooling/representers). The goal of the representer is to take a solution and returning a representation

[2021-01-29 13:54] ErikSchierboom opened #964 "[v3] Update status of track"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

There are several new features in Exercism v3 for tracks to build. To selectively enable these features on the Exercism v3 website, each track must keep track of the status of the following features:

- [Concept Exercises](https://github.com/exercism/v3-

[2021-01-29 13:54] ErikSchierboom opened #965 "[v3] Update status of Concept Exercises"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

Concept Exercises can have a status specified in their `"status"` field in their `config.json` entry, as specified in [the spec](https://github.com/exercism/v3-docs/blob/main/anatomy/tracks/config-json.md#concept-exercises). This status can be one of fou

[2021-01-29 13:54] ErikSchierboom opened #966 "Launch Tracker 🔴"
_This issue is part of the migration to v3. You can read full details about the various changes [here](https://github.com/exercism/v3-launch/)._

To get your track ready for Exercism v3, the following needs to be done:

- [x] [Configure online editor](https://github.com/exercism/javascript/issues/957)
- [x] [Add key features](https://github.com/exercism/javascript/issues/958)
- [x] [Add tags](http

[2021-01-29 14:29] SleeplessByte commented on #962
I think so.

[2021-01-29 14:29] #962 closed

[2021-01-29 18:35] SleeplessByte commented on #963
I think we have this.

[2021-01-29 18:35] #963 closed

[2021-02-10 08:41] ErikSchierboom commented on #961
⚠ The original issue did not explain that currently only a subset of the linting rules have been implemented. This means that while your track may be passing the checks at this moment, it might fail later. We (the Exercism team) thus strongly suggest you keep this issue open until we let you know otherwise. The issue's text has been updated to reflect this.

[2021-02-10 09:13] ErikSchierboom commented on #960
⚠ The spec for Practice Exercises has changed. Besides having a `prerequisites` field, each Practice Exercise should now also have a `practices` field, which should list the slugs of Concepts that this Practice Exercise actively allows a student to practice. See [the spec](https://github.com/exercism/docs/blob/main/anatomy/tracks/practice-exercises.md#practices) for more information.

The issue's

[2021-02-12 17:46] TomPradat commented on #958
What about :

[code]

There is also the fact that Javascript is an Interpreted language, maybe we can group the `functional style` and `oop support` as in the example, `multi-paradigm` ? Thus allowing to put the `interpreted language` feature :thinking:

[2021-02-12 18:11] TomPradat commented on #959
I can work on that if needed

[2021-02-13 13:26] junedev commented on #850
@SleeplessByte In the description of this issue the link "JavaScript Concept Reference" is broken. Also the first channel listed is called "#maintaining-javascript" not "#maintaining-js". Can't PR on an issue so you might want to fix these yourself. :wink:

[2021-02-13 14:59] neenjaw commented on #850
@junedev all of the docs/links that were pointed at the v3 repo may or may not be working / updated as that repo is now archived.  The links here just haven't been updated yet since this only happened two weeks ago (but this post is from last April)

The javascript specfic docs are all in [this repo](https://github.com/exercism/javascript) now (eg. [Javascript: implementing a concept exercise](htt

[2021-02-13 15:43] junedev commented on #850
@neenjaw Thanks. I read about the move but forgot about it by the time I clicked that link. 🙈

[2021-02-14 20:12] junedev commented on #951
I had a look what we already have as issues and exercises and I noticed two things.
a) We have exercises for some advanced concepts where there are currently no exercises/concept pages for the prerequisites. So  it is hard to tell whether the student actually knows all the necessary things by this point.
b) I saw some "deadlocks" in the learning curve, e.g. the current numbers exercise expects the

[2021-02-14 22:37] SleeplessByte commented on #951
Yes, it was up to "future authors" to make sure the prerequisite chain included at least what was needed in those exercises, OR that they update those exercise prereqs.

I wholeheartedly agree. This is exactly the goal for April 1st! 100%.

This is actually 5 exercises (including array-loops) and thus teaches all those concepts. I think all of them have the exact same issue as you mentioned here.

[2021-02-15 17:28] TomPradat opened #982 "[v3] Add prerequisites 1/6"
The idea is to split #960 into smaller chunks.

Here is the list of practices exercises to deal with for this part :

[code]

[2021-02-15 17:32] TomPradat opened #983 "[v3] Add prerequisites 2/6"
The idea is to split #960 into smaller chunks.

Here is the list of practices exercises to deal with for this part :

~collatz-conjecture~

~triangle~

~clock~

~meetup~

~etl~

~hamming~

~raindrops~

~nucleotide-count~

scrabble-score

allergies

word-count

bank-account

~difference-of-squares~

perfect-numbers

~complex-numbers~

luhn

~prime-factors~

grains

pythagorean-triplet

palindrome-p

[2021-02-15 17:32] TomPradat opened #984 "[v3] Add prerequisites 3/6"
[code]

[2021-02-15 17:33] TomPradat opened #985 "[v3] Add prerequisites 4/6"
The idea is to split #960 into smaller chunks.

Here is the list of practices exercises to deal with for this part :

[code]

[2021-02-15 17:33] TomPradat opened #986 "[v3] Add prerequisites 5/6"
[code]

[2021-02-15 17:34] TomPradat opened #987 "[v3] Add prerequisites 6/6"
[code]

[2021-02-15 17:44] TomPradat commented on #982
I'll work on this one

[2021-02-15 20:32] junedev commented on #951
Thanks for the positive feedback. Added the explanation for the colors and exercise 9 and 10.

[2021-02-16 09:47] ErikSchierboom commented on #951
Which specific document are you referring to? [This document](https://github.com/exercism/v3/blob/main/languages/csharp/reference/README.md)? If so, that document was generated by a GitHub Actions workflow using some C# code: https://github.com/exercism/v3/tree/main/.github/bin/csharp-exercise-report

[2021-02-17 22:18] TomPradat commented on #982
@SleeplessByte Can you assign me this issue ?

[2021-02-20 19:51] junedev commented on #951
Finished the proposal for the first 20 concept exercises. Will start to create issues for the missing exercises first (status :red_circle:), will follow the template that was used for the issues so far.

[2021-02-20 23:18] SleeplessByte commented on #951
Amazing. This is really helpful @junedev, 💯% appreciated

[2021-02-21 14:26] junedev opened #989 "[V3] Implement new Concept Exercise: Comparison and Conditionals"
## Getting started
**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:
- [Rationale for v3](https://github.com/exercism/v3/blob/master/docs/rationale-for-v3.md).
- [

[2021-02-22 19:35] junedev opened #990 "[V3] Implement new Concept Exercise: For Loops"
## Getting started
**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:
- [Rationale for v3](https://github.com/exercism/v3/blob/master/docs/rationale-for-v3.md).
- [

[2021-02-22 20:08] junedev opened #991 "[V3] Implement new Concept Exercise: While and Switch"
## Getting started
**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:
- [Rationale for v3](https://github.com/exercism/v3/blob/master/docs/rationale-for-v3.md).
- [

[2021-02-23 19:32] junedev opened #993 "[V3] Implement new Concept Exercise: Objects"
## Getting started
**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:
- [Rationale for v3](https://github.com/exercism/v3/blob/master/docs/rationale-for-v3.md).
- [

[2021-02-23 20:32] junedev opened #994 "[V3] Implement new Concept Exercise: Functions"
## Getting started
**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:
- [Rationale for v3](https://github.com/exercism/v3/blob/master/docs/rationale-for-v3.md).
- [

[2021-02-24 01:43] #959 closed

[2021-02-24 01:47] #964 closed

[2021-02-24 01:48] SleeplessByte commented on #957
We have this.

[2021-02-24 01:48] #957 closed

[2021-02-24 15:55] SleeplessByte commented on #958
Good start. I do think these are very "dry". I don't think people _care_ about prototypes.

See #1005, and let me know what you think.

[2021-02-24 15:56] SleeplessByte commented on #928
I think this has been acked and can be closed. Here we go 🚀

[2021-02-24 15:56] #928 closed

[2021-02-24 15:58] #940 closed

[2021-02-24 16:24] #965 closed

[2021-02-24 16:27] SleeplessByte commented on #850
@Upinder123 sorry! I've never seen your message. Are you still interested?

[2021-02-25 22:03] SleeplessByte opened #1007 "scripts/sync: set repository automatically"
See [`e546cc4` (#978)](https://github.com/exercism/javascript/pull/978/commits/e546cc40d7463a94bbbc4d2e4f7729ee0cd8ce87#diff-d66e6833971e6a029c12631f15e3d6f865773d3e39b66cf73cbe77963f0cc495R8). It should be set automatically on sync instead.

## Description

The sync script (found in [`./scripts/sync`](https://github.com/exercism/javascript/blob/main/scripts/sync)) is meant to sync the [_canonical

[2021-02-26 15:09] junedev opened #1009 "[V3] Implement new Concept Exercise: Template Strings and Ternary"
## Getting started
**Please please please read the docs before starting.** Posting PRs without reading these docs will be a lot more frustrating for you during the review cycle, and exhaust Exercism's maintainers' time. So, before diving into the implementation, please read up on the following documents:
- [Rationale for v3](https://github.com/exercism/v3/blob/master/docs/rationale-for-v3.md).
- [

[2021-02-26 15:25] #958 closed

[2021-02-26 19:59] SleeplessByte opened #1013 "CI should check if repository value of package.json is sane"
Related #1007.

## Description

We have two scripts that check the integrity of the repository files, or pr changed files respectively: [`scripts/ci-check`] and [`scripts/pr-check`](https://github.com/exercism/javascript/blob/main/scripts/pr-check).

These are their steps:

1. check if stub file exists
2. check if their configuration files have the right _integrity_ (check if the files in `exercis

[2021-02-26 20:01] SleeplessByte opened #1014 "CI should check if name of package.json is sane"
## Description

We have two scripts that check the integrity of the repository files, or pr changed files respectively: [`scripts/ci-check`] and [`scripts/pr-check`](https://github.com/exercism/javascript/blob/main/scripts/pr-check).

These are their steps:

1. check if stub file exists
2. check if their configuration files have the right _integrity_ (check if the files in `exercises/*/*/` match t

[2021-02-26 20:19] SleeplessByte commented on #944
Fixed!

[2021-02-26 20:19] #944 closed

[2021-02-26 20:30] junedev opened #1015 "Implement new Concept Exercise: Classes"
## Getting started
Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.org/docs/building/tracks/concepts)

If you have not done so yet, it is probably also helpful

[2021-02-26 20:39] junedev commented on #942
A replacement issue for this one was created to fit the target learning curve: https://github.com/exercism/javascript/issues/1015 Please go there if you still want to contribute to the classes concept exercise.
This issue will be closed.

[2021-02-26 20:40] #942 closed

[2021-02-28 18:44] junedev commented on #989
I will work on this.

[2021-02-28 20:36] SleeplessByte opened #1017 "[V3] Fix exercise names, fix documents, fix all the things"
I know what needs to be done, so... there's that. This issue is just so I can write things down between times I can work on this, and so other people could pick it up should something happen to me (nothing planned!, just in case).

I will also reference this issue from PRs related.

- [x] Lucian's Lucious Lasagna (`basics`): ~#1018~
- [x] Annalyn's Infiltration (`booleans`): ~#1020~
- [x] Freelanc

[2021-02-28 21:48] SleeplessByte opened #1019 "[V3] Improve Annalyn's infiltration by making the tests declarative"
The tests follow the old spec format where the code executed is part of the test name. The tests should be changed to:

1. Get rid of the matrix tests. Instead, write out each test to be descriptive. This aids the test runner.
2. Get rid of the constructed names in the tests. Instead make the test names descriptive.

## Current

[code]

## Expected

[code]

## Additional information

The primary r

[2021-02-28 23:28] SleeplessByte commented on #989
FYI, I am expecting `<repo-root>/concepts/comparison` to exist after this PR as I am linking to it :)

[2021-03-02 15:43] ErikSchierboom opened #1028 "Add blurb to Concept Exercises"
Each Concept will have to define a _blurb_, which is a short description of the exercise.

In an earlier PR, a placeholder blurb has been added to the .meta/config.json file of each Concept Exercise. The placeholder blurbs should be replaced with an actual blurb for each Concept Exercise. Blurbs must be limited to 350 chars and will be truncated in some views.

For forked exercises, it might be us

[2021-03-13 21:00] junedev commented on #989
FYI a quick status update: I am done, I posted the PR as draft, I still need to resolve some conflicts and give it a self-review

[2021-03-14 06:07] SleeplessByte commented on #989
I'll review it once you undraft it :)

[2021-03-17 01:11] #989 closed

[2021-03-18 20:58] junedev opened #1049 "Improve Concept Exercise: Numbers (Freelancer Rates)"
## Getting started
Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.org/docs/building/tracks/concepts)

If you have not done so yet, it is probably also helpful

[2021-03-21 09:37] junedev commented on #951
As discussed with @SleeplessByte, I will work on creating the missing exercises from the list for now while he is fixing a lot of things regarding the existing exercises. Once that is done, we will see which improvement issues from the list above are still needed.

[2021-03-21 09:39] junedev commented on #990
I'll work on this.

[2021-03-28 10:55] #1014 closed

[2021-03-29 19:35] #990 closed

[2021-03-30 19:02] junedev commented on #991
I will work on this one next.

[2021-04-01 00:07] #949 closed

[2021-04-02 23:25] SleeplessByte commented on #1028
We're working on this.

[2021-04-02 23:25] #1028 closed

[2021-04-03 20:00] kristinaborn commented on #952
I'm back from the dead and finally working on this 😅

I think I'm going to opt not to address `WeakSet` in this exercise after all, unless folks feel strongly that I should. I believe that it's not used commonly enough outside of library code to be valuable to students.

[2021-04-04 00:09] SleeplessByte commented on #952
No, I think we can have a separate exercise, if at all! I agree that people barely use it in regular every-day use.

[2021-04-08 18:31] junedev commented on #993
I'll work on this.

@SleeplessByte Are you ok with the content and scope of the exercise/concept that I proposed in the issue description?

[2021-04-08 18:35] SleeplessByte commented on #993
Yes, it's looking good. I really like that you also listed out the about.md content. Are you going to base it on something, or create from scratch?

[2021-04-08 18:35] SleeplessByte commented on #993
(label should be on the PR :P)

[2021-04-08 19:10] junedev commented on #993
(:see_no_evil: I set the label in the wrong browser tab)

@SleeplessByte Re the content: I usually read the MDN docs and javascript.info (and maybe also w3schools.com if I need it dumbed down even further) as inspiration. The about.md list is compiled from relevant things mentioned there and my own experience. The actual docs texts are then written from scratch, usually there is never a 1-to-1 fit

[2021-04-08 20:38] SleeplessByte commented on #993
Nope. That's all good! I was just interested :)

[2021-04-08 20:39] #982 closed

[2021-04-11 11:35] #991 closed

[2021-04-11 15:28] SleeplessByte commented on #941
Tracked by https://github.com/exercism/javascript/issues/951

[2021-04-11 15:28] #941 closed

[2021-04-11 15:50] SleeplessByte commented on #951
@junedev I updated https://github.com/exercism/javascript/issues/951#issuecomment-778834953 a bit (content and formatting). If you hate it, let me know, and I'll revert. The list was making me anxious 😓 😅

[2021-04-11 16:08] junedev commented on #951
I like the new formatting, thanks!

[2021-04-16 02:29] #681 closed

[2021-05-12 17:48] shubhsk88 commented on #954
@SleeplessByte  How is it going with this ? How much work got done in this? Sorry was busy with personal life. I would like to talk this back on

[2021-05-29 19:49] #1007 closed

[2021-06-03 09:07] junedev commented on #952
This issue was resolved with #1093. Thanks @kristinaborn. :clap:

[2021-06-03 09:07] #952 closed

[2021-06-03 09:44] junedev opened #1166 "[V3] Improve Concept Exercise: Null and Undefined"
I will work on changing this exercise and concept to fit the learning curve we are aiming for, see https://github.com/exercism/javascript/issues/951#issuecomment-778834953.

[2021-06-15 20:17] SleeplessByte opened #1182 "Check corejs version in babel configuration versus package.json"
[`core-js`](https://github.com/zloirock/core-js#babel) is configured in our `babel.config.js` / `.babelrc`. It's version in our dependency list in `package.json` (currently `3.14.x`) must match the babel setting without the patch version.

In other words, given a `package.json` version of `3.14.x`, the configuration setting must be `3.14`.

Your task, should you accept it, is to add a check to the

[2021-06-16 18:51] junedev commented on #994
I will work on this but it will probably take a while as there is quite some ground to cover and exercise tasks to invent.

[2021-06-19 19:21] junedev commented on #951
When we get to the point were we want cover the details of iterable and enumerable in some concept, see this comment https://github.com/exercism/javascript/issues/951.

[2021-06-23 18:45] #993 closed

[2021-06-23 18:51] #1166 closed

[2021-06-28 23:05] SleeplessByte opened #1196 "Check EXERCISM_PRETTIER_VERSION matches prettier in package.json"
`prettier` is configured in our workflows as `EXERCISM_PRETTIER_VERSION` (see #1195 for an example). It's version in our dependency list in `package.json` (currently `2.3.2`) must match the workflow setting exactly. Why? `prettier` will be installed if a maintainer is working on the track, and the workflow will check it against a version. If these don't match, a cycle of "updates" and "workflow fa

[2021-07-05 02:44] laulujan commented on #1196
Hello!! Is it ok if I give it a try??

[2021-07-05 16:55] SleeplessByte commented on #1196
@laulujan go for it! Let me know / ping me if you need help.

[2021-07-06 01:08] laulujan commented on #1196
Hi @SleeplessByte I opened a PR #1204 on this issue, could you tell me if I am on a good track or how should I approach this?  I am also wondering how to test this, Thanks in advance!!

[2021-07-14 13:31] ErikSchierboom opened #1214 "Extract track-specific help instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to get help. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/help.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the readme template

[2021-07-14 13:31] ErikSchierboom opened #1215 "Extract track-specific test instructions from `config/exercise_readme.go.tmpl`"
Each track needs a file that contains track-specific instructions on how to manually run the tests. The contents of this document are only presented to the student when using the CLI. This file lives at `exercises/shared/.docs/tests.md`. **You almost certainly already have this information, but need to move it to the correct place.**

For v2 tracks, this information was (usually) included in the r

[2021-07-24 16:54] angelikatyborska opened #1224 "Concept poetry-club-door-policy lacks test for `trim()`"
I just solved poetry-club-door-policy while forgetting about the requirement to trim the blurb `backDoorResponse`. None of the tests failed. I think it would be good to add a single assertion for this requirement.

[2021-07-29 19:24] junedev commented on #954
We decided to combine the concept "comparison" (which includes equality) and "conditionals" into one exercise and that exercise was already done (https://github.com/exercism/javascript/pull/1037). So I am closing this issue.

@shubhsk88 Sorry nobody got back to you earlier. If you still want to help out with V3, have a look at the more recent open issues.
There are some nice smaller ones like http

[2021-07-29 19:24] #954 closed

[2021-07-29 19:28] junedev commented on #953
I am closing this issue because we decided to cut concepts/concept exercises differently. See https://github.com/exercism/javascript/issues/951#issuecomment-778834953 for details. Constructors are now part of the `classes` concept (https://github.com/exercism/javascript/issues/1015).

[2021-07-29 19:28] #953 closed

[2021-07-29 19:34] junedev commented on #943
I am closing this issue because we decided to cut concepts/concept exercises differently. See https://github.com/exercism/javascript/issues/951#issuecomment-778834953 for details. Classes are covered here now https://github.com/exercism/javascript/issues/1015 and inheritance will be combined with errors into into one exercise with two concepts.

[2021-07-29 19:34] #943 closed

[2021-07-29 19:39] junedev commented on #950
Closing this because it was already addressed.

[2021-07-29 19:39] #950 closed

[2021-07-29 19:41] junedev commented on #955
I am closing this issue because we decided to cut the concepts/concept exercises differently. See https://github.com/exercism/javascript/issues/951#issuecomment-778834953 for details. Arrow functions will be combined with callbacks in one exercise and function expression are covered in the functions concept/concept exercise.

[2021-07-29 19:41] #955 closed

[2021-07-29 20:20] junedev opened #1234 "Improve Concept Exercise: Functions (Lasagna Master)"
## Getting started
Here you can read about what Concept Exercises are and how they are structured:
- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.org/docs/building/tracks/concepts)

If you have not done so yet, it is probably also helpful t

[2021-08-01 12:55] AbhilashJN commented on #1019
I have opened a PR #1242 for this issue. Can you please take a look?

[2021-08-02 18:18] junedev commented on #1019
https://github.com/exercism/javascript/pull/1242 was merged so this issue is resolved.

[2021-08-02 18:18] #1019 closed

[2021-08-03 11:02] junedev commented on #409
I am closing this issue, we will still refer back to the provided information though.

[2021-08-03 11:02] #409 closed

[2021-08-03 11:03] junedev commented on #741
I am closing this issue, we will still refer back to the provided information though. Thanks everyone!

[2021-08-03 11:03] #741 closed

[2021-08-03 12:55] junedev opened #1247 "Improve Concept Exercise: Type Conversion (lucky numbers)"
I will work on improving this exercise and concept to fit the learning curve we are aiming for, see https://github.com/exercism/javascript/issues/951#issuecomment-778834953.

I will also check everything fits the latest specs etc.

[2021-08-03 19:47] junedev commented on #1247
I saw that although an exercise exists there is also this open issue about creating one: https://github.com/exercism/javascript/issues/947. I will consider the content mentioned there when working on this.

[2021-08-05 08:04] #1214 closed

[2021-08-05 08:04] #1215 closed

[2021-08-05 09:30] AbhilashJN commented on #1013
I can work on this one.

[2021-08-11 14:28] #994 closed

[2021-08-18 11:40] ErikSchierboom commented on #961
Closing as this track passes all the linting rules and we do not expect to add more linting rules before launch.

When we add linting rules later on, they will automatically be checked via the configlet CI workflow. There is thus no need for this issue to remain open.

[2021-08-18 11:40] #961 closed

[2021-08-20 10:43] ErikSchierboom opened #1272 "Check docs are up to date"
Please check if your documentation files are still up-to-date.

The key documentation files to check are:

- `docs/ABOUT.md`
- `docs/INSTALLATION.md`
- `docs/LEARNING.md`
- `docs/RESOURCES.md`
- `docs/TESTS.md`
- `exercises/shared/.docs/help.md`
- `exercises/shared/.docs/tests.md`

There might be more.

## Link check report

To help identify invalid links, we've automatically checked the links of

[2021-08-21 13:33] angelikatyborska commented on #1017
I'm going to work this weekend on "fixing everything" about Elyses Destructured Enchantments

[2021-08-22 20:15] #947 closed

[2021-08-22 20:15] #1247 closed

[2021-08-23 15:43] junedev commented on #1017
Just for reference, `errors` also needs to be fixed as @angelikatyborska noted. In particular it is missing the exercise entry in the global config.json file.

[2021-08-25 11:10] exercism-bot opened #1278 "🤖 Sync error for commit e5fc96"
We hit an error trying to sync the latest commit (e5fc96b14324413ee7d0708fadc01a64f14e6b91) to the website.

The error was:
[code]

Please tag @exercism/maintainers-admin if you require more information.

[2021-08-27 08:15] exercism-bot opened #1281 "🤖 Sync error for commit fb8caf"
We hit an error trying to sync the latest commit (fb8caf5ac69e0f7246e23c8260c6483695ea6ea1) to the website.

The error was:
[code]

Please tag @exercism/maintainers-admin if you require more information.

[2021-08-27 11:36] #1281 closed, assigned to nobody

[2021-08-31 18:09] #1224 closed

[2021-09-01 09:58] #933 closed

[2021-09-01 16:43] junedev commented on #948
Before starting with this, please have a look at the existing `rest-and-spread` and `array-destructering` concept and the `elyses-destructured-enchantments` exercise. An idea is that the learning objectives mentioned in this issue could be integrated into the existing exercise so the student would see all the rest/spread and destructering action in one place. The concept `array-destructering` coul

[2021-09-01 19:12] junedev commented on #660
Closing this issue because it is outdated. Please refer to https://github.com/exercism/javascript/blob/main/CONTRIBUTING.md#new-exercise for instructions on how to add exercises.

[2021-09-01 19:16] junedev commented on #819
There is now a nice, canonical path to become a maintainer for a track, please see https://exercism.org/docs/community/maintainers.

[2021-09-01 19:16] #819 closed

[2021-09-02 05:47] junedev commented on #850
V3 is live now. 🥳 Please see the open issues regarding how to help further. You can also use the new explore tasks UI https://exercism.org/contributing/tasks.

[2021-09-02 05:47] #850 closed

[2021-09-03 17:16] junedev commented on #1049
@NobbZ did this exercise and noted two things.
* There is a `applyDiscount` stub provided which you don't really need to use. If you don't use it, it looks like there is a `throw new Error(...)` left even though everything is fine and all tests pass. Since "use helper functions" is not the main focus for this early  exercise, it is probably best to remove that stub.
* Task 2 states to round up the

[2021-09-03 17:36] junedev opened #1298 "Fix wording in concept exercise stub ("method" -> "function")"
There are some concept exercises where the error message in the stub says "implement the method" but what people should implement is just a function, not a method.

So for example
[code]
should be changed to
[code]

This needs to fixed in the stub files of the following exercises.
* `bird-watcher`
* `lasagna`
* `ozans-playlist`
* `vehicle-purchase`

Leave a comment below, when you want to work on

[2021-09-03 17:46] junedev opened #1299 "Unskip all tests for Concept Exercises"
Since concept exercises are not TDD style exercises, it was decided that for these all tests should be un-skipped. That means instead of `xit` or `xtest` it should just be `it` or `test`.

Exercises that need this fixed are:
* `bird-watcher`
* `door-policy`
* `vehicle-purchase`
* `lasagna`

[2021-09-03 17:56] SleeplessByte commented on #1298
Yesss. Very nicely spotted.

[2021-09-03 20:11] #1299 closed

[2021-09-03 20:27] MukulKolpe commented on #1298
Hey @junedev can I work on this issue?

[2021-09-03 20:42] junedev commented on #1298
Of course, go ahead!

[2021-09-04 09:09] benallan commented on #1049
Hi, I just did this exercise and found one part a bit unclear:

I assumed this meant that each full month gets a discount, and any leftover days are billed at the full day rate. But from the expected results in the tests it seems that the discount needs to be applied to all days regardless of whether they make up a full month.

(Apologies if this was clear to everyone else!)

[2021-09-04 09:25] junedev commented on #1049
@benallan Good point! We should clarify that in the instructions.

[2021-09-04 12:55] vishal-codes commented on #903
Hey @SleeplessByte Can I work on this issue? and
<a href="https://github.com/exercism/javascript/blob/main/CONTRIBUTING.md#fetch-configlet">This </a> is the section where I have to add this test correct?

[2021-09-04 14:00] SleeplessByte commented on #903
@vishal-codes yes! But you don't need to manually add it there. Instead use `configlet sync`. Docs are [here](https://github.com/exercism/docs/blob/main/building/configlet/sync.md). (Link in CONTRIBUTING.md is still broken)

1. `configlet sync`
2. The test then needs to be _manually_ implemented in [`word-search.spec.js`](https://github.com/exercism/javascript/blob/main/exercises/practice/word-sea

[2021-09-04 14:16] #1272 closed

[2021-09-04 14:37] #1298 closed

[2021-09-04 15:10] junedev commented on #966
The remaining open items are mentioned in other issues.

[2021-09-04 15:10] #966 closed

[2021-09-04 16:29] NobbZ opened #1307 "high-score-board: package-lock.json is commited"
Hi there, it seems as if for `high-score-board` the `package-lock.json` got comitted into the repository.

This is the first exercise containing it among those I did, and I haven't found it in any of the other 3 random picks I did in this repository.

I realized it, as `yarn` warned me about it.

[2021-09-04 16:42] junedev commented on #1307
Thanks for reporting this!

[2021-09-04 20:34] NobbZ commented on #1307
Then I'll take the issue happily!

[2021-09-04 20:47] emanual4real commented on #1307
We regularly commit package-lock.json for npm.  Is it different with yarn?

[2021-09-04 20:51] vishal-codes commented on #903
This is kind of too overwhelming😵 for me but I m trying my best. As mentioned in the docs I ran the command `npx babel-node scripts/sync`. After this when I try to run `configlet sync` the terminal responds with `configlet: command not found`. I need help.

[2021-09-04 20:52] junedev commented on #1307
@NobbZ 😆 I was rather thinking of some newcomer picking this up.

[2021-09-04 20:55] junedev commented on #1307
@emanual4real With both npm and yarn, you usually commit the lock file. Have a look at the discussion in #703 I mentioned for details on the challenges with that in the exercise context.

[2021-09-04 20:57] NobbZ commented on #1307
Oh… Haven't seen the label. I will then also happily remove the PR and again.

[2021-09-04 21:03] junedev commented on #1307
Well, of course we can merge it when you already did the work now. 🙂

[2021-09-04 21:09] junedev commented on #903
@vishal-codes Can you check configlet was installed properly? See https://github.com/exercism/docs/tree/main/building/configlet#usage
As mentioned there you might have to include "bin/" at the beginning when running the command to access the correct folder that contains the configlet program.

[2021-09-04 21:17] vishal-codes commented on #903
@junedev How can I check if the configlet was installed properly?

[2021-09-05 00:59] junedev commented on #903
I just meant check whether you see configlet in the bin folder after running that fetch script.

[2021-09-05 07:07] junedev commented on #1049
Another comment by a student that was confused:

[2021-09-05 12:47] junedev commented on #951
To satisfy configlet and to make the track work as long as we don't have everything fixed that is mentioned above, we had to remove a couple of prerequisites temporarily. See https://github.com/exercism/javascript/pull/1309. They should be added back in once the respective concepts are "learnable".

[2021-09-05 13:17] #1196 closed

[2021-09-05 14:40] alexmitchelldev opened #1311 "Add blurbs for syllabus concepts"
The following syllabus concept's blurbs currently read 'TODO: add blurb for `conceptName` concept'

-  Callbacks
-  Array analysis
-  Promises

[2021-09-05 19:09] ffflorian commented on #1182
I'd like to take over this task :slightly_smiling_face:

[2021-09-05 19:19] junedev commented on #1182
@ffflorian You don't need to check all package.json and babel.config.js files, you only need to check those in the root directory. They are then synced from there to all the exercises via another script, so if they are correct in the root directory, they will be correct everywhere (or CI will complain about it).

[2021-09-05 19:38] vishal-codes commented on #903
@junedev Sorry but I think I don't know enough about the sync and testing thing I tried but I am not getting it. I guess I'll have to unassign this issue

[2021-09-05 19:44] ffflorian commented on #1182
[Done](https://github.com/exercism/javascript/pull/1313) :slightly_smiling_face:

[2021-09-06 00:44] junedev commented on #903
No problem, thanks for giving it a try.

[2021-09-06 02:59] #1182 closed

[2021-09-06 10:57] #1013 closed

[2021-09-06 17:04] slavict opened #1317 "Wrong value in unit tests for high-score-board"
Wrong value passed to updateScore function in unit tests for high-score-board at https://exercism.org/tracks/javascript/exercises/high-score-board exercise
![image](https://user-images.githubusercontent.com/16884974/132247458-03ca9dda-fc4c-4961-b168-97bdf4c56f35.png)

[2021-09-06 17:33] #1317 closed

[2021-09-06 17:35] slavict commented on #1317
It's seems that I didn't understand instruction. Sorry my bad.

[2021-09-06 17:52] junedev commented on #1317
If you have an idea how to improve the instructions please let us know.

[2021-09-06 19:50] SleeplessByte opened #1319 "Update scripts/format to match logic of bin/format.sh"
`scripts/format` works across platforms, yay, but it still relies on the workflow file to have `EXERCISM_PRETTIER_VERSION` declared:

https://github.com/exercism/javascript/blob/b12ff068e42789828960950e8c8021f86857151c/scripts/format#L22-L32

However, the CI script `bin/format.sh`, which is not cross platform doesn't require it anymore:

https://github.com/exercism/javascript/blob/b7624268a2a4aa8d

[2021-09-07 21:52] eakray commented on #1311
Opened up a tiny PR to cover this issue (https://github.com/exercism/javascript/pull/1322).

[2021-09-07 23:47] eakray commented on #900
Opened up a tiny PR for this (https://github.com/exercism/javascript/pull/1324).

[2021-09-08 09:07] #1311 closed

[2021-09-08 15:58] #900 closed

[2021-09-08 18:58] junedev opened #1325 "Improve Concept Exercise: Elyses Analytic Enchantments (array-analysis)"
## Goal
The goal of this task is to make sure the Concept Exercise "Elyses Analytic Enchantments" and the Concept `array-analysis` conform to the latest specification and include all the needed content.

## Getting Started
The docs can be found here
- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building

[2021-09-08 19:00] junedev opened #1326 "Improve Concept Exercise: Elyses Transformative Enchantments (array-transformations)"
The goal of this task is to make sure the Concept Exercise "Elyses Transformative Enchantments" conform to the latest specification. As part of that, the concept `array-transformations` has to be created.

The docs can be found here
- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-e

[2021-09-08 19:02] junedev commented on #1017
I created more descriptive issues for the remaining items on the list above, closing this one.
#1325
#1326

That way it is easier for people to see that there are already open issues for these exercises and to add comments there instead of opening a new issue.

[2021-09-08 19:02] #1017 closed

[2021-09-08 21:25] joshgoebel opened #1331 "Improve Practice Exercise "Promises""
I was trying to help a student but the exercise makes no sense to me.  If I implement just a TINY implementation:

[code]

All the tests start turning green, despite the fact that I'm not even calling `fn`, not rejecting or resolving anything... if I can't trust the test suite to guide me then I'm not sure how any student is supposed to get thru this complex exercise.

If the function we're suppos

[2021-09-11 06:25] andsus opened #1337 "Additional Test Cases for GradeSchool given a same student add twice to different grade"
### Currently the test case does not test the above scenario.
- Given student A add to specific grade. E.g., Student A add to grade 2. And student B add to grade2
- When  student A is add again into different grade E.g., Student A add to grade 3
- Expected to see roster where Student A is in grade 3, and Student B in grade 2.

The GradeSchool exercise exists in many other track language, and this

[2021-09-11 11:06] junedev commented on #1337
Are you maybe looking at an older version of the tests? When I look at the current version I already see a test case for adding the same student twice in different grades: https://github.com/exercism/javascript/blob/da0d8b294701a3adf7723455a92146058978a2bb/exercises/practice/grade-school/grade-school.spec.js#L80

[2021-09-11 11:53] #931 closed

[2021-09-11 12:23] junedev opened #1338 "Improve Concept Exercise: Poetry Club Door Policy (strings)"
The goal of this task is to make sure the Concept Exercise "Poetry Club Door Policy" and the Concept `strings` conform to the latest specification.

The docs can be found here

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.org/docs/buildin

[2021-09-11 12:23] junedev commented on #1338
I am working on this.

[2021-09-11 13:23] junedev opened #1339 "Improve Concept Exercise "Elyses Enchantments" (Concept `arrays`)"
## Getting Started
Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.org/docs/building/tracks/concepts)

If you have not done so yet, it is probably also helpful

[2021-09-11 15:40] junedev commented on #951
@SleeplessByte I was thinking what to do with this issue. Currently to edit the list, your original comment needs to be edited which is not very practical in the long run.

I would like to keep the list of existing and possible future concepts as a markdown file in the repo instead of as a comment (or several). Then I would like to create a new "ideas for concepts" issue that would link to that fi

[2021-09-11 16:49] SleeplessByte commented on #951
I think adding it to the repo, and then when you actually work on / implement the exercise, that file/files/dir/doc gets edited is a good idea.

Alternatively, we can enable the wiki.

[2021-09-11 16:52] SleeplessByte commented on #1338
@junedev yay!

[2021-09-11 18:52] junedev opened #1340 "Improve Concept Exercise "Fruit Picker" (Concept `callbacks`)"
## Getting Started

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.org/docs/building/tracks/concepts)

If you have not done so yet, it is probably also helpful

[2021-09-11 19:28] junedev opened #1341 "Improve Concept Exercise "Factory Sensors": Add `inheritance` concept"
## Getting Started

Here you can read about what Concept Exercises are and how they are structured:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exercism.org/docs/building/tracks/concepts)

If you have not done so yet, it is probably also helpful

[2021-09-11 19:33] junedev commented on #951
Jeremy mentioned on the call that he wants to email mentors and encourage them to contribute now that the queues are under control. To prepare, I created the missing improvement issues mentioned in the list above. I did not yet check whether the exercises that are not on that list above also need improvement. Will do at some later time and create more issues if needed.

[2021-09-12 19:52] InfiniteVerma commented on #1339
I'd like to work on this

[2021-09-13 16:45] andsus commented on #1337
* What happen with Blair and James, when Paul move to grade 3?
** Expect, Blair and James should still be in grade 2

That case is not covered in the current test case.

[2021-09-13 21:48] joshgoebel commented on #1331
A student just submitted the following solution:

[code]

This is the second or third student to come to me entirely confused about this exercise.  This exercise should be removed until it can be rethought.  Is there a simple flag I can toggle in the JSON to hide this in the UI for everyone? Or would we need to remove it completely?

[2021-09-14 10:33] iHiD commented on #1331
@joshgoebel You can toggle the status to `wip`.

[2021-09-14 12:53] junedev commented on #1337
@andsus Ah ok, I got the point now.

The list of test cases for this exercise originate in another repository: https://github.com/exercism/problem-specifications

While it is possible to add extra test just for JavaScript, it is best to fix the shared content so all tracks benefit. Currently someone is in the process of fixing the grade school test cases, https://github.com/exercism/problem-specif

[2021-09-14 22:26] Steffan153 opened #1347 "Concepts to add"
There's quite a few (more advanced) concepts that I didn't see in the github issues. I thought it would be nice if these more advanced ones (at least some) could be covered too. Here's a list I cooked up:

- [ ] [JSON](https://javascript.info/json)
- [ ] [Generators and Iterators](https://javascript.info/generators)
- [ ] [Map](https://javascript.info/map-set)
- [ ] [WeakMap/WeakSet](https://javas

[2021-09-14 22:36] junedev commented on #1347
Topics are currently collected in this issue: https://github.com/exercism/javascript/issues/951

Please copy and paste your comment there.

I am working on a cleaner version of the concept roadmap, I will check whether your ideas are already on the new list.

[2021-09-14 22:36] #1347 closed

[2021-09-14 22:45] SleeplessByte commented on #1347
(These are all great ideas and additions @Steffan153, and in full agreement with junedev)

[2021-09-14 23:44] Steffan153 commented on #951
Here's several (most are advanced) concepts to add (pasted from #1347 but without generators because it was already in the list):

- [JSON](https://javascript.info/json)
- [Map](https://javascript.info/map-set)
- [WeakMap/WeakSet](https://javascript.info/weakmap-weakset)
- [WeakRef and FinalizationRegistry](https://v8.dev/features/weak-references)
- [BigInt](https://javascript.info/bigint)
- [Prox

[2021-09-15 01:25] Steffan153 commented on #951
I was just thinking about the Bit Manipulation one. We already have an exercise for Elixir (Secrets): https://exercism.org/tracks/elixir/exercises/secrets

It's learnt at the same time as callback functions. So what if we do the same thing in JS but with arrow functions?

[2021-09-15 11:15] SleeplessByte commented on #1331
It's WIP now

[2021-09-15 11:24] junedev commented on #1331
The tests are now fixed and the exercise is hidden. I am keeping the issue open since the task of fixing the instructions/ the exercise itself is still open.

[2021-09-15 16:45] TomPradat commented on #1331
I'll give a shot to make the instructions clearer

[2021-09-15 16:50] joshgoebel commented on #1331
That'd be great.  Happy to review new instructions when they are ready and give this another shot to see if it could be improved further.

[2021-09-16 11:34] sachinmk27 commented on #903
Hi, can I take this up ?

[2021-09-16 15:30] qianzhong516 commented on #903
Hi, I just made a PR. Please let me know if there is any issue. Thanks

[2021-09-16 16:23] sachinmk27 commented on #903
Hi, @qianzhong516  didn't want to override 😬 . Had spent some time working on this, so pushed it anyway. Will pick some other issue.

[2021-09-17 13:33] sachinmk27 commented on #902
I'd like to work on this

[2021-09-18 16:04] AndrewLawendy opened #1358 "Translation Service's Test Cases"
This exercise test cases are not working correctly
For example:
- `Free service` can succeed with the following snippet
[code]

- `Request service` can succeed with the following snippet
[code]

- `Batch service` can succeed with the following snippet
[code]

- `Premium service` can succeed with the following snippet
[code]

[2021-09-18 16:10] SleeplessByte commented on #1358
Ugh. That shouldn't be the case. Thanks for reporting! If you know how to fix it, we accept PR's!

[2021-09-18 16:18] AndrewLawendy commented on #1358
Working on it...

[2021-09-19 14:28] AndrewLawendy commented on #1358
PR https://github.com/exercism/javascript/pull/1359 is merged

[2021-09-19 14:28] #1358 closed

[2021-09-20 18:38] junedev commented on #1338
This is on hold currently because the Go track situation needed my help more urgently.

[2021-09-21 05:07] #903 closed

[2021-09-21 12:08] junedev commented on #1337
Closing this as the person working on the grade school fixes confirmed they will incorporate your feedback.

[2021-09-21 12:08] #1337 closed

[2021-09-22 17:56] TomPradat commented on #1326
There is no `array-transformations` concept yet on this track. Does this issue mean that one should be created?

[2021-09-22 18:04] junedev commented on #1326
Good point. I didn't notice the folder does not even exist yet. Yes, the concept needs to be created and added to the config.json file.

[2021-09-22 19:01] TomPradat commented on #1326
Can I work on this?

[2021-09-22 19:20] junedev commented on #1326
Yes, that would be great! Note that I extended the issue description with some ideas about the introduction that I discussed with DJ but did not write down yet.

[2021-09-24 10:29] #1307 closed

[2021-09-24 12:46] SleeplessByte opened #1373 "Improve Concept Exercise: Coordinate Transformation (`closures`)"
The goal of this task is to limit the number of different solutions are valid for the Concept Exercise "Coordinate Transformation".

As a refresher, or first time read, the docs can be found here:

- [What are Concept Exercises?](https://exercism.org/docs/building/product/concept-exercises)
- [Concept Exercises](https://exercism.org/docs/building/tracks/concept-exercises)
- [Concepts](https://exer

[2021-09-24 13:29] SleeplessByte opened #1374 "Improve Concept Exercise: Elyses Enchantments (`arrays`)"
Related: https://github.com/exercism/support/issues/28#issuecomment-926606144

This is a tiny task. The stubbed JSDoc can be improved.

## Current JSDoc

[code]

## Proposal

Change this JSDoc to make it clear that the card at the _given_ position must be removed. Perhaps we say: `position 0 is the first position` or something like that. 0-based and 1-based indexation isn't a concept that's necess

[2021-09-24 15:39] tliebert commented on #898
This test case currently prevents the users code from passing the test suite - it returns this case as failed even though the test is skipped.

[2021-09-24 16:02] Kmelow commented on #908
Hello @SleeplessByte, can I give a try on this issue?

[2021-09-24 16:58] SleeplessByte commented on #908
Go for it!

This will be a practice exercise, if you're following the CONTRIBUTING.md guidelines.

[2021-09-24 19:46] junedev commented on #1338
From the editor bug reports:

Expected: "Horse, please"
Received: "E, please"
    at BackDoorGuard.assert (<solution>/door-policy.spec.js:90:22)

[2021-09-25 17:41] junedev commented on #1374
I would recommend to also explicitly mention somewhere in the introduction that the position count starts at 0 and not 1. Currently you have to guess this from the examples.

[2021-09-25 17:46] junedev commented on #908
@Kmelow You can find the latest docs on practice exercises here: https://exercism.org/docs/building/tracks/practice-exercises
Among other thigs this explains what to put in the config.json file.

[2021-09-25 17:56] junedev commented on #898
@tliebert Thanks for reporting. We are aware of the issue. @SleeplessByte is working on fixing this.

[2021-09-25 18:19] pertrai1 commented on #1374
I am interested in starting to contribute. Before I do, I would like to know if something like below would be a helpful addition to the `introduction.md`? I was thinking that comments in the code block - closest to the line of code - could help when reading the code example. Let me know if this looks like it would  be helpful and I can make some updates and open a pull request. Thank you.

---
In

[2021-09-25 18:49] junedev commented on #1374
@pertrai1 Thanks for offering to help! First of all please note that this issue is just about clarifying the JSDoc and the exercise instructions with regards to the `position` parameter. (I made a typo in my comment above by writing "introduction", sorry for that.)

There is another ticket for fixing the introduction: https://github.com/exercism/javascript/issues/1339
Someone already volunteered f

[2021-09-25 18:50] pertrai1 commented on #1374
Thank you @junedev for the quick response. I will jump over to that ticket for the introduction.

[2021-09-25 19:44] pertrai1 commented on #1374
I'd like to work on this

[2021-09-26 04:27] halfmoongroup opened #1382 "Falsy not truthy"
on line 34 of javascript/concepts/type-conversion/introduction.md

content is:

this is an error what's described is falsy, not truthy.

[2021-09-26 09:54] junedev commented on #1382
Although this might be surprising to you, the content is correct. Everything that is not on the list of things that are falsy (https://developer.mozilla.org/de/docs/Glossary/Falsy), is in fact truthy.
Here you can see this in action in a REPL: https://replit.com/@junedev/thruthy#index.js

[2021-09-26 09:54] #1382 closed

[2021-09-26 14:45] #1374 closed

[2021-09-26 21:30] bobtfish opened #1384 "Write about and introduction for Promises concept"
The about.md from concepts/promises contains a single line TODO. The introduction.md contains a single sentence.

Both need to be properly filled out with information about promises.

[2021-09-27 11:06] #1373 closed

[2021-09-28 07:23] junedev commented on #1339
@pertrai1 Since there was no sign from @InfiniteVerma for over two weeks now, I will assign this issue to you instead. Please confirm you are still interested.

[2021-09-28 12:19] pertrai1 commented on #1339
I am still interested. Thank you

[2021-10-01 21:37] joshuaswickirl opened #1394 "Discrepancy between docs and test case"
The comment on `purchaseInventoryIfAvailable` in fruit-picker.js says arg should be bool but a test case expects passing an object to return "PURCHASE" as if this is an expected type.

https://github.com/exercism/javascript/blob/669ddc8cc78c7b9e25c6ec350dd87d014c96bfcd/exercises/concept/fruit-picker/fruit-picker.js#L38

https://github.com/exercism/javascript/blob/669ddc8cc78c7b9e25c6ec350dd87d014c

[2021-10-02 11:28] #1339 closed

[2021-10-02 13:15] pertrai1 commented on #1340
I'd like to work on this

[2021-10-03 13:52] #901 closed

[2021-10-03 14:45] JaPatGitHub commented on #1049
I'd like to work on this

[2021-10-03 14:57] junedev commented on #1049
@JaPatGitHub There are a lot of todos here. Feel free to only tackle some of them first. Your PR does not have to include all things at once. Also if you don't feel like doing all the parts we can put the rest in some new issue later.

[2021-10-03 15:06] JaPatGitHub commented on #1049
Hello @junedev, my pleasure to work on this!
Where do I find the About.md file you mentioned under **Fixes for Existing Content** of this issue?
Did you mean introduction.md?

[2021-10-03 16:56] junedev commented on #1049
Please make sure you have read the documentation listed under "Getting started" above. There you learn that there are the concepts (in this `numbers`) and concept exercises (`freelancer-rates`), they exist in different root level folders. About.md is part of the numbers concept: https://github.com/exercism/javascript/blob/main/concepts/numbers/about.md

[2021-10-03 17:13] #1384 closed

[2021-10-04 05:53] JaPatGitHub commented on #1049
I have two questions now:
i) What do I do for the uuid of arithmetic-operators in the general config.json file?
ii) Should I create a .meta/config.json file under arithmetic-operators folder? (I see it's there in all other concept folders but it's not mentioned in the tasks of this issue)

[2021-10-04 07:27] junedev commented on #1049
You can use configlet to generate the uuid: https://github.com/exercism/configlet#configlet-uuid

How to fetch configlet is documented here: https://github.com/exercism/javascript/blob/main/CONTRIBUTING.md#fetch-configlet

[2021-10-04 15:25] JaPatGitHub commented on #1049
Thank you @junedev. Went through the links you sent and tried implementing. I don't exactly get how to run the [`fetch-configlet`](https://github.com/exercism/javascript/blob/main/bin/fetch-configlet) binary on my windows computer (I've downloaded my fork of the repository locally). How do I do that?

 Not much great help on google searches

[2021-10-04 19:41] SleeplessByte commented on #1049
@JaPatGitHub if you're on windows, open PowerShell and `cd` to the `javascript` folder. Then run <https://github.com/exercism/javascript/blob/main/bin/fetch-configlet.ps1> instead like this:

[code]

If you're not on windows, `cd` to the `javascript` folder, then run <https://github.com/exercism/javascript/blob/main/bin/fetch-configlet> like this:

[code]

Both will result in `configlet` or `confi

[2021-10-05 04:00] irgeek opened #1399 "Can't complete Pythagorean Triplet because skipped test is considered a failure."
The last test in the Pythagorean Triplet exercise is disabled because (according to #1324) it takes too long to run in the web UI. When I submit a solution for the exercise, though, it's marked as failed with just the last test failing.

Locally I've edited the `pythagorean-triplet.spec.js` file to change `test.skip` to `test` and all tests pass successfully. Is there something we're supposed to d

[2021-10-05 04:28] junedev commented on #1399
This is a known issue, a fix is in work. Target state is that skipped tests don't show as failed on the website anymore.

cc @SleeplessByte (not sure how far this is along, could we ask Joshi for help porting the fix from TS?)

[2021-10-05 10:48] mmmmmrob opened #1400 "Promises Exercise may be missing tests"
https://github.com/exercism/javascript/blob/ba702157951d269f3ec70d968bd8573efd3a2ade/exercises/practice/promises/promises.spec.js

The tests for the promises exercise ensures each function returns a promise, but does not test for two scenarios:

1. What should happen if the function is called with no arguments (or nullish) rather than empty array

2. That the promise resolves when called with an e

[2021-10-05 12:23] SleeplessByte commented on #1400
Yep, that sounds good. Go for it!

[2021-10-05 15:45] mmmmmrob commented on #1400
Should there also be a test for the incoming promises array containing non-promise objects?

[2021-10-05 19:31] #1400 closed

[2021-10-06 01:31] pertrai1 opened #1406 "Promises Concept: About Footnotes Not Formatted"
It looks as though footnotes in the about.md file are not showing correctly:

![promises-footnotes](https://user-images.githubusercontent.com/442374/136126525-8f6779f4-206d-4fad-9900-4d94ec1458ee.jpg)

[2021-10-06 08:11] junedev commented on #1406
When I look at that page in a private browser window (so logged out) that also renders the about page but everything looks correct there.
https://exercism.org/tracks/javascript/concepts/arrays

Also when I look at the introduction it looks correct.

🤔

[2021-10-06 08:13] junedev commented on #1406
This was fixed recently: https://github.com/exercism/website/pull/2040

Looks all good now.

[2021-10-06 08:13] #1406 closed

[2021-10-07 18:48] junedev opened #1415 "[Overview] Improve existing Concept Exercises"
This is a tracking issue for the concept exercises that need some cleanup or improvement.

- [x] https://github.com/exercism/javascript/issues/1049 (claimed)
- [x] https://github.com/exercism/javascript/issues/1166
- [x] https://github.com/exercism/javascript/issues/1247
- [x] https://github.com/exercism/javascript/issues/1325
- [x] https://github.com/exercism/javascript/issues/1326 (claimed)
- [x

[2021-10-08 13:31] junedev opened #1418 "[Discussion] Ideas for new Concepts"
### Concept Roadmap
There are already a lot of ideas for additional concepts that we could cover with concept exercises in the future.
You can find a list in our roadmap document: **[Roadmap - Potential Future Concepts](https://exercism.org/docs/tracks/javascript/roadmap#h-potential-future-concepts)**

We already created issues for the following new concepts/exercises:
- [x] https://github.com/exe

[2021-10-08 13:43] junedev commented on #951
This issue is replaced by the [roadmap document](https://github.com/exercism/javascript/blob/main/reference/roadmap.md#syllabus-overview) and #1418 for discussions/ additional ideas.

[2021-10-08 13:46] junedev commented on #1418
Additional ideas by @Steffan153 (posted here https://github.com/exercism/javascript/issues/951#issuecomment-919587077, items already on the roadmap are omitted below):

- [WeakMap/WeakSet](https://javascript.info/weakmap-weakset)
- [WeakRef and FinalizationRegistry](https://v8.dev/features/weak-references)
- [Proxy and Reflect](https://javascript.info/proxy) (reflect is not on the list yet)
- [Dec

[2021-10-08 13:49] #898 closed

[2021-10-09 16:06] Fbrufino opened #1422 "VERY minor mistake in Poetry Club Door Policy exercise"
Hi guys, this is a very minor thing, but I noticed 2 of the test descriptions have a small mistake. I actually did correct it locally in my code, but I'm not yet comfortable sending a PR and I haven't even set my Node environment up, so I'll just list the descriptions in question with my suggestions:

| Test | Current Description | Suggestion |
| ---- | --- | --- |
| Test 2 | "it _outputs takes_ t

[2021-10-09 16:40] Fbrufino commented on #1049
That wasn't my exact thought process, but I also was confused at task 3 as to which rate I was supposed to use, and even though I could guess from the function inputs and also the clue that

I thought it was more vague than it should. In the end, it seems the whole monthly rate could actually be dispensed with in favor of talking directly in terms of something like a single-charge rate or a fixed-

[2021-10-09 18:15] #1394 closed

[2021-10-10 03:32] jakewitcher commented on #1341
I'd like to work on this issue. I am sure I will have questions once I get into it but the information above should be more than enough to get started.

[2021-10-10 08:14] Fbrufino commented on #1422
Oh, I'm so sorry, I went out to try it and just realized that the [repository version](https://github.com/exercism/javascript/blob/main/exercises/concept/poetry-club-door-policy/door-policy.spec.js) is a bit ahead of the website, and that the problem is already taken care of in it.

So I guess the site should update soon, right? Again, not really comfortable closing the issue myself since I'm not

[2021-10-10 08:35] junedev commented on #1422
Yes, there was an update to the exercise recently. You can get the new version on the website, when you click on the "outdated" warning sign or the "see what changed" banner.

It's perfectly fine if you close an issue that you opened and that is no longer relevant. I will do this now.

[2021-10-10 08:35] #1422 closed

[2021-10-10 17:38] brenik opened #1424 "Wrong test in Lucian's Luscious Lasagna"
1*2+(40-5)=37
How your expert 7?
----------
 test('calculates the total cooking time', () => {
    expect(totalTimeInMinutes(1, 5)).toBe(7);
    expect(totalTimeInMinutes(4, 15)).toBe(23);
    expect(totalTimeInMinutes(1, 35)).toBe(37);
  });

[2021-10-10 17:46] #1424 closed

[2021-10-13 01:56] JaPatGitHub opened #1433 "Collatz Conjecture exercise instructions doesn't mention about errors"
The [exercise](https://exercism.org/tracks/javascript/exercises/collatz-conjecture) requires us to add a line throwing an error if the input is 0 or negative.
[code]
However, the instructions don't mention anything about this.

[2021-10-13 03:16] junedev commented on #1433
Language specific instructions can be added via the instructions.append.md file. There is an example here: https://github.com/exercism/javascript/blob/main/exercises/practice/meetup/.docs/instructions.append.md?plain=1

[2021-10-13 17:25] junedev opened #1436 "Add an automated PR comment"
Angelika created this great GitHub action that can generate PR comments depending on which files have changed in the PR.
https://github.com/exercism/pr-commenter-action

An example can be seen in the Elixir Track: https://github.com/exercism/elixir/pull/930#issuecomment-926567977

I was thinking about adding something similar for the JavaScript track.
It could take care of the following things:
*

[2021-10-15 02:09] JaPatGitHub commented on #1049
@Fbrufino, I agree with you. I got your second point about changing `dayRate` to 'day rate' in the hint.
But I don't exactly get your first point - why do you think it's vague? What changes do you recommend?

[2021-10-15 18:54] junedev commented on #1049
I agree with @Fbrufino but I would even go further than the changes he suggested

* Use task 3 as task 2 and completely remove the discount from that task. It is fine if that task is just about doing division and using Math.floor.
* As for the descriptions, I would recommend removing this part from the "introduction" section entirely.
[code]
    Instead present that information in the task where i

[2021-10-15 22:24] SleeplessByte commented on #1436
Right. Yes. You are right. I meant that for practice exercises, the instructions should be like canonical, and only appends should be used to add things...

[2021-10-17 14:56] #1436 closed

[2021-10-20 02:30] JaPatGitHub commented on #1049
@junedev
**Regarding Test Files**
Thank you! I find these instructions comprehensive enough to start working. Will mention here if I face any difficulties :)

**Regarding Remainder Operator**
I think we had a miscommunication - my idea was meant for the new task 3 (not 2 - it stays clear of discount calculation)

However, I find your story good too. So which one do you think should we work on?

[2021-10-26 19:53] TomPradat opened #1467 "Practice exercise 'hamming' : Confusing tests"
IMO the following tests are confusing :

[code]
Why should we throw if a strand is empty but not if both are?

I'd suggest that an empty string should not cause an error to be thrown. Thus the 2 last test cases should be removed.

I can make a PR if you agree with me

[2021-10-30 16:52] junedev opened #1473 "Nucleotide Count: Remove unnessary class"
The Nucleotide Count stub and exemplar solution currently contain a class definition that serves no purpose.
https://github.com/exercism/javascript/blob/0017b79c40521091794437fa0d0d9974de35c4d5/exercises/practice/nucleotide-count/nucleotide-count.js#L6-L7

The exercise should be changed so that the stub and exemplar only use a simple function definition, e.g.
[code]
The following files need to be

[2021-10-30 17:05] junedev opened #1474 "Nucleotide Count: Describe output format in instructions"
The JavaScript version of the Nucleotide Count exercise requires the student to format the output like this `'20 12 17 21'` instead of returning an object `{ A: 20, C: 12, ...}`. Its a good exercise to format the output put currently the required format is not described anywhere and needs to be guessed from the tests.

The task is to add an `instructions.append.md` file in the `.docs` folder. In t

[2021-10-30 18:32] #1467 closed

[2021-10-30 18:34] junedev commented on #773
Before working on this, please check out the discussion in #774.

[2021-10-31 17:14] mathstrains21 opened #1482 "[Custom Signs] Inconsistent "!""
On Custom Signs, for task 3 (graduation signs) there is an "!" mark in the example that doesn't exist in the tests. I'll submit a pull request to fix this shortly.

[2021-10-31 17:54] Kmelow commented on #918
Hello,

I have a question.

After successfully populating the `.meta/tests.toml` with `./bin/configlet sync --update`, is there a way to make the same for the tests in `<slug>.spec.js`?

Thanks,

[2021-10-31 17:55] junedev commented on #918
@Kmelow No, the JavaScript track does not have a test case generator. You need to write the test file yourself.

[2021-10-31 20:24] #1482 closed

[2021-11-01 10:26] lpizzinidev commented on #1473
Hi! Can I work on this issue?

[2021-11-01 10:27] junedev commented on #1473
Sure, I'll assign you. Thanks Form helping out.

[2021-11-01 12:07] DavidMatalik commented on #1474
I take this issue.

[2021-11-01 20:46] #1473 closed

[2021-11-02 14:42] #1474 closed

[2021-11-03 14:18] lpizzinidev commented on #927
Hi! Can I try to implement this?

[2021-11-03 14:55] SleeplessByte commented on #927
Sure!

[2021-11-04 15:39] SMCRunner88 commented on #1418
I'd like to suggest adding `functional composition` concept. The exercise [coordinate-transformation](https://github.com/exercism/javascript/tree/main/exercises/concept/coordinate-transformation) mentions them but the exercise only covers the concept of `closures`.

[2021-11-05 16:46] junedev commented on #960
A recommendation from the maintainers of other tracks (who already completed this task) was to fill all prerequisites first. Then a small script can report a list of concepts and their related exercises. That list can be used as a starting point to think about which concepts to set in "practices". For example, there might be 20 exercises that have "strings" as prerequisite but only max. 8 should h

[2021-11-05 19:29] SleeplessByte commented on #960
Yes, this sounds right.

[2021-11-06 15:33] SethGunnells commented on #1234
I'd like to work on this! I do have one note. I think the `scaleRecipe` task is a pretty good one personally, since it encourages the student not to modify the original recipe, but it also doesn't actually check that the original recipe object and the resulting object are not equal by reference. I'd like to add a check for this. Would that count as contributing towards this issue?