[2014-05-20 21:56] kytrinyx opened #19 "Revisit ordering of problems"
In particular, all the song-based/text-based exercises are pretty mentally taxing, and should probably be spread out a bit.

[2014-08-17 00:48] kytrinyx opened #26 "Recommend a linter for javascript"
See exercism/docs#54 for details.

[2014-08-18 05:55] kytrinyx opened #30 "Standardize filenames?"
Now that we don't have any strict requirements with respect to filenames (aside from the fact that the example file has to be named something with `example`), it might be worth renaming so we don't have a mix of hyphens and underscores, e.g. `sum-of-multiples_test.spec.js`.

[2014-08-31 16:32] DouglasBrunner opened #33 "Bob test suite only performing one test"
The test suite is only performing one test and then passing me. Here is the output from the test suite.

[code]

Here is my Bob.js

[code]

I'm on windows 7 and have installed Node.js according to the instructions provided.

If you need any other info let me know.

[2014-08-31 19:27] kytrinyx opened #35 "Change design of meetup problem"
@pminten brought up a very good point about the API of meetup being
pretty terrible (See exercism/exercism.io#950).

If the meetup problem has not already been fixed in this track, we should
improve the test suite and example code to give the API a better design.

[2014-09-27 15:55] kytrinyx opened #49 "Name nucleobases, not nucleosides"
In other words, we should rename the values in the RNA transcription problem to reflect the following:

* `cytidine` -> `cytosine`
* `guanosine` -> `guanine`
* `adenosine` -> `adenine`
* `thymidine` -> `thymine`
* `uridine` -> `uracil`

[2014-10-20 01:28] LegalizeAdulthood opened #64 "Update queen attack to use _'s not O's for empty spaces"
See the updated [problem description](https://github.com/exercism/x-common/blob/master/queen-attack.md)

[2014-11-03 20:26] soniakeys opened #65 "Custom Set tests that empty sets are not disjoint."
Custom Set currently tests that empty sets not disjoint and indeed the example program works this way.  This is pretty much at odds with mathematics and with the other test programs and should be changed.

[2014-12-04 14:31] kytrinyx opened #67 "How to set up a local dev environment"
See issue exercism/exercism.io#2092 for an overview of operation welcome contributors.

---

Provide instructions on how to contribute patches to the exercism test suites
and examples: dependencies, running the tests, what gets tested on Travis-CI,
etc.

The [contributing document](https://github.com/exercism/x-api/blob/master/CONTRIBUTING.md)
in the x-api repository describes how all the language

[2015-01-16 02:04] drueck opened #71 "make test typically only runs the first test in the suite"
I'm not sure if this has been addressed before, or if it's a big deal or not, but typically all but the first test in the suite are marked not to run by renaming `it` to `xit`. So, `make test` usually only runs the first test in each suite. If the goal of `make test` is to make sure the tests and example don't blow up and the example passes all the tests, then it might be nice to rename the `xit`s

[2015-01-16 02:23] kytrinyx commented on #71
I think it's worth it, but if we change all the `it` to `xit` then there's no good way to change them back without doing a `git reset`. This is fine on Travis, but in local development I would not be surprised if people want to run the tests as the very last thing after making changes, and now you have the potential for losing work or committing the test changes by accident.

[2015-01-16 02:45] drueck commented on #71
Oh, I was just thinking of having the make script convert `xit` to `it` after it copies the example solution to the real solution filename in the temp directory. Then it could run all the tests, not just the first one. Those changes would be discarded because they would only exist in the temp directory, not in the actual repo directory.

I haven't done much shell scripting in a long time, but I co

[2015-01-16 02:51] drueck commented on #71
I'd have to look at the `Makefile` again; I can't remember if it copies the tests to a temporary directory as well, or if it just copies and renames the example. If not, then we'd have to change the script to copy both the tests and the example to the temp directory so we could safely change the tests.

[2015-01-16 06:52] kytrinyx commented on #71
Oh, of course. Yeah, that sounds gread.

I haven't the foggiest. @LegalizeAdulthood, do you know about this?

[2015-01-16 19:47] LegalizeAdulthood commented on #71
IIRC, the JS tests are all executed with NodeJS and that is cross-platform.  So it is possible to run it on Windows, but I haven't tried outside the perspective of running my own tests while working on a JS exercise.

[2015-01-16 19:51] drueck commented on #71
Thanks for the feedback, @LegalizeAdulthood. I was more talking about running the `make test` script in the Makefile. I know that is primarily designed to be run on Travis, but it's also nice to be able to run it locally on your development machine if you're developing a new exercise or modifying an existing one. But yeah, I'd assume running make on Windows would require installing a bunch of stuf

[2015-01-16 22:34] LegalizeAdulthood commented on #71
The Makefile as it stands assumes a unix like environment.  It would probably work fine with a cygwin bash shell.

[2015-01-16 22:35] drueck commented on #71
Yeah, good point.  :)

[2015-01-17 03:06] #71 closed

[2015-01-24 17:58] kytrinyx opened #73 "gigasecond: use times (not dates) for inputs and outputs"
A duration of a gigasecond should be measured in seconds, not
days.

The `gigasecond` problem has been implemented in a number of languages,
and this issue has been generated for each of these language tracks.
This may already be fixed in this track, if so, please make a note of it
and close the issue.

There has been some discussion about whether or not gigaseconds should
take daylight savings ti

[2015-03-22 16:11] kytrinyx opened #75 "Meetup - 5th Monday"
There is an interesting edge case in the meetup problem:
some months have five Mondays.

March of 2015 has five Mondays (the fifth being March 30th), whereas
February of 2015 does not, and so should produce an error.

------

Thanks, @JKesMc9tqIQe9M for pointing out the edge case.
See [exercism.io#2142](https://github.com/exercism/exercism.io/issues/2142).

[2015-03-22 20:35] kytrinyx commented on #75
As someone mentioned in the original issue:

Closing.

[2015-03-22 20:35] #75 closed

[2015-04-14 19:53] purezen opened #77 "Clarification regarding bob_test.spec"
Guys, is this spec correct?
xit("calmly speaking about umlauts", function() {
    var result = bob.hey("\xfcML\xe4\xdcTS");
    expect(result).toEqual('Whatever.');
  });

Ref: https://github.com/exercism/xjavascript/blob/master/bob/bob_test.spec.js#L61

My understanding says that since the input here has capital letters, they signify yelling at Bob and so the expected result must be "Whoa, chill

[2015-04-15 03:09] kytrinyx commented on #77
For something to be considered shouting all the characters need to be uppercase, and here the word is mixed case.

[2015-04-15 03:10] kytrinyx commented on #77
Would it help to have a comment next to it that shows the actual characters the way they would be translated?

E.g.

[code]

[2015-05-09 15:07] kytrinyx commented on #49
Fixed in fbf828c

[2015-05-09 15:07] #49 closed

[2015-05-09 15:08] kytrinyx commented on #64
Fixed in 8f48a54

[2015-05-09 15:08] #64 closed

[2015-05-25 09:27] schorsch3000 opened #89 "crypto-square: missing test-case"
Hi,
there is a missing testcase for size() that tests that the square is calculated against the filtered input, not the original input.

the size of ("1 2 3 4") should be 2 not 3.
all tests which test size are with valid chars only.

if wished, i could write this test and create a pull-request.

[2015-05-27 05:35] nonsensery opened #91 "Incorrect expectations in "grains" exercise"
In the "grains" exercise, we are asked to write code to calculate the number of grains on the tiles of a chess board where, for the nth tile, the number of grains is 2^(n-1). Since a chess board has 64 squares, that means the final square will have a value of 2^63 (`9223372036854775808`) grains. However, in JavaScript, integers are represented as 64-bit floating point numbers, so they cannot accur

[2015-05-27 16:05] nonsensery commented on #91
I suppose another option would be to provide a big integer module in the exercise code. Some options:
- [strint](https://github.com/rauschma/strint)
- [javascript-biginteger](https://github.com/silentmatt/javascript-biginteger)
- [BigInteger.js](https://github.com/peterolson/BigInteger.js)

[2015-05-27 16:23] kytrinyx commented on #89
That would be great, thank you!

[2015-05-27 16:25] kytrinyx commented on #91
In other language tracks the solutions use BigInteger types. I think it would make sense to include one of these for this problem. Do you have any preferences?

[2015-05-27 23:28] nonsensery commented on #91
It seems like [BigInteger.js](https://github.com/peterolson/BigInteger.js) might be a good choice. It has a sane API, and (more importantly) is licensed as public domain.

[Here's a gist with a sample solution](https://gist.github.com/nonsensery/1b48da5316a092dc7312) (I've installed the `big-integer` module using npm).

[2015-05-28 16:21] kytrinyx commented on #91
Yeah, I think it would be easier if we included the file. Anything to reduce the friction of having to figure out external dependencies.

[2015-08-15 09:29] #77 closed

[2015-08-18 00:08] #65 closed

[2015-08-18 16:35] ZacharyRSmith commented on #35
#100  closes this

[2015-08-18 18:05] ZacharyRSmith opened #101 "Recommend ESLint for contributors"
If we are going to recommend ESLint to exercism users (per an old issue and pull request I made today), then I think we should recommend it to contributors.

[2015-08-19 02:33] kytrinyx commented on #101
Actually, maybe we can start by just recommending it to contributors, and applying it across the board here. Then we might know a bit more about whether or not we like it enough to suggest it to exercism users.

[2015-08-19 02:33] #26 closed

[2015-08-19 02:35] #35 closed

[2015-08-19 03:30] ZacharyRSmith commented on #101
That's a good idea, and why you're the boss! ; )

Zachary Smith

On Tue, Aug 18, 2015 at 10:33 PM, Katrina Owen <notifications@github.com>
wrote:

[2015-08-19 03:46] kytrinyx commented on #101
Hah. You'd be surprised. I think I'm only the boss because I keep showing up.

[2015-08-20 17:11] ZacharyRSmith commented on #91
#98 closes this

[2015-08-21 21:03] ZacharyRSmith commented on #101
So, after a few days of running JSHint and ESLint on my code (with default settings), my vote is for JSHint. Because:

jshint points out missing semicolons, eslint doesn't.
jshint suggests using === instead of ==, eslint doesn't.

I can't speak for ESLint being "better" due to its being more configurable than JSHint, because I haven't worked with configurations. However, as I'm guessing most contr

[2015-08-21 21:12] ZacharyRSmith commented on #89
This seems to have been addressed. This test is in the current suite:
[code]

[2015-08-21 21:18] ZacharyRSmith commented on #33
Hi Katrina, I'm wondering if you'd like me to work on implementing any of the above-mentioned ideas?

[2015-08-22 02:17] #91 closed

[2015-08-22 02:17] kytrinyx commented on #91
Thanks, @ZacharyRSmith

[2015-08-22 02:22] kytrinyx commented on #101
I think that is the best argument I've heard so far. Let's do it!

[2015-08-22 02:23] kytrinyx commented on #89
Yepp, that looks right. Thanks!

[2015-08-22 02:23] #89 closed

[2015-08-22 02:25] kytrinyx commented on #33
That would be wonderful! If you have any specific questions, don't hesitate to holler. Also, if you have any co-conspirators that can help whip the javascript into shape, that would be wonderful :) As I've discovered while watching the folks who are managing all the various lisp tracks, this is a lot of fun with friends!

[2015-08-28 01:03] dalexj opened #105 "robot_name nearly impossible test"
the robot names are 2 letters and 3 numbers, for a possibility of about `26 * 26 * 10 * 10 * 10` (676000) different names.

pulling the same name randomly 2 times in a row would then be a 1 in 676000 chance, almost impossible, but the test wants 10001 unique names after 10001 pulls. now there's much more chance for overlap.

after running the suite several times, I've almost always gotten around 9

[2015-08-28 02:44] kytrinyx commented on #105
I'm not particularly attached to the robot name exercise as it stands, and would be happy to discuss improvements or variants. I'd be interested in hearing what others think. /cc @exercism/track-maintainers

[2015-08-28 02:59] etrepum commented on #105
It could be changed to generate serial numbers sequentially, maybe even add a function to render the Nth serial number for easy testing

[2015-08-28 03:12] kytrinyx commented on #105
I like that--much simpler without actually changing the shape of the problem.

[2015-08-28 03:35] kotp commented on #105
Without a 'seed' function in Javascript how do you check?  Also, with testing things random, just because it comes up with the same name 1000 times in no way invalidates a random result.  So then the question becomes "Are you testing something that is hard as in "Computer Science" or testing something a little bit simpler as outlined by the requirements?"

Perhaps the test itself is misleading...

[2015-08-28 21:32] hankturowski commented on #105
I just looked and not all language tracks don't have the 10000 name check in their test suites. I spot checked Ruby, Swift and Python and they're just checking to see that two sequential names do not conflict. My advice is to just remove the test from the JavaScript suite.

I would love to see us put some effort into creating a canonical core set of unit tests for each exercise. We already have th

[2015-08-29 00:34] kotp commented on #105
It seems to me that more than a uniform test suite, there should be a checklist of what each exercise is trying to exercise.  A Lesson Objective, perhaps.  That will direct the points that would be tested.

In this case, apparently the slip is that at some point someone thought the randomness was the goal of the exercise.  I thought the goal was working with numbers and strings in a random way, su

[2015-08-29 00:38] hankturowski commented on #105
That objective information can either go into the comment block at the top of the .json file, or into the .md. Having said that, I believe that well written test will serve to document the intent of the exercise.

[2015-08-29 01:43] kotp commented on #105
Of course it can, and it does.  As demonstrated even here.  I think the problem is that the intent shifts without a control or limit reminding of the uniform goal.

I think that may be what happened here.  Someone thought that it was a 'randomness' that was part of the objective.

I think you are saying the same thing though, but I may be wrong.

Is the .json file too far away from the test?  Do y

[2015-08-29 02:14] hankturowski commented on #105
We're on exactly the same page. I agree that the issue is that there wasn't clear indication about the purpose of the exercise.

I'm not sure about incorporating the .json directly into the test, to be honest. I was just thinking about clearing up some of the ambiguity, not the next steps. How do you see that working? Like having a tool to auto-generate the tests from the JSON? Or just having the

[2015-08-29 02:44] wobh commented on #105
The README used to have a line about making robot names both random and unique as a challenge for "bonus points".  I suppose that text was removed since we don't actually have "points" much less bonus ones. We could restore that notion in the README as a more advanced challenge, and comment out the test as optional.

We don't have such a test in the xlisp version but I would totally add it under t

[2015-08-29 03:59] kytrinyx commented on #105
I would really love to see this happen, even to the point of creating generators, which we've started doing in the Go and Ruby tracks.

I started a high-level "todo" for this a while back: https://github.com/exercism/todo/issues/13

If there is any interest in pursuing this, I would love to have some help thinking through how we might make this a community-wide effort. One thing that I've noticed

[2015-08-29 12:40] verdammelt commented on #105
I like the idea of the README hinting at further challenges. With this exercise in the Common Lisp track i know that @wobh and I have both prompted people to consider the uniqueness of the names and that created interesting code and discussions.

[2015-09-15 10:50] jmluy opened #109 "Wordcount is different from python or java"
Tests for word count is different in that it doesn't normalize to lowercase or even strip special characters.  It's not mentioned in the readme file but It might be better to have similar tests.

[2015-09-15 14:06] kytrinyx commented on #109
Yeah, the word count exercise has evolved a bit over time. This might be a good time to extract the best test cases into a [shared set of metadata](https://github.com/exercism/todo/issues/7) so that the various tracks can [write generators](https://github.com/exercism/todo/issues/8)

[2015-09-18 08:36] wobh commented on #109
It seems to me that, ideally, the word count test should be indifferent to the method of normalizing. Just did a PR to the xpython about this.

[2015-09-18 17:07] kytrinyx commented on #109
Agreed--I really like that change.

[2015-09-29 15:41] ZacharyRSmith opened #111 "Some tests do not follow conventional ordering of actual/expected"
In the Jasmine testing framework, it is convention to

[code]

But Accumulate's tests are:

[code]
causing error messages to be confusing.

[2015-09-29 15:45] kytrinyx commented on #111
Good catch. I've gotten myself all turned around between Ruby and Go for this reason: Ruby asserts with `expected -> actual`, but go asserts with `actual -> expected` (or _got/want_ as they say).

[2015-10-05 04:12] ZacharyRSmith commented on #111
I fixed accumulate's tests in #113 , but I remember seeing this error in other exercises

[2015-10-05 12:47] kytrinyx commented on #111
Yeah, I'll leave this open until we have verified that all the tests follow the idiom for javascript/jasmine.

[2015-10-18 17:46] ZacharyRSmith commented on #101
Update: I listened to a podcast on ESLint, and I believe you have to set some "run default lint checks" to true. I never configured my ESLint, which would explain why it wasn't catching the things JSHint was, as I referenced in my comment above.

[2015-10-19 00:56] kytrinyx commented on #101
Oh, neat. That makes ESLint sound promising.

[2015-10-19 20:54] wilmoore commented on #111
:+1: - thanks for fixing @ZacharyRSmith. Not sure how I managed to FUBAR the tests but glad you caught/corrected that.

[2015-10-21 14:35] ZacharyRSmith commented on #111
( :

[2015-11-02 20:45] rchavarria opened #126 "Improve test names in Gigasecond problem"
PR #125 adds a new test, but test names are not descriptive at all.

[Gigasecond on ECMAScript track](https://github.com/exercism/xecmascript/blob/master/gigasecond/gigasecond.spec.js) has better test names, but they test something slightly different. At least, they could serve as inspiration.

[2015-11-02 21:20] kytrinyx commented on #126
If you find good test names, then perhaps we could improve the generator here:
https://github.com/exercism/x-common/blob/master/gigasecond.json

/cc @mikeyjcat

[2015-11-12 16:32] rchavarria opened #128 "All exercises should require a homogeneous structure to be exported"
Take a look at [exercism/exercism.io issue #2304](https://github.com/exercism/exercism.io/issues/2304). It talks about requiring the user to export a homogeneous structure for all exercises.

Some require the user to export a constructor function:

[code]

Some require to export an object:

[code]

Some require to export different things.

Could we first agree on what structure should exercises re

[2015-11-12 17:54] matthewmorgan commented on #128
I agree there should be more consistency, although I think it's worth
pointing out that wrestling with the output formats did help me sharpen my
understanding of modules.

On Thu, Nov 12, 2015 at 11:32 AM, Rubén Chavarría <notifications@github.com>
wrote:

--
Matt Morgan
Director of Technology
Dulcet Software LLC
(734) 926-8142

[2015-11-12 22:21] kytrinyx commented on #128
How about making the format consistent for the first 10 or 12 exercises, and then letting things be more inconsistent after people have gotten a few successes?

[2015-11-12 22:34] matthewmorgan commented on #128
That sounds good.  That way they'll have some confidence in the internals
of their solution.

On Thu, Nov 12, 2015 at 5:21 PM, Katrina Owen <notifications@github.com>
wrote:

--
Matt Morgan
Director of Technology
Dulcet Software LLC
(734) 926-8142

[2015-11-13 10:59] rchavarria commented on #128
It seems a much more affordable work to make *only* the first 12 exercises consistent than make all of them.

I wouldn't like to turn this into a discussion about using *classes* Vs not using them, but we should decide a estructure to export.

My proposition is the following. From the point of view of tests (the only code users see at the beginning), I would like to have them this way, using the `

[2015-11-13 11:20] kytrinyx commented on #128
I like that two approaches will pass the tests with that approach.

[2015-11-13 12:19] matthewmorgan commented on #128
@rchavarria 'classy' vs 'no classy' approach -- *en broma*, no?  Is that the right phrase?

This seems like a good tack to me too.  I think one of the challenges of learning a new language is getting a handle on the environment and the tools, plus how much time is spent adapting to legacy code or integrating with APIs you didn't write?

[2015-11-16 12:07] rchavarria commented on #128
@matthewmorgan yep, it was more or less a joke, and yes *en broma* is the right phrase. You know I would favor a *classy* approach, but I'm slowly appreciating other approaches, to avoid using `this` and learning a more JavaScript-way of doing things.

[2015-11-17 23:46] matthewmorgan commented on #73
@kytrinyx I think this is addressed.  Closed by b984811.

[2015-11-18 01:21] kytrinyx commented on #73
Yepp, you're right. Feel free to close issues when you see that they've been addressed.

[2015-11-18 01:21] #73 closed

[2015-11-24 20:10] rchavarria commented on #126
Actual test names are these:

- tells a gigasecond anniversary since midnight
- tells the anniversary is next day when you are born at night
- even works before 1970 (beginning of Unix epoch)
- make sure calling "date" doesn't mutate value

I think this issue can be closed.

@mikeyjcat What do you think about them?

[2015-11-24 20:10] #126 closed

[2015-11-24 20:15] rchavarria commented on #30
Finally, test filenames were changed to `<exercise>.spec.js` in PR #123.

Everything is fine to close this issue?

[2015-11-24 21:06] kytrinyx commented on #30
Yepp, that looks good.

[2015-11-24 21:06] #30 closed

[2015-11-25 08:12] rchavarria opened #131 "Disable all tests but first in Two Bucket exercise"
Each exercise contains several tests (several `it` Jasmine blocks). To help users to implement the solution, all tests but first should be disabled (they should be `xit` instead of `it`).

[2015-11-25 10:57] #131 closed

[2015-11-25 10:57] #128 closed

[2015-11-29 20:40] kytrinyx opened #137 "Broken links in documentation?"
I got this email today:

-------

Just wanted to report a broken link in this page:
http://help.exercism.io/getting-started-with-javascript.html

the link should be http://ESLint.org while it's
http://help.exercism.io/ESLint.org.

Actually it seems all 3 of links in this sentence is broken:
*The old standard linter for JavaScript is JSLint. However, it is
controversially picky. JSHint is another p

[2015-11-29 22:04] matthewmorgan commented on #137
Fixed by #138

[2015-11-29 22:04] #137 closed

[2015-12-19 00:05] mhelmetag opened #144 "Transcription doesn't go both ways... only DNA to RNA"
This is part of a larger [issue] (https://github.com/exercism/x-common/issues/148) to remove RNA to DNA "transcription" from the `rna-transcription` exercise across all languages.

Files to edit are [here](https://github.com/exercism/xjavascript/tree/master/rna-transcription).

[2015-12-26 23:23] matthewmorgan commented on #144
Closed by #145

[2015-12-26 23:23] #144 closed

[2016-01-20 17:21] cmstead opened #150 "Treating functions as second class citizens"
I have noticed that even the earliest problems now require a prototypal setup before solving the problems.  This is not idiomatic Javascript because functions are first class citizens. Although the OO aspect of Javascript is important, I think using objects to wrap functions is unnecessary. Along with adding unnecessary cognitive overhead, it also misses a very important aspect of Javascript, spec

[2016-01-20 21:47] rchavarria commented on #150
Thanks @cmstead for your comments. This is a very controversial subject in JavaScript. Sorry if you feel that exercises don't take the functional programming side of JavaScript too seriously.

This subject was addressed on issue #128. In the end, we decided to make first exercises in a way that promotes the use *constructor functions*. There are lots of OO languages out there and this could help o

[2016-01-21 00:28] cmstead commented on #150
@rchavarria Thanks for the follow up. I was trying not to come off too strongly since I understand that there were likely reasons. I appreciate the quick response and I understand the perspective you are taking with this. I'll go ahead and close my issue. : )

[2016-01-21 00:28] #150 closed

[2016-01-21 00:55] kytrinyx opened #151 "Move exercises to subdirectory"
The problems api (x-api) now supports having exercises collected in a subdirectory
named `exercises`.

That is to say that instead of having a mix of `bin`, `docs`, and individual exercises,
we can have `bin`, `docs`, and `exercises` in the root of the repository, and all
the exercises collected in a subdirectory.

In other words, instead of this:

[code]

we can have something like this:

[code]

[2016-01-21 10:29] rchavarria commented on #150
Nice! If you keep working on exercises, I'm sure you'll find some that don't necesarily force you to write OO-like JavaScript :wink:

[2016-01-25 15:40] rchavarria opened #154 "Create test pattern in `config.json` to help exercism.io to identify files that contain tests"
There is a small bug in exercism.io ([exercism.io#2610](https://github.com/exercism/exercism.io/issues/2610)). JavaScript tests files are not shown.

It was fixed for ECMAScript track by adding a `test_pattern` property in `config.json` file (see [xecmascript#65](https://github.com/exercism/xecmascript/pull/65/files)).

[2016-01-25 18:22] matthewmorgan commented on #151
Closed by #153

[2016-01-25 18:22] #151 closed

[2016-01-27 18:36] kytrinyx commented on #154
+1, I just looked at this, and confirmed that adding the test_pattern property in the config will fix it.

[2016-01-28 13:39] matthewmorgan commented on #154
Great, when should it deploy?  I checked just now and no test suite is visible in the GUI.

[2016-01-28 18:36] kytrinyx commented on #154
I am deploying now.

[2016-01-28 18:40] kytrinyx commented on #154
I've confirmed the fix.

[2016-01-28 18:40] #154 closed

[2016-01-28 19:08] matthewmorgan commented on #154
 😃

[2016-01-29 23:45] kytrinyx opened #156 "triangle: incorrect test in some tracks"
Please check if there's a test that states that a triangle with sides 2, 4, 2 is invalid. The triangle inequality states that for any triangle, the sum of the lengths of any two sides must be greater than or equal to the length of the remaining side. If this doesn't affect this track, go ahead and just close the issue.

[2016-01-30 00:23] matthewmorgan commented on #156
Tested and legal in this track.

[2016-01-30 00:23] #156 closed

[2016-01-30 15:47] kytrinyx commented on #156
nice! thanks

[2016-02-16 15:32] rchavarria opened #161 "Make a distinction between JavaScript and ECMAScript tracks"
As discussed in [exercism.io#2750](https://github.com/exercism/exercism.io/issues/2750).

[2016-02-16 15:43] rchavarria commented on #161
I wrote the proposed message in the exercism.io issue in the `docs/ABOUT.md` file.

It's still in [my fork](https://github.com/rchavarria/xjavascript/blob/make-distinction/docs/ABOUT.md) because I don't like it very much how the message is *highlighted*.

Would plain HTML work here @kytrinyx? Could I use HTML code instead of Markdown to highlight the message?

[2016-02-16 19:33] kytrinyx commented on #161
Plain HTML is totally fine. I would use `_`, and put it at the bottom, also mentioning ECMAScript and how it would be different.

[2016-02-17 16:29] rchavarria commented on #161
Do you think that italics will be enough?

Besides that, I'll follow your other suggestions.

[2016-02-21 19:05] kytrinyx commented on #161
Yes, I think Italics will be enough.

[2016-02-23 14:43] rchavarria commented on #161
Closed by #162

[2016-02-23 14:43] #161 closed

[2016-02-23 22:24] matthewmorgan opened #165 "Update nodejs version?"
@kytrinyx @rchavarria is there a reason we're running node 0.10 on Travis?  It's on 5.6 now.

[2016-02-25 20:36] kytrinyx commented on #165
Hah. No, that would be because I don't know the first thing about javascript.

[2016-02-25 22:27] matthewmorgan commented on #165
You say that like it's a point of pride 😉

[2016-02-25 23:08] kytrinyx commented on #165
Nooooo, imagine me sighing and throwing my hands in the air. I am going to have to learn javascript properly, maybe even soon. Exercism is going to require a technical overhaul before too long. We're starting to see the effects of all the duct tape on performance.

[2016-02-25 23:43] matthewmorgan commented on #165
Anecdotally my local JS group have been using exercism.io once a month, and
it does tend to bog down. Don't know if that is what you're seeing.

On Thu, Feb 25, 2016 at 6:08 PM Katrina Owen <notifications@github.com>
wrote:

[2016-02-26 01:13] kytrinyx commented on #165
I'm seeing a number of things. One of the features ('5 a day') was taking the database down when certain users logged on (not even sure which users). I temporarily removed the feature, and will look at reimplementing it. The side is really slow, some pages more than others, and it's a combination of a number of things: unoptimized database stuff, too many calls to the database, very little caching

[2016-02-29 21:53] #165 closed

[2016-03-09 20:56] rchavarria opened #169 "largest-series-product: Should tests test for implementation details (slices, digits)?"
Address discussion on [x-common#192](https://github.com/exercism/x-common/issues/192).

Check if this language track tests implementation details. If so, try to include some hints as in an [Elixir exercise](https://github.com/exercism/xelixir/tree/master/exercises/zipper/hints).

[2016-03-13 19:54] kytrinyx opened #171 "Verify "Largest Series Product" exercise implementation"
There was some confusion in this exercise due to the ambiguous use of the term _consecutive_ in the README. This could be taken to mean _contiguous_, as in consecutive by position, or as in _consecutive numerically_. The the README has been fixed (https://github.com/exercism/x-common/pull/200).

**Please verify that the exercise is implemented in this track correctly** (that it finds series of con

[2016-03-14 20:25] matthewmorgan commented on #169
@rchavarria I think this is OK.  I made the same comment on the ES track.  Hope it's OK, I will merge both.

[2016-03-14 21:29] rchavarria commented on #169
Yep, both checked :smile:

[2016-03-14 21:29] #169 closed

[2016-03-14 21:54] rchavarria commented on #171
Quite similar to [the xecmascript one](https://github.com/exercism/xecmascript/issues/204). None of the tests included in this track violates rules stated in the `README`.

But, there are interesting cases in the canonical inputs/outputs that could be added:

[code]
And, one case that explains the weird (I found it weird the first time I read the specs) spec that returns `1` (the spec already exis

[2016-03-23 12:32] petertseng opened #173 "Pass explicit list of multiples in "Sum of Multiples" exercise rather than defaulting to 3 and 5"
Hello, as part of https://github.com/exercism/x-common/issues/198 we'd like to make the sum of multiples exercise less confusing. Currently, the [README](https://github.com/exercism/x-common/blob/master/sum-of-multiples.md) specifies that if no multiples are given it should default to 3 and 5.

We'd like to remove this default, so that a list of multiples will always be specified by the caller. Th

[2016-03-25 12:03] matthewmorgan commented on #173
This track DOES define defaults.  I have entered a PR

[2016-03-29 01:37] petertseng commented on #173
as the linked PR is merged, we are all good for this track.

[2016-03-29 01:37] #173 closed

[2016-04-02 17:20] kytrinyx opened #176 "Verify that nothing links to help.exercism.io"
The old help site was deprecated in December 2015. We now have content that is displayed on the main exercism.io website, under each individual language on http://exercism.io/languages.

The content itself is maintained along with the language track itself, under the `docs/` directory.

We decided on this approach since the maintainers of each individual language track are in the best position to

[2016-04-04 10:27] #176 closed

[2016-04-04 10:27] matthewmorgan commented on #101
This is now in the intro docs for the language track, so I'm going to close this issue.

[2016-04-04 10:27] #101 closed

[2016-04-04 20:45] #109 closed

[2016-04-06 23:53] kytrinyx commented on #176
Don't mind me.

I'm adding a reference so we get a visual "todo" list in the top level issue,
https://github.com/exercism/todo/issues/181

[2016-04-07 02:38] kytrinyx opened #180 "scrabble-score: replace 'multibillionaire' with 'oxyphenbutazone'"
The word _multibillionaire_ is too long for the scrabble board. _Oxyphenbutazone_, on the other hand, is legal.

Please verify that there is no test for _multibillionaire_ in the scrabble-score in this track. If the word is included in the test data, then it should be replaced with _oxyphenbutazone_. Remember to check the case (if the original is uppercase, then the replacement also should be).

I

[2016-04-07 02:48] kytrinyx opened #181 "binary: improve tests for invalid numbers"
We should have separate tests for:

- alphabetic characters at the beginning of a valid binary number
- alphabetic characters at the end of a valid binary number
- alphabetic characters in the middle of an otherwise valid binary number
- invalid digits (e.g. 2)

If the test suite for binary has test cases that cover these edge cases, this issue can safely be closed.

See https://github.com/exercis

[2016-04-07 02:58] kytrinyx opened #182 "rna-transcription: don't transcribe both ways"
I can't remember the history of this, but we ended up with a weird non-biological thing in the RNA transcription exercise, where some test suites also have tests for transcribing from RNA back to DNA. This makes no sense.

If this track does have tests for the reverse transcription, we should remove them, and also simplify the reference solution to match.

If this track doesn't have any tests for

[2016-04-07 11:43] matthewmorgan commented on #182
This track is OK.

[2016-04-07 11:43] #182 closed

[2016-04-07 11:48] matthewmorgan commented on #181
Of the items listed above this track lacks a test for:

alphabetic characters in the middle of an otherwise valid binary number.

[2016-04-07 17:08] kytrinyx opened #184 "clock: canonical test data has been improved"
The JSON file containing canonical inputs/outputs for the Clock exercise has gotten new data.

There are two situations that the original data didn't account for:

- Sometimes people perform computation/mutation in the display method instead of in add. This means that you might have two copies of clock that are identical, and if you add 1440 minutes to one and 2880 minutes to the other, they displ

[2016-04-07 20:15] #180 closed

[2016-04-07 20:52] matthewmorgan commented on #181
Closed by #185

[2016-04-07 20:52] #181 closed

[2016-04-19 18:22] s2tephen opened #187 "wordy: doesn't observe order of operations (PEMDAS)"
[code]

This test case should really expect -17, but it could be argued that order of operations is out of the problem scope or should be included as a part 2/extension to the original task. Either way, whether or not PEMDAS is observed should be made clear in the readme.

[2016-04-20 20:43] rchavarria commented on #187
In the [`README`](http://exercism.io/exercises/ecmascript/wordy/readme) you can find:

So, I understand that we could write `What is -3 plus 7 multiplied by -2?` as `-3 + 7 * -2`, or `(-3 + 7) * -2`, so the result would be `-8`.

Please, if you find the `README` file confusing, just propose a clarifying message we can discuss or take this opportunity to modify the file yourself and submit a pull r

[2016-04-21 01:16] s2tephen commented on #187
Ah, you're right, looks like I glazed over that when I skimmed the read me. I guess I need to practice my reading comprehension rather than my coding 😝
Reading them again, the instructions are fine, but maybe explicitly adding "order of operations don't matter" might help clarify "you calculate as you move forward each step." I'll submit a PR.

[2016-04-21 01:16] #187 closed

[2016-04-21 09:36] rchavarria commented on #187
LOL
Thanks for you PR

[2016-04-30 14:54] kytrinyx commented on #111
Is there anything left to do on this? What are the steps to verify? If we can describe the problem and how to check an exercise and how to fix it, then we can label this with "good first patch" a bunch of people could help out. We could also script something so we have one ticket per exercise to check, which would make it much easier to keep track of whether or not we've checked everything.

[2016-04-30 14:56] kytrinyx opened #194 "Improve the getting started / installation instructions?"
I came across this in the chat:

I also watched a JavaScript (and programming in general) newbie trying to get started, and I had to tell them to go to the /languages/javascript page, click on "installing javascript" and follow the instructions there.

[2016-05-01 15:23] rchavarria commented on #111
I think all exercises must be verified, I think I can find the time to have a list of exercises not following the convention.

I think @ZacharyRSmith described the problem correctly in the first comment. We could also include two code examples (the conventional one Vs the non-conventional one).

I also agree of having an issue labeled as "good first patch" for each exercise not following the conve

[2016-05-01 16:15] kytrinyx commented on #111
I make scripts like this a lot. I'll post a suggestion here in a few minutes.

[2016-05-01 16:20] kytrinyx commented on #111
Create an `ISSUE.md` file with something like this:

[code]

[code]

If you stick run this from `xjavarscript/exercises/` and `ISSUE.md` is also in the same directory, then this should work. It uses https://github.com/github/hub

[2016-05-05 20:03] rchavarria opened #200 "Just testing hub"
Test for automating #111

[2016-05-05 20:04] rchavarria commented on #200
Awesome! It works like a charm.

[2016-05-05 20:04] #200 closed

[2016-05-05 20:17] rchavarria opened #201 "hello-world: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the hello-world exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:17] rchavarria commented on #201
More tests for the `hub` tool.

[2016-05-05 20:17] #201 closed

[2016-05-05 20:18] rchavarria opened #202 "accumulate: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the accumulate exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #203 "acronym: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the acronym exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #204 "allergies: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the allergies exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #205 "anagram: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the anagram exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #206 "atbash-cipher: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the atbash-cipher exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #207 "beer-song: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the beer-song exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #208 "binary: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the binary exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #209 "binary-search: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the binary-search exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #210 "binary-search-tree: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the binary-search-tree exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #211 "bob: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the bob exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #212 "bracket-push: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the bracket-push exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #213 "circular-buffer: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the circular-buffer exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #214 "clock: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the clock exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #215 "crypto-square: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the crypto-square exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #216 "custom-set: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the custom-set exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #217 "difference-of-squares: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the difference-of-squares exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #218 "etl: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the etl exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #219 "food-chain: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the food-chain exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #220 "gigasecond: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the gigasecond exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #221 "grade-school: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the grade-school exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #222 "grains: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the grains exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #223 "hamming: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the hamming exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #224 "hello-world: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the hello-world exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #225 "hexadecimal: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the hexadecimal exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #226 "isogram: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the isogram exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #227 "kindergarten-garden: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the kindergarten-garden exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #228 "largest-series-product: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the largest-series-product exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #229 "leap: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the leap exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #230 "linked-list: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the linked-list exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #231 "luhn: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the luhn exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #232 "matrix: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the matrix exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #233 "meetup: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the meetup exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #234 "nth-prime: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the nth-prime exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #235 "nucleotide-count: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the nucleotide-count exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #236 "ocr-numbers: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the ocr-numbers exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:18] rchavarria opened #237 "octal: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the octal exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #238 "palindrome-products: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the palindrome-products exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #239 "pangram: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the pangram exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #240 "pascals-triangle: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the pascals-triangle exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #241 "phone-number: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the phone-number exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #242 "pig-latin: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the pig-latin exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #243 "point-mutations: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the point-mutations exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #244 "prime-factors: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the prime-factors exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #245 "pythagorean-triplet: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the pythagorean-triplet exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #246 "queen-attack: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the queen-attack exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #247 "raindrops: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the raindrops exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #248 "rna-transcription: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the rna-transcription exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:20] rchavarria opened #249 "robot-name: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the robot-name exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #250 "robot-simulator: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the robot-simulator exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #251 "roman-numerals: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the roman-numerals exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #252 "saddle-points: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the saddle-points exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #253 "say: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the say exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #254 "scrabble-score: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the scrabble-score exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #255 "secret-handshake: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the secret-handshake exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #256 "series: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the series exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #257 "sieve: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the sieve exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #258 "simple-cipher: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the simple-cipher exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #259 "space-age: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the space-age exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #260 "strain: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the strain exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #261 "sum-of-multiples: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the sum-of-multiples exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #262 "triangle: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the triangle exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #263 "trinary: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the trinary exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #264 "two-bucket: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the two-bucket exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #265 "word-count: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the word-count exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:21] rchavarria opened #266 "wordy: verify ordering of actual/expected"
In the Jasmine testing framework, it is convention to:

    expect(actual).fn(expected)

But some test suites have the following:

    expect(expected).fn(actual)

This causes the error messages to be confusing.

Please verify the wordy exercise to make sure that the expectations are ordered correctly. If they are, then this can be closed.

This issue will help to close #111

[2016-05-05 20:22] rchavarria commented on #111
Whoooo!! That's awesome!!

Not too bad, after being banned for a little:

    Error creating issue: Forbidden (HTTP 403)
    You have triggered an abuse detection mechanism and have been temporarily blocked from content creation. Please retry your request again later.

[2016-05-05 23:28] kytrinyx commented on #111
Haha, it actually helps if you create a github user token and then auth in `hub` with it.

[2016-05-06 14:15] ireddick commented on #202
I've got this

[2016-05-06 14:30] ireddick commented on #202
this one is OK

[2016-05-06 14:31] ireddick commented on #203
I've got this

[2016-05-06 14:37] ireddick commented on #203
This one is OK and can be closed

[2016-05-06 14:58] ireddick commented on #204
I've got this one

[2016-05-06 15:00] ireddick commented on #204
This one is OK and can be closed

[2016-05-06 15:01] ireddick commented on #205
I've got this one

[2016-05-06 15:03] ireddick commented on #205
This one is OK and can be closed

[2016-05-06 15:16] ireddick commented on #206
I've got this one

[2016-05-06 15:18] ireddick commented on #206
This one is OK and can be closed

[2016-05-06 16:10] ireddick commented on #207
I've got this one

[2016-05-06 16:11] ireddick commented on #207
This one is OK and can be closed

[2016-05-06 16:12] ireddick commented on #208
I've got this one

[2016-05-06 16:13] ireddick commented on #208
This one is OK and can be closed

[2016-05-06 16:17] ireddick commented on #209
I've got this one

[2016-05-06 16:53] ireddick commented on #210
I've got this one

[2016-05-06 17:15] ireddick commented on #210
I made a mistake in that PR - will resubmit

[2016-05-08 13:21] rchavarria commented on #202
Nice! Thanks!

[2016-05-08 13:21] #202 closed

[2016-05-08 13:22] rchavarria commented on #203
Awesome!!!

[2016-05-08 13:22] #203 closed

[2016-05-08 13:23] rchavarria commented on #204
I closed three up to now, and counting!!

Thanks @ireddick!

[2016-05-08 13:23] #204 closed

[2016-05-08 13:25] rchavarria commented on #205
Instead of commenting

Can you assign issues to yourself? Personally, I don't know if you can, you might have no rights to do so, so excuse me if I'm asking for something impossible. In addition, I might be too late for asking this question.

BTW, many, many thanks!

[2016-05-08 13:25] #205 closed

[2016-05-08 13:25] rchavarria commented on #206
Great job @ireddick!

[2016-05-08 13:25] #206 closed

[2016-05-08 13:27] rchavarria commented on #207
I'm running out of compliments :smile_cat:
Thank you so much.

[2016-05-08 13:27] #207 closed

[2016-05-08 13:28] rchavarria commented on #208
Super-mega-whatever-awesome!

[2016-05-08 13:28] #208 closed

[2016-05-08 13:31] #209 closed

[2016-05-08 13:38] #210 closed

[2016-05-08 13:59] ireddick commented on #205
As far as I know, I can't assign issues to myself:

http://stackoverflow.com/questions/26752902/how-to-assign-issue-to-myself-at-github

[2016-05-08 14:03] rchavarria commented on #205
Ok, so your comments are probably the best option. :+1:

[2016-05-08 14:04] ireddick commented on #205
no worries :-)

[2016-05-08 14:06] ireddick commented on #211
got it

[2016-05-08 14:43] ireddick commented on #211
This one is OK and can be closed.

[2016-05-08 14:43] ireddick commented on #212
Got it.

[2016-05-08 14:44] ireddick commented on #212
This one is OK and can be closed

[2016-05-08 14:45] ireddick commented on #213
Got it

[2016-05-08 14:47] ireddick commented on #213
This one is OK and can be closed

[2016-05-08 14:48] ireddick commented on #214
Got it

[2016-05-08 14:50] ireddick commented on #214
This one is OK and can be closed

[2016-05-08 14:50] ireddick commented on #215
Got it

[2016-05-08 14:56] ireddick commented on #215
This one is OK and can be closed

[2016-05-08 14:57] ireddick commented on #216
Got it

[2016-05-08 15:21] ireddick commented on #216
This one is OK and can be closed

[2016-05-08 15:22] ireddick commented on #217
Got it

[2016-05-08 15:24] ireddick commented on #217
This one is OK and can be closed

[2016-05-09 16:08] ireddick commented on #218
Got this one

[2016-05-09 16:11] ireddick commented on #218
This one is OK and can be closed

[2016-05-09 16:12] ireddick commented on #219
Got this one

[2016-05-09 16:13] ireddick commented on #219
This one is OK and can be closed

[2016-05-09 16:13] ireddick commented on #220
Got it

[2016-05-09 16:14] ireddick commented on #220
This one is OK and can be closed

[2016-05-09 16:18] ireddick commented on #221
Got it

[2016-05-09 16:18] ireddick commented on #221
This one is OK and can be closed

[2016-05-09 16:18] ireddick commented on #222
Got it

[2016-05-09 16:19] ireddick commented on #222
This one is OK and can be closed

[2016-05-09 16:20] ireddick commented on #223
Got it

[2016-05-09 16:21] ireddick commented on #223
This one is OK and can be closed

[2016-05-09 16:22] ireddick commented on #224
Got it

[2016-05-09 16:23] ireddick commented on #224
This one is OK and can be closed

[2016-05-09 16:23] ireddick commented on #225
Got it

[2016-05-09 16:24] ireddick commented on #225
This one is OK and can be closed

[2016-05-09 16:24] ireddick commented on #226
Got it

[2016-05-09 16:26] ireddick commented on #226
This one is OK and can be closed

[2016-05-09 16:27] ireddick commented on #227
Got it

[2016-05-09 16:30] ireddick commented on #227
This one is OK and can be closed

[2016-05-09 16:30] ireddick commented on #228
Got it

[2016-05-09 16:34] ireddick commented on #228
This one is OK and can be closed

[2016-05-09 16:36] ireddick commented on #229
Got it

[2016-05-09 16:37] ireddick commented on #229
This one is OK and can be closed

[2016-05-09 16:37] ireddick commented on #230
Got it

[2016-05-09 16:42] ireddick opened #270 "linked-list: missing expectation"
The test 'deletes the only element' is missing an expectation.

Needs an expectation added, or the test deleted. Maybe check with other language tracks to see if the test exists there, and what is being asserted on?

[2016-05-09 16:43] ireddick commented on #230
This one is OK and can be closed.

I did find a test without an expectation while checking this, which I raised as issue #270

[2016-05-09 16:44] ireddick commented on #231
Got it

[2016-05-09 16:45] ireddick commented on #231
This one is OK and can be closed

[2016-05-09 16:51] ireddick commented on #232
Got it

[2016-05-09 16:51] ireddick commented on #232
This one is OK and can be closed

[2016-05-09 16:52] ireddick commented on #233
Got it

[2016-05-09 16:58] ireddick opened #271 "meetup: use standard test naming format"
The test names in meetup don't use the same format as those in the other specs.

Example:

[code]

I would expect this to be 'monteenth of may 2013'.

The test names were probably copied from the track for another language.

[2016-05-09 17:00] ireddick commented on #233
This one is OK and can be closed.

I found some issues with the test names while doing this, which I raised as issue #271

[2016-05-10 06:51] rchavarria commented on #211
Grrrrrreat!

[2016-05-10 06:51] #211 closed

[2016-05-10 06:52] rchavarria commented on #212
Very nice job @ireddick, thanks a lot.

[2016-05-10 06:52] #212 closed

[2016-05-10 06:52] rchavarria commented on #215
crypto-square done! You rocks!

[2016-05-10 06:52] #215 closed

[2016-05-10 06:52] rchavarria commented on #213
You deserve it, thanks!

[2016-05-10 06:52] #213 closed

[2016-05-10 06:53] rchavarria commented on #214
Go go go! Appreciated!

[2016-05-10 06:53] #214 closed

[2016-05-10 06:58] rchavarria commented on #216
Wonderful!

[2016-05-10 06:58] #216 closed

[2016-05-10 06:59] rchavarria commented on #217
Neat!

[2016-05-10 06:59] #217 closed

[2016-05-10 06:59] rchavarria commented on #218
Great job!

[2016-05-10 06:59] #218 closed

[2016-05-10 07:00] rchavarria commented on #219
I don't remember how many of these you got, but it's awesome!

[2016-05-10 07:00] #219 closed

[2016-05-10 07:01] rchavarria commented on #220
More and more, this is an endless list. Thanks!

[2016-05-10 07:01] #220 closed

[2016-05-10 07:07] rchavarria commented on #221
I think I'm going to stop writing and redirect you to this robot saying compliments: http://robot.lab.explo.org/compliment

Look @matthewmorgan! This robo-compliments are really fun XD

Thanks @ireddick for all this hard and tedious work.

[2016-05-10 07:07] #221 closed

[2016-05-10 07:07] rchavarria commented on #222
Perfect :tada:

[2016-05-10 07:07] #222 closed

[2016-05-10 07:08] rchavarria commented on #223
Oh my! I need some coffee. You're awesome!

[2016-05-10 07:08] #223 closed

[2016-05-10 07:09] rchavarria commented on #224
This was easy, this is the very first exercise in the platform :tongue:

Thanks anyway!

[2016-05-10 07:09] #224 closed

[2016-05-10 07:10] rchavarria commented on #225
Really nice! Thanks!

[2016-05-10 07:10] #225 closed

[2016-05-10 13:20] ireddick commented on #234
Got it

[2016-05-10 13:21] ireddick commented on #234
This one is OK and can be closed

[2016-05-10 13:22] ireddick commented on #235
Got it

[2016-05-10 13:23] ireddick commented on #235
This one is OK and can be closed

[2016-05-10 13:25] ireddick commented on #236
Got it

[2016-05-10 13:27] ireddick commented on #236
This one is OK and can be closed

[2016-05-10 13:28] ireddick commented on #237
Got it

[2016-05-10 13:29] ireddick commented on #237
This one is OK and can be closed

[2016-05-10 13:29] ireddick commented on #238
Got it

[2016-05-10 14:40] ireddick commented on #239
Got it

[2016-05-10 14:41] ireddick commented on #239
This one is OK and can be closed

[2016-05-10 14:43] ireddick commented on #240
Got it

[2016-05-10 14:45] ireddick commented on #240
This one is OK and can be closed

[2016-05-10 14:46] ireddick commented on #241
Got it

[2016-05-10 14:47] ireddick commented on #241
This one is OK and can be closed

[2016-05-10 14:48] ireddick commented on #242
Got it

[2016-05-10 14:49] ireddick commented on #242
This one is OK and can be closed

[2016-05-10 14:49] ireddick commented on #243
Got it

[2016-05-10 14:50] ireddick commented on #243
This one is OK and can be closed

[2016-05-10 19:52] rchavarria commented on #226
Awesome!

[2016-05-10 19:52] #226 closed

[2016-05-10 19:52] rchavarria commented on #227
Excellent!

[2016-05-10 19:52] #227 closed

[2016-05-10 19:52] rchavarria commented on #228
So sweet!!

[2016-05-10 19:52] #228 closed

[2016-05-10 19:53] rchavarria commented on #229
Fantastic!

[2016-05-10 19:53] #229 closed

[2016-05-10 19:53] rchavarria commented on #230
Thanks! Nice catch!

[2016-05-10 19:53] #230 closed

[2016-05-10 19:54] rchavarria commented on #231
Grrrrreat!

[2016-05-10 19:54] #231 closed

[2016-05-10 19:54] rchavarria commented on #232
You rocks!

[2016-05-10 19:54] #232 closed

[2016-05-10 19:55] rchavarria commented on #233
Nice! I'll take a look at the issue.

Thanks!

[2016-05-10 19:55] #233 closed

[2016-05-10 19:55] rchavarria commented on #234
Yeah!! So good!

[2016-05-10 19:55] #234 closed

[2016-05-10 19:56] rchavarria commented on #235
Go! Go! Go!

[2016-05-10 19:56] #235 closed

[2016-05-10 19:56] rchavarria commented on #236
Impressive!

[2016-05-10 19:56] #236 closed

[2016-05-10 19:57] rchavarria commented on #237
Marvellous!

[2016-05-10 19:57] #237 closed

[2016-05-10 20:02] rchavarria commented on #238
Very nice contribution, thanks!

[2016-05-10 20:03] rchavarria commented on #239
Here you go! Many thanks!

[2016-05-10 20:03] #239 closed

[2016-05-10 20:04] rchavarria commented on #240
Spectacular!

[2016-05-10 20:04] #240 closed

[2016-05-10 20:05] rchavarria commented on #241
Nice!

[2016-05-10 20:05] #241 closed

[2016-05-10 20:05] rchavarria commented on #242
Really appreciated!

[2016-05-10 20:05] #242 closed

[2016-05-10 20:06] rchavarria commented on #243
Neat!

[2016-05-10 20:06] #243 closed

[2016-05-10 20:11] rchavarria commented on #270
Yep. The same exercise on xecmascript is:

    xit('deletes the only element', () => {
        const list = new LinkedList();
        list.push(10);
        list.delete(10);

        expect(list.count()).toBe(0);

    });

Feel free to create a PR including the `expect` line.

Very well caught.

[2016-05-10 20:14] rchavarria commented on #271
Absolutely, they look like ruby method names or so.

I like your *translation* to spec names, so if you don't mind, it would be great having a PR from you.

Thanks a lot for reviewing all specs, but not only that, but to actually read them and point out small issues like this one. Thanks a lot!

[2016-05-11 17:48] #238 closed

[2016-05-11 17:50] ZacharyRSmith commented on #184
#188 closes this

[2016-05-11 17:50] #184 closed

[2016-05-12 12:44] ireddick commented on #244
Got this one

[2016-05-12 12:45] ireddick commented on #244
This one is OK and can be closed

[2016-05-12 12:47] ireddick commented on #245
Got it

[2016-05-12 12:47] ireddick commented on #245
This one is OK and can be closed

[2016-05-12 13:22] ireddick commented on #246
Got it

[2016-05-12 13:23] ireddick commented on #246
This one is OK and can be closed

[2016-05-12 13:23] ireddick commented on #247
Got it

[2016-05-12 13:24] ireddick commented on #247
This one is OK and can be closed

[2016-05-12 13:24] ireddick commented on #248
Got it

[2016-05-12 13:25] ireddick commented on #248
This one is OK and can be closed

[2016-05-12 13:26] ireddick commented on #249
Got it

[2016-05-12 13:53] ireddick commented on #249
This one is OK and can be closed

[2016-05-12 13:54] ireddick commented on #250
Got it

[2016-05-12 13:56] ireddick commented on #250
This one is OK and can be closed

[2016-05-12 13:58] ireddick commented on #251
Got it

[2016-05-12 13:58] ireddick commented on #251
This one is OK and can be closed

[2016-05-12 13:59] ireddick commented on #252
Got it

[2016-05-12 14:06] ireddick commented on #252
This one is OK and can be closed

[2016-05-12 14:07] ireddick commented on #253
Got it

[2016-05-12 14:10] ireddick commented on #253
This one is OK and can be closed

[2016-05-12 14:35] ireddick commented on #254
Got it

[2016-05-12 14:35] ireddick commented on #254
This one is OK and can be closed

[2016-05-12 14:35] ireddick commented on #255
Got it

[2016-05-12 14:41] ireddick commented on #255
This one is OK and can be closed

[2016-05-12 14:42] ireddick commented on #256
Got it

[2016-05-12 14:43] ireddick commented on #256
This one is OK and can be closed

[2016-05-13 13:55] ireddick commented on #270
I've picked this up

[2016-05-13 14:05] ireddick commented on #271
I've picked this one up

[2016-05-13 15:07] ireddick commented on #257
Got this one

[2016-05-13 15:09] ireddick commented on #257
This one is OK and can be closed

[2016-05-13 15:09] ireddick commented on #258
Got it

[2016-05-13 15:24] ireddick commented on #258
This one is OK and can be closed

[2016-05-13 15:24] ireddick commented on #259
Got it

[2016-05-13 15:31] ireddick commented on #259
This one is OK and can be closed

[2016-05-13 15:31] ireddick commented on #260
Got it

[2016-05-13 15:46] ireddick commented on #260
This one is OK and can be closed

[2016-05-13 15:46] ireddick commented on #261
Got it

[2016-05-13 15:51] ireddick commented on #261
This one is OK and can be closed

[2016-05-14 15:16] ireddick commented on #262
Got it

[2016-05-14 15:26] ireddick commented on #262
This one is OK and can be closed

[2016-05-14 15:28] ireddick commented on #263
Got it

[2016-05-14 15:43] ireddick commented on #264
Got it

[2016-05-14 15:54] ireddick commented on #264
This one is OK and can be closed

[2016-05-14 15:55] ireddick commented on #265
Got it

[2016-05-14 15:56] ireddick commented on #265
This one is OK and can be closed

[2016-05-14 15:56] ireddick commented on #266
Got it

[2016-05-14 16:37] ireddick commented on #266
Yay! 🎉

[2016-05-16 18:41] IanWhitney opened #278 "Changes to Custom Set tests"
We recently rewrote the test suite for Custom Set. Since this track implements Custom Set, please [take a look at the new custom_set.json file](https://github.com/exercism/x-common/blob/master/custom-set.json) and see if your track should update its implementation or tests.

The new test suite reorders tests so that students can get to green quickly. It also reduces the number of tests so that stu

[2016-05-17 20:14] rchavarria commented on #244
I'm late, but here I go...

Closing first issue of lots of them, thanks for reviewing them!

[2016-05-17 20:14] #244 closed

[2016-05-17 20:14] rchavarria commented on #245
Thanks a lot!

[2016-05-17 20:14] #245 closed

[2016-05-17 20:14] rchavarria commented on #246
Awesome!

[2016-05-17 20:14] #246 closed

[2016-05-17 20:14] rchavarria commented on #247
Nice!

[2016-05-17 20:14] #247 closed

[2016-05-17 20:15] rchavarria commented on #248
Great!

[2016-05-17 20:15] #248 closed

[2016-05-17 20:15] rchavarria commented on #249
Fantastic!

[2016-05-17 20:15] #249 closed

[2016-05-17 20:15] rchavarria commented on #250
Very well done mate!

[2016-05-17 20:15] #250 closed

[2016-05-17 20:15] rchavarria commented on #251
This is superb!

[2016-05-17 20:15] #251 closed

[2016-05-17 20:15] rchavarria commented on #252
Whoa! Thanks!

[2016-05-17 20:15] #252 closed

[2016-05-17 20:16] rchavarria commented on #253
Thank you so much!

[2016-05-17 20:16] #253 closed

[2016-05-17 20:16] rchavarria commented on #254
Terrific!

[2016-05-17 20:16] #254 closed

[2016-05-17 20:16] rchavarria commented on #255
Thanks a lot!

[2016-05-17 20:16] #255 closed

[2016-05-17 20:17] rchavarria commented on #256
Rock'n'roll!!

[2016-05-17 20:17] #256 closed

[2016-05-17 20:17] rchavarria commented on #257
Much appreciated!

[2016-05-17 20:17] #257 closed

[2016-05-17 20:17] rchavarria commented on #258
Many, many thanks!

[2016-05-17 20:17] #258 closed

[2016-05-17 20:18] rchavarria commented on #259
You rulez!

[2016-05-17 20:18] #259 closed

[2016-05-17 20:18] rchavarria commented on #260
Let's go for it, thanks!

[2016-05-17 20:18] #260 closed

[2016-05-17 20:18] rchavarria commented on #261
Simply amazing

[2016-05-17 20:18] #261 closed

[2016-05-17 20:18] rchavarria commented on #262
Neat!

[2016-05-17 20:18] #262 closed

[2016-05-17 20:18] rchavarria commented on #264
Super-awesome

[2016-05-17 20:18] #264 closed

[2016-05-17 20:19] rchavarria commented on #265
Thank you :loudspeaker:

[2016-05-17 20:19] #265 closed

[2016-05-17 20:25] #270 closed

[2016-05-17 20:30] #271 closed

[2016-05-17 20:42] #263 closed

[2016-05-17 20:44] #266 closed

[2016-05-17 20:57] rchavarria commented on #111
All exercises have been reviewed and those not following the convention have been fixed. Great job @ireddick!!

I'm going to close this issue :tada:

[2016-05-17 20:57] #111 closed

[2016-05-28 17:28] IanWhitney opened #281 "New tests for the Pangram problem"
We have found that the Pangram tests miss edge cases allowing students to pass all of the current tests with an incorrect implementation.

To cover these cases we have added new tests to the Pangram test set. Those new tests were added [in this commit](https://github.com/exercism/x-common/commit/1cc803d847d146faf460982617fad2c2194d3dd2#diff-aadf160c690615b0ad89e2f12b8e779b)

Since this track imple

[2016-06-02 03:58] justgage opened #282 "leap year expects a JS class instead of simple function"
I find it odd that the [leap year](http://exercism.io/exercises/javascript/leap) exercise expects either a ES6 class or an old style sudo-classical class. I don't think that it's generally a good idea to encourage beginners towards classes in JavaScript especially in places where a simple function would do just fine like so:

[code]
Instead of:

[code]

I'm guessing this is an artifact from the fa

[2016-06-02 23:43] ryanplusplus opened #283 "Updated tests for the Custom Set problem"
In order to reduce the amount of code required to pass incremental tests (assuming that users pass tests starting from the top), the order of the tests was modified slightly.

Since this track implements Custom Set, please take a look at the new custom-set.json file and see if your track should update its tests.

If you do need to update your tests, please refer to this issue in your PR. That help

[2016-06-03 01:23] jsoranno opened #284 "installing json and jasmine-node package"
I've needed to Google a lot to figure out why I couldn't run the test for the Hello World tutorial. I'm running on OSX 10.11.4 and I needed to do the following:
Installed Homebrew
$ brew update && brew install exercism
$ exercism --version
$ exercism configure --key=_(mine)_
$ exercism fetch javascript hello-world
$ jasmine-node .     // didn't work
$ sudo npm install jasmine-node -g
$ jasmine-nod

[2016-06-03 09:02] rchavarria commented on #284
I understand, very frustrating.

The recommended way of running tests is explicitly name the spec file (file with the tests):

    $ jasmine-node hello-world.spec.js

I don't know if just `jasmine-node .` does the work. Apparently, for your `// FINALLY!!` comment it works.

I'm not sure, but following the steps you describe, I think you're missing a very important one. Navigate to the folder where

[2016-06-04 18:15] kytrinyx commented on #284
It depends on the language you're working in. In Java there's a whole directory tree that gets fetched. Maybe we can suggest that people navigate to the folder of the exercise, so `<EXERCISM_HOME_DIR>/<TRACK_ID>/<EXERCISE>` and work from there. I *think* that should work for all the languages.

[2016-06-05 11:58] matthewmorgan commented on #278
Closed in favor of #283.

[2016-06-05 11:58] #278 closed

[2016-06-05 11:59] matthewmorgan commented on #281
This track is up to date with these changes.

[2016-06-05 11:59] #281 closed

[2016-06-05 12:09] matthewmorgan commented on #282
@justgage thanks for your feedback.

A decision was made a while back to make the required API between the tests and the submissions consistent for the first several (12 I think?) exercises.  Previously, some tests expected a simple function, some expected something that looked more like a class.  We felt the inconsistency was confusing for beginners and a source of possible frustration in getting

[2016-06-05 14:41] justgage commented on #282
Thanks for getting back to me.

I personally feel that the confusion is a _good_ thing for beginners. I think that it's important to realize early that what is considered best practice in one language is not considered best practice in another. I don't see any value in teaching how to program like a Java programmer using the syntax of 20 different languages, especially in a language like JavaScrip

[2016-06-05 15:04] justgage commented on #282
To maybe make my argument more directed, I think the worst part of this is that it requires people to use something compatible with the `new` keyword. The main problem is this adds a lot of confusion. I think this quote from [David Crockford](http://javascript.crockford.com/prototypal.html) helps illustrate that point:

If nothing else I feel that we should remove the "new" keyword so that you can

[2016-06-07 22:25] matthewmorgan commented on #282
Thanks for your carefully considered thoughts.  I agree this could potentially be a bit confusing, and it's not good to confuse newbies.

We made a decision to embrace the 'new' features of the language like classes in the first twelve exercises, in part because these features aren't new anymore, but mostly to present a consistent interface to the tests.

So, all the early exercise tests encourage

[2016-06-08 01:39] justgage commented on #282
@matthewmorgan Wow, I learned something today! I tried the following code:

[code]

Which creates the following error:
[code]

However changing it to `function` fixes this. Turns out I learned something about some of the differences of arrow functions!

However I do feel that the __very presence__ of the `new` operator leads people to use solve the problem with pseudo-classical inheritance (possib

[2016-06-08 14:21] ireddick commented on #283
Hi - I'm happy to pick this one up.

I've had a look through the JS test suite for this, and there isn't actually a discreet test that introduces set
equality. The concept is introduced in the first test (delete element).

Current test order & method dependency (in brackets):

delete (eql)
difference (eql)
disjoint
empty (eql)
intersection (eql)
member
put (eql)
size
subset
toList
union (eql)

[2016-06-09 15:32] ireddick commented on #283
working on a PR

[2016-06-09 22:46] rchavarria commented on #282
@matthewmorgan I have nothing to add here. You explained it perfectly. A decision was made. It satisfies some points of view and it lets other not as satisfied.

I think it was a good decision to make the first exercises to require the same technique. Are classes the right way of solving problems? Not always. There are other ways? Absolutely, specially in JavaScript.

But I think that *classy* app

[2016-06-09 22:50] rchavarria commented on #283
Thanks @ireddick! Looking forward to seeing it.

[2016-06-09 22:58] justgage commented on #282
@rchavarria I do find it odd that this became _thee_ way of doing this (wrapping a single function in a class that saves it's state for no reason). Especially because the large majority of languages (Python, Ruby, C++, C, Go, JavaScript, Lisp, Haskell, Clojure, Lua, Perl...) can have standalone functions. The only ones that I'm aware of that can't is Java and C# (maybe I'm not sure). In a twist of

[2016-06-09 22:58] #282 closed

[2016-06-13 14:18] kytrinyx opened #286 "Copy track icon into language track repository"
Right now all of the icons used for the language tracks (which can be seen at http://exercism.io/languages) are stored in the exercism/exercism.io repository in `public/img/tracks/`. It would make a lot more sense to keep these images along with all of the other language-specific stuff in each individual language track repository.

There's a pull request that is adding support for serving up the t

[2016-06-13 15:50] ireddick commented on #283
this isn't quite right:

- disjoint and equal are the wrong way around
- some test cases differ from those in canonical tests

I suggest that these are also fixed as part of the issue

Should I continue with this PR or start a new one?

[2016-06-13 16:12] matthewmorgan commented on #283
Thanks for all your hard work.  Just make the changes on the same PR and push your changes.

In the end, we'll want you to squash to one commit before we merge, but don't worry about that until then!

[2016-06-14 13:22] IanWhitney opened #287 "New test for the Isogram problem"
We have found that the Isogram tests miss an edge case allowing students to pass all of the current tests with an incorrect implementation.

To cover these cases we have added a new test to the Isogram test set. This new test was added in [pull request #265](https://github.com/exercism/x-common/pull/265), which also describes the reason for the new test.

Since this track implements Isogram, pleas

[2016-06-15 01:25] AnnaGulstine opened #288 "Rearrange left menu"
By placing "Installing JavaScript" above "Running the Tests," the flow would make more sense. This would clarify that node.js and jasmine-node need to be installed before trying to run any tests.

[2016-06-24 15:05] ireddick commented on #283
Apologies for the delay!

I've added a small commit that corrects the ordering of the 'disjoint' and 'equal' tests. This fixes the test ordering, which is what this issue and the parent PR are about.

However there are still differences from the the canonical custom-set.json test cases

https://github.com/exercism/x-common/blob/master/custom-set.json

'contains' is a good example (called "member"

[2016-06-25 22:35] rchavarria commented on #194
As the PR was merged, I'm going to close this issue.

[2016-06-25 22:35] #194 closed

[2016-06-25 22:39] rchavarria opened #289 "Improve documentation about how to run tests"
As discussed in #284, some users find it difficult to start using this track and start running tests.

Improve documentation on `/docs/TEST.md` by describing more or less this idea:

It would be nice if an example is provided.

[2016-06-25 22:50] rchavarria commented on #286
I added *good first patch* and *first-timers only* to this issue because I think it's a great opportunity to get over the fear of start contributing to a project.

If it has to be done before a given date, we can wait for one or two weeks before that date. If nobody took care of it, any maintainer should do it.

The icon is just waiting to be added.

[2016-06-25 23:01] rchavarria commented on #288
I agree, the flow would make more sense.

This is not a problem of this track (this repository). I've checked other languages and all of them have a similar left menu. I think this issue belongs to `x-common` repository.

But don't worry, let me ask @kytrinyx about this and we'll see what can be done.

[2016-06-25 23:01] rchavarria commented on #288
@kytrinyx, all languages have a similar left menu, so it looks to me that there must be some code on `x-common` that renders it that way. I agree with @AnnaGulstine, I see that *Installing <language>* should appear before *Running the tests*, but I don't know if there is a reason for this order.

If you agree with the rearrangement and you don't find the time, just point us to the code we need to

[2016-06-25 23:08] rchavarria commented on #283
I think that a single PR would be ok. The goal is to make the track as close as canonical tests as possible.

If that means reordering tests, that's ok. If that means renaming methods to match canonical tests, that's ok too.

@matthewmorgan? Any word on this?

[2016-06-26 15:08] kytrinyx commented on #288
This isn't in x-common, it's in https://github.com/exercism/exercism.io/blob/master/app/views/languages/language.erb#L13-L52

I agree with the rearrangement. I think I probably just didn't think through it too well when I originally made the page.

Is that enough information to make the change? (Also: thank you :heart:)

[2016-06-26 16:06] AnnaGulstine commented on #288
Thank you for being so quick to respond! I submitted a pull request.

[2016-06-26 16:09] ireddick commented on #283
I've added a commit that adopts the test cases from the canonical tests.

There are now 2 outstanding things that I'd like to consider before squashing & merging this.

The 1st is whether or not empty sets should be constructed using an empty array or not, e.g.

`new CustomSet()`

vs.

`new CustomSet([])`

There were some of the latter before I started these changes, but I inadvertently added some

[2016-06-27 06:32] rchavarria commented on #288
Great @AnnaGulstine! Awesome!

I'd like just to add a link to the PR, so that we know when this issue can be closed [exercism.io#2959](https://github.com/exercism/exercism.io/pull/2959).

[2016-06-27 06:42] rchavarria commented on #283
In other languages, I would keep the parameter in the constructor, to have homogeneous calls to it (the language might force me to do that). But, in JavaScript, I think the code is clearer without parameters in the constructor, so I'd use `new CustomSet()`.

About method names, I'd rename them to match canonical tests. `member` would become `contains`, and `put` would become `add`.

[2016-06-27 14:41] ireddick commented on #283
I've added a further 2 commits that address those points - I think that this is now good enough.

Can someone give me an 'OK' on this?
(I'm assuming we'll be wanting to squash these still)

[2016-06-27 17:17] #288 closed

[2016-06-28 06:40] rchavarria commented on #283
It looks good now. I have some comments about the code, but I'll make them in the PR #285

[2016-06-28 16:14] ireddick opened #290 "custom-set: split test cases out into their own specs"
While working on issue #283 we noticed that the specs for custom-set contain multiple test cases and assertions.

This makes it hard for the person doing the exercise to know which test case has actually failed. It also makes it hard for maintainers for similar reasons.

The suggestion is to split each test case out into it's own 'it' and use the canonical test descriptions to guide the new spec n

[2016-06-29 16:01] ireddick commented on #290
I've had a look around, and it looks like the ruby version is moving to this format:

https://github.com/exercism/xruby/commit/db189a63b05241248f0c8146709cd52dd987bdb7

The scala version is already in this format:

https://github.com/exercism/xscala/blob/master/exercises/custom-set/src/test/scala/CustomSetTest.scala

Both of the above also use the canonical test descriptions for the test names (th

[2016-06-30 06:20] #283 closed

[2016-06-30 06:32] rchavarria commented on #290
Ok, if I understood right, you're not going to modify too much test names from the canonical tests.

About the generator, it would be great to have it. I didn't dig into that, so I'm not sure if there must be only one generator for all exercises, or one generator by exercise. In case of create a generator, I would implement it to follow the `describe`/`it` blocks, because the fit perfectly with ca

[2016-07-01 15:51] ireddick commented on #290
Hello - yes, I think following the canonical test descriptions is the way to go.

I'll start by looking into creating an exercise generator.

[2016-07-03 14:08] rchavarria opened #292 "Create an exercise generator for custom-set"
As discussed in #290, it would be nice to have exercise generators for exercises so that it would be easier to keep them in synch with canonical tests.

This issue's been created to discuss about the creation of the first of them.

[2016-07-14 19:04] #287 closed

[2016-07-22 12:56] ireddick commented on #292
I've had a look at how this is being done for some of the other language tracks:

go - https://github.com/exercism/xgo#generating-test-cases

ruby - https://github.com/exercism/xruby/blob/master/README.md#generated-test-suites

scala - doesn't have anything in the readme

They are fairly different - for example, the ruby track has a file in /bin for each of the exercises, while the go track is sim

[2016-07-27 21:28] rchavarria commented on #292
I had in mind an idea similar to the scala approach. But it doesn't matter, let's start with a file in each exercise dir.

[2016-08-17 14:19] ireddick commented on #292
I've spiked this, which you can take a look at over here: https://github.com/ireddick/xjavascript/commit/a21d753f46ed45bf4ad52af66f721f04b6f25ec1

You can run it from within the exercise dir with:

`node example-gen.js`

I've also added a generated spec file, 'example-gen-output.js', to show what it looks like.

From this, I think we can create something a little cleaner. I'm unsure about re-use a

[2016-08-18 19:26] kytrinyx opened #299 "Update config.json to match new specification"
For the past three years, the ordering of exercises has been done based on gut feelings and wild guesses. As a result, the progression of the exercises has been somewhat haphazard.

In the past few months maintainers of several tracks have invested a great deal of time in analyzing what concepts various exercises require, and then reordering the tracks as a result of that analysis.

It would be us

[2016-08-19 13:42] Roshanjossey commented on #299
@kytrinyx: A very welcome change. I'd love to contribute to this. I'll start by sending a PR that addresses the first task you mentioned

[2016-08-22 06:19] Roshanjossey commented on #19
@kytrinyx: Shall we close this issue in favour of issue #299 ?

[2016-08-24 23:35] kytrinyx commented on #19
#299 doesn't address the order, but it does put everything in place so that we can address it. I think you're right. Closing.

[2016-08-24 23:35] #19 closed

[2016-09-01 11:03] rchavarria commented on #292
First of all, thanks for your work and sorry to reply so late.

Yep. As I understand them, we would need a generator for each exercise. It will be easier to write them than write a generic one that generates all posible exercises. Let's focus on write a generator for each exercise.

I wouldn't be worried about code reuse. There is only one generator, the one you're working on. When more generators

[2016-09-01 11:09] rchavarria commented on #292
I also have some comments about the code.

I would include some comments at the top of the file, explaining how to run the generator, or stating some restrictions.

There is no way to have a `README` file for each generator, so I would include some comments in them. For this particular generator, I would explain:

1. How to run it (the `node example-gen.js` is enough)
2. Minimum NodeJS version nee

[2016-09-08 15:04] ireddick commented on #292
Thanks for the feedback!

I'm working on a simpler, cleaner version that will include what you've suggested.

I'll check what the other tracks are doing with regard to ensuring that `x-common` is checked out and up to date.

[2016-10-14 12:23] almadsen opened #302 "Difficulty: 1"
Why is the difficulty set to one in all of the "problems"?

[2016-10-14 15:37] matthewmorgan commented on #302
@almadsen the 'difficulty' property is the beginning of a work in progress, recently made part of the metadata for each language track.

For this track, the exercises have yet to be ranked.  So, if you want to contribute by ranking them and making a PR, that would be awesome.

@rchavarria let me know if I have that right!

[2016-10-16 13:05] IanWhitney opened #303 "Changes to Bowling tests"
We recently rewrote the test suite for Bowling. Since this track implements Bowling, please [take a look at the new canonical_data.json file](https://github.com/exercism/x-common/blob/9049dc7f748fd038b140c878c4eaa89d09b73199/exercises/bowling/canonical-data.json) and see if your track should update its implementation or tests.

The new test suite reorders tests so that students can get to green qu

[2016-10-17 15:16] almadsen commented on #302
I'll just might try that. Is there any idea of the grading system, ergo is the idea a difficulty from say 1-10 or is it more to guide to wish problem to choose next?

[2016-10-18 07:26] rchavarria commented on #302
@almadsen You'll find an explanation of the work in progress on issue #299

Yep, `difficulty` is meant to be an integer from 1 to 10. In theory, current exercises are more or less sorted on difficulty, so it would make no sense to rate the second one with a `10` and the last one with a `1`, but the rate will be a very subject value. Don't worry about that, it will generate nice conversations and l

[2016-10-19 19:56] rchavarria commented on #303
This track needs to rewrite (maybe just reorder) the specs to match the canonical tests and tests order.

I'll label this issue as `good first patch` because it should be easy to perform these changes.

If anyone decides to implement this, and a problem arises, please comment on this issues and ask for help.

[2016-10-25 15:01] ireddick commented on #292
Apologies for the long delay - I'm pretty close to having a commit ready.

[2016-10-25 20:30] rchavarria commented on #292
Great! Go, go, go!

[2016-11-07 02:10] ldwoolley opened #305 "word-count holds onto punctuation, while other languages clear punctuation."
I noticed that java-script word-count requires maintaining the punctuation, while other languages like Python and Ruby test that punctuation has been removed.  Removing the punctuation in Javascript is relatively easy, and more like the other tests.  I recommend we make this change.  I can update the tests, if this path is chosen.

[2016-11-14 22:09] rchavarria commented on #305
Sorry, I don't know what do you mean by:

Do you mean that some tests force the implementation to keep punctuations from previous tests? If so, in my opinion, tests would be wrong. Tests should be independent, so punctuation should be *reset* from test to test. I mean, punctiation should be independent from test to test.

Can you show an example of a test you have in mind, please? Or, can you link

[2016-11-20 15:15] kytrinyx opened #307 "Investigate track health and status of the track"
I've used Sarah Sharp's [FOSS Heartbeat](https://github.com/sarahsharp/foss-heartbeat) project to generate stats for each of the language track repositories, as well as the x-common repository.

The Exercism heartbeat data is published here: https://exercism.github.io/heartbeat/

When looking at the data, please disregard any activity from me (`kytrinyx`), as I would like to get the language track

[2016-11-21 10:32] rchavarria commented on #307
Commented on [exercism/discussions#97 (comment)](https://github.com/exercism/discussions/issues/97#issuecomment-261900344)

[2016-11-21 10:32] #307 closed

[2016-11-22 21:04] #292 closed

[2016-11-23 04:27] ldwoolley commented on #305
The  4th JavaScript test in word-count for the is called `'includes punctuation'` , while the same python test is called `test_ignores_punctuation`.  The test correct comparison lines for JavaScript include the punctuation in [expectedCounts](http://exercism.io/exercises/javascript/word-count/test-suite#L22), while the same[ assertEqual](http://exercism.io/exercises/python/word-count/test-suite#L3

[2016-11-23 20:17] rchavarria commented on #305
Absolutely!

The issue is tremendously clear now. Thanks for such explanation (and links to just the right lines of code, I didn't know it was possible).

Yeah, go ahead, and make JavaScript x-common compliant.

[2016-11-29 19:10] ldwoolley commented on #305
Now that Thanksgiving family activities are over, I will pick this up.

[2016-12-01 19:44] ldwoolley commented on #303
I can take this one, as a Second Patch.

[2016-12-01 23:44] ldwoolley commented on #302
Acronym, has been one of the easiest so far.  Perhaps it deserves an easier score then it's position indicates.

[2016-12-03 01:55] matthewmorgan commented on #302
I'm going to close this issue for now-- @almadsen if you want to make a PR around grading the exercises, please go for it.

[2016-12-03 01:55] #302 closed

[2016-12-03 18:12] rchavarria commented on #303
I would prefer to keep raising errors. I think that returning `-1` is the way in x-common to specify an error must be returned.

I've looked at other languages, and [ruby](https://github.com/exercism/xruby/blob/master/exercises/bowling/bowling_test.rb#L103) raises errors too, and [elixir](https://github.com/exercism/xelixir/blob/master/exercises/bowling/bowling_test.exs#L263) expects to get `:erro

[2016-12-03 21:47] matthewmorgan commented on #303
@rchavarria I recall that `-1` in the `config.json` is a placeholder for [throwing and error or an exception](http://stackoverflow.com/questions/16142583/whats-the-different-between-error-and-exception-in-javascript), I think either solution would be acceptable in this context.

[2016-12-04 16:52] ldwoolley commented on #303
Good.  I prefer the error throwing path.

[2016-12-10 06:41] ldwoolley opened #312 "Should simple-cipher come before crypto-square?"
Today, I was working the simple-cipher and I noticed that the description mentions that we will learn an improvement to simple-cipher later on when we tackle crypto-square.  Currently, crypto-square comes three slots before simple-cipher.  Seems to me that we should switch the order of the exercises or change the description in simple-cipher.  Maybe it can simply mention that crypto-square improve

[2016-12-13 21:22] #303 closed

[2016-12-13 21:30] rchavarria commented on #312
Yeah. I like those ideas (let me rephrase them just to be sure I understand you):

1. Modify simple-cipher description in x-common to stop referencing crypto-square, or create an issue to discuss it. I like the idea of having independent exercises, so I'd buy this one.
2. Reorganize simple-cipher and crypto-square exercises in this track (and probably on xecmascript), while letting other tracks to

[2016-12-16 18:28] kytrinyx opened #313 "Verify contents and format of track documentation"
Each language track has documentation in the `docs/` directory, which gets included on the site
on each track-specific set of pages under [/languages](http://exercism.io/languages).

We've added some general guidelines about how we'd like the track to be documented in exercism/exercism.io#3315
which can be found at https://github.com/exercism/exercism.io/blob/master/docs/writing-track-documentatio

[2016-12-19 21:45] rchavarria commented on #313
Mandatory files are present, and they explain what they're supposed to explain. But links to images should be fixed:

- [ ] On `TESTS.md`, link to *Solution explorer* should be fixed as it is recommended on exercism.io documentation, with a relative path instead of `http://x.exercism.io/v3/tracks/javascript/docs/img/SolutionExplorer.png`
- [ ] On `TESTS.md`, link to *Add files* should be fixed as

[2016-12-21 11:15] matthewmorgan commented on #313
@rchavarria I haven't had a chance to read this yet, but I will get to it by the weekend.  I will also check it out for ES.  Thanks!

[2016-12-23 22:03] #305 closed

[2016-12-29 04:27] mcshaman opened #315 "Suggest migrating to mocha or chai instead of jamine-node"
I have been trying to read up on an issue that jasmine-node has been throwing at me when testing my exercises however I it seems that jasmine-node appears to be an abandoned project so getting support seems difficult.

Would it be better to migrate to some other testing library like mocha or chai so that it is more likely to support testing of new JS development ideologies and also have better sup

[2016-12-30 23:28] rchavarria commented on #315
Hmmm. Not sure about `jasmine-node`. It's just a wrapper to run [Jasmine](https://jasmine.github.io/) test suites with Node. So, the real work is done by Jasmine, and I think its development is active and well maintained.

I personally think that Mocha+Chai would be a more flexible solution. But, to be pragmatic, Jasmine is more than enough for the tests needed to describe exercises for exercism.i

[2017-01-11 02:12] IanWhitney opened #316 "Changes to Luhn tests"
We recently rewrote the test suite for the Luhn exercise. Since this track implements Luhn, please [take a look at the new canonical_data.json file](https://github.com/exercism/x-common/blob/master/exercises/luhn/canonical-data.json) and see if your track should update its implementation or tests.

Details on the test changes and the motivation can be found in [the PR](https://github.com/exercism/

[2017-01-11 22:12] rchavarria commented on #316
I fear the specs here are quite different from the canonical data and we should reimplement both specs and example implementation :cry:

[2017-01-22 13:35] #316 closed

[2017-01-22 16:01] kytrinyx opened #318 "Adjust skeleton files to match exercise order"
Right now `hello-world` and `bob` start with a skeleton file, but the [order of exercises](https://github.com/exercism/xjavascript/blob/master/config.json#L8-L12) has changed to

0. hello-world
0. leap
0. hamming
0. rna-transcription
0. bob

It would probably be a good idea to remove the skeleton file from the Bob exercise, and add it to leap.

[2017-01-23 14:50] joshuacolvin commented on #318
I can work on this if it's still available.

[2017-01-23 15:20] rchavarria commented on #318
It's all yours. Thanks for showing up!

[2017-01-23 17:09] joshuacolvin commented on #318
No problem. Glad to help. Let me know if I need to change anything.

[2017-01-24 20:39] #318 closed

[2017-01-27 16:29] kytrinyx opened #321 "Is unicode introduced too early in the list?"
Bob is currently 5th exercise, and Word Count is currently the 7th exercise.

Both introduce unicode. If JavaScript is your first programming language, dealing with encoding is a pretty big hurdle. My guess is that a lot of people who tackle the JavaScript track on Exercism are new to programming.

For Bob it can be handled by the standard library function `toLocaleUpperCase()`, but if you're a be

[2017-01-29 17:35] rchavarria commented on #321
Yep, I agree encoding is not the friendliest concept in programming. I don't remember exactly, but I think I solved one of them or both with regular expressions, and that's not very friendly neither for beginners.

I also think JavaScript is one of the first choices for beginners, because it's easy to start programming with it.

Are you suggesting we should move them further than the 10th position

[2017-01-29 17:44] kytrinyx commented on #321
Yeah. I think Bob is probably fine (I'd be curious to hear from some people who are doing the JavaScript track what they think, actually), but I would suggest moving Word Count out to position 20 at least.

[2017-01-30 15:55] kytrinyx opened #323 "isogram: suggested additional test - capitalized duplicate non-ASCII letter"
Since the isogram exercise is dealing in non-ascii letters, I would suggest including a test that has a non-ASCII letter that is used in both uppercase and lowercase.

[2017-01-30 20:52] rchavarria commented on #323
Tests include words such as `Heizölrückstoßabdämpfung` and `éléphant`. Do they include non-ASCII letters?

I think they do (maybe I don't understand exactly what you're saying because of my English), so do you mean we could use words such as: `äbcdë ÄBCDË` or `Éléphant`?

And we could also update canonical tests, because they don't use non-ASCII letters. Well, I have some doubts here, I don't know

[2017-01-31 15:49] kytrinyx commented on #323
Yeah, I meant "Éléphant", the same non-ASCII letter in both uppercase and lowercase.

I think we would need to have all the unicode stuff in a separate section of the canonical data so that tracks could choose to include it or not.

[2017-01-31 15:49] kytrinyx commented on #321
I would recommend putting Pangram earlier, since it doesn't deal in unicode at all.

[2017-02-18 06:30] ldwoolley commented on #312
Sorry, I lost track of this one.  But like a lost coin, it will be nice to do something with it.  Yes these were what I thought were the two options.  Which one did you want to do? I slightly prefer the option to make them stand alone.

[2017-02-18 15:47] rchavarria commented on #312
You can propose a PR in [x-common](), to stop mentioning crypto-square from simple-cipher. Then, you can place simple-cipher before crypto-square. And...

[2017-02-18 17:50] ldwoolley commented on #312
Soon to be done.

[2017-03-26 18:33] rchavarria commented on #289
After #297 and #330, I think this can be closed.

If there is no problem, I'll close it in a few days.

[2017-03-26 18:39] rchavarria commented on #171
Required changes were included in 9369b3f4a476aa73b85661f9802902333785efae.

I hope this issue can be closed.

[2017-03-26 18:39] #171 closed

[2017-03-26 18:44] rchavarria commented on #290
Described changes in the issue were added. And the exercise has a generator (included in #292), so that it'll be updated easily if canonical tests change.

I think this issue is ready to be closed.

[2017-03-26 18:44] #290 closed

[2017-03-29 18:53] behrtam opened #333 "Simplify hello-world exercise"
I just had a guy in the gitter chat, starting with javascript and he got directly stuck when solving the hello-world exercise. Maybe you should also simplify the `hello-world` exercise like other tracks did.

*Background: https://github.com/exercism/x-common/issues/520, https://github.com/exercism/x-common/pull/544*

[2017-03-29 19:00] behrtam commented on #321
The unicode aspect was removed from many exercises in the `x-common` test data: https://github.com/exercism/x-common/issues/441

[2017-03-29 22:39] matthewmorgan commented on #333
@behrtam thanks for taking point on that one.  Is the user OK, or do we need to engage with him on this?

[2017-04-03 20:26] #289 closed

[2017-04-03 20:34] rchavarria commented on #333
I'd label this issue as "good first patch". Issue https://github.com/exercism/x-common/pull/544 is clear, and it should be easy to simplify `hello-world` exercise.

Any help is welcome.

[2017-04-03 20:42] rchavarria commented on #321
Thanks for the reference @behrtam!

[2017-04-03 20:42] rchavarria commented on #321
As exercises were reordered, I'm going to close this issue.

[2017-04-03 20:42] #321 closed

[2017-04-03 20:47] rchavarria commented on #315
@exercism/javascript, any ideas/preferences on this?

[2017-04-03 20:51] rchavarria commented on #313
I label this as "good first patch". The goal is to fix some links on `/docs/TESTS.md` file, as described before in this issue (https://github.com/exercism/xjavascript/issues/313#issuecomment-268087800).

[2017-04-04 12:26] mienaikage opened #334 "No indication of skipped tests in main docs"
'Running the tests' does not mention `xit` or `xdescribe`, and the installation steps currently gets you jasmine-node v1.14.3 which does not mark `xit` tests as skipped. The readme for the exercise does mention `xit` and `describe`, however someone who has already done the same exercise on another track (such as myself!) may go straight for the exercise and miss these details.

Test output from ja

[2017-04-04 15:59] kytrinyx opened #335 "Override probot/stale defaults, if necessary"
Per the discussion in https://github.com/exercism/discussions/issues/128 we
will be installing the probot/stale integration on the Exercism organization on
April 10th, 2017.

By default, probot will comment on issues that are older than 60 days, warning
that they are stale. If there is no movement in 7 days, the bot will close the issue.
By default, anything with the labels `security` or `pinned`

[2017-04-05 18:35] kytrinyx commented on #335
I made a mistake.

This was not explicitly documented in the README, but probot/stale **requires the presence of a .github/stale.yml** file.

If you want the default behavior, you need to add an empty .github/stale.yml file to this repo, otherwise the bot will not be active.

[2017-04-06 22:54] jeffreydking04 opened #337 "JS Leap Year stub is confusing."
This is the stub:

[code]

And this is the first test:

[code]

The tests are instantiating a new `Year` with the year as input and then calling `isLeap` without an input, but the stub has no parameters for `Year`, but looks for an input when `isLeap` is called.

Was this intentional?

[2017-04-08 13:09] matthewmorgan commented on #337
Hi @jeffreydking04 ,

This looks like an error in the stub file to me.  I _think_ this might reflect an older version of the exercise.

If you would like to submit a PR to revise this, that would be a welcome contribution!  Let me know how I can help.

[2017-04-08 13:11] matthewmorgan commented on #333
@jeffreydking04 contacted me regarding tackling this problem.  Jeffrey, have at it!

I know you had some contact with @kytrinyx as well, please let me know how I can help you move on this.

[2017-04-08 16:28] jeffreydking04 commented on #337
Matt,

I will get that done this weekend.

Jeffrey

-----Original Message-----
From: Matthew Morgan <notifications@github.com>
To: exercism/xjavascript <xjavascript@noreply.github.com>
Cc: jeffreydking04 <jdking33@aol.com>; Mention <mention@noreply.github.com>
Sent: Sat, Apr 8, 2017 6:09 am
Subject: Re: [exercism/xjavascript] JS Leap Year stub is confusing. (#337)

Hi @jeffreydking04 ,
This looks

[2017-04-09 12:49] #105 closed

[2017-04-10 18:47] rchavarria commented on #334
If jasmine-node v2 is in beta, I'd rather keep v1.14.3. But I agree on updating `docs/TESTS.md` to include a note about `xit` and `xdescribe`.

Do you want to update that doc file? If so, I'd include the comment before the title "Making Your First Node Module". If not, don't worry, it's fine. I'm sure your idea will help lots of people.

[2017-04-15 23:15] joelwallis commented on #337
Hello, @matthewmorgan.

I've just stumbled upon this issue today, but I'm confused about how I should fix the stub file. The test suit assumes that the user will be using an object oriented style to solve the issue, but since it's a very simple issue (the very second one in the JavaScript track), probably focused on forcing the student to practice JS functions, should we really keep the OO-style i

[2017-04-15 23:32] joelwallis commented on #337
This PR changes the Leap exercise to use a function-based exercise, with updated test and stub files.

[2017-04-15 23:35] joelwallis commented on #337
Ops! Forgot to rename the variable - but Travis caught it real quick 🤘

[2017-04-16 00:00] joelwallis commented on #337
Sorry for the flooding. I just realized how the Exercism test works after reading the Makefile (that was the first time I read one)

[2017-04-16 11:42] matthewmorgan commented on #337
@joelwallis thank you for your efforts, but we already have an open PR for this from @jeffreydking04  here https://github.com/exercism/xjavascript/pull/338

It's our mistake that there is no reference to that PR here.  There has been a bit of a delay in merging it, but the work is done.

Thanks again, and I hope you will contribute in the future!

[2017-04-16 11:43] #337 closed

[2017-04-16 15:22] joelwallis commented on #337
@matthewmorgan no problem! Happy to see it happening!

Thanks for your feedback

[2017-04-16 15:52] joelwallis commented on #284
Specifically speaking about the JavaScript track I had the same issue yesterday (Apr 10, 2017). It seems that it's using a different version of Jasmine than what's available in [Jasmine website](https://jasmine.github.io/).

The Jasmine's Getting Started says that, in order to install Jasmine you just need to `npm install jasmine`. We could instead advise people to install Jasmine globally, since

[2017-04-16 15:53] joelwallis commented on #284
Btw, @jsoranno I could solve the issue by:

[code]

[2017-04-16 16:03] joelwallis commented on #33
Hello, @kytrinyx and @ZacharyRSmith.

I know that this issue is quite old for now, but I would really like to know if there have been some progress in this matter. I would like to contribute, but I'm a newbie in the Exercism community.

How does this kind of decisions (organization of infos, instructions, etc.) are made? Is this the correct place to discuss it or does Exercism maintains a proper p

[2017-04-16 16:13] joelwallis commented on #315
[Jasmine is not abandoned or unmaintained](https://github.com/jasmine/jasmine/commits/master). The big issue here is that `jasmine-node` is not the current command used by Jasmine.

If you install Jasmine by following [the official instructions](https://jasmine.github.io/pages/getting_started.html) (using Node.js: `npm i -g jasmine`) you'll have a `jasmine` command available, but docs says that it

[2017-04-16 22:39] joelwallis commented on #33
Well, this issue started as a support request and then evolved into a discussion about multiple topics. Since the original objective was achieved (the user is now able to run the remaining tests) I think it's OK to close this one.

If there are still pending tasks (like a missing stub file in Bob exercise) a new issue specific to this task must be created.

[2017-04-17 20:18] #335 closed

[2017-04-17 20:22] rchavarria commented on #315
Ok, great! I knew Jasmine was maintained, but I didn't know `jasmine` (as npm package) could run tests too.

I agree, it would be a nice idea to update this track's documentation to reference `jasmine` instead of `jasmine-node`.

I'll create a new issue and close this one.

[2017-04-17 20:22] #315 closed

[2017-04-17 20:28] rchavarria opened #341 "There is no need for `jasmine-node` to run tests"
According to [official Jasmine documentation](https://jasmine.github.io/pages/getting_started.html), there is a npm package called `jasmine`, that includes the Jasmine testing framework and can run your JavaScript tests.

It would be as easy as:

[code]

It would be a good idea to update this track's documentation to reference `jasmine` instead of `jasmine-node` to run the tests.

Thanks @joelwall

[2017-04-17 21:10] joelwallis commented on #341
Hey!

Good to see it's in progress. I'm available to implement this change if you're willing to review my work :)

@exercism/javascript take a second to check if it's a good idea, and gimme a green flag so I can make a PR for this change.

PS: I've just `npm i -g jasmine`, then `jasmine ./my-solution-file.js`. There was no need to `jasmine init`.

[2017-04-18 00:01] kytrinyx commented on #33
Thanks @joelwallis I've opened a new issue in the discussions repository, and will go ahead and close this one.

[2017-04-18 00:01] #33 closed

[2017-04-18 00:16] kytrinyx commented on #284
I think that it's worth suggesting it, unless the JavaScript world thinks it's generally a terrible idea to do that. I don't know, since I don't write JavaScript on a regular basis.

@rchavarria thoughts?

[2017-04-18 11:12] matthewmorgan commented on #341
@rchavarria @joelwallis I think this is great.

I think that a global install is necessary to use the command line `jasmine`, and that we would need to change the directory structure.  So, I would propose we have two choices:

1. Tell the users to install globally, and use @joelwallis' approach, which requires a global install but no directory changes.  This is simple, but has the disadvantage tha

[2017-04-19 17:21] tejasbubane commented on #341
I did not get what change you are referring here @matthewmorgan

[2017-04-19 19:53] rchavarria commented on #284
In the current documentation, the recommended package to install is `jasmine-node`. And it's suggested to install it globally.

Of course, it's not recommended to install all packages globally, but in this case I think it's ok. The package is installed as a command line tool, not a dependency for a project (like a needed library or so). And installing it globally prevents users to install it on ev

[2017-04-19 20:00] rchavarria commented on #341
Option 2 (add `package.json`) seems desirable, because it could simplify the life to the users a little bit. But I don't like how we manage `package.json` files in xecmascript (but I don't have a better approach neither :sad: ). It needs to copy the same version of the file on each exercise, or manage a lot of almost identicall `package.json`, and I don't like those approaches.

Right now, in the

[2017-04-19 21:29] kytrinyx commented on #284
I hadn't thought of this distinction, but now that you mention it, it makes sense.

Conclusion (I think) is that we should update the documentation to clearly suggest installing the library globally. Counter-suggestions?

[2017-04-20 06:21] tejasbubane commented on #341
`jasmine init` creates this file in `spec/support/jasmine.json`:

[code]

Since we have `exercise.js` and `exercise.spec.js` in the same directory, we don't need this config.

[2017-04-20 14:48] matthewmorgan commented on #341
Right @tejasbubane this is related to my comment about needing to change the directory structure if we want to just use the `jasmine` command without specifying a target.  It expects the spec files to be in `/spec` I think.

[2017-04-20 14:49] matthewmorgan commented on #284
I'm fine with this!

[2017-04-20 17:30] tejasbubane commented on #341
@matthewmorgan Nope. It does not.

With the current directory structure where:

[code]

I can run `jasmine hello-world.spec.js` from the `hello-world` directory. Or I can even run `jasmine hello-world/hello-world.spec.js` from outside the `hello-world` directory.

[2017-04-20 19:12] joelwallis commented on #341
@tejasbubane I think that @matthewmorgan was trying to say that, if we want students to test the lesson by just running `jasmine` - without arguments, the program itself would expected tests to be inside a `/spec` folder.

I believe it's kinda overwhelming for now. From an user perspective, executing `jasmine` against a test file makes more sense that just executing `jasmine` and having _some magi

[2017-04-20 19:14] joelwallis commented on #284
Awesome!

Can I work on it? 😄  😄  😄

[2017-04-20 19:24] tejasbubane commented on #341
I am of the opinion of keeping it as simple as possible and not bring in build tools. Reasons being there is no standard one there, and they get outdated eventually.

Running against files seems more natural to me (maybe because I come from ruby where I run `rspec file-name.rb`).

[2017-04-20 19:31] joelwallis commented on #341
I'm with you @tejasbubane. [KISS](https://en.wikipedia.org/wiki/KISS_principle).

[2017-04-20 20:56] matthewmorgan commented on #341
@joelwallis[ has offered to work on this](https://github.com/exercism/xjavascript/issues/284#issuecomment-295865107), I'm inclined to say "do it!"

@exercism/javascript unless there are any objections?  @joelwallis you will want to open a PR for 'dibs' on implementing this change.  It's simple, but touches a lot of files.  Please let me know if you want any help.

[2017-04-21 04:04] kytrinyx commented on #284
🎉 🎉 🎉 💯 YES 💯 🎉 🎉 🎉

[2017-04-21 10:24] rchavarria commented on #341
I agree with @tejasbubane: I prefer not having `package.json` on each exercise (it's causing lots of work on xecmascript, but it is *needed* in that track) and I prefer running tests specifying the spec file (`jasmine hello-world.spec.js`)

@joelwallis, it's all yours! We'll be happy to help on anything you need.

[2017-04-21 12:15] joelwallis commented on #341
Awesome!

But, @matthewmorgan what did you mean with 'dibs'?

[2017-04-21 12:47] tejasbubane commented on #341
@joelwallis [A claim to the right to use or enjoy something exclusively or before anyone else](https://en.wiktionary.org/wiki/dibs).

[2017-04-21 13:26] joelwallis commented on #341
Roger that.

[2017-04-21 13:30] matthewmorgan commented on #341
@joelwallis yeah it's an attempt to prevent what happened to you when you made the "duplicate" pr a few days ago.  :)

[2017-04-21 15:32] joelwallis commented on #284
@kytrinyx this work is being done on #341, and since it's a support issue I think it's OK to be closed now :)

[2017-04-23 18:04] #341 closed

[2017-04-23 19:07] tejasbubane commented on #334
@mienaikage did not respond, hence I went ahead and did it along with some other changes.

[2017-04-24 14:09] tejasbubane commented on #333
@jeffreydking04 Are you working on this?

[2017-04-24 14:13] jeffreydking04 commented on #333
@tejasbubane I intend to do this.  I got caught up in a job interview project for the last couple weeks and slid this to the back burner.  If you want to jump on it, feel free, but if you do not, I still plan on it.

[2017-04-24 14:49] tejasbubane commented on #333
@jeffreydking04 No worries, get back to it when you are free. I was wondering since I did not see any comment of yours.

[2017-04-25 14:03] #334 closed

[2017-04-25 15:07] rchavarria commented on #284
I'll close this issue, since it seems #341 is completed. Let me know if this issue should be reopened.

[2017-04-25 15:07] #284 closed

[2017-05-06 20:14] #67 closed

[2017-05-06 20:14] #312 closed

[2017-05-06 21:10] ronalson commented on #341
@matthewmorgan and @joelwallis sorry for bring this issue back, but I'm getting an error when I use the `jasmine .` command within the /hello-word directory.

When I run `jasmine hello-world.spec.js` the test runs as expect.

However, when I run `jasmine .` as the README.md instruction says I'm getting this error:

[code]

[2017-05-06 21:27] joelwallis commented on #341
Hi, Ronalson.

Did you tried just running `jasmine`, without the forwarding dot?

Joel Wallis Jucá
joelwallis.com

On May 6, 2017 6:10 PM, "Ronalson Filho" <notifications@github.com> wrote:

[2017-05-06 21:39] ronalson commented on #341
Hi Joel,

Nope, I haven't done it before. But I did it now and this is what I got:

[code]

[2017-05-06 22:39] joelwallis commented on #341
Thanks for reporting! I'll take a closer look on it tomorrow.

If you don't mind, open a new issue describing the problem you're facing,
alongside outputs you're getting from your errors, and the version of
Jasmine you're using.

Also, please mention me on a comment so I can be notified.

Joel Wallis Jucá
joelwallis.com

On May 6, 2017 6:39 PM, "Ronalson Filho" <notifications@github.com> wrote:

[2017-05-07 02:57] ronalson opened #349 "`jasmine .` throwing error"
I've first mentioned this issue on #341 to @joelwallis

---

### Problem

The section "Making the Test Suite Pass" on the README.md files says that we should run the test using `jasmine .`, however this command is not working.

### Details

Typing `jasmine .` throw the following error:

[code]

running just `jasmine` by itself returns:

[code]

The only way I managed to make the testing work was s

[2017-05-07 11:41] joelwallis commented on #349
Yeah, same result here:

[code]

This is a documentation problem, not really a bug. We decided to use Jasmine as a globally installed CLI tool instead of a local dependency because we would need to make every exercise a self-contained project, forcing users to have many Jasmine installations - which is not ideal.

So, to fix it we must update all documentation for the JavaScript track that still r

[2017-05-07 13:50] #349 closed

[2017-05-07 14:12] matthewmorgan opened #351 "Update Jasmine config to make testing simpler -- should we?"
#349 pointed out that our current setup for testing does not allow the user to run the `jasmine` cli command without specifying a target test file.

The users could be able to just type `jasmine` in the terminal to run their tests.  In order to get Jasmine to do this, we need:

A `jasmine.json` file in `/exercises/spec`.  That file could look like this:

[code]

And, an environment variable called

[2017-05-07 22:39] joelwallis commented on #351
Hey @matthewmorgan, after reading the description of required steps I thought it would result an even more complex test environment. JavaScript students who are learning through Exercism are supposed to be able to run a simple command against a file. With that, being able to run `jasmine *.spec.js` is probably much simpler than setting up a config file, an env variable, etc., to just be able to ru

[2017-05-08 13:44] morrme commented on #313
@rchavarria @matthewmorgan PR submitted .

[2017-05-08 21:03] rchavarria commented on #299
The bot closed this issue automatically, but I'd like to reopen it, because I think it's important to add topics and difficulty to all exercises.

I know, it's tedious, and I think that's the reason this issue remained open without activity.

@exercism/javascript, what do you think? should we reopen this?

[2017-05-09 05:19] Roshanjossey commented on #299
@rchavarria, I think your thought about reopening this card is valid.

We haven't yet solved this issue. It makes sense to reopen this.

I'll try to work on this and make some progress soon

[2017-05-09 10:53] matthewmorgan opened #353 "Replace <> with {} in TESTS.md file"
I opened an issue on the [exercism.io](https://github.com/exercism/exercism.io/issues/3498) repo regarding odd rendering of the JavaScript TESTING.md file.

There is text that looks like HTML tags that is confusing the renderer.  Let's replace `<EXERCISE>` etc with `{EXERCISE}`.

This would be a great 'first time patch' so I'm going to label it that way.

Success criterion:
-  All patterns like th

[2017-05-09 10:55] matthewmorgan commented on #351
I am feeling the same way, just looking for a  reason _not_ to do this.  I think simpler is better.  I'll close this issue, anyone feeling strongly against it should re-open.

[2017-05-09 10:55] #351 closed

[2017-05-09 17:09] tejasbubane commented on #353
Reference https://github.com/exercism/exercism.io/issues/3498 for more context.

[2017-05-10 19:59] rchavarria commented on #323
I'd like to reopen this one, because I think nobody did something about it (I'm guilty in the first place)

Pending tasks:

- [ ] Add a new test with the same non-ASCII character in lower an upper case, such as `Éléphant`
- [ ] Add the same test to the canonical data, or in some other place so that people in other tracks can update this exercise

[2017-05-10 20:06] matthewmorgan commented on #323
@rchavarria maybe those could be called out as two separate issues since they're in two separate repos?  And both seem like a 'good first patch' to me.  What do you think?

[2017-05-10 20:37] rchavarria commented on #299
Great!

I think the most valuable one would be to fill the `topics` property for exercises. I'd do it bit by bit, in small chunks of 5 or 10 exercises, instead of doing a huge effort trying to complete `topics` for all existing exercises.

Once the `topics` for a single exercise are done, it'd be easy to set a `difficulty` for it.

Let's start with the first 5. Thanks @Roshanjossey !

[2017-05-13 07:03] morrme commented on #353
This wouldn't be my first but if no one else steps up, I'm happy to help.

[2017-05-13 07:54] tejasbubane commented on #353
Go ahead @morrme 👍

[2017-05-16 10:42] #353 closed

[2017-05-21 16:54] rchavarria opened #359 "isogram: Add a new test with the same non-ASCII character in lower an upper case"
As discussed in #323, a new test could be added to the `isogram` exercise, one that test non-ASCII characters in lower an upper case, such as `Éléphant`

[2017-05-21 16:58] rchavarria commented on #323
I added a new issue in this repo.

About adding it to x-common, I'm not sure. I've found this x-common issue https://github.com/exercism/x-common/issues/441 where people discussed about removing non-ASCII characters for this kind of exercise.

We could discuss here or in the new issue (#359) if we want to use non-ASCII chars or not.

[2017-06-01 22:36] Zero-man commented on #359
I'd be happy to add this one. I'll open a PR soon.

[2017-06-06 20:51] #323 closed

[2017-06-06 20:51] #359 closed

[2017-06-24 07:08] hirechrismeyers opened #369 "Phone Number tests are invalid"
Canonical data has been updated and these tests should be updated to match:
https://github.com/exercism/problem-specifications/blob/master/exercises/phone-number/canonical-data.json

For example, '(123) 456-7890' does not validate with NANP.

[2017-06-24 09:41] KamilMalek commented on #333
Since I haven't seen any activity for the past two month, I've decided to tackle the issue on my own.

[2017-06-24 11:22] KamilMalek commented on #369
Taking care of it.

[2017-06-24 12:07] matthewmorgan commented on #369
I

[2017-06-24 12:07] #369 closed

[2017-06-24 14:51] jeffreydking04 commented on #333
@KamilMalek, Thanks for taking this on.  I started a new job immediately after I started contributing and I have been devoting all my energy to that endeavor.

[2017-06-24 21:34] #333 closed

[2017-06-26 13:10] matthewmorgan opened #373 "Add linting to Makefile"
We shouldn't require reviewers to comment on things like whitespace, semicolons, etc that a linter can easily call out.

This story is _not_ to lint exercise code that users are working on.  It is for submissions to the `exercism/javascript` repo.

Success Criteria:
- ESLint is integrated into the development workflow either with an `.eslintrc` file, or the appropriate config in `package.json`
- c

[2017-06-27 19:58] KamilMalek commented on #373
Not sure about it, but here is my proposal

[2017-06-28 11:28] matthewmorgan commented on #373
Awesome!  We have some prior work on the Ecmascript track that we can use for guidance here.  I've made more details comments on your PR.

This is an important change that will really help move the track forward.  Let me know how I can help further.

[2017-07-02 19:10] rclai opened #376 "Possible inconsistency with Bob JavaScript test spec regarding "Whoa, chill out!" response"
Continued from https://github.com/exercism/exercism.io/issues/3579.

__Original post:__

If I'm not mistaken, the specs that determine whether Bob will respond with "Whoa, chill out!" require that all alphabetical characters be uppercase.

However, the following test spec seems to invalidate that rule because all alphabetical characters are uppercase but Bob responds with "Whatever.":

[code]

If

[2017-07-02 19:18] rclai commented on #376
In reply to https://github.com/exercism/exercism.io/issues/3579#issuecomment-312478071 @NobbZ, I see.

It didn't occur to me that there can be lowercase umlauts, thereby making that not a yell.

[2017-07-02 19:21] rclai commented on #376
Action item: https://github.com/exercism/exercism.io/issues/3579#issuecomment-312478071

[2017-07-02 21:30] matthewmorgan commented on #376
@rclai Thanks for pointing this out!  BTW any time you see an issue like this, you are welcome to make a PR.  Although I've done this one, a similar change will need to be done to the EcmaScript track.  LMK if you're interested and if I can assist.

[2017-07-03 19:13] rchavarria commented on #376
Absolutely!

@rclai, feel free to open a similar issue in https://github.com/exercism/ecmascript and do a similar PR as @matthewmorgan did on #377

[2017-07-05 01:09] #376 closed

[2017-07-05 15:42] rclai commented on #376
Thanks.

[2017-07-17 06:50] rchavarria opened #382 "Nextercism configuration"
As stated in #381, Exercism will be moving to a tree-shaped track rather than a linear one, as described in the [progression & learning in Exercism](https://github.com/exercism/docs/blob/master/about/conception/progression.md) design document.

So, some tasks must be done:

- [x] Add a rough estimate of difficulty to each exercise (scale: 1-10) if it hasn't already one
- [x] Add topics to exercise

[2017-07-18 06:39] rchavarria commented on #382
I started working on branch [nextercism-config](https://github.com/exercism/javascript/tree/nextercism-config).

I plan to push commits as soon as they're ready, so that anyone can work on this branch too.

[2017-07-22 15:28] rchavarria commented on #382
Following @matthewmorgan's advice, copying Java guys, I've created a [spreadsheet](https://docs.google.com/spreadsheets/d/1pELRlzUlCSea5ybbBslFgoeLgDOkRZUjqZxN4ch2_1o/edit?usp=sharing) with current JavaScript exercises, I chosed 19 core exercises and unlocking exercises for non-core ones.

Of course, the spreadsheet shouldn't be the truth, so feel free to comment or edit it.

When everything looks

[2017-07-23 17:29] matthewmorgan commented on #382
@rchavarria thanks for doing this.

A question: according to your task list above, the `core: false` exercises should be "simple." But, I don't think queen-attack or minesweeper would qualify as simple in the context of this track.  IS the requirement to use simple exercises or any exercises?

[2017-07-24 08:54] rchavarria commented on #382
Ideally, I think *core* exercises should be simple or easy to solve. I see *core* exercises as doors/bridges to more complex and interesting exercises.

In the case of queen-attack or minesweeper, I know they're not easy, but they open the way to some exercises related to games. They don't have to be in the first place, maybe they can be in the 16th place (out of the 20 core exercises).

If there

[2017-07-26 17:52] christopherallanperry opened #387 "JavaScript Track: ES6 Support"
Re: https://twitter.com/exercism_io/status/889983074959851520

Does the Exercism JavaScript track fully support the use of ES6 syntax, or is it only the ES6 track that does that?

[2017-07-26 18:37] rchavarria commented on #387
From a technical point of view, it depends on the Node.js version you're using to run the code.

From the track's philosophy point of view, the JavaScript track is intended to practice ES5 features, that can be run in all modern and not-so-modern browsers (mobile, <IE11,...) while ECMAScript track is meant to practice recent features of the ECMAScript standard, that are not compatible with all bro

[2017-07-26 19:28] christopherallanperry commented on #387
Not rude at all. I just found myself using some ES6 syntax as I was going though the earlier JS exercises without thinking about it. I was just curious as to how far that would work, given I knew there was a separate ECMAScript track.

I'm using Node.js v6.11.0 on Windows 10, and v7.2.0 on OSX

[2017-07-31 18:22] rchavarria commented on #382
Closing this because tasks have been don in #383 and #386

[2017-07-31 18:22] #382 closed

[2017-07-31 18:35] rchavarria commented on #299
@exercism/ecmascripts - what do you think of closing this? #382 has been implemented and it includes the tasks that this issue need.

[2017-07-31 21:11] joelwallis commented on #387
@rchavarria that one is a good question. It's still strange for me that _we have two tracks for the same language_ - if I can put this way. ES6 is JavaScript, and vice-versa. I can understand the desire for a ES track while it was not really fully supported by browsers, but today [it's not really a problem anymore](https://babeljs.io).

Why do we keep two distinguished tracks for something that's

[2017-08-01 14:21] #299 closed

[2017-08-01 17:30] rchavarria commented on #387
I'm asking that question every now and then, but I'm never convinced to join the two tracks together.

One feature that makes ES6 more different to ES5 are *modules* (`import` and `export` keywords). And it's not clear at all the ES6 modules will be supported by Node.js ([Stack Overflow to the rescue](https://stackoverflow.com/questions/37132031/nodejs-plans-to-support-import-export-es6-es2015-mod

[2017-08-01 18:43] joelwallis commented on #387
Good point, @rchavarria.

I understand that adding the transpiler to the experience of someone that's trying to _jump on JavaScript_ and just want to learn the basics of the language might not seem to be the ideal and it's something we should work on. However, I don't see the point of keeping two tracks for the same language because Node.js does not support ES6 modules. They are part of the specif

[2017-08-02 07:10] rchavarria opened #389 "Port connect exercise from ECMAScript track"
As part of the job to make the track compatible with *Nextercism*, we identified there are missing exercises in this track that are present in the [ECMAScript](https://github.com/exercism/ecmascript) track. One of them is [connect](https://github.com/exercism/ecmascript/tree/master/exercises/connect).

The task would be to add the `connect` exercise to this track, copying files from the ECMAScript

[2017-08-02 09:25] rchavarria opened #390 "Port diffie-hellman exercise from ECMAScript track"
As part of the job to make the track compatible with *Nextercism*, we identified there are missing exercises in this track that are present in the [ECMAScript](https://github.com/exercism/ecmascript) track. One of them is [diffie-hellman](https://github.com/exercism/ecmascript/tree/master/exercises/diffie-hellman).

The task would be to add the `diffie-hellman` exercise to this track, copying file

[2017-08-02 09:35] rchavarria opened #391 "Port twelve-days exercise from ECMAScript track"
As part of the job to make the track compatible with *Nextercism*, we identified there are missing exercises in this track that are present in the [ECMAScript](https://github.com/exercism/ecmascript) track. One of them is [twelve-days](https://github.com/exercism/ecmascript/tree/master/exercises/twelve-days).

The task would be to add the `twelve-days` exercise to this track, copying files from th

[2017-08-02 23:59] matthewmorgan commented on #391
@rchavarria one thing I would add to this list is to adapt the test suites: the JavaScript track uses Jasmine where the EcmaScript track uses Jest.  So, `test` and `xtest` should become `it` and `xit`.

Otherwise this looks great.

[2017-08-07 09:28] rchavarria commented on #391
Ok, nice catch! I'll update the issues.

[2017-08-11 06:54] rchavarria opened #395 "Update formatting in ABOUT.md for Nextercism"
Issue https://github.com/exercism/meta/issues/85 needs some checks in this track

[2017-08-21 05:04] tejasbubane opened #396 "Change README from xJavascript to Javascript"
This repository was renamed from `xjavascript` to `javascript`. Change the README to reflect the change.

- [ ] Change the title
- [ ] Change the travis build URL to use https://travis-ci.org/exercism/javascript

[2017-08-23 16:09] joelwallis opened #399 "Fix code styles of all example solutions"
~~**Blocked by #373**~~

---

We already have ~~an issue to add~~ added linting capabilities to our codebase using eslint. Now we need to make all exercise files compliant with the linting rules.

We will be spitting it up into exercises and would like to have a separate PR for each exercise.

**Ready to go:**
Below is a list of all files that need linting along with the ones which are already lin

[2017-08-23 17:08] #387 closed

[2017-08-23 17:08] joelwallis commented on #387
Closing this one, since the question has been answered and additional discussions should happen on dedicated issues.

[2017-09-06 08:01] dgrskovic commented on #396
Hi!
Can I take this one, please?

[2017-09-06 11:05] dgrskovic commented on #396
Ok, thanks.
It's done.

[2017-09-06 11:08] #396 closed

[2017-09-28 20:22] rchavarria commented on #373
#399 is still open, but as #411 has been merged, I think this issue can be closed.

[2017-09-28 20:22] #373 closed

[2017-10-03 20:13] rchavarria commented on #391
Closed by #410

[2017-10-03 20:13] #391 closed

[2017-10-06 09:03] #390 closed

[2017-10-07 16:12] lindakatcodes commented on #395
This issue can be closed now, pull request has been merged. :)

[2017-10-10 00:06] Radix16 commented on #399
I would like to help with this issue.  It looks like a lot of changes though.  Is this intended to be multiple PRs or just one?   I have installed and executed the linter on the current project and received the linter errors mentioned.

[2017-10-12 17:22] AryanJ-NYC opened #420 "package.json in twelve-days/package.json leading to lint errors"
When trying to run `npm run lint`, I got the following error:

[code]

This lead me to find that [exercises/twelve-days](https://github.com/exercism/javascript/blob/master/exercises/twelve-days) has its own [`package.json`](https://github.com/exercism/javascript/blob/master/exercises/twelve-days/package.json). It's the only exercise with its own `package.json`.

Feature or bug?

[2017-10-14 08:06] a-dpq opened #424 "Providing stub files or solution setup guide for JavaScript track"
I’m fairly new to Exercism and am making my way through the JavaScript track. I’ve found it to be extremely useful so far, but one of the biggest pain points for me is setting up solutions for the tests. Whenever a slightly more complicated test structure comes up, I usually hit a roadblock and have to copy someone else’s setup before I can even get started solving the problem itself.

Except for

[2017-10-14 09:57] m-a-ge commented on #424
@exercism/javascript I strongly suggest adding solution placeholders for each exercise

[2017-10-14 12:27] #420 closed

[2017-10-14 12:49] matthewmorgan commented on #424
@a-dpq thanks for your feedback, especially since it's delivered in a very thoughtful way.  Thanks also to @m-a-ge for your input.

We don't mostly provide stub files, it's true, and your speculation about why is more or less accurate.  A couple of years ago we did have a [discussion](https://github.com/exercism/javascript/issues/128) around this, in which it was decided that the first dozen exerc

[2017-10-14 13:04] m-a-ge commented on #424
I am not this track maintainer, but I think ES6 classes are preferable way of doing this, just saying 😄

[2017-10-14 13:07] matthewmorgan commented on #424
@m-a-ge yes, but this track is explicitly focused on ES5 features.  We want to give people the option, but I'm not sure we want to _push_ them in that direction.

At some point we have to decide to pull those features in to this track as well, but that feels like a separate piece of work to me.

[2017-10-14 13:22] a-dpq commented on #424
Thanks for your response, @matthewmorgan. For what it's worth, the two exercises that posed the biggest challenge for me so far in setting up the solution for the test suite were `clock` and `circular-buffer`. (I've only made it about halfway through the track.) I always try to figure things out on my own, but I don't think I would have been able to get the structure for these exercises right with

[2017-10-14 13:32] matthewmorgan commented on #424
@a-dpq that's not a good feeling!  Maybe we need to have a look at those APIs and see if they are particularly strange.  It might make sense to either address API problems exercise-by-exercise, or if the API is intentional, to provide stubs in (some?) tough cases.

[2017-10-14 13:39] matthewmorgan commented on #424
Hmm...taking a look at clock, I actually think the API is a good lesson-- a fluent, chainable API.  But, I admit that it might not be clear how to set that up in JavaScript, or at all, if you're new to OOP.

Perhaps a stub like this would help:

[code]

This defines the shape of the public API, and the module structure.

[2017-10-14 14:57] a-dpq commented on #424
I guess this illustrates the difficulty of providing a stub with just one approach, since the approach I ended up using (object prototype extension) looks quite different but does the same job. And I agree that problems like this should ideally be a learning opportunity. Still, as a beginner/intermediate learner, I felt especially lost as I was trying to set up these two exercises. Perhaps a bette

[2017-10-14 15:33] tleen commented on #424
Stubs have always seemed useful to me for the first few exercises to help people truly new to the language to gain their footing. Especially if [TIMTOWTDI](https://en.wikipedia.org/wiki/There%27s_more_than_one_way_to_do_it) or the track has a strong preference one way or another. The barrier for entry for the first few exercises should be IMO fairly low.

Of course it would be important to documen

[2017-10-16 07:06] rchavarria commented on #395
Closed by #414

[2017-10-16 07:06] #395 closed

[2017-10-16 09:34] rchavarria commented on #399
It will be too much work for one person to fix all those errors. So, if I were you, I would choose an exercise and create a PR that fixes the errors for that single exercise.

[2017-10-16 09:34] rchavarria commented on #399
In fact, it seems it's exactly what you're doing. I didn't see those PRs.

[2017-10-16 10:26] rchavarria commented on #424
It seems obvious that more stubs are needed. And I completely agree with @tleen about stubs should not  disapear suddenly.

I have a couple of ideas, maybe, a mix of both will be the better option:

1. Add stubs for the first ten or twelve exercises
2. Add stubs for those exercises marked as *core*, as they will be the first users will work on the next version of exercism

[2017-10-16 11:57] tleen commented on #424
For `nextercism` because it is possible to take multiple paths you should identify the possible first no-stub exercises in the core path and via unlocks. I would make a note in the core solution and link to it from the first no-stub unlock.

[2017-10-16 20:24] rchavarria commented on #424
So, for Nextercism, all core exercises could have a stub, and non-core exercises could have a note or hint pointing to the exercise that unlocks them. Makes sense.

[2017-10-16 20:42] tleen commented on #424
@rchavarria I wouldn't think all core exercises should have stubs, there should be a point where the users should be encouraged to stand on their own a bit more. Where this is could vary per track.

Also any note concerning stubs would be redundant. I figure the first core exercise should have a good explanation of where the stubs went, and how to start without them. The first non-core exercise wi

[2017-10-17 13:32] rchavarria commented on #424
Only `hello-world` and `leap` have stubs. All core exercises appear at the beginning of the `config.json` file, so all core exercises are currently the first to be proposed to new exercism users (some of the core exercises are hard to solve for beginners I think).

So, if we add stubs at least to all core exercises we wil add stubs to the first set of exercises. Then, we can decide if we add links

[2017-10-20 02:02] Radix16 commented on #399
The grains exercise has 532 errors reported by the linter.  520 of these errors are all contained in the file big-integer.js which is minified and originates from https://github.com/peterolson/BigInteger.js.  Also the non-minified version of this file does not conform the linter standards set for this project.  I haven't solved this problem myself as a user, but I guess a user is expected to find

[2017-10-21 21:41] matthewmorgan commented on #399
@Radix16 we should modify the linter settings to skip the vendor files.  If you want to tackle that, it would be appreciated, but I think that's the correct approach.

[2017-10-24 10:42] rchavarria opened #441 "Should ESLint configuration be in `package.json` file?"
In the https://github.com/exercism/ecmascript track, ESLint config is in `package.json`. It has a reason, becasue that file is copied to all exercises, so it keeps a change that needs to be shared between all exercises in a single palce.

This track is a little bit different. Here, the config is outside `package.json`. #437 needs to add some ESLint configuration, to ignore some specific files, by

[2017-10-29 19:07] tejasbubane commented on #441
Since we don't copy `package.json` in this track, either way seems fine.
But just for the sake of consistency with the ecmascript track, and for us not to remember two different things, I think it will be better if we put in `package.json` itself.

[2017-10-30 07:52] tejasbubane opened #447 "Change installation link in exercise READMEs"
Each [exercise](https://github.com/exercism/javascript/tree/master/exercises) has a [README file with a setup link in it](https://github.com/exercism/javascript/blob/master/exercises/accumulate/README.md#setup).

The link points to http://exercism.io/languages/javascript/ but the setup instructions are in http://exercism.io/languages/javascript/installation.

**Task:** Change the link to the corre

[2017-10-30 08:04] Evalle commented on #447
Hey, @tejasbubane may I take a look at it?

[2017-10-30 08:05] tejasbubane commented on #447
@Evalle Go for it!

[2017-10-30 15:27] rchavarria commented on #441
It makes sense for me too. Any other thought @exercism/ecmascripts?

[2017-11-02 06:52] #447 closed

[2017-11-03 18:47] tejasbubane commented on #399
@joelwallis I updated your description to add info about CI and eslintignore I added in https://github.com/exercism/javascript/pull/453. Hope you don't mind :)

[2017-11-04 12:26] matthewmorgan commented on #441
I agree with @tejasbubane

[2017-11-06 10:04] rchavarria opened #456 "Move ESLint configuration to `package.json` file"
As discussed on #441, let's move ESLint configuration to `package.json` file.

In summary, [ecmascript](https://github.com/exercism/ecmascript) track has already ESLint configuration in `package.json` files, because it was more convenient for track maintenance.

In the case of this track, it's not so important where the configuration is placed. But, just to keep consistency between those two track

[2017-11-06 10:05] rchavarria commented on #441
The discussion is more or less over, so I created a issue to do the actual work.

I'm going to close this issue. Anyway, if anyone has something to say, we'll be glad to listen.

[2017-11-06 10:05] #441 closed

[2017-11-06 18:35] tejasbubane commented on #456
Let us not move the `.eslintignore` since it is getting removed eventually after #399 and I have already put on instructions to remove exercise lines from `.eslintingore` at a couple of places in pending PRs.

[2017-11-25 15:33] matthewmorgan opened #462 "Use LTS node on this track"
I thought we had decided:

1. `lts/*` for JavaScript track
2. `node` for EcmaScript track

Please let me know.  If this is the case, we need PRs in both tracks to fix the `.travis.yml` files, which currently are `7.8` for ES, and `node` for JS.

@exercism/ecmascripts

[2017-11-25 16:12] joelwallis commented on #462
Makes sense, but since the EcmaScript track uses Babel to compile classes and outputs code compatible with older versions. If we are looking to see if the current Node.js version is able to execute the code this issue should be addressed.

[2017-11-28 11:10] rchavarria commented on #462
It makes completely sense for me too. `lts/*` for JS, `node` for ES.

[2017-11-28 14:53] matthewmorgan commented on #462
@joelwallis I see the merit in your thought, but as a maintainer I can't imagine trying to keep everything current with latest stable Node without transpilation.

The users never _see_ the transpiled code, since it's all done magically by Jest, so I'm not sure there's much value in trying to differentiate what will work or not work with a given version of Node.

But, to make sure everything works

[2017-11-28 21:30] rchavarria commented on #462
Go for it!

[2017-12-08 11:36] rchavarria commented on #389
Implemented in #461

[2017-12-08 11:36] #389 closed

[2017-12-12 10:23] rchavarria opened #477 "Add `package-lock.json` file to the repo"
Just not to forget about the discussion on #468, `package-lock.json` file should be added to the repo.

Because:

1. It keeps things pinned to a known working version
2. It will ensure the versions are in check
3. It is recommended by `npm`

[2017-12-16 14:48] #477 closed

[2017-12-20 07:32] mspanish opened #479 "What type of JS module pattern is used in exercism?"
This sounds like a ridiculous question, but I've never been all that fond of modules, and mostly avoided them. But in the first few exercises on Exercism, I found the modules to be very nice - and it would certainly help my coding to use this style more. What specific pattern is this, or does anybody have a URL where I can do more practice writing these kind of modules, or reading reference materi

[2017-12-20 12:14] matthewmorgan commented on #479
@mspanish I'm glad to hear you're enjoying the track!

Exercism's JavaScript track uses CommonJS modules.  Support for CommonJS is baked in to Node JS.  However, if you want to package together modules into code for the browser, you will need to include a tool such as Webpack or Browserify in your build process.

Here's a blog post about CommonJS and how `require` works: https://blog.risingstack.c

[2017-12-20 12:19] matthewmorgan opened #480 "linked-list requirements incomplete"
from https://github.com/exercism/exercism.io/issues/3697

Submitted by @bennypowers

It's possible to pass the linked-list tests for JS/ES like so:

[code]

It seems to me that this object doesn't satisfy the true definition of linked-list, although it does pass the tests.

Please correct me if I'm wrong.

[2017-12-20 12:28] matthewmorgan commented on #480
@bennypowers you are indeed right about this: one can pass this test by extending the native Array object.  We do have other exercises that have this same failing, and in the README we challenge the student to implement a solution _without_ the native type.  "Strain" and "Accumulate" are such exercises.

So the question is:
1. Challenge the student to implement this solution without the native typ

[2017-12-20 13:38] bennypowers commented on #480
I'd prefer option 4, since my usual MO is to write in TDD style acc'd to the spec provided.

[2017-12-20 14:31] matthewmorgan commented on #480
Option (4) is not defined...do you have a proposal?

[2017-12-20 14:32] bennypowers commented on #480
apologies, I meant option 3

[2017-12-20 14:34] matthewmorgan commented on #480
Let's see if we can get some consensus from the maintainers, then we can take action.

Thanks for pointing this out!

@exercism/ecmascripts would you all mind weighing in on this one?

[2017-12-20 16:52] mspanish commented on #479
Thanks very much 👍

[2017-12-20 17:01] #479 closed

[2017-12-20 21:01] rchavarria commented on #480
I would vote at least for option (1): encourage not cheating, and implement List on student's own.

I don't see too much value on option (2). It can be easily cheated. I'm not sure, but I swear there was a discussion about method names. Maybe it was method names across languages: some propose `push`, other `add`, `append`,... Or maybe `push/pop` reminds people to queues instead of lists. Not sure,

[2017-12-20 22:22] bennypowers commented on #480
but where's the linked part of the list? shouldn't the interface specify that each node must link explicitly to the previous or next? (or null in case of 0 and last)?

[2017-12-22 17:37] malydok commented on #480
Solution **3** is the only reasonable one in my opinion as well. Upto this very task all the tests were written in a such a way that you couldn't possibly cheat. Adding tests for proper `Node` creation should solve the problem, for example:

[code]

Of course then the task assumes the names of attributes in `List` and `Node`, but that's not really a big issue, all the tasks assume some naming conv

[2017-12-23 15:54] bennypowers commented on #480
I agree @malydok. Maybe throw in an `isObject` or `instanceof Node` test to make it clear to students.

[2017-12-26 14:58] matthewmorgan commented on #480
@bennypowers would you care to make a PR for this?  Your help would be welcome.

[2017-12-26 15:03] bennypowers commented on #480
Would be happy to, when I get a free moment.

It seems to me that push should create a `new Node`

[2017-12-29 21:08] matthewmorgan opened #483 ""unlocked_by" should not be null for non-core exercises"
@exercism/ecmascripts correct me if I'm wrong here, but my understanding of the new setup is that exercises should either be `core: true` or have a non-null `unlocked_by` value.

If I am right, then we have 6 exercises currently that are `core: false` and `unlocked_by: null` that we need to assign `unlocked_by` parents to.

?

I've entered this same issue for the EcmaScript track.

[2018-01-02 19:49] mrseanbaines opened #486 "Create JavaScript Gitter room"
There is currently no JavaScript room in the [Exercism Gitter chat](https://gitter.im/exercism/home). It would be great if someone with access could create one.

[2018-01-02 20:07] kotp commented on #486
https://gitter.im/exercism/xecmascript is where I believe the conversation is on Gitter. Perhaps a Gitter badge could be added to the Readme for the repository directing folks there?

[2018-01-04 12:20] #486 closed

[2018-01-04 19:13] rchavarria commented on #483
Replied on https://github.com/exercism/ecmascript/issues/387

[2018-01-07 01:07] danielj-jordan opened #488 "bowling exercise does not match the canonical tests"
The current example and tests for the bowling exercise do not canonical [specs](https://github.com/exercism/problem-specifications/blob/master/exercises/bowling/canonical-data.json) or the trusted version of the [readme](https://github.com/exercism/problem-specifications/blob/master/exercises/bowling/description.md).

The readme specifically states that function roll(pins : int) should exist. It d

[2018-01-14 23:01] kytrinyx opened #489 "Suggested improvements to beer song exercise"
Related to the [99 Bottles of OOP](https://www.sandimetz.com/99bottles/) book, we have a repository containing all the available BeerSong exercises from Exercism.

One reader, @dcarral, submitted a whole host of little fixes and improvements, that I'd like to bring into Exercism where appropriate.

Here are the fixes for the JavaScript exercise:

The changes are in this file:
https://github.com/dc

[2018-01-15 05:05] kytrinyx opened #492 "bob: Update to clarify ambiguity regarding shouted questions"
**TL;DR**: the problem specification for the Bob exercise has been updated.
Consider updating the test suite for Bob to match.
If you decide not to update the exercise, consider overriding description.md.

-----

**Details**

The problem description for the Bob exercise lists four conditions:

- asking a question
- shouting
- remaining silent
- anything else

There's an ambiguity, however, for sho

[2018-01-17 14:33] rchavarria commented on #489
Expectations look much much better, the descriptions are really improved. I agree on including those changes on the exercise.

I have my doubts about them empty implementation file. For the first exercises, the track provides a scheleton of the implementation, so users should know how to start creating implementation files (stub files?) on their own (providing stub files was discussed some time ag

[2018-01-17 14:41] rchavarria commented on #492
I think it would be better to update specs and make them match canonical specs.

[2018-02-10 05:55] ajomadlabs commented on #399
@joelwallis I would like to go with word-count exercise

[2018-02-10 06:28] tejasbubane commented on #399
Go ahead @ajomadlabs !

[2018-02-10 06:42] ajomadlabs commented on #399
@tejasbubane I tested the word-count.spec.js and didn't find any error.

[2018-02-10 07:09] ajomadlabs commented on #399
@joelwallis @tejasbubane I have just made a PR regarding the big-integer.spec.js. word-count.spec.js is free of lint errors.

[2018-02-10 10:03] tejasbubane commented on #399
If there are no errors in some exercise, please remove it from `.eslintignore` so that we know it's done. And feel free to pick other exercises.

[2018-02-11 22:15] matthewmorgan commented on #399
@tejasbubane @ajomadlabs after reviewing that PR, I closed it since we don't really want to make changes in third party libraries.  It's a better practice to leave them in the eslintignore.

See my earlier comment [here](https://github.com/exercism/javascript/issues/399#issuecomment-338434432).

[2018-02-12 16:24] ajomadlabs commented on #399
@matthewmorgan Okey. In the above checklist, many files doesn't have any errors like word-count, accumulate etc. I think its high time that we need to update the checklist

[2018-02-12 18:57] matthewmorgan commented on #492
@exercism/ecmascripts I've made a PR for this change in the ecmascript track.  If that looks OK to everyone, maybe we could apply the same change here.

[2018-02-13 16:55] tejasbubane commented on #399
@ajomadlabs Thanks for your feedback. I have updated the checklist with updated exercise list and check off the ones which don't have any errors.

[2018-02-13 21:09] joelwallis commented on #399
@ajomadlabs great work! 🎉

[2018-02-14 09:46] ajomadlabs commented on #456
@tejasbubane Can I take up this

[2018-02-15 12:14] tejasbubane commented on #456
Sure. Go for it.

[2018-02-15 14:01] ajomadlabs commented on #456
@tejasbubane I have given a PR

[2018-02-15 19:27] matthewmorgan commented on #456
@tejasbubane @ajomadlabs I thought @tejasbubane might want to approve that PR, I've given my 2 cents already.  Looks good to me after the changes.

[2018-02-16 15:16] ajomadlabs commented on #456
@tejasbubane Are the changes that has been made, correct ?

[2018-02-19 18:31] tejasbubane commented on #462
I guess this can be closed now since https://github.com/exercism/ecmascript/pull/390 is merged.

[2018-02-19 18:31] #462 closed

[2018-02-24 17:33] bennypowers commented on #480
Apologies to followers. I am interested in moving this forward but give it a lower priority at the moment. I estimate I'll be able to seriously work on this within 2-3 mo.

[2018-02-24 22:23] matthewmorgan commented on #480
Fair enough @bennypowers .  Let's close it until that time, so it doesn't linger unresolved.  Thanks!

[2018-02-24 22:23] #480 closed

[2018-02-27 23:25] AnnahGerletti opened #505 "THis is more of a question about Jasmine??"
I am new to using Jasmine, I find when something breaks in the code Jasmine does not always out-put an error to my terminal. Why is this. I just get the same line returned.

like this:
[code]
The first line is good with a green arrow, but the next three are the responses to running the command.
Nothing happens. No Output.

[2018-02-27 23:53] joelwallis commented on #505
Question previously asked on exercism/exercism.io#3732

[2018-02-27 23:57] joelwallis commented on #505
Hi @AnnahGerletti,

I'm one of the co-maintainers of the JavaScript track. This Jasmine behavior definitely isn't normal. It's supposed to show something like this:

[code]

Which operating system are you using? Also, can you provide more information about your environment? Run the command below and paste the output here:

[code]

[2018-02-28 00:06] AnnahGerletti commented on #505
Hello,

I am running on a MacOS, using Zsh as my CLI, writing code in VSCode. Is that what you wanted to know.

here is the results to the comand
[code]

[2018-02-28 00:09] AnnahGerletti commented on #505
There will be times when I do see something like this:
[code]
However if I change the code in VScode and then try to run the test again, I won't get any kind of error message which is difficult to debug. I was just wondering are there steps when using Jasmine that I need to keep in mind? Forexple can't run partial code, or no comment? things like that.

[2018-02-28 02:54] joelwallis commented on #505
@AnnahGerletti there's no step to follow before running `jasmine`. You should be able to see its output right after running the command. It doesn't seem like a broken output to me. Can you share an example of an output that doesn't get you information about your solution? Posting your solution alongside the given output would be very helpful.

[2018-02-28 03:46] AnnahGerletti commented on #505
Sure here is my current work, its not finished. I am working on the 4th JS assignment DNA to RNA.
[code]
I get nothing in the terminal when I run Jasmine.
[code]

[2018-02-28 11:33] rchavarria commented on #505
Not sure, but I think there is a syntax error in the code. Instead of `nucleotides.map(input) {`, would you mind to use *old* JavaScript? I mean, `function` and everything else. Kind of:

[code]

In fact, you may want to write that in ES2015 syntax:

[code]

[2018-02-28 16:25] tejasbubane commented on #505
Looks like `jasmine v3.0.0` just fails on a syntax error without reporting anything - although I cannot find a relevant github issue in jasmine repo, I can confirm this by running above code.

The latest jasmine `v3.1.0` does the right thing - reports proper error.

@AnnahGerletti Can you update jasmine to the newer version and confirm?

[2018-02-28 19:46] AnnahGerletti commented on #505
How do I upgrade Jasmin? the npm docs tell me to run an `npm install` but there is no package.json.

Isn't there a `jasmine upgrade` command?

[2018-02-28 19:49] AnnahGerletti commented on #505
Never mind I used `npm upgrade -g jasmine` this seemed to work.

[2018-02-28 19:50] tejasbubane commented on #505
For the javascript track we recommend installing Jasmine globally. That is
how you are able to access `jasmine` command.

 Running `npm install -g jasime` should update it I guess.

On Mar 1, 2018 1:16 AM, "Annah Gerletti" <notifications@github.com> wrote:

[2018-02-28 19:50] AnnahGerletti commented on #505
getting proper errors now. Thanks for all the help.

[2018-02-28 19:51] tejasbubane commented on #505
Awesome! Thanks for being patient with the issue.

[2018-02-28 19:51] #505 closed

[2018-02-28 19:52] AnnahGerletti commented on #505
You Guess, that sounds like you know of a better way to do it??

 Running `npm install -g jasime` should update it I guess.

[2018-03-01 01:46] joelwallis commented on #505
@AnnahGerletti updating it globally is just a matter of running `npm i -g jasmine`. You're good to go now! :-)

[2018-03-01 01:49] AnnahGerletti commented on #505
Yay!! thanks for all the help. Let's close this issue.

[2018-03-01 12:39] tejasbubane commented on #483
Closing this one as per discussion in https://github.com/exercism/ecmascript/issues/387

[2018-03-01 12:39] #483 closed

[2018-03-01 20:06] minaslater commented on #399
Hi! This is going to be my first contribution in someone else's repo outside of class. O_o
I'm going to try to tackle "perfect numbers".

[2018-03-01 20:26] matthewmorgan commented on #399
@minaslater Great!

Please:
1. Fork the repo
2. Make an empty commit
3. Open a PR to this repo with a title like "Dibs - fix lint errors for perfect numbers"
4. Please refer this this issue in the PR description.

Let us know if you need any assistance!

[2018-03-01 20:45] slippa91 commented on #399
Hi. I will fix queen-attack.

[2018-03-01 21:05] minaslater commented on #399
@matthewmorgan Hi! I just saw this reply... I already opened up a PR with the styling fixes. :)

[2018-03-03 05:13] joefitz12 commented on #399
Wasn't able to push an empty commit, but just submitted a PR for secret-handshake. If it looks good, let me know! Would love to help out some more.

[2018-03-04 03:36] natraj-s commented on #399
I'll work on simple-linked-list.

[2018-03-05 03:28] cybernetck commented on #399
Hello, I've selected the simple-cipher to work on.  I believe I have the issues resolved, and would like to move forward with a merge request.

[2018-03-05 03:37] cybernetck opened #521 "Correct simple-cipher linting issues"
I'd like to correct simple-cipher linting issues.

[2018-03-05 12:47] ajomadlabs commented on #521
@cybernetck There is already an existing issue regarding the exercises thats need to corrected. I guess you can look over the link given below
[Linting Issue Checklist](https://github.com/exercism/javascript/issues/399)

[2018-03-05 14:32] matthewmorgan commented on #521
@ajomadlabs is correct to point out #399.

@cybernetck what we'd like you to do is open an empty PR with a title like "Dibs-- fix linting issues for simple-cipher" to make your intentions visible.

Thanks!

[2018-03-05 14:32] #521 closed

[2018-03-05 22:02] laurencantlin commented on #399
Fixing nth-prime.

[2018-03-05 22:06] matthewmorgan commented on #399
@laurencantlin great!  Please open a PR with an empty commit, and a title like: "Dibs- fix linting issues for nth-prime"

This will make your intent visible.

[2018-03-08 11:32] #488 closed

[2018-03-14 10:07] nywilken opened #527 "Track configuration contains improperly locked exercises"
In the upcoming release of [Configlet v3.8.0](https://github.com/exercism/configlet/issues/121) the lint command will now verify that locked exercises meet the unlocked_by criteria, as defined by the track [configuration spec](https://github.com/exercism/docs/blob/master/language-tracks/configuration/exercises.md):

- Core exercises can not be unlocked by other exercises.
- Non-core exercises can

[2018-03-18 02:10] okdoomfist commented on #492
Came here out of confusion over "Here is the requirement:

// He answers 'Calm down, I know what I'm doing!' if you yell a question at him."

What needs to be done to resolve this issue? Can I help?

[2018-03-21 14:33] danielj-jordan opened #531 "Canonical test spec for bowling excercise has two new tests"
The [canonical spec](https://github.com/exercism/problem-specifications/blob/master/exercises/bowling/canonical-data.json) has two new tests.   Implement the tests for “cannot roll after bonus roll for spare” and “cannot roll after bonus rolls for strike” which have been added to version 1.2.0 of this document.

[2018-03-21 22:48] #527 closed

[2018-03-24 16:48] kytrinyx commented on #492
@okdoomfist

Taking a look at the spec and the README here:

- https://github.com/exercism/javascript/blob/master/exercises/bob/bob.spec.js#L46-L49
- https://github.com/exercism/javascript/blob/master/exercises/bob/README.md

It looks like they are, indeed, out of sync!

The best fix, I think, would be to update the spec so that it has the correct assertion per the README.

[2018-03-24 21:27] #531 closed

[2018-04-06 17:29] #399 closed

[2018-04-09 17:14] #492 closed

[2018-04-17 17:38] benfletcher commented on #489
I wanted to add a vote in favor of adding implementation starter file to each exercise, would be a great QOL helper for experienced programmers and prevent a stumbling block for beginners.

I'd be happy to implement this and/or the other changes if desired.

[2018-04-18 20:41] gavinhenderson opened #540 "Suggested improvements: Nth-Prime"
I have a few questions/suggestions to improve the 'nth-prime' challenge.

Should we make people use the [Prime Number Theorem](https://en.wikipedia.org/wiki/Prime_number_theorem)? Right now people can write a solution that just finds a preset amount of primes and then picks the nth prime (which is what the example does). This is obviously not an optimized approach as you will be waiting the same t

[2018-04-23 15:27] gavinhenderson commented on #540
@kytrinyx Is this something that this an issue shared by others? If so I happy to open a PR?

[2018-04-25 22:28] matthewmorgan commented on #540
@gavinhenderson I appreciate your thoughts on this.

I think there are three issues you raise here, and I'm unconcerned about the last (unique code from the sieve exercise.)

I don't think we should require anyone to implement their solution with any specific algorithm-- that's really what the peer-to-peer discussion is about.

However, I think a better test for a quality method of generating prim

[2018-04-25 22:35] matthewmorgan commented on #489
@benfletcher @rchavarria @kytrinyx I think it could be valuable to add this case-by-case to certain exercises.  I am _not_ in favor of adding stubs to _all_ exercises, but that's just because there are so many different ways to implement most of the solutions in JavaScript.  I think stubs have value in two contexts:

1. Early in the track to help people who are new to the language, or to programmi

[2018-04-26 10:53] matthewmorgan commented on #540
@gavinhenderson By 'unconcerned,' I just mean that I think it's OK for people to realize that they can leverage code that they've already written.  I do that every day :)  I also think it's OK for them to decide to write new code, and I think both choices can provoke discussions like the one we're having now.

I also understand that some people will read the example code in an attempt to expand th

[2018-04-28 16:09] gavinhenderson opened #544 "Inconsistent module use"
This issue was originally brought up in #543 by @alexch.

The module decleration is inconsistent in terms of what is expected from the module when it is required. Sometimes it expects an object with functions and fields. Other times it expects the module to be just a function. Lastly, sometimes it expects the module to only contain one function but the module itself is not the function.

Sometimes

[2018-05-05 00:37] kytrinyx commented on #489
I am also not in favor of adding stubs to all the exercises for the reasons that @matthewmorgan mentions.

[2018-05-12 20:51] gavinhenderson commented on #544
Ah, I see that the conclusion was to keep the first challenges consitent with each other, even if a class has one function, which I agree with.

However, all the challenges I mentioned in my issue are past the first 10 challenges. After the first challenges would it not be better to use the most appropriate module use rather than forcing people to use inappropriate classes in the sake of consisten

[2018-05-13 09:12] m-a-ge commented on #424
@alexch, yeah, I see your point. Sometimes it's hard to find this balance

[2018-05-15 18:40] jsgilberto opened #545 "Missing boilerplate code for exercises?"
Some of the exercises don't have a boilerplate code, just the first 3 (http://exercism.io/languages/javascript/exercises)

[2018-05-15 20:37] matthewmorgan commented on #545
Thanks @jsgilberto for your feedback.  This issue has been discussed before on this track, but has recently come up again here: https://github.com/exercism/javascript/issues/424

I'm going to close this issue as a duplicate of that one.

[2018-05-15 20:37] #545 closed

[2018-05-16 14:43] alexch commented on #424
btw I have forged ahead on my own fork with a few experiments... check out https://github.com/alexch/javascript if you're interested in any of the following:

 * remove `xit` and recommend `--fail-fast=true`
 * remove redundant setup instructions
 * run `node .` to launch a local trivial web server that lists the exercises in `config.json` order, and renders their READMEs in-browser, so users can

[2018-05-29 08:53] norricorp opened #546 "Javascript - Queen attack"
The unit test for error 'cannot occupy the same space' will pass when no error is caught and returned.

[2018-05-29 16:25] matthewmorgan commented on #546
Thanks @norricorp for submitting this issue.  Is this something you would like to open a PR to fix?

[2018-06-01 07:14] norricorp commented on #546
My bad, just realised that by changing code I can get the test to work properly.

[2018-06-01 07:14] #546 closed

[2018-06-02 22:59] kytrinyx opened #547 "Where are the JavaScript communities and enthusiasts?"
As we move towards the launch of the new version of Exercism we are going to be ramping up on actively recruiting people to help provide feedback.

Our goal is to get to 100%: everyone who submits a solution and wants feedback should get feedback. Good feedback. You can read more about this aspect of the new site here: http://mentoring.exercism.io/

To do this, we're going to need a lot more infor

[2018-06-08 21:10] MadEmperorYuri opened #548 "Eloquent JavaScript is now in its third edition; languages/javascript/learning should be updated to reflect this"
Eloquent JavaScript, which is linked to on http://exercism.io/languages/javascript/learning, is now out with its third edition. The link, however, says it is the second edition. The URL itself does not need to be changed, but the link text should be updated.

[2018-06-10 23:45] MadEmperorYuri opened #551 "Pangram exercise needs to decide whether it involves non-ASCII characters or not"
http://exercism.io/exercises/javascript/pangram/readme says "Input will not contain non-ASCII symbols."

But http://exercism.io/exercises/javascript/pangram/test-suite says

[code]

One of the two must go, but which? I vote to keep the non-ASCII characters. Any solution that can deal with punctuation will probably deal with non-ASCII characters just fine, and the extra passing test is more rewardi

[2018-06-11 07:38] #548 closed

[2018-06-11 07:45] tejasbubane commented on #551
@MadEmperorYuri Thanks for catching this! The README and test suite are definitely out of sync. Exercism has a repository for problem specifications and we prefer to follow that. For `pangram` here is the [Readme](https://github.com/exercism/problem-specifications/blob/master/exercises/pangram/description.md) and [test specifications](https://github.com/exercism/problem-specifications/blob/master/

[2018-06-12 02:45] kytrinyx opened #552 "Ensure JavaScript track is ready for v2 launch"
There are a number of things we're going to want to check before the v2 site goes live. There are notes below that flesh out all the checklist items.

- [ ] The track has a page on the v2 site: https://v2.exercism.io/tracks/javascript
- [ ] The track page has a short description under the name (not starting with `TODO`)
- [ ] The "About" section is a friendly, colloquial, compelling introduction
-

[2018-06-12 03:41] aadityakulkarni commented on #551
Hi @tejasbubane I have created a PR for this task.

[2018-06-12 04:53] #551 closed

[2018-06-14 22:55] matthewmorgan commented on #552
Pending the outcome of https://github.com/exercism/ecmascript/issues/412, we may choose to fold the ES track in to this one.  More to come...

[2018-06-15 07:49] gavinhenderson commented on #540
Fixed #542

[2018-06-15 07:49] #540 closed

[2018-06-23 15:58] matthewmorgan commented on #552
After a discussion with @kytrinyx, @iHiD, @nicolechalmers, @tejasbubane and @joelwallis we've decided to deprecate this track and change the EcmaScript track to be the new definitive JavaScript track.

Work will be enumerated in separate issues for the changeover, but @jackhughesweb I'm going to close this PR as not needed.

[2018-06-23 15:58] #552 closed

[2018-06-23 16:00] matthewmorgan opened #556 "Deprecate current JavaScript track and replace with EcmaScript track"
This issue is a placeholder until the work needed to deprecate this track and convert the ES track to take its place as the v2 JavaScript track is enumerated.

[2018-06-23 16:01] matthewmorgan commented on #313
Closing as wontfix per #556.

[2018-06-23 16:01] matthewmorgan commented on #547
Closing as wontfix per #556.

[2018-06-23 16:02] matthewmorgan commented on #424
@alexch we're going to be deprecating this track, and replacing it in Exercism v2 with the EcmaScript track per #556.

Thanks for your comments and work here, you are more than welcome to jump in on that track if you like.  I expect we would hold off on any change like the ones you are proposing until after the migration.

[2018-06-23 16:02] #424 closed

[2018-06-23 16:03] #313 closed

[2018-06-23 16:03] matthewmorgan commented on #489
wontfix per #556.

[2018-06-23 16:03] #489 closed

[2018-06-23 16:03] #547 closed

[2018-06-23 16:04] matthewmorgan commented on #544
Closing as wontfix per #556.

[2018-06-23 16:04] #544 closed

[2018-08-03 16:12] jackhughesweb opened #557 "Fix getting started instructions for javascript"
Some exercise README templates contain links to pages which no longer exist in v2 Exercism.

For example, C++'s README template had a link to /languages/cpp for instructions on running tests. The correct URLs to use can be found in the 'Still stuck?' sidebar of exercise pages on the live site. You'll need to join the track and go to the first exercise to see them.

Please update any broken links i

[2018-08-18 00:39] matthewmorgan commented on #556
@iHiD @kytrinyx I seem to recall 8/4 was the latest target date for this, any estimate of when this might happen?

[2018-08-18 21:28] iHiD commented on #556
I've realised one problem. We want to move the JS solutions to point at the new (unified) track (which we'll do by changing the foreign key on the solution to point to the ecma exercise. However, each solution is tagged with the sha that the exercise was completed against, which renders the correct tests in the UI for the mentors etc. I don't have a solution as to how we get the old exercises to r

[2018-08-18 21:59] kytrinyx commented on #556
@iHiD and I discussed this, and we have a solution:

We will create a branch that is the current state of the exercism/javascript repository, into the exercism/ecmascript repository. Then we will tag it and delete the branch, that way the SHA will never be garbage collected.

This will let us put a valid SHA into all the JavaScript solutions on the site.

[2018-08-18 22:47] kytrinyx commented on #556
Update: We've got the basics worked out (and the script written). We _think_ we might have this completely sorted out shortly. We'll know more (and provide an update) tomorrow.

[2018-08-19 18:56] kytrinyx opened #559 "Remove obsolete version tracking assertions in exercises"
Some tracks have added assertions to the exercise test suites that ensure that the solution has a hard-coded version in it.
In the old version of the site, this was useful, as it let commenters see what version of the test suite the code had been written against, and they wouldn't accidentally tell people that their code was wrong, when really the world had just moved on since it was submitted.

I